7/2/18:
this is ment to be a temporary notebook where I will experiment with how to run the mimic SOFA score sql code. The code requires having a number of materialized views open, and this is somthing i am unfamiliar with how to handle in jupyter. The purpose of the notebook will be to learn how to utilize these materialized views to run the sofa score script.

upon completion of this, i intend on deleting this file and incorporating the lessons I learn into my labnotebook and my main 03-clinical_variables_streamlined.ipnb notebook

In [1]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
import collections
import asyncio
import getpass
import re
from datetime import datetime as dt
import os,sys,re
import urllib3
import prettytable
from collections import Counter
import seaborn as sns
import random

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [44]:
import psycopg2
conn = psycopg2.connect(dbname="mimic", user="student", host="luolabwkstn01.fsm.northwestern.edu", port="5432",
                        password=getpass.getpass(prompt='Password:'.format()))
cur=conn.cursor()

query_schema = 'SET search_path to ' + "mimiciii" + ';'

time: 2.2 s

In [20]:
query_schema

'SET search_path to mimiciii;'

time: 1.91 ms

## cohort

In [3]:
#patients of interest from rotation_cohort_generation

final_pt_df2 = pd.read_csv('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/06072018_final_pt_df2.csv', index_col=0)

patients= list(final_pt_df2['subject_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 57.7 ms

## functions

In [4]:
def sql_exe_show(sql_sentence):
    cur.execute(sql_sentence)
    rows = cur.fetchall()
    col = []
    for i in range(len(cur.description)):
        col.append(cur.description[i][0])
    table = pd.DataFrame(rows,columns=col)
    return table

#input the sql_exe_show object and get dataframe for only patients in patient list out. 
def sql_to_df_icu(sql_exe_show_obj):
    sql_exe_show_df= pd.DataFrame(data=sql_exe_show_obj)
    sql_exe_show_df=sql_exe_show_df[sql_exe_show_df['icustay_id'].isin(icustay_id)]
    return sql_exe_show_df

def sql_to_df_patients(sql_exe_show_obj):
    sql_exe_show_df= pd.DataFrame(data=sql_exe_show_obj)
    sql_exe_show_df=sql_exe_show_df[sql_exe_show_df['subject_id'].isin(patients)]
    return sql_exe_show_df

time: 13.8 ms

from the github:
    
How to use code in this folder
This folder generates materialized views for a variety of severity of illness scores (detailed below). The queries make use of materialized views which aggregate data from the first day of a patient's ICU stay. To run the code, it is necessary to:

Run the scripts which generate the constituent materialized views
echodata - generated by /concepts/echo-data.sql
ventdurations - generated by /concepts/durations/ventilation-durations.sql - (needed for subsequent view)
vitalsfirstday - generated by /concepts/firstday/vitals-first-day.sql
uofirstday - generated by /concepts/firstday/urine-output-first-day.sql
ventfirstday - generated by /concepts/firstday/ventilated-first-day.sql
gcsfirstday - generated by /concepts/firstday/gcs-first-day.sql
labsfirstday - generated by /concepts/firstday/labs-first-day.sql
bloodgasfirstday - generated by /concepts/firstday/blood-gas-first-day.sql - (needed for subsequent view)
bloodgasfirstdayarterial - generated by /concepts/firstday/blood-gas-first-day-arterial.sql


for sofa specifically:

--  1) uofirstday - generated by urine-output-first-day.sql
--  2) vitalsfirstday - generated by vitals-first-day.sql
--  3) gcsfirstday - generated by gcs-first-day.sql
--  4) labsfirstday - generated by labs-first-day.sql
--  5) bloodgasfirstdayarterial - generated by blood-gas-first-day-arterial.sql
--  6) echodata - generated by echo-data.sql
--  7) ventdurations - generated by ventilation-durations.sql


Run the script for the severity of illness score you are interested in
OASIS - oasis.sql
SAPS - saps.sql
SOFA - sofa.sql

file location of mimic first day codes (just add on the ending posted above next to each script):
/Users/geickelb1/Documents/GitHub/mimic-code


NOTE: in order to run off dr. Luo's server, i need to add in mimiciii. before each table reference in the script. This appears to be because I don't have write access to the database. 

NOTE2: i will be adjusting the files within the mimic-code folder, but I copied the folder prior to my desktop incase i need to revert these.

In [ ]:
#example of how i've been running my materialized view scripts. 

f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/ventparam_all48.sql', 'r') 
ventparamdata = f.read()
ventparam_all48_sql = ventparamdata#.format(tuple(icustay_id))  
cur.execute('rollback')
cur.execute(ventparam_all48_sql)  #I THINK that if i just execute all the scripts that should be sufficient.
#ventparamTable= sql_exe_show('select * from ventparam_all48;')
#ventparam_all48_df= sql_to_df_icu(ventparamTable)

### executing materialized views:

In [23]:
#urine output

f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/urine-output-first-day.sql', 'r') 
urine_output_first_day = f.read()
cur.execute('rollback')
cur.execute(urine_output_first_day)

time: 4.27 s

In [24]:
#vitals
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/vitals-first-day.sql', 'r') 
vitals_first_day = f.read()
cur.execute('rollback')
cur.execute(vitals_first_day)

time: 8min 36s

In [28]:
#gcs
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/gcs-first-day.sql', 'r') 
gcs_first_day = f.read()
cur.execute('rollback')
cur.execute(gcs_first_day)

time: 38.8 s

In [29]:
#labs
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/labs-first-day.sql', 'r') 
labs_first_day = f.read()
cur.execute('rollback')
cur.execute(labs_first_day)

time: 3min 15s

In [30]:
#bloodgas arterial
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/blood-gas-first-day-arterial.sql', 'r') 
blood_gas_arterial_first_day = f.read()
cur.execute('rollback')
cur.execute(blood_gas_arterial_first_day)

time: 1min 6s

In [21]:
#echo

f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/echo-data.sql', 'r') 
echodata = f.read()
#echodata = query_schema + echodata
#gcs_all48_sql = query_schema + gcsdata.format(tuple(patients))
#ventparam_all48_sql = ventparamdata#.format(tuple(icustay_id))  
cur.execute('rollback')
cur.execute(echodata)  #I THINK that if i just execute all the scripts that should be sufficient.
#ventparamTable= sql_exe_show('select * from ventparam_all48;')
#ventparam_all48_df= sql_to_df_icu(ventparamTable)

time: 30.7 s

In [31]:
#vent
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/durations/ventilation-durations.sql', 'r') 
ventilation_durations_first_day = f.read()
cur.execute('rollback')
cur.execute(ventilation_durations_first_day)

time: 3min 2s

# attempting to run sofa

In [46]:
#sofa
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/severityscores/sofa.sql', 'r') 
sofa = f.read()
cur.execute('rollback')
cur.execute(sofa)
sofaTable= sql_exe_show('select * from SOFA;')
sofa_df= sql_to_df_icu(sofaTable)

time: 40.9 s

In [41]:
sofa_df

,subject_id,hadm_id,icustay_id,sofa,respiration,coagulation,liver,cardiovascular,cns,renal
7,28448,177527,200012,1,NaN,1.0,NaN,0.0,0.0,0.0
12,21789,112486,200019,5,0.0,1.0,NaN,1.0,3.0,0.0
25,9960,159243,200036,8,NaN,1.0,NaN,1.0,4.0,2.0
41,28494,199133,200059,7,0.0,2.0,NaN,4.0,0.0,1.0
46,19891,112840,200065,15,4.0,3.0,1.0,4.0,0.0,3.0
60,61871,124231,200087,7,3.0,0.0,0.0,4.0,0.0,0.0
67,52619,175374,200099,7,2.0,2.0,NaN,1.0,1.0,1.0
68,11228,167826,200102,15,3.0,3.0,4.0,1.0,0.0,4.0
74,9993,150740,200109,3,0.0,0.0,0.0,3.0,0.0,0.0
75,20528,132580,200112,3,NaN,0.0,NaN,1.0,0.0,2.0
78,61654,164386,200116,5,NaN,1.0,0.0,3.0,0.0,1.0
84,11018,104650,200124,3,2.0,1.0,NaN,0.0,0.0,0.0
86,76993,180630,200126,4,2.0,0.0,0.0,0.0,1.0,1.0
88,47250,187834,200131,3,0.0,0.0,0.0,1.0,2.0,0.0
91,68128,189927,200135,2,NaN,0.0,NaN,1.0,0.0,1.0
96,27874,193876,200140,6,0.0,0.0,NaN,4.0,0.0,2.0
99,94414,170244,200143,4,3.0,0.0,0.0,1.0,0.0,0.0
104,69995,164810,200153,2,NaN,1.0,0.0,1.0,0.0,0.0
118,27499,191644,200173,1,NaN,0.0,0.0,1.0,0.0,0.0
132,27480,168389,200197,1,NaN,0.0,NaN,1.0,0.0,0.0
133,1977,133719,200199,5,0.0,0.0,0.0,4.0,0.0,1.0
144,91802,139580,200215,3,NaN,0.0,NaN,1.0,1.0,1.0
146,13960,117705,200220,1,0.0,0.0,NaN,0.0,1.0,0.0
151,20689,129027,200229,7,4.0,2.0,NaN,1.0,0.0,0.0
153,87253,172278,200231,12,NaN,2.0,2.0,4.0,1.0,3.0
158,76327,142755,200240,6,0.0,2.0,3.0,0.0,1.0,0.0
163,29401,133533,200249,0,0.0,0.0,NaN,0.0,0.0,0.0
164,5137,157860,200250,2,0.0,1.0,NaN,1.0,0.0,0.0
165,28865,179255,200252,2,NaN,1.0,NaN,1.0,0.0,0.0
174,94072,126297,200265,3,NaN,0.0,0.0,1.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...
61380,12058,140092,299751,5,0.0,0.0,NaN,4.0,0.0,1.0
61381,4661,123365,299753,1,NaN,0.0,0.0,1.0,0.0,0.0
61384,68842,127088,299758,6,0.0,1.0,2.0,1.0,0.0,2.0
61390,14389,115608,299767,7,1.0,1.0,NaN,1.0,4.0,0.0
61398,15809,140210,299780,5,0.0,1.0,0.0,2.0,0.0,2.0
61402,81318,186441,299786,2,NaN,1.0,0.0,0.0,0.0,1.0
61411,89156,170296,299800,3,NaN,0.0,0.0,1.0,1.0,1.0
61414,18978,123329,299806,5,3.0,1.0,0.0,0.0,0.0,1.0
61425,45460,133737,299826,8,0.0,1.0,2.0,1.0,4.0,0.0
61426,28161,169787,299828,9,NaN,1.0,3.0,1.0,2.0,2.0
61428,61565,170566,299833,4,0.0,0.0,NaN,1.0,3.0,0.0
61439,95830,179082,299853,5,0.0,2.0,0.0,1.0,1.0,1.0
61446,31011,104948,299863,11,3.0,2.0,2.0,4.0,0.0,0.0
61450,40798,129002,299867,11,3.0,1.0,3.0,1.0,3.0,0.0
61457,66165,131060,299880,6,NaN,0.0,0.0,1.0,1.0,4.0
61460,42148,113780,299883,4,NaN,0.0,2.0,1.0,0.0,1.0
61462,14558,116855,299886,2,0.0,1.0,NaN,0.0,0.0,1.0
61463,12026,147849,299888,7,2.0,0.0,NaN,3.0,2.0,0.0
61468,18736,152789,299895,2,NaN,0.0,NaN,1.0,1.0,0.0
61472,50391,129058,299901,6,NaN,1.0,2.0,1.0,1.0,1.0
61473,31252,116108,299903,3,0.0,0.0,0.0,3.0,0.0,0.0
61479,54247,172679,299913,3,NaN,0.0,0.0,1.0,0.0,2.0
61481,28317,156424,299917,3,NaN,1.0,0.0,1.0,1.0,0.0
61483,30616,191434,299919,5,2.0,0.0,NaN,1.0,0.0,2.0
61498,66696,183226,299948,3,NaN,2.0,0.0,1.0,0.0,0.0
61500,98649,110990,299950,5,NaN,0.0,0.0,4.0,1.0,0.0
61504,14330,162631,299955,6,NaN,0.0,0.0,1.0,1.0,4.0
61509,24244,165022,299961,11,3.0,0.0,0.0,3.0,4.0,1.0
61528,10718,177406,299994,5,NaN,0.0,NaN,1.0,0.0,4.0
61529,28775,134959,299995,3,2.0,0.0,0.0,1.0,0.0,0.0

time: 30.8 ms

In [42]:
pd.DataFrame(sofa_df).to_csv('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/02072018_sofa_firstday_df.csv')

time: 109 ms

In [55]:
#sofa_parameters
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/severityscores/sofa_parameters.sql', 'r') 
sofa_parameters = f.read()
cur.execute('rollback')
cur.execute(sofa_parameters)
sofa_parametersTable= sql_exe_show('select * from SOFA_PARAMETERS;')
sofa_parameters_df= sql_to_df_icu(sofa_parametersTable)

time: 13.8 s

In [52]:
var_store= sofa_test_df

time: 645 µs

In [60]:
var_store2= sofa_test_df - var_store
var_store2.max()# this appears to show that adjusting the day window fom 0 to 1 day to -6hr to 48hr did not change any sofascore parameters... why?

subject_id             0.0
hadm_id                0.0
icustay_id             0.0
meanbp_min             0.0
rate_norepinephrine    0.0
rate_epinephrine       0.0
rate_dopamine          0.0
rate_dobutamine        0.0
creatinine_max         0.0
bilirubin_max          0.0
platelet_min           0.0
pao2fio2_novent_min    0.0
pao2fio2_vent_min      0.0
urineoutput            0.0
mingcs                 0.0
dtype: float64

time: 13.3 ms

In [61]:
sofa_test_df

,subject_id,hadm_id,icustay_id,meanbp_min,rate_norepinephrine,rate_epinephrine,rate_dopamine,rate_dobutamine,creatinine_max,bilirubin_max,platelet_min,pao2fio2_novent_min,pao2fio2_vent_min,urineoutput,mingcs
3,31515,152958,200269,60.000000,NaN,NaN,5.0,NaN,1.4,NaN,147.0,NaN,NaN,360.0,15.0
5,24589,133207,200318,59.666698,0.050000,NaN,NaN,NaN,0.9,1.8,109.0,NaN,NaN,2075.0,15.0
7,20190,119413,200375,46.666698,NaN,NaN,2.5,NaN,0.4,0.1,711.0,NaN,220.000000,2730.0,14.0
12,24372,106081,200504,54.333302,NaN,NaN,7.5,NaN,1.9,NaN,256.0,NaN,NaN,835.0,8.0
16,28926,103306,200639,55.000000,0.105194,NaN,NaN,NaN,1.1,1.1,178.0,NaN,287.500000,750.0,15.0
20,11320,140887,200891,48.000000,0.300000,NaN,NaN,NaN,2.2,2.3,229.0,NaN,140.000000,1385.0,15.0
24,10076,198503,201006,1.000000,0.120000,NaN,NaN,NaN,0.8,NaN,306.0,NaN,91.666667,895.0,15.0
25,28571,107924,201121,66.000000,0.030000,NaN,NaN,NaN,0.9,0.7,205.0,NaN,NaN,2135.0,15.0
33,4096,124383,201361,44.333302,0.054477,NaN,NaN,NaN,2.8,0.2,340.0,NaN,NaN,491.0,14.0
41,32705,101962,201593,36.000000,1.000000,NaN,NaN,NaN,1.7,1.7,106.0,NaN,NaN,450.0,3.0
42,9981,148945,201614,69.000000,NaN,NaN,NaN,4.0,2.1,NaN,382.0,NaN,177.499997,2850.0,15.0
43,5370,145390,201641,53.000000,NaN,NaN,20.0,NaN,2.8,1.5,203.0,NaN,413.333317,4650.0,15.0
44,6911,161710,201652,56.666698,0.071588,NaN,NaN,NaN,2.9,2.0,210.0,NaN,162.000000,2425.0,15.0
52,11858,177531,201896,44.333302,NaN,NaN,3.0,NaN,10.5,33.1,113.0,178.000000,168.000000,92.0,8.0
53,25049,133417,201902,57.000000,0.154000,NaN,NaN,NaN,2.3,0.2,290.0,372.500000,162.000000,2285.0,15.0
56,11479,193130,202127,48.333302,0.122404,NaN,NaN,NaN,1.4,0.8,223.0,NaN,425.000000,2070.0,15.0
70,28813,133202,202545,59.000000,0.900000,NaN,NaN,NaN,1.8,4.8,136.0,487.000000,228.000000,1615.0,15.0
72,5478,199963,202616,59.666698,0.020997,NaN,10.0,NaN,3.6,NaN,289.0,NaN,NaN,563.0,15.0
74,9258,183354,202664,37.000000,0.500000,NaN,7.5,NaN,1.4,0.3,222.0,113.000000,172.499997,1390.0,15.0
81,25084,149748,202847,47.333302,NaN,NaN,5.0,NaN,1.4,0.7,176.0,NaN,NaN,770.0,15.0
82,27703,109449,202862,51.000000,0.250000,NaN,NaN,NaN,2.0,0.6,104.0,NaN,260.000000,1484.0,15.0
83,5737,115950,202904,60.000000,0.100000,NaN,NaN,NaN,2.6,NaN,182.0,252.500000,NaN,2900.0,14.0
85,19700,164511,202993,54.000000,0.300000,NaN,NaN,NaN,1.8,0.8,189.0,65.000000,111.666662,1698.0,15.0
88,2990,120729,203121,46.333302,NaN,NaN,19.0,NaN,1.2,NaN,132.0,227.000000,162.000000,3099.0,14.0
90,11146,169975,203154,50.666698,0.150000,0.05,NaN,NaN,1.6,0.6,131.0,NaN,69.999999,708.0,15.0
94,27748,173576,203341,55.000000,0.050000,NaN,NaN,NaN,0.9,0.6,237.0,NaN,369.999994,4305.0,15.0
98,1924,139887,203568,46.666698,NaN,NaN,4.0,10.0,4.2,2.4,113.0,29.787234,104.999996,NaN,9.0
104,18681,187798,203794,58.666698,NaN,NaN,NaN,12.5,9.1,5.0,135.0,NaN,NaN,20.0,15.0
106,27168,111806,203889,63.000000,0.350000,NaN,NaN,NaN,0.4,2.1,80.0,NaN,170.000000,2388.0,15.0
108,27760,126013,203909,70.000000,0.300000,NaN,NaN,NaN,2.2,13.1,215.0,256.000000,252.000000,5435.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61337,8940,113806,227370,44.666698,NaN,NaN,NaN,NaN,4.2,25.7,46.0,NaN,NaN,13.0,13.0
61350,15786,163121,236161,83.666702,NaN,NaN,NaN,NaN,1.0,0.7,353.0,NaN,NaN,2545.0,13.0
61353,76896,170213,260884,51.000000,NaN,NaN,NaN,NaN,0.8,NaN,121.0,427.000000,NaN,1010.0,5.0
61360,16296,177242,218967,55.000000,NaN,NaN,NaN,NaN,1.2,0.2,162.0,182.000000,NaN,1120.0,15.0
61388,57255,197778,215429,50.000000,NaN,NaN,NaN,NaN,2.0,28.4,33.0,NaN,NaN,1615.0,15.0
61389,17796,119823,242939,58.000000,NaN,NaN,NaN,NaN,0.8,NaN,253.0,NaN,107.500000,8240.0,15.0
61401,80326,128492,233514,47.000000,NaN,NaN,NaN,NaN,1.0,NaN,226.0,NaN,207.142857,1820.0,15.0
61405,78697,121516,233991,42.000000,0.402457,NaN,NaN,NaN,4.9,1.9,92.0,77.000000,58.000000,180.0,15.0
61411,25034,149091,242741,60.666698,NaN,NaN,NaN,NaN,0.4,NaN,248.0,NaN,NaN,1075.0,15.0
61418,88196,166646,261606,55.000000,NaN,NaN,NaN,NaN,0.7,NaN,254.0,NaN,79.000000,965.0,15.0
61422,4277,169668,251712,57.000000,NaN,NaN,NaN,NaN,0.5,0.6,166.0,NaN,NaN,2640.0,13.0
61427,9784,122386,259118,58.000000,NaN,NaN,NaN,NaN,0.7,NaN,274.0,NaN,NaN,1775.0,14.0
61428,42492,185876,288099,54.000000,NaN,NaN,NaN,NaN,4.2,0.4,106.0,NaN,NaN,NaN,14.0
61429,77729,152039,266768,62.000000,NaN,NaN,NaN,NaN,1.5,0.3,137.0,NaN,NaN,1790.0,15.0
61431,28732,136922,252382,55.000000,NaN,NaN,NaN,NaN,0.9,13.2,201.0,244.000000,360.000000,379.0,15.0
61432,98452,196671,292558,56.000000,NaN,NaN,NaN,NaN,0.9,6.9,108.0,NaN,NaN,925.0,14.0
61437,24569,130278,295793,48.666698,NaN,NaN,NaN,NaN,3.1,NaN,319.0,NaN,NaN,785.0,15.0
61440,68428,113127,201671,61.000000,NaN,NaN,NaN,NaN,0.7,NaN,148.0,NaN,262.000000,2357.0,8.0
61446,3442,101983,242100,57.333302,NaN,NaN,NaN,NaN,0.8,0.5,127.0,NaN,NaN,2530.0,14.0
61447,93381,119547,201682,59.000000,NaN,NaN,NaN,NaN,1.1,NaN,206.0,61.666667,152.500000,1190.0,15.0
61467,41653,185531,257330,54.000000,NaN,NaN,NaN,NaN,0.9,NaN,142.0,NaN,146.000000,2090.0,15.0
61475,14330,162631,299955,45.000000,NaN,NaN,NaN,NaN,6.9,0.3,251.0,NaN,NaN,NaN,13.0
61489,68300,128859,208241,54.000000,NaN,NaN,NaN,NaN,0.6,NaN,342.0,NaN,416.666667,2524.0,8.0
61494,57290,170337,290572,86.000000,NaN,NaN,NaN,NaN,3.9,0.5,194.0,NaN,NaN,2240.0,9.0
61504,89156,170296,299800,48.000000,NaN,NaN,NaN,NaN,1.2,0.8,249.0,NaN,NaN,800.0,14.0
61510,59877,143996,292052,64.000000,NaN,NaN,NaN,NaN,1.4,3.5,11.0,NaN,347.500000,759.0,15.0
61514,85994,147844,248737,55.000000,NaN,NaN,NaN,NaN,0.8,0.6,152.0,NaN,NaN,2340.0,15.0
61515,21195,115277,272465,57.000000,NaN,NaN,NaN,NaN,1.2,1.5,141.0,NaN,292.000000,1760.0,3.0
61518,40287,103847,289927,NaN,NaN,NaN,NaN,NaN,1.3,NaN,152.0,432.500000,NaN,NaN,NaN
61524,3482,193950,250500,60.000000,NaN,NaN,NaN,NaN,0.5,0.4,297.0,NaN,NaN,1225.0,9.0

time: 41.8 ms

In [77]:
final_pt_df2 = pd.read_csv('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/final_pt_df2_5-04-18.csv', index_col=0)

patients= list(final_pt_df2['subject_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 61 ms

In [79]:
print(
    len(patients),
    len(icustay_id),
    len(final_pt_df2)
)

11493 11493 11493
time: 1.35 ms

In [75]:
pt_demographics = pd.read_csv('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/ptinfo_ICUsterile_pt_16_04-26-18.csv', index_col=0)

time: 326 ms

In [76]:
pt_demographics.loc[pt_demographics.loc[:,'icustay_id'].isin(icustay_id), :] #11490

,subject_id,hadm_id,hosp_admit,hosp_disch,admission_location,admission_type,first_admit_age,dob,gender,icustay_id,...,last_wardid,row_id,chartdate,culture_charttime,spec_itemid,spec_type_desc,sterile_dur_icu,culture_hadm_date_rng,first_sterile_date,culture_count
10,4.0,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,EMERGENCY ROOM ADMIT,EMERGENCY,47.84,2143-05-12 00:00:00,F,294638,...,52,27,2191-03-18 00:00:00,2191-03-18 08:00:00,70012,BLOOD CULTURE,False,6 days 08:00:00.000000000,2191-03-16 00:00:00,13
23,9.0,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,EMERGENCY ROOM ADMIT,EMERGENCY,41.79,2108-01-26 00:00:00,M,220597,...,15,47,2149-11-11 00:00:00,2149-11-11 12:00:00,70079,URINE,True,3 days 09:50:00.000000000,2149-11-10 09:40:00,7
35,19.0,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,EMERGENCY ROOM ADMIT,EMERGENCY,300.00,1808-08-05 00:00:00,M,273430,...,23,69,2108-08-05 00:00:00,2108-08-05 20:42:00,70079,URINE,True,0 days 00:00:00.000000000,2108-08-05 20:42:00,1
42,21.0,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,EMERGENCY ROOM ADMIT,EMERGENCY,87.44,2047-04-04 00:00:00,M,216859,...,52,79,2135-01-30 00:00:00,2135-01-30 19:05:00,70012,BLOOD CULTURE,False,4 days 09:08:00.000000000,2135-01-30 19:00:00,17
60,25.0,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,EMERGENCY ROOM ADMIT,EMERGENCY,58.95,2101-11-21 00:00:00,M,203487,...,7,100,2160-11-02 00:00:00,2160-11-02 08:51:00,70012,BLOOD CULTURE,True,0 days 00:05:00.000000000,2160-11-02 08:46:00,2
62,26.0,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,72.00,2054-05-04 00:00:00,M,244882,...,57,108,2126-05-10 00:00:00,2126-05-10 00:00:00,70079,URINE,False,0 days 05:50:00.000000000,2126-05-10 00:00:00,10
72,31.0,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,72.26,2036-05-17 00:00:00,M,254478,...,15,126,2108-08-23 00:00:00,2108-08-23 01:30:00,70012,BLOOD CULTURE,True,6 days 14:30:00.000000000,2108-08-23 00:00:00,17
89,33.0,176176,2116-12-23 22:30:00,2116-12-27 12:05:00,EMERGENCY ROOM ADMIT,EMERGENCY,82.39,2034-08-02 00:00:00,M,296681,...,12,140,2116-12-23 00:00:00,2116-12-23 19:00:00,70079,URINE,False,0 days 07:40:00.000000000,2116-12-23 19:00:00,6
276,62.0,116009,2113-02-15 00:19:00,2113-02-19 15:30:00,EMERGENCY ROOM ADMIT,EMERGENCY,68.77,2044-05-08 00:00:00,M,216609,...,7,438,2113-02-18 00:00:00,2113-02-18 11:17:00,70011,BLOOD CULTURE ( MYCO/F LYTIC BOTTLE),False,3 days 16:10:00.000000000,2113-02-15 00:00:00,8
284,64.0,172056,2143-03-03 09:25:00,2143-03-18 13:01:00,EMERGENCY ROOM ADMIT,EMERGENCY,26.68,2116-06-27 00:00:00,F,232593,...,52,442,2143-03-03 00:00:00,2143-03-03 11:48:00,70017,SEROLOGY/BLOOD,True,4 days 18:00:00.000000000,2143-03-03 00:00:00,14
329,68.0,108329,2174-01-04 22:21:00,2174-01-19 11:30:00,EMERGENCY ROOM ADMIT,EMERGENCY,41.79,2132-02-29 00:00:00,F,272667,...,23,520,2174-01-11 00:00:00,2174-01-11 10:45:00,70012,BLOOD CULTURE,True,6 days 15:25:00.000000000,2174-01-04 19:45:00,10
341,73.0,194730,2170-12-22 00:12:00,2170-12-26 12:00:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,57.59,2113-05-22 00:00:00,F,284305,...,57,534,2170-12-22 00:00:00,2170-12-22 23:30:00,70079,URINE,True,0 days 00:00:00.000000000,2170-12-22 23:30:00,15
454,94.0,183686,2176-02-25 16:49:00,2176-02-29 17:45:00,EMERGENCY ROOM ADMIT,EMERGENCY,74.43,2101-09-20 00:00:00,M,229012,...,7,670,2176-02-25 00:00:00,2176-02-25 20:14:00,70079,URINE,True,0 days 07:44:00.000000000,2176-02-25 12:30:00,3
477,96.0,170324,2156-03-31 16:11:00,2156-04-29 15:05:00,EMERGENCY ROOM ADMIT,EMERGENCY,38.50,2117-10-02 00:00:00,M,211943,...,33,730,2156-04-09 00:00:00,2156-04-09 00:00:00,70012,BLOOD CULTURE,True,17 days 23:00:00.000000000,2156-04-02 17:00:00,12
503,106.0,145167,2192-08-09 18:34:00,2192-08-15 21:15:00,EMERGENCY ROOM ADMIT,EMERGENCY,28.36,2164-04-01 00:00:00,M,252051,...,7,791,2192-08-12 00:00:00,2192-08-12 04:15:00,70079,URINE,True,4 days 16:22:00.000000000,2192-08-10 11:24:00,11
547,109.0,175347,2140-05-17 14:27:00,2140-05-20 19:50:00,EMERGENCY ROOM ADMIT,EMERGENCY,20.24,2117-08-07 00:00:00,F,231823,...,50,834,2140-05-17 00:00:00,2140-05-17 15:56:00,70012,BLOOD CULTURE,True,2 days 13:14:00.000000000,2140-05-17 15:56:00,14
731,111.0,192123,2142-04-24 06:55:00,2142-05-05 11:45:00,EMERGENCY ROOM ADMIT,EMERGENCY,66.77,2075-07-16 00:00:00,F,254245,...,23,1041,2142-04-25 00:00:00,2142-04-25 04:11:00,70079,URINE,True,7 days 13:15:00.000000000,2142-04-24 04:15:00,8
742,112.0,173177,2196-09-27 18:21:00,2196-09-29 00:15:00,EMERGENCY ROOM ADMIT,EMERGENCY,300.00,1894-06-13 00:00:00,M,251972,...,50,1063,2196-09-27 00:00:00,2196-09-27 15:00:00,70012,BLOOD CULTURE,False,0 days 00:30:00.000000000,2196-09-27 14:30:00,2
744,113.0,109976,2140-12-12 22:46:00,2140-12-27 19:30:00,EMERGENCY ROOM ADMIT,EMERGENCY,35.84,2105-02-09 00:00:00,M,224661,...,23,1065,2140-12-13 00:00:00,2140-12-13 13:58:00,70026,CSF;SPINAL FLUID,True,0 days 00:00:00.000000000,2140-12-13 13:58:00,1
769,117.0,140784,2133-04-07 16:29:00,2133-04-12 16:39:00,PHYS REFERRAL/NORMAL DELI,EMERGENCY,49.27,2083-12-28 00:00:00,F,211700,...,12,1122,2133-04-08 00:00:00,2133-04-08 15:30:00,70079,URINE,False,0 days 00:00:00.000000000,2133-04-08 15:30:00,1
837,129.0,164174,2157-03-27 08:46:00,2157-04-05 14:00:00,EMERGENCY ROOM ADMIT,EMERGENCY,36.54,2120-09-10 00:00:00,M,238431,...,33,1239,2157-03-27 00:00:00,2157-03-27 10:27:00,70026,CSF;SPINAL FLUID,True,0 days 06:07:00.000000000,2157-03-27 04:20:00,5
842,130.0,113323,2119-11-14 12:00:00,2119-12-02 11:40:00,PHYS REFERRAL/NORMAL DELI,EMERGENCY,61.40,2058-06-03 00:00:00,M,296584,...,14,1256,2119-11-14 00:00:00,2119-11-14 15:18:00,70012,BLOOD CULTURE,True,0 days 02:27:00.000000000,2119-11-14 13:10:00,9
882,141.0,168006,2140-11-06 11:07:00,2140-11-09 20:36:00,EMERGENCY ROOM ADMIT,EMERGENCY,80.51,2060-05-03 00:00:00,M,234668,...,12,1304,2140-11-06 00:00:00,2140-11-06 17:20:00,70012,BLOOD CULTURE,True,0 days 09:10:00.000000000,2140-11-06 08:10:00,3
1008,147.0,103631,2158-06-24 18:50:00,2158-07-21 14:10:00,EMERGENCY ROOM ADMIT,EMERGENCY,24.64,2133-11-01 00:00:00,M,252947,...,23,1515,2158-06-26 00:00:00,2158-06-26 09:24:00,70012,BLOOD CULTURE,True,6 days 05:14:00.000000000,2158-06-26 07:38:00,12
1061,156.0,168847,2120-05-20 23:04:00,2120-06-10 15:30:00,EMERGENCY ROOM ADMIT,EMERGENCY,62.52,2057-11-11 00:00:00,M,260696,...,15,1615,2120-05-30 00:00:00,2120-05-30 06:00:00,70012,BLOOD CULTURE,True,0 days 00:00:00.000000000,2120-05-30 06:00:00,3
1084,157.0,107880,2106-06-17 19:51:00,2106-06-24 17:50:00,EMERGENCY ROOM ADMIT,EMERGENCY,80.45,2025-12-03 00:00:00,M,264885,...,52,1679,2106-06-17 00:00:00,2106-06-17 17:30:00,70079,URINE,False,0 days 00:30:00.000000000,2106-06-17 17:00:00,8
1136,165.0,170252,2170-10-03 16:22:00,2170-10-05 16:40:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,86.48,2084-04-09 00:00:00,M,247247,...,23,1793,2170-10-03 00:00:00,2170-10-03 17:40:00,70081,URINE,True,0 days 06:20:00.000000000,2170-10-03 11:20:00,3
1139,166.0,128219,2105-01-23 22:57:00,2105-01-24 03:48:00,EMERGENCY ROOM ADMIT,EMERGENCY,300.00,1805-01-23 00:00:00,F,271863,...,7,1799,2105-01-23 00:00:00,2105-01-23 19:45:00,70012,BLOOD CULTURE,False,0 days 19:50:00.000000000,2105-01-23 00:00:00,10
1174,174.0,110104,2143-08-30 06:51:00,2143-09-06 09:30:00,EMERGENCY ROOM ADMIT,EMERGENCY,25.42,2118-03-30 00:00:00,F,232160,...,12,1840,2143-09-05 00:00:00,2143-09-05 01:43:00,70012,BLOOD CULTURE,True,6 days 02:45:00.000000000,2143-08-30 03:10:00,4
1268,186.0,164405,2176-09-25 23:13:00,2176-10-01 19:20:00,EMERGENCY ROOM ADMIT,EMERGENCY,75.81,2100-12-05 00:00:00,F,290079,...,15,1956,2176-09-26 00:00:00,2176-09-26 07:05:00,70079,URINE,True,1 days 15:19:00.000000000,2176-09-26 07:05:00,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423677,99712.0,159835,2161-10-05 15:19:00,2161-10-08 17:00:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,52.36,2106-11-20 00:00:00,F,227381,...,52,630641,2161-10-06 00:00:00,2161-10-06 12:09:00,70012,BLOOD CULTURE,True,1 days 00:54:00.000000000,2161-10-05 11:15:00,5
423682,99714.0,176601,2125-06-09 15:31:00,2125-06-13 15:40:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,81.51,2043-12-06 00:00:00,M,206547,...,7,630642,2125-06-09 00:00:00,2125-06-09 19:39:00,70017,SEROLOGY/BLOOD,True,0 days 16:04:00.000000000,2125-06-09 19:39:00,2
423684,99715.0,157586,2150-10-04 16:01:00,2150-11-15 00:00:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,78.97,2071-10-15 00:00:00,F,271338,...,33,630672,2150-10-16 00:00:00,2150-10-16 16:06:00,70012,BLOOD CULTURE,True,28 days 13:45:00.000000000,2150-10-04 00:00:00,43
423770,99740.0,161687,2135-05-01 18:12:00,2135-05-17 15:25:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,51.29,2084-01-15 00:00:00,M,269160,...,57,630733,2135-05-11 00:00:00,2135-05-11 17:49:00,70012,BLOOD CULTURE,True,14 days 22:23:00.000000000,2135-05-01 19:44:00,24
423794,99747.0,136052,2103-11-23 19:32:00,2103-11-30 13:53:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,80.16,2023-09-25 00:00:00,F,252641,...,50,630750,2103-11-23 00:00:00,2103-11-23 16:20:00,70012,BLOOD CULTURE,False,0 days 00:05:00.000000000,2103-11-23 16:15:00,2
423833,99756.0,172485,2191-12-23 01:03:00,2191-12-23 11:05:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,51.44,2140-01-06 00:00:00,M,295834,...,23,630795,2191-12-23 00:00:00,2191-12-23 07:17:00,70012,BLOOD CULTURE,True,0 days 00:00:00.000000000,2191-12-23 07:17:00,1
423838,99776.0,136231,2171-07-08 04:14:00,2171-07-23 16:20:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,56.43,2115-02-01 00:00:00,M,262109,...,23,630845,2171-07-09 00:00:00,2171-07-09 10:00:00,70079,URINE,True,7 days 04:10:00.000000000,2171-07-08 01:15:00,13
423855,99783.0,126090,2125-11-01 00:00:00,2125-12-05 12:06:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,42.14,2083-07-22 00:00:00,M,236983,...,15,630953,2125-11-14 00:00:00,2125-11-14 12:09:00,70012,BLOOD CULTURE,True,32 days 16:14:00.000000000,2125-11-01 19:21:00,49
423904,99785.0,120655,2122-10-07 17:11:00,2122-10-23 16:00:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,72.40,2050-05-14 00:00:00,F,267661,...,14,631013,2122-10-16 00:00:00,2122-10-16 11:20:00,70079,URINE,True,4 days 21:50:00.000000000,2122-10-11 13:30:00,6
424000,99819.0,126883,2136-03-27 14:00:00,2136-04-03 19:36:00,PHYS REFERRAL/NORMAL DELI,ELECTIVE,69.33,2066-11-28 00:00:00,M,214366,...,12,631087,2136-03-30 00:00:00,2136-03-30 18:20:00,70012,BLOOD CULTURE,False,3 days 01:25:00.000000000,2136-03-27 16:55:00,4
424004,99822.0,163117,2197-06-16 03:01:00,2197-06-25 17:00:00,EMERGENCY ROOM ADMIT,EMERGENCY,61.20,2136-03-17 00:00:00,M,220334,...,52,631093,2197-06-16 00:00:00,2197-06-16 08:05:00,70079,URINE,True,0 days 08:05:00.000000000,2197-06-16 00:00:00,5
424126,99836.0,101018,2116-05-21 19:23:00,2116-07-17 16:30:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,52.10,2064-04-13 00:00:00,F,200347,...,14,631222,2116-06-13 00:00:00,2116-06-13 20:00:00,70012,BLOOD CULTURE,True,48 days 20:48:00.000000000,2116-05-25 11:13:00,66
424258,99837.0,197195,2184-04-05 01:14:00,2184-04-09 12:58:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,25.39,2158-11-14 00:00:00,M,253877,...,50,631298,2184-04-05 00:00:00,2184-04-05 20:30:00,70012,BLOOD CULTURE,True,0 days 14:20:00.000000000,2184-04-05 06:10:00,2
424260,99847.0,155024,2191-04-12 23:27:00,2191-04-30 14:42:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,75.63,2115-08-27 00:00:00,F,219261,...,52,631311,2191-04-13 00:00:00,2191-04-13 00:00:00,70087,Blood (CMV AB),True,13 days 20:46:00.000000000,2191-04-12 22:20:00,7
424268,99862.0,178839,2171-04-02 22:20:00,2171-04-06 13:52:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,59.10,2112-02-27 00:00:00,F,253685,...,50,631327,2171-04-02 00:00:00,2171-04-02 18:38:00,70012,BLOOD CULTURE,False,0 days 00:22:00.000000000,2171-04-02 18:38:00,2
424270,99863.0,100749,2142-04-02 22:04:00,2142-05-08 13:47:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,42.69,2099-07-23 00:00:00,M,216757,...,33,631363,2142-04-25 00:00:00,2142-04-25 14:16:00,70093,Blood (Toxo),True,30 days 17:43:00.000000000,2142-04-03 03:27:00,23
424305,99865.0,189346,2184-12-10 10:30:00,2184-12-30 00:01:00,PHYS REFERRAL/NORMAL DELI,ELECTIVE,77.46,2107-06-25 00:00:00,F,259297,...,57,631397,2184-12-30 00:00:00,2184-12-30 07:39:00,70012,BLOOD CULTURE,True,11 days 12:14:00.000000000,2184-12-18 19:25:00,12
424318,99873.0,143544,2103-12-19 14:58:00,2103-12-24 15:45:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,45.61,2058-05-08 00:00:00,M,206270,...,12,631404,2103-12-20 00:00:00,2103-12-20 05:39:00,70079,URINE,True,0 days 00:00:00.000000000,2103-12-20 05:39:00,1
424319,99881.0,172327,2174-01-20 14:00:00,2174-01-22 17:27:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,77.76,2096-04-15 00:00:00,M,214377,...,52,631411,2174-01-20 00:00:00,2174-01-20 17:25:00,70079,URINE,True,0 days 05:08:00.000000000,2174-01-20 16:27:00,3
424322,99883.0,198523,2132-09-15 00:36:00,2132-09-21 15:00:00,PHYS REFERRAL/NORMAL DELI,ELECTIVE,73.88,2058-02-04 00:00:00,M,293088,...,15,631414,2132-09-15 00:00:00,2132-09-15 21:52:00,70079,URINE,False,0 days 00:00:00.000000000,2132-09-15 21:52:00,1
424366,99901.0,131711,2173-01-06 15:51:00,2173-01-19 17:32:00,TRANSFER FROM OTHER HEALT,EMERGENCY,68.83,2104-03-10 00:00:00,M,226541,...,7,631473,2173-01-18 00:00:00,2173-01-18 21:25:00,70012,BLOOD CULTURE,False,0 days 01:22:00.000000000,2173-01-18 20:30:00,3
424369,99912.0,189380,2153-04-13 16:05:00,2153-04-27 13:40:00,EMERGENCY ROOM ADMIT,EMERGENCY,84.54,2068-09-26 00:00:00,M,236183,...,50,631494,2153-04-17 00:00:00,2153-04-17 08:41:00,70012,BLOOD CULTURE,True,6 days 00:39:00.000000000,2153-04-13 13:30:00,12
424386,99923.0,164914,2201-02-23 20:42:00,2201-03-03 16:00:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,54.39,2146-10-04 00:00:00,M,202505,...,50,631520,2201-02-23 00:00:00,2201-02-23 20:00:00,70053,PERITONEAL FLUID,False,0 days 04:24:00.000000000,2201-02-23 20:00:00,2
424394,99934.0,176121,2110-02-28 03:47:00,2110-03-06 14:31:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,17.95,2092-03-18 00:00:00,M,291007,...,14,631534,2110-02-28 00:00:00,2110-02-28 04:20:00,70012,BLOOD CULTURE,True,0 days 22:41:00.000000000,2110-02-28 04:20:00,5
424406,99944.0,185654,2161-02-16 20:14:00,2161-02-21 16:45:00,TRANSFER FROM HOSP/EXTRAM,EMERGENCY,85.48,2075-08-25 00:00:00,F,221067,...,7,631587,2161-02-18 00:00:00,2161-02-18 23:57:00,70012,BLOOD CULTURE,True,3 days 19:33:00.000000000,2161-02-16 17:00:00,8
424432,99955.0,108494,2139-07-14 02:31:00,2139-07-19 05:20:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,63.19,2076-05-04 00:00:00,M,243255,...,33,631610,2139-07-14 00:00:00,2139-07-14 01:50:00,70079,URINE,False,4 days 20:57:00.000000000,2139-07-14 01:50:00,8
424440,99957.0,148574,2157-02-20 22:56:00,2157-03-04 14:45:00,TRANSFER FROM HOSP/EXTRAM,URGENT,68.05,2089-02-01 00:00:00,M,257127,...,50,631639,2157-02-20 00:00:00,2157-02-20 23:20:00,70012,BLOOD CULTURE,True,0 days 02:50:00.000000000,2157-02-20 23:14:00,3
424443,99966.0,167228,2191-08-23 23:16:00,2191-08-25 15:30:00,CLINIC REFERRAL/PREMATURE,EMERGENCY,77.49,2114-02-27 00:00:00,M,252173,...,7,631647,2191-08-24 00:00:00,2191-08-24 06:10:00,70017,SEROLOGY/BLOOD,True,0 days 00:00:00.000000000,2191-08-24 06:10:00,1
424444,99973.0,150202,2180-11-27 02:30:00,2180-12-01 13:42:00,EMERGENCY ROOM ADMIT,EMERGENCY,65.50,2115-05-30 00:00:00,F,275083,...,52,631651,2180-11-29 00:00:00,2180-11-29 13:24:00,70079,URINE,True,0 days 00:00:00.000000000,2180-11-29 13:24:00,1
424479,99995.0,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,PHYS REFERRAL/NORMAL DELI,ELECTIVE,88.70,2058-05-29 00:00:00,F,229633,...,12,631712,2147-02-09 00:00:00,2147-02-09 23:17:00,70079,URINE,True,0 days 00:00:00.000000000,2147-02-09 23:17:00,1

time: 75.8 ms

In [71]:
len(pt_demographics.loc[pt_demographics.loc[:,'subject_id'].isin(patients), :]['subject_id'].unique()) #11493/11493 patients here,
#however 3 of the patients don't have their icustay_id in the icusterile

11493

time: 9.88 ms