7/2/18:
this is ment to be a temporary notebook where I will experiment with how to run the mimic SOFA score sql code. The code requires having a number of materialized views open, and this is somthing i am unfamiliar with how to handle in jupyter. The purpose of the notebook will be to learn how to utilize these materialized views to run the sofa score script.

upon completion of this, i intend on deleting this file and incorporating the lessons I learn into my labnotebook and my main 03-clinical_variables_streamlined.ipnb notebook

In [16]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
import collections
import asyncio
import getpass
import re
from datetime import datetime as dt
import os,sys,re
import urllib3
import prettytable
from collections import Counter
import seaborn as sns
import random

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 24.4 ms

In [156]:
import psycopg2
conn = psycopg2.connect(dbname="mimic", user="student", host="luolabwkstn01.fsm.northwestern.edu", port="5432",
                        password=getpass.getpass(prompt='Password:'.format()))
cur=conn.cursor()

query_schema = 'SET search_path to ' + "mimiciii" + ';'

time: 2.33 s

In [7]:
query_schema

'SET search_path to mimiciii;'

time: 3.33 ms

## cohort

In [159]:
#patients of interest from rotation_cohort_generation
final_pt_df2 = pd.read_csv('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/06072018_final_pt_df2.csv', index_col=0)
patients= list(final_pt_df2['subject_id'].unique())
hadm_id= list(final_pt_df2['hadm_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

#'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/08072018_sofa_param_firstday_df.csv'

time: 65.7 ms

## functions

In [160]:
def sql_exe_show(sql_sentence):
    cur.execute(sql_sentence)
    rows = cur.fetchall()
    col = []
    for i in range(len(cur.description)):
        col.append(cur.description[i][0])
    table = pd.DataFrame(rows,columns=col)
    return table

#input the sql_exe_show object and get dataframe for only patients in patient list out. 
def sql_to_df_icu(sql_exe_show_obj):
    sql_exe_show_df= pd.DataFrame(data=sql_exe_show_obj)
    sql_exe_show_df=sql_exe_show_df[sql_exe_show_df['icustay_id'].isin(icustay_id)]
    return sql_exe_show_df

def sql_to_df_patients(sql_exe_show_obj):
    sql_exe_show_df= pd.DataFrame(data=sql_exe_show_obj)
    sql_exe_show_df=sql_exe_show_df[sql_exe_show_df['subject_id'].isin(patients)]
    return sql_exe_show_df


def sql_to_df_hadm(sql_exe_show_obj):
    sql_exe_show_df= pd.DataFrame(data=sql_exe_show_obj)
    sql_exe_show_df=sql_exe_show_df[sql_exe_show_df['hadm_id'].isin(hadm_id)]
    return sql_exe_show_df

time: 22.5 ms

from the github:
    
How to use code in this folder
This folder generates materialized views for a variety of severity of illness scores (detailed below). The queries make use of materialized views which aggregate data from the first day of a patient's ICU stay. To run the code, it is necessary to:

Run the scripts which generate the constituent materialized views
echodata - generated by /concepts/echo-data.sql
ventdurations - generated by /concepts/durations/ventilation-durations.sql - (needed for subsequent view)
vitalsfirstday - generated by /concepts/firstday/vitals-first-day.sql
uofirstday - generated by /concepts/firstday/urine-output-first-day.sql
ventfirstday - generated by /concepts/firstday/ventilated-first-day.sql
gcsfirstday - generated by /concepts/firstday/gcs-first-day.sql
labsfirstday - generated by /concepts/firstday/labs-first-day.sql
bloodgasfirstday - generated by /concepts/firstday/blood-gas-first-day.sql - (needed for subsequent view)
bloodgasfirstdayarterial - generated by /concepts/firstday/blood-gas-first-day-arterial.sql


for sofa specifically:

--  1) uofirstday - generated by urine-output-first-day.sql
--  2) vitalsfirstday - generated by vitals-first-day.sql
--  3) gcsfirstday - generated by gcs-first-day.sql
--  4) labsfirstday - generated by labs-first-day.sql
--  5) bloodgasfirstdayarterial - generated by blood-gas-first-day-arterial.sql
--  6) echodata - generated by echo-data.sql
--  7) ventdurations - generated by ventilation-durations.sql


Run the script for the severity of illness score you are interested in
OASIS - oasis.sql
SAPS - saps.sql
SOFA - sofa.sql

file location of mimic first day codes (just add on the ending posted above next to each script):
/Users/geickelb1/Documents/GitHub/mimic-code


NOTE: in order to run off dr. Luo's server, i need to add in mimiciii. before each table reference in the script. This appears to be because I don't have write access to the database. 

NOTE2: i will be adjusting the files within the mimic-code folder, but I copied the folder prior to my desktop incase i need to revert these.

In [10]:
# #example of how i've been running my materialized view scripts. 

# f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/ventparam_all48.sql', 'r') 
# ventparamdata = f.read()
# ventparam_all48_sql = ventparamdata#.format(tuple(icustay_id))  
# cur.execute('rollback')
# cur.execute(ventparam_all48_sql)  #I THINK that if i just execute all the scripts that should be sufficient.
# #ventparamTable= sql_exe_show('select * from ventparam_all48;')
# #ventparam_all48_df= sql_to_df_icu(ventparamTable)

time: 1.71 ms

### executing materialized views:

In [11]:
#urine output

f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/urine-output-first-day.sql', 'r') 
urine_output_first_day = f.read()
cur.execute('rollback')
cur.execute(urine_output_first_day)

time: 21.6 s

In [12]:
#vitals
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/vitals-first-day.sql', 'r') 
vitals_first_day = f.read()
cur.execute('rollback')
cur.execute(vitals_first_day)

time: 30min 40s

In [18]:
#gcs
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/gcs-first-day.sql', 'r') 
gcs_first_day = f.read()
cur.execute('rollback')
cur.execute(gcs_first_day)

time: 2min 45s

In [19]:
#labs
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/labs-first-day.sql', 'r') 
labs_first_day = f.read()
cur.execute('rollback')
cur.execute(labs_first_day)

time: 12min 46s

In [20]:
#bloodgas arterial
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/firstday/blood-gas-first-day-arterial.sql', 'r') 
blood_gas_arterial_first_day = f.read()
cur.execute('rollback')
cur.execute(blood_gas_arterial_first_day)

time: 3min 27s

In [23]:
#echo

f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/echo-data.sql', 'r') 
echodata = f.read()
#echodata = query_schema + echodata
#gcs_all48_sql = query_schema + gcsdata.format(tuple(patients))
#ventparam_all48_sql = ventparamdata#.format(tuple(icustay_id))  
cur.execute('rollback')
cur.execute(echodata)  #I THINK that if i just execute all the scripts that should be sufficient.
#ventparamTable= sql_exe_show('select * from ventparam_all48;')
#ventparam_all48_df= sql_to_df_icu(ventparamTable)

time: 1min 46s

In [22]:
#vent
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/durations/ventilation-durations.sql', 'r') 
ventilation_durations_first_day = f.read()
cur.execute('rollback')
cur.execute(ventilation_durations_first_day)

time: 10min 18s

# attempting to run sofa

In [24]:
#sofa
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/severityscores/sofa.sql', 'r') 
sofa = f.read()
cur.execute('rollback')
cur.execute(sofa)
sofaTable= sql_exe_show('select * from SOFA;')
sofa_df= sql_to_df_icu(sofaTable)

time: 1min 24s

In [25]:
sofa_df

,subject_id,hadm_id,icustay_id,sofa,respiration,coagulation,liver,cardiovascular,cns,renal
7,28448,177527,200012,1,NaN,1.0,NaN,0.0,0.0,0.0
12,21789,112486,200019,5,0.0,1.0,NaN,1.0,3.0,0.0
25,9960,159243,200036,8,NaN,1.0,NaN,1.0,4.0,2.0
41,28494,199133,200059,7,0.0,2.0,NaN,4.0,0.0,1.0
46,19891,112840,200065,15,4.0,3.0,1.0,4.0,0.0,3.0
60,61871,124231,200087,7,3.0,0.0,0.0,4.0,0.0,0.0
67,52619,175374,200099,7,2.0,2.0,NaN,1.0,1.0,1.0
68,11228,167826,200102,15,3.0,3.0,4.0,1.0,0.0,4.0
74,9993,150740,200109,3,0.0,0.0,0.0,3.0,0.0,0.0
75,20528,132580,200112,3,NaN,0.0,NaN,1.0,0.0,2.0
78,61654,164386,200116,5,NaN,1.0,0.0,3.0,0.0,1.0
84,11018,104650,200124,3,2.0,1.0,NaN,0.0,0.0,0.0
86,76993,180630,200126,4,2.0,0.0,0.0,0.0,1.0,1.0
88,47250,187834,200131,3,0.0,0.0,0.0,1.0,2.0,0.0
91,68128,189927,200135,2,NaN,0.0,NaN,1.0,0.0,1.0
96,27874,193876,200140,6,0.0,0.0,NaN,4.0,0.0,2.0
99,94414,170244,200143,4,3.0,0.0,0.0,1.0,0.0,0.0
104,69995,164810,200153,2,NaN,1.0,0.0,1.0,0.0,0.0
118,27499,191644,200173,1,NaN,0.0,0.0,1.0,0.0,0.0
132,27480,168389,200197,1,NaN,0.0,NaN,1.0,0.0,0.0
133,1977,133719,200199,5,0.0,0.0,0.0,4.0,0.0,1.0
144,91802,139580,200215,3,NaN,0.0,NaN,1.0,1.0,1.0
146,13960,117705,200220,1,0.0,0.0,NaN,0.0,1.0,0.0
151,20689,129027,200229,7,4.0,2.0,NaN,1.0,0.0,0.0
153,87253,172278,200231,12,NaN,2.0,2.0,4.0,1.0,3.0
158,76327,142755,200240,6,0.0,2.0,3.0,0.0,1.0,0.0
163,29401,133533,200249,0,0.0,0.0,NaN,0.0,0.0,0.0
164,5137,157860,200250,2,0.0,1.0,NaN,1.0,0.0,0.0
165,28865,179255,200252,2,NaN,1.0,NaN,1.0,0.0,0.0
174,94072,126297,200265,3,NaN,0.0,0.0,1.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...
61380,12058,140092,299751,5,0.0,0.0,NaN,4.0,0.0,1.0
61381,4661,123365,299753,1,NaN,0.0,0.0,1.0,0.0,0.0
61384,68842,127088,299758,6,0.0,1.0,2.0,1.0,0.0,2.0
61390,14389,115608,299767,7,1.0,1.0,NaN,1.0,4.0,0.0
61398,15809,140210,299780,5,0.0,1.0,0.0,2.0,0.0,2.0
61402,81318,186441,299786,2,NaN,1.0,0.0,0.0,0.0,1.0
61411,89156,170296,299800,3,NaN,0.0,0.0,1.0,1.0,1.0
61414,18978,123329,299806,5,3.0,1.0,0.0,0.0,0.0,1.0
61425,45460,133737,299826,8,0.0,1.0,2.0,1.0,4.0,0.0
61426,28161,169787,299828,9,NaN,1.0,3.0,1.0,2.0,2.0
61428,61565,170566,299833,4,0.0,0.0,NaN,1.0,3.0,0.0
61439,95830,179082,299853,5,0.0,2.0,0.0,1.0,1.0,1.0
61446,31011,104948,299863,11,3.0,2.0,2.0,4.0,0.0,0.0
61450,40798,129002,299867,11,3.0,1.0,3.0,1.0,3.0,0.0
61457,66165,131060,299880,6,NaN,0.0,0.0,1.0,1.0,4.0
61460,42148,113780,299883,4,NaN,0.0,2.0,1.0,0.0,1.0
61462,14558,116855,299886,2,0.0,1.0,NaN,0.0,0.0,1.0
61463,12026,147849,299888,7,2.0,0.0,NaN,3.0,2.0,0.0
61468,18736,152789,299895,2,NaN,0.0,NaN,1.0,1.0,0.0
61472,50391,129058,299901,6,NaN,1.0,2.0,1.0,1.0,1.0
61473,31252,116108,299903,3,0.0,0.0,0.0,3.0,0.0,0.0
61479,54247,172679,299913,3,NaN,0.0,0.0,1.0,0.0,2.0
61481,28317,156424,299917,3,NaN,1.0,0.0,1.0,1.0,0.0
61483,30616,191434,299919,5,2.0,0.0,NaN,1.0,0.0,2.0
61498,66696,183226,299948,3,NaN,2.0,0.0,1.0,0.0,0.0
61500,98649,110990,299950,5,NaN,0.0,0.0,4.0,1.0,0.0
61504,14330,162631,299955,6,NaN,0.0,0.0,1.0,1.0,4.0
61509,24244,165022,299961,11,3.0,0.0,0.0,3.0,4.0,1.0
61528,10718,177406,299994,5,NaN,0.0,NaN,1.0,0.0,4.0
61529,28775,134959,299995,3,2.0,0.0,0.0,1.0,0.0,0.0

time: 33.3 ms

In [ ]:
#pd.DataFrame(sofa_df).to_csv('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/02072018_sofa_firstday_df.csv')

In [49]:
#sofa_parameters
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/severityscores/sofa_parameters.sql', 'r') 
sofa_parameters = f.read()
cur.execute('rollback')
cur.execute(sofa_parameters)
sofa_parametersTable= sql_exe_show('select * from SOFA_PARAMETERS;')
sofa_parameters_df= sql_to_df_icu(sofa_parametersTable)

KeyboardInterrupt:

time: 24.4 s

In [90]:
sofa_parameters_df.head()

,subject_id,hadm_id,icustay_id,meanbp_min,rate_norepinephrine,rate_epinephrine,rate_dopamine,rate_dobutamine,creatinine_max,bilirubin_max,platelet_min,pao2fio2_novent_min,pao2fio2_vent_min,urineoutput,mingcs
3,31515,152958,200269,60.000000,NaN,NaN,5.0,NaN,1.4,NaN,147.0,NaN,NaN,360.0,15.0
5,24589,133207,200318,59.666698,0.05,NaN,NaN,NaN,0.9,1.8,109.0,NaN,NaN,2075.0,15.0
7,20190,119413,200375,46.666698,NaN,NaN,3.0,NaN,0.4,0.1,711.0,NaN,220.0,2730.0,14.0
12,24372,106081,200504,54.333302,NaN,NaN,7.5,NaN,1.9,NaN,256.0,NaN,NaN,835.0,8.0
16,28926,103306,200639,55.000000,0.13,NaN,NaN,NaN,1.1,1.1,178.0,NaN,287.5,750.0,15.0

time: 17.7 ms

In [ ]:
var_store2= sofa_test_df - var_store
var_store2.max()# this appears to show that adjusting the day window fom 0 to 1 day to -6hr to 48hr did not change any sofascore parameters... why?

In [33]:
sofa_parameters_df.loc[sofa_parameters_df.loc[:,"hadm_id"]!=0,:]

,subject_id,hadm_id,icustay_id,meanbp_min,rate_norepinephrine,rate_epinephrine,rate_dopamine,rate_dobutamine,creatinine_max,bilirubin_max,platelet_min,pao2fio2_novent_min,pao2fio2_vent_min,urineoutput,mingcs
3,31515,152958,200269,60.000000,NaN,NaN,5.000000,NaN,1.4,NaN,147.0,NaN,NaN,360.0,15.0
5,24589,133207,200318,59.666698,0.050000,NaN,NaN,NaN,0.9,1.8,109.0,NaN,NaN,2075.0,15.0
7,20190,119413,200375,46.666698,NaN,NaN,3.000000,NaN,0.4,0.1,711.0,NaN,220.000000,2730.0,14.0
12,24372,106081,200504,54.333302,NaN,NaN,7.500000,NaN,1.9,NaN,256.0,NaN,NaN,835.0,8.0
16,28926,103306,200639,55.000000,0.130000,NaN,NaN,NaN,1.1,1.1,178.0,NaN,287.500000,750.0,15.0
20,11320,140887,200891,48.000000,0.300000,NaN,NaN,NaN,2.2,2.3,229.0,NaN,140.000000,1385.0,15.0
24,10076,198503,201006,1.000000,0.128736,NaN,NaN,NaN,0.8,NaN,306.0,NaN,91.666667,895.0,15.0
26,28571,107924,201121,66.000000,0.030000,NaN,NaN,NaN,0.9,0.7,205.0,NaN,NaN,2135.0,15.0
34,4096,124383,201361,44.333302,0.054477,NaN,NaN,NaN,2.8,0.2,340.0,NaN,NaN,491.0,14.0
42,32705,101962,201593,36.000000,1.000000,NaN,NaN,NaN,1.7,1.7,106.0,NaN,NaN,450.0,3.0
43,9981,148945,201614,69.000000,NaN,NaN,NaN,4.0,2.1,NaN,382.0,NaN,177.499997,2850.0,15.0
45,5370,145390,201641,53.000000,NaN,NaN,20.000000,NaN,2.8,1.5,203.0,NaN,413.333317,4650.0,15.0
46,6911,161710,201652,56.666698,0.071588,NaN,NaN,NaN,2.9,2.0,210.0,NaN,162.000000,2425.0,15.0
54,11858,177531,201896,44.333302,NaN,NaN,10.000000,NaN,10.5,33.1,113.0,178.000000,168.000000,92.0,8.0
55,25049,133417,201902,57.000000,0.154000,NaN,NaN,NaN,2.3,0.2,290.0,372.500000,162.000000,2285.0,15.0
58,11479,193130,202127,48.333302,0.122404,NaN,NaN,NaN,1.4,0.8,223.0,NaN,425.000000,2070.0,15.0
73,28813,133202,202545,59.000000,0.900000,NaN,NaN,NaN,1.8,4.8,136.0,487.000000,228.000000,1615.0,15.0
75,5478,199963,202616,59.666698,0.020997,NaN,10.000000,NaN,3.6,NaN,289.0,NaN,NaN,563.0,15.0
77,9258,183354,202664,37.000000,0.500000,NaN,7.500000,NaN,1.4,0.3,222.0,113.000000,172.499997,1390.0,15.0
86,25084,149748,202847,47.333302,0.600000,NaN,10.725925,8.0,1.4,0.7,176.0,NaN,NaN,770.0,15.0
87,27703,109449,202862,51.000000,0.250000,NaN,NaN,NaN,2.0,0.6,104.0,NaN,260.000000,1484.0,15.0
88,5737,115950,202904,60.000000,0.100000,NaN,NaN,NaN,2.6,NaN,182.0,252.500000,NaN,2900.0,14.0
90,19700,164511,202993,54.000000,0.300000,NaN,NaN,NaN,1.8,0.8,189.0,65.000000,111.666662,1698.0,15.0
93,2990,120729,203121,46.333302,0.103393,NaN,20.000000,2.0,1.2,NaN,132.0,227.000000,162.000000,3099.0,14.0
95,11146,169975,203154,50.666698,0.200000,0.05,NaN,NaN,1.6,0.6,131.0,NaN,69.999999,708.0,15.0
100,27748,173576,203341,55.000000,0.050000,NaN,NaN,NaN,0.9,0.6,237.0,NaN,369.999994,4305.0,15.0
104,1924,139887,203568,46.666698,NaN,NaN,20.000000,10.0,4.2,2.4,113.0,29.787234,104.999996,NaN,9.0
110,18681,187798,203794,58.666698,NaN,NaN,NaN,15.0,9.1,5.0,135.0,NaN,NaN,20.0,15.0
113,27168,111806,203889,63.000000,0.350000,NaN,NaN,NaN,0.4,2.1,80.0,NaN,170.000000,2388.0,15.0
115,27760,126013,203909,70.000000,0.300000,NaN,NaN,NaN,2.2,13.1,215.0,256.000000,252.000000,5435.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61301,22108,139778,246223,59.000000,NaN,NaN,NaN,NaN,0.8,0.2,108.0,NaN,NaN,3175.0,8.0
61317,88163,199362,229693,52.000000,NaN,NaN,NaN,NaN,1.2,NaN,245.0,NaN,NaN,2460.0,13.0
61339,8940,113806,227370,44.666698,NaN,NaN,NaN,NaN,4.2,25.7,46.0,NaN,NaN,13.0,13.0
61352,15786,163121,236161,83.666702,NaN,NaN,NaN,NaN,1.0,0.7,353.0,NaN,NaN,2545.0,13.0
61355,76896,170213,260884,51.000000,NaN,NaN,NaN,NaN,0.8,NaN,121.0,427.000000,NaN,1010.0,5.0
61362,16296,177242,218967,55.000000,NaN,NaN,NaN,NaN,1.2,0.2,162.0,182.000000,NaN,1120.0,15.0
61390,57255,197778,215429,50.000000,NaN,NaN,NaN,NaN,2.0,28.4,33.0,NaN,NaN,1615.0,15.0
61402,80326,128492,233514,47.000000,NaN,NaN,NaN,NaN,1.0,NaN,226.0,NaN,207.142857,1820.0,15.0
61406,78697,121516,233991,42.000000,0.402457,NaN,NaN,NaN,4.9,1.9,92.0,77.000000,58.000000,180.0,15.0
61412,25034,149091,242741,60.666698,NaN,NaN,NaN,NaN,0.4,NaN,248.0,NaN,NaN,1075.0,15.0
61419,88196,166646,261606,55.000000,NaN,NaN,NaN,NaN,0.7,NaN,254.0,NaN,79.000000,965.0,15.0
61423,4277,169668,251712,57.000000,NaN,NaN,NaN,NaN,0.5,0.6,166.0,NaN,NaN,2640.0,13.0
61428,9784,122386,259118,58.000000,NaN,NaN,NaN,NaN,0.7,NaN,274.0,NaN,NaN,1775.0,14.0
61429,42492,185876,288099,54.000000,NaN,NaN,NaN,NaN,4.2,0.4,106.0,NaN,NaN,NaN,14.0
61430,77729,152039,266768,62.000000,NaN,NaN,NaN,NaN,1.5,0.3,137.0,NaN,NaN,1790.0,15.0
61432,28732,136922,252382,55.000000,NaN,NaN,NaN,NaN,0.9,13.2,201.0,244.000000,360.000000,379.0,15.0
61433,98452,196671,292558,56.000000,NaN,NaN,NaN,NaN,0.9,6.9,108.0,NaN,NaN,925.0,14.0
61438,24569,130278,295793,48.666698,NaN,NaN,NaN,NaN,3.1,NaN,319.0,NaN,NaN,785.0,15.0
61441,68428,113127,201671,61.000000,NaN,NaN,NaN,NaN,0.7,NaN,148.0,NaN,262.000000,2357.0,8.0
61447,3442,101983,242100,57.333302,NaN,NaN,NaN,NaN,0.8,0.5,127.0,NaN,NaN,2530.0,14.0
61448,93381,119547,201682,59.000000,NaN,NaN,NaN,NaN,1.1,NaN,206.0,61.666667,152.500000,1190.0,15.0
61468,41653,185531,257330,54.000000,NaN,NaN,NaN,NaN,0.9,NaN,142.0,NaN,146.000000,2090.0,15.0
61476,14330,162631,299955,45.000000,NaN,NaN,NaN,NaN,6.9,0.3,251.0,NaN,NaN,NaN,13.0
61490,68300,128859,208241,54.000000,NaN,NaN,NaN,NaN,0.6,NaN,342.0,NaN,416.666667,2524.0,8.0
61495,57290,170337,290572,86.000000,NaN,NaN,NaN,NaN,3.9,0.5,194.0,NaN,NaN,2240.0,9.0
61505,89156,170296,299800,48.000000,NaN,NaN,NaN,NaN,1.2,0.8,249.0,NaN,NaN,800.0,14.0
61511,59877,143996,292052,64.000000,NaN,NaN,NaN,NaN,1.4,3.5,11.0,NaN,347.500000,759.0,15.0
61515,85994,147844,248737,55.000000,NaN,NaN,NaN,NaN,0.8,0.6,152.0,NaN,NaN,2340.0,15.0
61516,21195,115277,272465,57.000000,NaN,NaN,NaN,NaN,1.2,1.5,141.0,NaN,292.000000,1760.0,3.0
61519,40287,103847,289927,NaN,NaN,NaN,NaN,NaN,1.3,NaN,152.0,432.500000,NaN,NaN,NaN

time: 42.6 ms

In [35]:
sofa_parameters_df['icustay_id'].nunique()

11493

time: 3.28 ms

In [84]:
#trying to get sofa_parameters without the groupby statements now. adjusting the sql code to remove groupby's. 

#sofa_parameters
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/severityscores/sofa_parameters_test.sql', 'r') 
sofa_parameters_test = f.read()
cur.execute('rollback')
cur.execute(sofa_parameters_test)
sofa_parameters_test_Table= sql_exe_show('select * from SOFA_PARAMETERS_TEST;')
sofa_parameters_test_df= sql_to_df_icu(sofa_parameters_test_Table)

time: 32.7 s

In [ ]:
#pafi1 & pafi2 parameters
f = open('/Users/geickelb1/Documents/GitHub/mimic-code/concepts/severityscores/sofa_parameters_test.sql', 'r') 
sofa_parameters_test = f.read()
cur.execute('rollback')
cur.execute(sofa_parameters_test)
sofa_parameters_test_Table= sql_exe_show('select * from SOFA_PARAMETERS_TEST;')
sofa_parameters_test_df= sql_to_df_icu(sofa_parameters_test_Table)

# epinephrine explore

In [103]:
#weight durations
f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/weight_durations.sql', 'r') 
weightdurations = f.read()
cur.execute('rollback')
cur.execute(weightdurations)

time: 13 s

In [117]:
#epinephrine extraction to compare
f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/epinephrine_dose.sql', 'r') 
epi_dose = f.read()
cur.execute('rollback')
cur.execute(epi_dose)
epi_dose_Table= sql_exe_show('select * from epinephrine_dose;')
epi_dose_df= sql_to_df_icu(epi_dose_Table)

time: 8.11 s

In [118]:
#EPINEPHRINEDURATIONS

#epinephrine extraction to compare
f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/epinephrine_durations.sql', 'r') 
epi_dur = f.read()
cur.execute('rollback')
cur.execute(epi_dur)
epi_dur_Table= sql_exe_show('select * from EPINEPHRINEDURATIONS;')
epi_dur_df= sql_to_df_icu(epi_dur_Table)

time: 6.12 s

In [119]:
epi_dur_df #n=891
#why is this lower than the other? does the other combine cv and mv?

,icustay_id,vasonum,starttime,endtime,duration_hours
1,200290.0,1,2102-12-24 19:01:00,2102-12-25 02:53:00,7.866667
3,200349.0,1,2139-06-01 19:35:00,2139-06-02 16:31:00,20.933333
4,200349.0,2,2139-06-02 16:31:00,2139-06-02 18:10:00,1.650000
12,200719.0,1,2192-04-24 19:15:00,2192-04-25 04:55:00,9.666667
13,200719.0,2,2192-04-25 06:00:00,2192-04-26 11:30:00,29.500000
18,200952.0,1,2139-09-23 15:07:00,2139-09-24 06:43:00,15.600000
19,200952.0,2,2139-09-25 12:00:00,2139-09-25 21:59:00,9.983333
20,200952.0,3,2139-09-25 21:59:00,2139-09-26 07:38:00,9.650000
21,200952.0,4,2139-09-26 07:38:00,2139-09-26 17:17:00,9.650000
22,200952.0,5,2139-09-26 17:17:00,2139-09-27 02:28:00,9.183333
23,200952.0,6,2139-09-27 02:28:00,2139-09-27 09:45:00,7.283333
24,200952.0,7,2139-09-27 09:45:00,2139-09-27 17:02:00,7.283333
25,200952.0,8,2139-09-27 17:02:00,2139-09-28 00:12:00,7.166667
26,200952.0,9,2139-09-28 00:12:00,2139-09-28 07:20:00,7.133333
27,200952.0,10,2139-09-28 07:20:00,2139-09-28 20:55:00,13.583333
28,200952.0,11,2139-09-28 20:55:00,2139-09-29 12:06:00,15.183333
29,200952.0,12,2139-09-29 12:06:00,2139-09-30 07:39:00,19.550000
30,200952.0,13,2139-09-30 07:39:00,2139-10-01 09:22:00,25.716667
31,200952.0,14,2139-10-01 09:22:00,2139-10-01 14:37:00,5.250000
36,201067.0,1,2152-10-30 16:45:00,2152-10-31 12:00:00,19.250000
37,201068.0,1,2181-03-08 10:45:00,2181-03-08 16:47:00,6.033333
40,201358.0,1,2151-10-21 13:45:00,2151-10-22 00:50:00,11.083333
41,201358.0,2,2151-10-28 08:00:00,2151-10-29 02:35:00,18.583333
42,201358.0,3,2151-10-29 02:35:00,2151-10-29 19:31:00,16.933333
43,201358.0,4,2151-10-29 19:31:00,2151-10-30 09:50:00,14.316667
44,201358.0,5,2151-10-30 10:14:00,2151-10-30 13:00:00,2.766667
49,201612.0,1,2173-11-08 13:42:00,2173-11-09 00:35:00,10.883333
50,201612.0,2,2173-11-09 00:35:00,2173-11-09 06:40:00,6.083333
52,201821.0,1,2193-01-10 21:16:00,2193-01-11 04:08:00,6.866667
53,201821.0,2,2193-01-11 04:09:00,2193-01-12 11:16:00,31.116667
...,...,...,...,...,...
3012,296675.0,13,2193-12-31 16:41:00,2194-01-01 12:45:00,20.066667
3019,296743.0,1,2188-11-15 11:45:00,2188-11-15 23:04:00,11.316667
3020,296743.0,2,2188-11-15 23:04:00,2188-11-16 04:01:00,4.950000
3035,296872.0,1,2144-08-18 13:45:00,2144-08-18 23:15:00,9.500000
3051,297455.0,1,2103-10-17 14:00:00,2103-10-17 14:15:00,0.250000
3052,297455.0,2,2103-10-17 14:33:00,2103-10-17 17:00:00,2.450000
3053,297455.0,3,2103-10-17 19:18:00,2103-10-18 06:20:00,11.033333
3065,297776.0,1,2132-09-24 14:15:00,2132-09-25 10:00:00,19.750000
3066,297776.0,2,2132-09-25 12:00:00,2132-09-26 06:30:00,18.500000
3067,297776.0,3,2132-09-30 17:15:00,2132-09-30 18:00:00,0.750000
3070,298225.0,1,2172-09-25 12:46:00,2172-09-25 15:00:00,2.233333
3076,298737.0,1,2163-05-06 14:45:00,2163-05-10 13:15:00,94.500000
3077,298737.0,2,2163-05-10 22:00:00,2163-05-13 08:30:00,58.500000
3078,298784.0,1,2106-11-25 13:00:00,2106-11-25 23:00:00,10.000000
3079,298820.0,1,2155-08-15 17:45:00,2155-08-20 14:15:00,116.500000
3081,298939.0,1,2102-05-04 05:15:00,2102-05-04 06:30:00,1.250000
3082,299002.0,1,2100-12-14 00:15:00,2100-12-14 03:18:00,3.050000
3083,299002.0,2,2100-12-14 03:18:00,2100-12-14 06:06:00,2.800000
3084,299002.0,3,2100-12-14 05:56:00,2100-12-14 06:35:00,0.650000
3088,299321.0,1,2181-08-24 19:35:00,2181-08-25 07:13:00,11.633333
3097,299424.0,1,2188-10-22 22:10:00,2188-11-01 11:00:00,228.833333
3099,299540.0,1,2194-12-30 17:15:00,2195-01-06 08:30:00,159.250000
3100,299540.0,2,2195-01-06 11:00:00,2195-01-06 14:00:00,3.000000
3101,299540.0,3,2195-01-06 20:35:00,2195-01-06 20:55:00,0.333333
3102,299540.0,4,2195-01-07 04:15:00,2195-01-07 04:50:00,0.583333
3106,299630.0,1,2141-10-14 13:53:00,2141-10-14 17:40:00,3.783333
3109,299728.0,1,2172-06-29 16:00:00,2172-06-29 16:15:00,0.250000
3110,299728.0,2,2172-06-29 17:00:00,2172-06-30 05:00:00,12.000000
3112,299867.0,1,2186-08-02 09:43:00,2186-08-02 12:56:00,3.216667
3113,299867.0,2,2186-08-02 12:56:00,2186-08-02 14:27:00,1.516667

time: 27 ms

In [120]:
epi_dose_df #n=2216

,icustay_id,starttime,endtime,vaso_rate,vaso_amount
1,200290.0,2102-12-24 19:01:00,2102-12-25 02:53:00,0.040000,1.408524
6,200349.0,2139-06-01 19:35:00,2139-06-02 16:31:00,0.035013,1.998524
7,200349.0,2139-06-02 16:31:00,2139-06-02 18:10:00,0.012030,0.073958
19,200719.0,2192-04-24 19:15:00,2192-04-25 03:30:00,0.020000,0.634074
20,200719.0,2192-04-25 03:30:00,2192-04-25 04:55:00,0.010000,0.061362
21,200719.0,2192-04-25 06:00:00,2192-04-25 10:30:00,0.010000,0.163632
22,200719.0,2192-04-25 10:30:00,2192-04-25 21:00:00,0.005000,0.214767
23,200719.0,2192-04-25 21:00:00,2192-04-26 11:30:00,0.010000,0.593166
31,200952.0,2139-09-23 15:07:00,2139-09-24 06:43:00,0.020004,1.049601
32,200952.0,2139-09-25 12:00:00,2139-09-25 21:59:00,0.080068,1.962759
33,200952.0,2139-09-25 21:59:00,2139-09-26 07:38:00,0.060601,2.000000
34,200952.0,2139-09-26 07:38:00,2139-09-26 17:17:00,0.060601,2.000000
35,200952.0,2139-09-26 17:17:00,2139-09-27 02:28:00,0.080000,1.975642
36,200952.0,2139-09-27 02:28:00,2139-09-27 09:45:00,0.080292,2.000000
37,200952.0,2139-09-27 09:45:00,2139-09-27 17:02:00,0.080292,2.000000
38,200952.0,2139-09-27 17:02:00,2139-09-28 00:12:00,0.081599,2.000000
39,200952.0,2139-09-28 00:12:00,2139-09-28 07:20:00,0.079882,1.948800
40,200952.0,2139-09-28 07:20:00,2139-09-28 20:55:00,0.079882,1.997302
41,200952.0,2139-09-28 20:55:00,2139-09-29 12:06:00,0.039963,1.999932
42,200952.0,2139-09-29 12:06:00,2139-09-30 07:39:00,0.029901,1.999200
43,200952.0,2139-09-30 07:39:00,2139-10-01 09:22:00,0.029898,1.995993
44,200952.0,2139-10-01 09:22:00,2139-10-01 14:37:00,0.019951,0.309905
52,201067.0,2152-10-30 16:45:00,2152-10-31 09:00:00,0.030000,2.196000
53,201067.0,2152-10-31 09:00:00,2152-10-31 10:00:00,0.020000,0.144000
54,201067.0,2152-10-31 10:00:00,2152-10-31 12:00:00,0.010000,0.144000
55,201068.0,2181-03-08 10:45:00,2181-03-08 16:47:00,0.010001,0.298680
60,201358.0,2151-10-21 13:45:00,2151-10-22 00:50:00,0.040021,1.577751
61,201358.0,2151-10-28 08:00:00,2151-10-29 02:35:00,0.020009,1.985600
62,201358.0,2151-10-29 02:35:00,2151-10-29 19:31:00,0.039980,1.975614
63,201358.0,2151-10-29 19:31:00,2151-10-30 09:50:00,0.039804,1.745783
...,...,...,...,...,...
7608,299424.0,2188-10-30 19:15:00,2188-11-01 11:00:00,0.040000,7.195650
7610,299540.0,2194-12-30 17:15:00,2194-12-30 18:00:00,0.030000,0.000000
7611,299540.0,2194-12-30 18:00:00,2194-12-31 16:30:00,0.050000,6.320585
7612,299540.0,2194-12-31 17:00:00,2195-01-01 16:00:00,0.050000,6.699900
7613,299540.0,2195-01-01 16:00:00,2195-01-02 12:00:00,0.030000,3.612120
7614,299540.0,2195-01-02 12:00:00,2195-01-02 20:00:00,0.020000,0.990420
7615,299540.0,2195-01-02 20:00:00,2195-01-02 22:00:00,0.010000,0.174780
7616,299540.0,2195-01-02 22:00:00,2195-01-03 07:00:00,0.020000,0.990420
7617,299540.0,2195-01-03 08:00:00,2195-01-03 16:00:00,0.020000,0.932160
7618,299540.0,2195-01-03 16:00:00,2195-01-03 17:00:00,0.010000,0.116520
7619,299540.0,2195-01-03 17:00:00,2195-01-05 08:30:00,0.020000,4.602540
7620,299540.0,2195-01-05 08:30:00,2195-01-06 08:30:00,0.010000,1.427370
7621,299540.0,2195-01-06 11:00:00,2195-01-06 13:45:00,0.020000,0.233040
7622,299540.0,2195-01-06 13:45:00,2195-01-06 14:00:00,0.010000,NaN
7623,299540.0,2195-01-06 20:35:00,2195-01-06 20:45:00,0.020000,NaN
7624,299540.0,2195-01-06 20:45:00,2195-01-06 20:55:00,0.010000,NaN
7625,299540.0,2195-01-07 04:15:00,2195-01-07 04:50:00,0.010000,NaN
7631,299630.0,2141-10-14 13:53:00,2141-10-14 17:40:00,0.040000,0.547388
7634,299728.0,2172-06-29 16:00:00,2172-06-29 16:15:00,0.100000,0.377600
7635,299728.0,2172-06-29 17:00:00,2172-06-29 20:45:00,0.100000,1.511600
7636,299728.0,2172-06-29 20:45:00,2172-06-29 21:45:00,0.090000,0.368550
7637,299728.0,2172-06-29 21:45:00,2172-06-30 01:00:00,0.100000,1.096200
7638,299728.0,2172-06-30 01:00:00,2172-06-30 02:00:00,0.090000,0.378000
7639,299728.0,2172-06-30 02:00:00,2172-06-30 02:15:00,0.080000,0.340200
7640,299728.0,2172-06-30 02:15:00,2172-06-30 03:00:00,0.070000,NaN
7641,299728.0,2172-06-30 03:00:00,2172-06-30 03:15:00,0.060000,0.274050
7642,299728.0,2172-06-30 03:15:00,2172-06-30 04:00:00,0.040000,NaN
7643,299728.0,2172-06-30 04:00:00,2172-06-30 05:00:00,0.020000,0.170100
7645,299867.0,2186-08-02 09:43:00,2186-08-02 12:56:00,0.119470,2.000183
7646,299867.0,2186-08-02 12:56:00,2186-08-02 14:27:00,0.119447,1.173921

time: 383 ms

In [121]:
pd.DataFrame(epi_dose_df).to_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/13072018_epi_dose_df.csv')

time: 56.7 ms

In [89]:
sofa_parameters_test_df.loc[sofa_parameters_test_df.loc[:,'charttime'].notnull(),:]

,charttime,cv_rate_norepinephrine,cv_rate_epinephrine,cv_rate_dopamine,cv_rate_dobutamine,icustay_id,starttime,rate_norepinephrine,rate_epinephrine,rate_dopamine,rate_dobutamine
40874,2129-02-19 02:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40875,2129-02-18 16:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40876,2129-02-18 06:45:00,NaN,NaN,2.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40877,2129-02-18 07:15:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40878,2129-02-18 14:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40879,2129-02-18 12:45:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40880,2129-02-18 12:30:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40881,2129-02-18 12:15:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40882,2129-02-18 11:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40883,2129-02-18 17:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40884,2129-02-18 12:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40885,2129-02-18 19:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40886,2129-02-18 19:00:00,NaN,NaN,NaN,2.5,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40887,2129-02-18 15:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40888,2129-02-18 09:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40889,2129-02-18 18:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40890,2129-02-18 18:00:00,NaN,NaN,NaN,1.5,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40891,2129-02-19 00:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40892,2129-02-19 00:00:00,NaN,NaN,NaN,3.0,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40893,2129-02-19 01:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40894,2129-02-19 01:00:00,NaN,NaN,NaN,3.0,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40895,2129-02-18 17:30:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40896,2129-02-18 13:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40897,2129-02-18 21:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40898,2129-02-18 21:00:00,NaN,NaN,NaN,2.5,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40899,2129-02-18 10:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40900,2129-02-18 22:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40901,2129-02-18 22:00:00,NaN,NaN,NaN,3.0,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40902,2129-02-18 23:00:00,NaN,NaN,5.0,NaN,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
40903,2129-02-18 23:00:00,NaN,NaN,NaN,3.0,203503.0,2129-02-18 15:12:00,NaN,NaN,5.000500,NaN
...,...,...,...,...,...,...,...,...,...,...,...
282327,2144-08-27 21:30:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282328,2144-08-27 09:15:00,0.3,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282329,2144-08-27 09:15:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282330,2144-08-28 06:30:00,0.0,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282331,2144-08-28 06:00:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282332,2144-08-28 06:00:00,0.0,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282333,2144-08-27 15:45:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282334,2144-08-27 15:45:00,0.0,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282335,2144-08-28 19:00:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282336,2144-08-28 18:00:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282337,2144-08-28 01:00:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282338,2144-08-28 01:00:00,0.0,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282339,2144-08-28 02:00:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282340,2144-08-28 02:00:00,0.0,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282341,2144-08-27 20:05:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282342,2144-08-27 20:00:00,0.5,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282343,2144-08-28 08:45:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282344,2144-08-28 08:00:00,0.0,NaN,NaN,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282345,2144-08-28 08:00:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282346,2144-08-27 20:55:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282347,2144-08-27 20:50:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282348,2144-08-27 20:45:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282349,2144-08-27 20:40:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282350,2144-08-27 20:35:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282351,2144-08-27 20:30:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282352,2144-08-27 20:25:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282353,2144-08-27 20:20:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282354,2144-08-27 20:15:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282355,2144-08-27 20:10:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN
282356,2144-08-28 09:00:00,NaN,NaN,10.0,NaN,249814.0,2144-08-27 00:50:00,NaN,NaN,5.004629,NaN

time: 35.1 ms

In [91]:
pd.DataFrame(sofa_parameters_test_df).to_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/10072018_vaso_all_df.csv')

time: 282 ms

In [29]:
pd.DataFrame(sofa_df).to_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/08072018_sofa_firstday_df.csv')
pd.DataFrame(sofa_parameters_df).to_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/08072018_sofa_param_firstday_df.csv')

time: 241 ms

## takeaways:
    the epinephrine found in the durations.sql file had all of the icustay_id's as the sofa_extracted, but also a lot more. these now will all need to be run for each vaso dilator, and compiled into a new vaso_df.

# Compiling all vasodilators.duration.sql files into a vaso_df
- note each sql file still needs to have mimiciii. appended before each call due to the structure of our sever.

In [133]:
#epinephrine dose
f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/clinical_var_sql/epinephrine_dose.sql', 'r') 

epi_dose = f.read()
cur.execute('rollback')
cur.execute(epi_dose)
epi_dose_Table= sql_exe_show('select * from epinephrine_dose;')
epi_dose_df= sql_to_df_icu(epi_dose_Table)

time: 2.38 s

In [132]:
#norepinephrine dose
f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/clinical_var_sql/norepinephrine_dose.sql', 'r') 
norepi_dose = f.read()
cur.execute('rollback')
cur.execute(norepi_dose)
norepi_dose_Table= sql_exe_show('select * from norepinephrine_dose;')
norepi_dose_df= sql_to_df_icu(norepi_dose_Table)

time: 13.2 s

In [134]:
#dopamine dose
f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/clinical_var_sql/dopamine_dose.sql', 'r') 
dopa_dose = f.read()
cur.execute('rollback')
cur.execute(dopa_dose)
dopa_dose_Table= sql_exe_show('select * from dopamine_dose;')
dopa_dose_df= sql_to_df_icu(dopa_dose_Table)

time: 4.98 s

In [135]:
#dobutamine dose
f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/clinical_var_sql/dobutamine_dose.sql', 'r') 
dobu_dose = f.read()
cur.execute('rollback')
cur.execute(dobu_dose)
dobu_dose_Table= sql_exe_show('select * from dobutamine_dose;')
dobu_dose_df= sql_to_df_icu(dobu_dose_Table)

time: 1.45 s

In [153]:
#adding an identification label column and merging them into 1 df. 
epi_dose_df['label']='epinephrine'
norepi_dose_df['label']='norepinephrine'
dopa_dose_df['label']='dopamine'
dobu_dose_df['label']='dobutamine'

vaso_dose_df = pd.concat([epi_dose_df, norepi_dose_df, dopa_dose_df, dobu_dose_df])
pd.DataFrame(vaso_dose_df).to_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/13072018_vaso_dose_df.csv')

time: 503 ms

In [150]:
#vaso_dose_df.head()

,icustay_id,starttime,endtime,vaso_rate,vaso_amount,label
1,200290.0,2102-12-24 19:01:00,2102-12-25 02:53:00,0.040000,1.408524,epinephrine
6,200349.0,2139-06-01 19:35:00,2139-06-02 16:31:00,0.035013,1.998524,epinephrine
7,200349.0,2139-06-02 16:31:00,2139-06-02 18:10:00,0.012030,0.073958,epinephrine
19,200719.0,2192-04-24 19:15:00,2192-04-25 03:30:00,0.020000,0.634074,epinephrine
20,200719.0,2192-04-25 03:30:00,2192-04-25 04:55:00,0.010000,0.061362,epinephrine

time: 9.86 ms

In [151]:
vaso_dose_df.groupby('label')['icustay_id'].nunique()

label
dobutamine         332
dopamine          1081
epinephrine        414
norepinephrine    2912
Name: icustay_id, dtype: int64

time: 12.1 ms

In [152]:
vaso_dose_df['icustay_id'].nunique()

3549

time: 2.82 ms

In [154]:
#WAIT, i didn’t filter for t-6 and t+48 hr. Need to do this!

final_pt_df2.head()

,subject_id,icustay_id,hadm_id,t_0_sc,t_end_sc,ab_course,t_0,t_end_consec,dod_hosp,dod_ssn,dod_delta,org_list,spec_type_list,sc_result,final_bin
0,24915,267059.0,194424,2182-11-29 12:19:00,2182-12-01 00:00:00,full,2182-11-29,2183-01-15,2183-01-15 00:00:00,2183-01-15 00:00:00,0 days 00:00:00.000000000,NaN,NaN,negative,C_neg/A_full
1,24942,278729.0,178112,2159-11-07 17:36:00,2159-11-10 00:00:00,partial,2159-11-08,2159-11-10,NaN,NaN,NaN,NaN,NaN,negative,C_neg/A_partial
2,24968,219670.0,120350,2190-07-31 21:40:00,2190-08-03 00:00:00,partial,2190-08-01,2190-08-02,2190-08-05 00:00:00,2190-08-05 00:00:00,0 days 00:00:00.000000000,NaN,NaN,negative,C_neg/A_partial
3,24776,295185.0,139951,2154-11-10 23:04:00,2154-11-13 00:00:00,full,2154-11-11,2154-11-19,2154-11-23 00:00:00,2154-11-23 00:00:00,0 days 00:00:00.000000000,ESCHERICHIA COLI,URINE,positive,C_pos/A_full
4,24714,211472.0,163632,2193-12-13 10:54:00,2193-12-15 00:00:00,full,2193-12-13,2193-12-26,NaN,NaN,NaN,NaN,NaN,negative,C_neg/A_full

time: 28.5 ms

# MRSA SCREEN INFO

In [161]:
#MRSA screen info
#all positive MRSA screens (need to check if we need only positives or if we want negatives too). this will be used as a clinical variable, rather than for cohort

f = open('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/clinical_var_sql/MRSA_screen.sql', 'r') 
MRSA_screen = f.read()
cur.execute('rollback')
cur.execute(MRSA_screen)
MRSA_screen_Table= sql_exe_show('select * from MRSA_screen;')
MRSA_screen_df= sql_to_df_hadm(MRSA_screen_Table)

#still need to adjust for within the appropriate timeframe.

time: 622 ms

In [162]:
MRSA_screen_df

,subject_id,hadm_id,charttime,chartdate,spec_type_desc,org_name,interpretation
0,31684,102120,2135-06-11 19:29:00,2135-06-11,MRSA SCREEN,None,None
1,31684,102120,2135-06-13 12:06:00,2135-06-13,MRSA SCREEN,None,None
2,31684,102120,2135-06-20 02:43:00,2135-06-20,MRSA SCREEN,None,None
3,31684,102120,2135-06-20 11:41:00,2135-06-20,MRSA SCREEN,None,None
4,31684,102120,2135-06-27 08:39:00,2135-06-27,MRSA SCREEN,None,None
5,31610,198638,2196-03-31 16:27:00,2196-03-31,MRSA SCREEN,None,None
6,31614,125573,2140-02-18 11:36:00,2140-02-18,MRSA SCREEN,None,None
7,31614,125573,2140-02-18 11:37:00,2140-02-18,MRSA SCREEN,None,None
12,30722,188916,2182-09-17 09:41:00,2182-09-17,MRSA SCREEN,None,None
13,30722,188916,2182-09-17 09:41:00,2182-09-17,MRSA SCREEN,None,None
14,30731,184324,2141-10-17 16:16:00,2141-10-17,MRSA SCREEN,None,None
15,30731,184324,2141-10-17 16:17:00,2141-10-17,MRSA SCREEN,None,None
16,30731,184324,2141-10-23 12:01:00,2141-10-23,MRSA SCREEN,None,None
17,30731,184324,2141-10-23 12:02:00,2141-10-23,MRSA SCREEN,None,None
18,30731,184324,2141-10-30 14:04:00,2141-10-30,MRSA SCREEN,None,None
19,30731,184324,2141-10-30 14:05:00,2141-10-30,MRSA SCREEN,None,None
22,31792,144955,2100-08-06 21:50:00,2100-08-06,MRSA SCREEN,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,None
23,31792,144955,2100-08-06 21:50:00,2100-08-06,MRSA SCREEN,None,None
30,31852,197965,2142-07-31 13:50:00,2142-07-31,MRSA SCREEN,None,None
31,31852,197965,2142-07-31 13:50:00,2142-07-31,MRSA SCREEN,None,None
33,31376,183181,2170-10-05 10:39:00,2170-10-05,MRSA SCREEN,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,None
42,31928,121201,2125-03-21 00:54:00,2125-03-21,MRSA SCREEN,None,None
57,31190,159351,2124-02-28 11:03:00,2124-02-28,MRSA SCREEN,None,None
58,31190,159351,2124-02-28 11:03:00,2124-02-28,MRSA SCREEN,None,None
59,31190,159351,2124-03-06 09:03:00,2124-03-06,MRSA SCREEN,None,None
60,31190,159351,2124-03-06 09:38:00,2124-03-06,MRSA SCREEN,None,None
67,30408,134728,2148-11-11 16:09:00,2148-11-11,MRSA SCREEN,None,None
68,30408,134728,2148-11-11 16:11:00,2148-11-11,MRSA SCREEN,None,None
75,31442,168138,2118-05-20 12:54:00,2118-05-20,MRSA SCREEN,None,None
78,31521,118874,2146-06-16 08:37:00,2146-06-16,MRSA SCREEN,None,None
...,...,...,...,...,...,...,...
32159,30508,121786,2193-03-19 05:54:00,2193-03-19,MRSA SCREEN,None,None
32167,31133,102634,2106-03-22 10:01:00,2106-03-22,MRSA SCREEN,None,None
32168,31133,102634,2106-03-23 18:28:00,2106-03-23,MRSA SCREEN,None,None
32172,30915,171134,2151-09-18 05:22:00,2151-09-18,MRSA SCREEN,None,None
32178,30694,195631,2115-06-23 07:50:00,2115-06-23,MRSA SCREEN,None,None
32181,30829,151711,2123-03-18 17:09:00,2123-03-18,MRSA SCREEN,None,None
32182,30829,151711,2123-03-19 03:44:00,2123-03-19,MRSA SCREEN,None,None
32183,30829,151711,2123-03-22 14:11:00,2123-03-22,MRSA SCREEN,None,None
32185,30882,132521,2105-09-13 15:57:00,2105-09-13,MRSA SCREEN,None,None
32186,30882,132521,2105-09-13 15:57:00,2105-09-13,MRSA SCREEN,None,None
32187,30882,132521,2105-09-14 13:23:00,2105-09-14,MRSA SCREEN,None,None
32188,30882,132521,2105-09-14 13:23:00,2105-09-14,MRSA SCREEN,None,None
32191,30884,183821,2167-08-13 03:24:00,2167-08-13,MRSA SCREEN,None,None
32192,30884,183821,2167-08-13 03:24:00,2167-08-13,MRSA SCREEN,None,None
32199,31021,117284,2102-12-25 10:43:00,2102-12-25,MRSA SCREEN,None,None
32200,31021,117284,2102-12-25 10:43:00,2102-12-25,MRSA SCREEN,None,None
32201,31107,125265,2170-07-23 12:09:00,2170-07-23,MRSA SCREEN,None,None
32202,31107,125265,2170-07-23 12:09:00,2170-07-23,MRSA SCREEN,None,None
32205,31110,119555,2145-07-24 13:37:00,2145-07-24,MRSA SCREEN,None,None
32206,31110,119555,2145-07-24 13:37:00,2145-07-24,MRSA SCREEN,None,None
32207,31110,119555,2145-07-26 21:32:00,2145-07-26,MRSA SCREEN,None,None
32208,31110,119555,2145-07-26 21:32:00,2145-07-26,MRSA SCREEN,None,None
32219,31042,188285,2139-07-04 04:38:00,2139-07-04,MRSA SCREEN,None,None
32220,31042,188285,2139-07-04 04:38:00,2139-07-04,MRSA SCREEN,None,None
32221,31002,156233,2102-08-03 05:44:00,2102-08-03,MRSA SCREEN,None,None
32230,30694,195631,2115-06-23 07:51:00,2115-06-23,MRSA SCREEN,POSITIVE FOR METHICILLIN RESISTANT STAPH AUREUS,None
32253,31842,157527,2138-05-16 02:10:00,2138-05-16,MRSA SCREEN,None,None
32254,31842,157527,2138-05-16 02:10:00,2138-05-16,MRSA SCREEN,None,None
32273,31365,110001,2142-10-01 15:18:00,2142-10-01,MRSA SCREEN,None,None
32274,31365,110001,2142-10-01 15:19:00,2142-10-01,MRSA SCREEN,None,None

time: 32.4 ms

In [ ]:
print(
    len(patients),
    len(icustay_id),
    len(final_pt_df2)
) #11493

In [ ]:
len(pt_demographics.loc[pt_demographics.loc[:,'subject_id'].isin(patients), :]['subject_id'].unique()) #11493/11493 patients here,
#however 3 of the patients don't have their icustay_id in the icusterile