In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path
import seaborn as sns
import numpy as np

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime
%reload_ext autotime

In [2]:
#cohort import

os.chdir('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling') #use to change working directory
wd= os.getcwd() #'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling'


final_pt_df2 = pd.read_csv(Path(wd + '/data/raw/csv/01102018_final_pt_df2_v.csv') , index_col=0) #only for patients with minimum vitals
patients= list(final_pt_df2['subject_id'].unique())
hadm_id= list(final_pt_df2['hadm_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 99.9 ms

In [3]:
#adding this in fow now, will eventually want to switch this to the 03-clinical_variables_final
import psycopg2
import getpass
conn = psycopg2.connect(dbname="mimic", user="student", host="luolabwkstn01.fsm.northwestern.edu", port="5432",
                        password=getpass.getpass(prompt='Password:'.format()))
cur=conn.cursor()

query_schema = 'SET search_path to ' + "mimiciii" + ';'

Password: ·····

time: 2.55 s

#### Note: Nelson has said we do not need to incorporate Echo data, so this has been removed 10/22/18

In [4]:
#reading in all of my data that is not limited to 72 hour time window between t_0 and t+72
date= '27082018'  #date of the files i will be importing

ventcategory_df=pd.read_csv(Path(
    wd+'/data/raw/csv/%s_ventcategory_df.csv' %(date)), index_col=0)

vaso_dose_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_vaso_dose_72.csv' %(date)), index_col=0)


# echodata_72=pd.read_csv(Path(
#     wd+'/data/raw/csv/72_hr_window/%s_echodata_72.csv' %(date)), index_col=0)

labs_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_labs_all_nosummary_72.csv' %(date)), index_col=0)


weightfirstday_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_weightfirstday_df.csv' %(date)), index_col=0)
heightfirstday_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_heightfirstday_df.csv' %(date)), index_col=0)

vitals_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_vitals_all_nosummary_72.csv' %(date)), index_col=0)
uti_all_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_uti_all_72.csv' %(date)), index_col=0)
bg_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_bg_all_nosummary_72.csv' %(date)), index_col=0)

rrt_merged_allpt_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_rrt_merged_allpt_df.csv' %(date)), index_col=0)
gcs72_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_gcs72_df.csv' %(date)), index_col=0)

sofa_df_72=pd.read_csv(Path(
    wd+'/data/raw/csv/%s_sofa_df_72.csv' %(date)), index_col=0)

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

time: 14.1 s

In [5]:
def df_subset(df):
    try:
        df = df.loc[df.loc[:,'icustay_id'].isin(icustay_id),:]
    except KeyError or NameError:
        try:
            df = df.loc[df.loc[:,'hadm_id'].isin(hadm_id),:]
        except KeyError or NameError:
            df = df.loc[df.loc[:,'subject_id'].isin(patients),:]
    return(df)

time: 5 ms

# subsetting each dataframe to only patients in final_patients_df2_v:
dataframe_list= [
    ventcategory_df, vaso_dose_72, #echodata_72,
    labs_all_nosummary_72, weightfirstday_df,
    heightfirstday_df, vitals_all_nosummary_72,
    uti_all_72, bg_all_nosummary_72,
    rrt_merged_allpt_df, gcs72_df, sofa_df_72
]

(
ventcategory_df, vaso_dose_72, #echodata_72,
labs_all_nosummary_72, weightfirstday_df,
heightfirstday_df, vitals_all_nosummary_72,
uti_all_72, bg_all_nosummary_72,
rrt_merged_allpt_df, gcs72_df, sofa_df_72
) = (df_subset(df) for df in dataframe_list)

In [6]:
def yn_convert(df, label_fill, pt= final_pt_df2, value_fill=0, delta_fill=pd.to_timedelta('0 days'), uom_fill='y/n'):

    yn_df = pd.merge(pt[['icustay_id', 't_0']],
                      df[['icustay_id','value','label','uom','delta']],
                     left_on= 'icustay_id',
                     right_on= 'icustay_id',
                      how='left')

    yn_df['value']= yn_df['value'].fillna(value_fill)
    yn_df.loc[yn_df.loc[:,'value']!=value_fill, 'value']= 1
    yn_df['delta']= yn_df['delta'].fillna(delta_fill)
    yn_df['delta']= pd.to_timedelta(yn_df['delta'])
    yn_df['uom']= yn_df['uom'].fillna(uom_fill)
    yn_df.loc[yn_df.loc[:,'uom']!=uom_fill, 'uom']= uom_fill
    yn_df['label']= yn_df['label'].fillna(label_fill)
    
    return(yn_df)

time: 15.2 ms

In [7]:
# date that i ran the below code on the files.

date= '14112018'

time: 713 µs

## vaso dose

In [8]:
#vaso_dose_72.head()
vaso_dose_72= vaso_dose_72.rename(
    columns={'starttime':'charttime','label':'vaso_type'}
        )#.drop(labels='endtime', axis=1) 
#renaming starttime to charttime and dropping endtime

time: 21.4 ms

In [9]:
len(vaso_dose_72)

53906

time: 2.63 ms

In [10]:
vaso_dose_72.head()

,icustay_id,charttime,endtime,vaso_rate,vaso_amount,amount_uom,rate_uom,vaso_type,t_0,delta
4,200349.0,2139-06-02 16:31:00,2139-06-02 18:10:00,0.012030,0.073958,mg,mcg/kg/min,epinephrine,2139-06-02,0 days 16:31:00.000000000
92,200952.0,2139-09-23 15:07:00,2139-09-24 06:43:00,0.020004,1.049601,mg,mcg/kg/min,epinephrine,2139-09-23,0 days 15:07:00.000000000
93,200952.0,2139-09-25 12:00:00,2139-09-25 21:59:00,0.080068,1.962759,mg,mcg/kg/min,epinephrine,2139-09-23,2 days 12:00:00.000000000
94,200952.0,2139-09-25 21:59:00,2139-09-26 07:38:00,0.060601,2.000000,mg,mcg/kg/min,epinephrine,2139-09-23,2 days 21:59:00.000000000
106,200952.0,2139-09-23 23:12:00,2139-09-24 21:54:00,0.149992,7.990853,mg,mcg/kg/min,norepinephrine,2139-09-23,0 days 23:12:00.000000000

time: 13.7 ms

In [11]:
#removing units/hour because that is a different use of vasopressin
vaso_dose_72 = vaso_dose_72.loc[vaso_dose_72.loc[:,'rate_uom']!= 'units/hour',:]
vaso_dose_72 = vaso_dose_72.loc[vaso_dose_72.loc[:,'rate_uom']!= 'Uhr',:]

time: 23 ms

In [12]:
len(vaso_dose_72)

53092

time: 2.84 ms

In [13]:
vaso_dose_72['rate_uom'].unique()

array(['mcg/kg/min', 'mcgkgmin', 'Umin'], dtype=object)

time: 4.82 ms

#### removing outliers/extreme values

In [14]:
# Use transform to add a column back to the orig df from a groupby aggregation, transform returns a Series with its index aligned to the orig df:

test_group=(vaso_dose_72[['vaso_rate','rate_uom','amount_uom','vaso_type']]#.groupby('vaso_type', as_index=False)
     .groupby(['vaso_type','rate_uom'])
         )

vaso_dose_72['std']=test_group.transform(lambda x : x.std())
vaso_dose_72['mean']=test_group.transform(lambda x : x.mean())

normal_high_value= pd.DataFrame({
    'vaso_type' : ['dobutamine','dopamine','epinephrine','norepinephrine','vasopressin','phenylephrine'],
    'high_value': [40, 20, 0.5, 1, 0.1, 2]
}) #found from literature, see notes

vaso_dose_72 = pd.merge(vaso_dose_72, normal_high_value, left_on='vaso_type', right_on='vaso_type')

vaso_dose_72_rmout =(vaso_dose_72[
    ~((vaso_dose_72['vaso_rate'] > vaso_dose_72['high_value']) & ((vaso_dose_72['vaso_rate']-vaso_dose_72['mean'])>= (3*vaso_dose_72['std'])))
    ])
#ie vaso_dose_72_rmout is a dataframe of all rows that excludes rows where vaso rate > literature high value and where vaso_rate >3sd from teh mean

time: 155 ms

In [15]:
len(vaso_dose_72) #52976

53092

time: 2.15 ms

In [16]:
vaso_dose_72['vaso_type'].unique()

array(['epinephrine', 'norepinephrine', 'phenylephrine', 'vasopressin',
       'dopamine', 'dobutamine'], dtype=object)

time: 4.58 ms

In [17]:
print(len(vaso_dose_72_rmout), len(vaso_dose_72)) #works, only excluded ~300/52662 for outliers.

52774 53092
time: 760 µs

In [18]:
vaso_dose_72_rmout['rate_uom'].unique()

array(['mcg/kg/min', 'mcgkgmin', 'Umin'], dtype=object)

time: 4.37 ms

In [19]:
#standardizing names, dropping unneeded columns for analysis
vaso_dose_72_rmout= vaso_dose_72_rmout.drop(['vaso_amount', 'amount_uom','std','mean','high_value'], axis=1)
vaso_dose_72_rmout= vaso_dose_72_rmout.rename(index=str, columns={'vaso_rate': 'value', 'rate_uom':'uom','vaso_type':'label'})

time: 44.3 ms

In [20]:
vaso_dose_72_rmout['label'].unique()

array(['epinephrine', 'norepinephrine', 'phenylephrine', 'vasopressin',
       'dopamine', 'dobutamine'], dtype=object)

time: 4.28 ms

In [21]:
epinephrine_df= vaso_dose_72_rmout[vaso_dose_72_rmout['label']=='epinephrine']
norepinephrine_df= vaso_dose_72_rmout[vaso_dose_72_rmout['label']=='norepinephrine']
phenylephrine_df= vaso_dose_72_rmout[vaso_dose_72_rmout['label']=='phenylephrine']
vasopressin_df= vaso_dose_72_rmout[vaso_dose_72_rmout['label']=='vasopressin']
dopamine_df= vaso_dose_72_rmout[vaso_dose_72_rmout['label']=='dopamine']
dobutamine_df= vaso_dose_72_rmout[vaso_dose_72_rmout['label']=='dobutamine']

time: 34.1 ms

In [22]:
epinephrine_df=yn_convert(epinephrine_df, label_fill='epinephrine', pt= final_pt_df2, value_fill=0, delta_fill=0, uom_fill='y/n')
norepinephrine_df=yn_convert(norepinephrine_df, label_fill='norepinephrine', pt= final_pt_df2, value_fill=0, delta_fill=0, uom_fill='y/n')
phenylephrine_df=yn_convert(phenylephrine_df, label_fill='phenylephrine', pt= final_pt_df2, value_fill=0, delta_fill=0, uom_fill='y/n')
vasopressin_df=yn_convert(vasopressin_df, label_fill='vasopressin', pt= final_pt_df2, value_fill=0, delta_fill=0, uom_fill='y/n')
dopamine_df=yn_convert(dopamine_df, label_fill='dopamine', pt= final_pt_df2, value_fill=0, delta_fill=0, uom_fill='y/n')
dobutamine_df=yn_convert(dobutamine_df, label_fill='dobutamine', pt= final_pt_df2, value_fill=0, delta_fill=0, uom_fill='y/n')

time: 777 ms

In [23]:
norepinephrine_df.head()

   icustay_id         t_0  value           label  uom  delta
0    267059.0  2182-11-12    0.0  norepinephrine  y/n 0 days
1    278729.0  2159-11-08    0.0  norepinephrine  y/n 0 days
2    219670.0  2190-08-01    0.0  norepinephrine  y/n 0 days
3    295185.0  2154-11-11    0.0  norepinephrine  y/n 0 days
4    211472.0  2193-12-11    0.0  norepinephrine  y/n 0 days

time: 9.08 ms

In [24]:
#yn_convert(df, label_fill, pt= final_pt_df2, value_fill=0, delta_fill=0, uom_fill='y/n')

time: 553 µs

In [25]:
def yn_convert(df, label_fill, pt= final_pt_df2, value_fill=0, delta_fill=pd.to_timedelta('0 days'), uom_fill='y/n'):

    yn_df = pd.merge(pt[['icustay_id', 't_0']],
                      df[['icustay_id','value','label','uom','delta']],
                     left_on= 'icustay_id',
                     right_on= 'icustay_id',
                      how='left')

    yn_df['value']= yn_df['value'].fillna(value_fill)
    yn_df.loc[yn_df.loc[:,'value']!=value_fill, 'value']= 1
    yn_df['delta']= yn_df['delta'].fillna(delta_fill)
    yn_df['delta']= pd.to_timedelta(yn_df['delta'])
    yn_df['uom']= yn_df['uom'].fillna(uom_fill)
    yn_df.loc[yn_df.loc[:,'uom']!=uom_fill, 'uom']= uom_fill
    yn_df['label']= yn_df['label'].fillna(label_fill)
    
    return(yn_df)

time: 13.6 ms

In [26]:
#date= '22102018'
# pd.DataFrame(vaso_dose_72_rmout).to_csv(Path(
#     wd+'/data/processed/%s_vaso_prepped.csv' %(date)))

pd.DataFrame(epinephrine_df).to_csv(Path(
    wd+'/data/processed/%s_epinephrine_prepped.csv' %(date)))

pd.DataFrame(norepinephrine_df).to_csv(Path(
    wd+'/data/processed/%s_norepinephrine_prepped.csv' %(date)))

pd.DataFrame(phenylephrine_df).to_csv(Path(
    wd+'/data/processed/%s_phenylephrine_prepped.csv' %(date)))

pd.DataFrame(vasopressin_df).to_csv(Path(
    wd+'/data/processed/%s_vasopressin_prepped.csv' %(date)))

pd.DataFrame(dopamine_df).to_csv(Path(
    wd+'/data/processed/%s_dopamine_prepped.csv' %(date)))

pd.DataFrame(dobutamine_df).to_csv(Path(
    wd+'/data/processed/%s_dobutamine_prepped.csv' %(date)))

time: 2.19 s

## vitals -

In [27]:
vitals_all_nosummary_72 = vitals_all_nosummary_72.rename(index=str, columns={"valueuom":"uom","vitalid":'label', 'valuenum':'value'}) #change valueom to uom
vitals_all_nosummary_nonull = vitals_all_nosummary_72.loc[vitals_all_nosummary_72['label'].notnull(),:]#.count() #6930 NULL values

vitals_all_nosummary_nonull.loc[vitals_all_nosummary_nonull.loc[:,'uom']=='BPM','uom']='bpm'

#overall the values are extremely similar and are likely the same thing
#i will combine them.
vitals_all_nosummary_nonull.loc[
    (vitals_all_nosummary_nonull['label']=='RespRate') & 
    (vitals_all_nosummary_nonull['uom']=='bpm'),'uom']='insp/min'

vitals_all_nosummary_nonull.loc[
    (vitals_all_nosummary_nonull['label']=='TempC') & 
    (vitals_all_nosummary_nonull['uom']=='?C'),'uom']='Deg. C'

vitals_all_nosummary_nonull.loc[
    (vitals_all_nosummary_nonull['label']=='TempF') & 
    (vitals_all_nosummary_nonull['uom']=='Deg. F'),'uom']='Deg. C'

vitals_all_nosummary_nonull.loc[
    (vitals_all_nosummary_nonull['label']=='TempF') & 
    (vitals_all_nosummary_nonull['uom']=='?F'),'uom']='Deg. C'

vitals_all_nosummary_nonull.loc[
    (vitals_all_nosummary_nonull['label']=='TempF'),'label']='temperature'

vitals_all_nosummary_nonull.loc[
    (vitals_all_nosummary_nonull['label']=='TempC'),'label']='temperature'

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

time: 14.2 s

- glucose max
- glucose min
- diasBP min
- heartrate min
- meanart pressure min
- RespRate min
- SYSbp min
- TEMPC min

In [28]:
# #writing a function to aggregate for time length

# def timewindow_agg(df, label='', roundwindow= '120min', value_col='value', transform_fxn=max):
#     df['rounded_time']=pd.to_datetime(df['charttime']).dt.round(roundwindow)
#     subset_df=(df.loc[df.loc[:,'label']==label, :])

#     #test_df4.groupby(['icustay_id','rounded_time'])['value'].apply(lambda x: max(x)).sort_values() #works!test_df4
#     #getting the rows for the max value for each rounded_time. 
#     idx= subset_df.groupby(['icustay_id','rounded_time'])['value'].transform(transform_fxn) ==subset_df['value']
#     (df.loc[df.loc[:,'label']==label, :])= subset_df[idx]
#     return(df)

time: 1.6 ms

In [29]:
#erroneous value cutoff summary
## setting a conservative threshold for erroneous values to not skew my data.

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'icustay_id']==228393.0) &
                         (vitals_all_nosummary_nonull.loc[:,'label']=='Glucose') &
                         (vitals_all_nosummary_nonull.loc[:,'value']>99999), 'value'])=np.nan

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'label']=='Glucose') &
                         (vitals_all_nosummary_nonull.loc[:,'value']>99998), 'value'])=np.nan

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'label']=='Glucose') &
                         (vitals_all_nosummary_nonull.loc[:,'value']<15), 'value'])=np.nan

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'label']=='DiasBP') &
                         (vitals_all_nosummary_nonull.loc[:,'value']<15), 'value'])=np.nan

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'label']=='HeartRate') &
                         (vitals_all_nosummary_nonull.loc[:,'value'].between(1,29)), 'value'])=np.nan

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'label']=='RespRate') &
                         (vitals_all_nosummary_nonull.loc[:,'value']<4), 'value'])=np.nan

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'label']=='SysBP') &
                         (vitals_all_nosummary_nonull.loc[:,'value']<40), 'value'])=np.nan

(vitals_all_nosummary_nonull.loc[(vitals_all_nosummary_nonull.loc[:,'label']=='TempC') &
                         (vitals_all_nosummary_nonull.loc[:,'value']<28), 'value'])=np.nan

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

time: 3.69 s

In [30]:
vitals_all_nosummary_nonull = vitals_all_nosummary_nonull.loc[vitals_all_nosummary_nonull['value'].notnull(),:]#.count() #6930 NULL values

time: 1.99 s

In [31]:
pd.DataFrame(vitals_all_nosummary_nonull).to_csv(Path(
    wd+'/data/processed/%s_vitals_prepped.csv' %(date)))

time: 39.9 s

# labs -

In [32]:
#importing unit of mesurements:
def uom_sql_import(file_path):
    if isinstance(file_path, str)== True:
        f = open(Path(file_path), 'r')
    else:
        f = open(Path(str(file_path)), 'r')

    SQL = open(file_path,'r').read()
    SQL_df= pd.read_sql_query(SQL,conn)   
    return(SQL_df)

time: 5.5 ms

In [33]:
lab_uom= uom_sql_import(Path(wd+'/data/raw/clinical_var_sql/unit_of_mesurement/labs_uom.sql'))
labs_all_nosummary_72 = pd.merge(labs_all_nosummary_72, lab_uom, left_on='label', right_on='label')


del(lab_uom)
labs_all_nosummary_72= labs_all_nosummary_72.rename(
    columns={'valuenum':'value'}) #changing valuenum to value

time: 23.4 s

In [34]:
labs_all_nosummary_72.groupby('label')['uom'].value_counts() #looks good

label        uom
ALBUMIN      g/dL       10989
ANION GAP    mEq/L      63336
BANDS        %           3570
BICARBONATE  mEq/L      64298
BILIRUBIN    mg/dL      18218
BUN          mg/dL      64765
CHLORIDE     mEq/L      70621
CREATININE   mg/dL      65037
GLUCOSE      mg/dL      83862
HEMATOCRIT   %          80518
HEMOGLOBIN   g/dL       66677
LACTATE      mmol/L     34942
PLATELET     K/uL       59711
POTASSIUM    mEq/L      88479
PT           SECONDS    40594
PTT          sec        42759
SODIUM       mEq/L      73756
WBC          K/uL       58006
Name: uom, dtype: int64

time: 257 ms

In [35]:
#outliers

time: 639 µs

In [36]:
#summary value removal
(labs_all_nosummary_72.loc[
    (labs_all_nosummary_72.loc[:,'icustay_id']==261887) & 
    (labs_all_nosummary_72.loc[:,'label']=='CHLORIDE')
    & (labs_all_nosummary_72.loc[:,'value']==3.4),'value'])=np.nan

(labs_all_nosummary_72.loc[
    (labs_all_nosummary_72.loc[:,'icustay_id']==236290) & 
    (labs_all_nosummary_72.loc[:,'label']=='CHLORIDE')
    & (labs_all_nosummary_72.loc[:,'value']==11.0),'value'])=np.nan

(labs_all_nosummary_72.loc[
    (labs_all_nosummary_72.loc[:,'icustay_id']==292769) & 
    (labs_all_nosummary_72.loc[:,'label']=='INR')
    & (labs_all_nosummary_72.loc[:,'value']==28.1),'value'])=np.nan

(labs_all_nosummary_72.loc[
    (labs_all_nosummary_72.loc[:,'icustay_id']==298457) & 
    (labs_all_nosummary_72.loc[:,'label']=='INR')
    & (labs_all_nosummary_72.loc[:,'value']==48.8),'value'])=np.nan

(labs_all_nosummary_72.loc[
    (labs_all_nosummary_72.loc[:,'icustay_id']==234174) & 
    (labs_all_nosummary_72.loc[:,'label']=='INR')
    & (labs_all_nosummary_72.loc[:,'value']==48.7),'value'])=np.nan

(labs_all_nosummary_72.loc[
    (labs_all_nosummary_72.loc[:,'icustay_id']==290264) & 
    (labs_all_nosummary_72.loc[:,'label']=='INR')
    & (labs_all_nosummary_72.loc[:,'value']==42.0),'value'])=np.nan

(labs_all_nosummary_72.loc[
    (labs_all_nosummary_72.loc[:,'icustay_id']==290264) & 
    (labs_all_nosummary_72.loc[:,'label']=='INR')
    & (labs_all_nosummary_72.loc[:,'value']==22.8),'value'])=np.nan

time: 824 ms

In [37]:
labs_all_nosummary_72= labs_all_nosummary_72.loc[labs_all_nosummary_72.loc[:,'value'].notnull(),:]

time: 138 ms

In [38]:
labs_all_nosummary_72

,subject_id,hadm_id,icustay_id,charttime,label,value,t_0,delta,uom
0,9,150750,220597,2149-11-14 07:47:00,SODIUM,137.0,2149-11-13,1 days 07:47:00.000000000,mEq/L
1,9,150750,220597,2149-11-13 03:20:00,SODIUM,130.0,2149-11-13,0 days 03:20:00.000000000,mEq/L
2,9,150750,220597,2149-11-13 16:04:00,SODIUM,129.0,2149-11-13,0 days 16:04:00.000000000,mEq/L
3,9,150750,220597,2149-11-13 19:30:00,SODIUM,131.0,2149-11-13,0 days 19:30:00.000000000,mEq/L
4,9,150750,220597,2149-11-14 01:48:00,SODIUM,133.0,2149-11-13,1 days 01:48:00.000000000,mEq/L
5,9,150750,220597,2149-11-14 06:00:00,SODIUM,137.0,2149-11-13,1 days 06:00:00.000000000,mEq/L
6,19,109235,273430,2108-08-06 01:08:00,SODIUM,138.0,2108-08-06,0 days 01:08:00.000000000,mEq/L
7,19,109235,273430,2108-08-07 05:07:00,SODIUM,139.0,2108-08-06,1 days 05:07:00.000000000,mEq/L
8,19,109235,273430,2108-08-08 05:20:00,SODIUM,141.0,2108-08-06,2 days 05:20:00.000000000,mEq/L
9,21,111970,216859,2135-02-05 04:48:00,SODIUM,134.0,2135-02-05,0 days 04:48:00.000000000,mEq/L
10,21,111970,216859,2135-02-06 04:03:00,SODIUM,134.0,2135-02-05,1 days 04:03:00.000000000,mEq/L
11,36,122659,211200,2131-05-21 02:34:00,SODIUM,135.0,2131-05-21,0 days 02:34:00.000000000,mEq/L
12,36,122659,211200,2131-05-21 12:58:00,SODIUM,137.0,2131-05-21,0 days 12:58:00.000000000,mEq/L
13,36,122659,211200,2131-05-22 02:05:00,SODIUM,140.0,2131-05-21,1 days 02:05:00.000000000,mEq/L
14,36,122659,211200,2131-05-23 00:58:00,SODIUM,136.0,2131-05-21,2 days 00:58:00.000000000,mEq/L
15,26,197661,244882,2126-05-10 04:00:00,SODIUM,135.0,2126-05-10,0 days 04:00:00.000000000,mEq/L
16,26,197661,244882,2126-05-10 16:30:00,SODIUM,138.0,2126-05-10,0 days 16:30:00.000000000,mEq/L
17,26,197661,244882,2126-05-11 04:40:00,SODIUM,135.0,2126-05-10,1 days 04:40:00.000000000,mEq/L
18,26,197661,244882,2126-05-12 04:40:00,SODIUM,136.0,2126-05-10,2 days 04:40:00.000000000,mEq/L
19,33,176176,296681,2116-12-24 02:28:00,SODIUM,139.0,2116-12-24,0 days 02:28:00.000000000,mEq/L
20,33,176176,296681,2116-12-24 06:00:00,SODIUM,140.0,2116-12-24,0 days 06:00:00.000000000,mEq/L
21,33,176176,296681,2116-12-25 04:14:00,SODIUM,141.0,2116-12-24,1 days 04:14:00.000000000,mEq/L
22,33,176176,296681,2116-12-26 06:00:00,SODIUM,140.0,2116-12-24,2 days 06:00:00.000000000,mEq/L
23,31,128652,254478,2108-08-29 03:00:00,SODIUM,137.0,2108-08-29,0 days 03:00:00.000000000,mEq/L
24,31,128652,254478,2108-08-30 01:45:00,SODIUM,135.0,2108-08-29,1 days 01:45:00.000000000,mEq/L
25,25,129635,203487,2160-11-02 01:05:00,SODIUM,134.0,2160-11-02,0 days 01:05:00.000000000,mEq/L
26,25,129635,203487,2160-11-02 03:59:00,SODIUM,134.0,2160-11-02,0 days 03:59:00.000000000,mEq/L
27,25,129635,203487,2160-11-02 06:56:00,SODIUM,136.0,2160-11-02,0 days 06:56:00.000000000,mEq/L
28,25,129635,203487,2160-11-02 08:55:00,SODIUM,138.0,2160-11-02,0 days 08:55:00.000000000,mEq/L
29,25,129635,203487,2160-11-02 17:05:00,SODIUM,139.0,2160-11-02,0 days 17:05:00.000000000,mEq/L
...,...,...,...,...,...,...,...,...,...
1030697,96977,109134,250762,2115-09-19 04:50:00,BANDS,2.0,2115-09-19,0 days 04:50:00.000000000,%
1030698,96688,191615,255430,2182-07-05 04:45:00,BANDS,1.0,2182-07-04,1 days 04:45:00.000000000,%
1030699,96618,129846,276298,2112-06-28 02:09:00,BANDS,6.0,2112-06-28,0 days 02:09:00.000000000,%
1030700,96618,129846,276298,2112-06-30 04:40:00,BANDS,1.0,2112-06-28,2 days 04:40:00.000000000,%
1030701,96582,117947,293775,2156-05-29 00:15:00,BANDS,24.0,2156-05-29,0 days 00:15:00.000000000,%
1030702,97144,109999,290949,2187-02-09 01:02:00,BANDS,1.0,2187-02-08,1 days 01:02:00.000000000,%
1030703,97353,115122,251342,2121-05-03 04:50:00,BANDS,1.0,2121-05-03,0 days 04:50:00.000000000,%
1030704,97263,164631,223670,2122-01-16 02:39:00,BANDS,4.0,2122-01-16,0 days 02:39:00.000000000,%
1030705,96793,105895,262272,2196-02-12 00:24:00,BANDS,5.0,2196-02-12,0 days 00:24:00.000000000,%
1030706,97042,159950,299545,2195-04-19 00:00:00,BANDS,1.0,2195-04-19,0 days 00:00:00.000000000,%
1030707,97032,128262,216099,2106-07-10 02:22:00,BANDS,3.0,2106-07-10,0 days 02:22:00.000000000,%
1030708,97032,128262,216099,2106-07-10 03:30:00,BANDS,11.0,2106-07-10,0 days 03:30:00.000000000,%
1030709,97037,129694,287246,2117-03-07 02:32:00,BANDS,7.0,2117-03-07,0 days 02:32:00.000000000,%
1030710,97037,129694,287246,2117-03-08 03:04:00,BANDS,2.0,2117-03-07,1 days 03:04:00.000000000,%
1030711,99231,102589,248518,2149-11-07 05:11:00,BANDS,10.0,2149-11-07,0 days 05:11:00.000000000,%
1030712,99231,151778,205979,2150-01-11 15:29:00,BANDS,6.0,2150-01-11,0 days 15:29:00.000000000,%
1030713,99231,151778,205979,2150-01-12 05:03:00,BANDS,4.0,2150-01-11,1 days 05:03:00.000000000,%
1030714,99231,156779,256018,2149-11-24 04:22:00,BANDS,8.0,2149-11-24,0 days 04:22:00.000000000,%
1030715,99231,156779,256018,2149-11-25 09:00:00,BANDS,2.0,2149-11-24,1 days 09:00:00.000000000,%
1030716,99231,156779,256018,2149-11-26 04:58:00,BANDS,2.0,2149-11-24,2 days 04:58:00.000000000,%
1030717,99197,145322,295189,2124-01-01 10:55:00,BANDS,1.0,2123-12-30,2 days 10:55:00.000000000,%
1030718,98864,124860,201555,2168-10-09 05:40:00,BANDS,1.0,2168-10-09,0 days 05:40:00.000000000,%
1030719,98864,124860,201555,2168-10-11 03:35:00,BANDS,1.0,2168-10-09,2 days 03:35:00.000000000,%
1030720,98864,124860,201555,2168-10-11 23:50:00,BANDS,1.0,2168-10-09,2 days 23:50:00.000000000,%
1030721,98829,109917,216993,2153-05-01 16:05:00,BANDS,50.0,2153-05-01,0 days 16:05:00.000000000,%
1030722,98829,109917,216993,2153-05-02 01:29:00,BANDS,54.0,2153-05-01,1 days 01:29:00.000000000,%
1030723,98790,187987,278188,2200-10-16 07:15:00,BANDS,4.0,2200-10-15,1 days 07:15:00.000000000,%
1030724,98999,120075,280102,2199-09-01 01:54:00,BANDS,15.0,2199-09-01,0 days 01:54:00.000000000,%
1030725,99230,158319,285123,2131-01-24 01:50:00,BANDS,3.0,2131-01-24,0 days 01:50:00.000000000,%
1030726,99135,165108,279162,2133-01-06 05:38:00,BANDS,2.0,2133-01-06,0 days 05:38:00.000000000,%

time: 78.8 ms

In [39]:
#removing unwanted values
unwanted_values= ['HEMATOCRIT','ANION GAP','PT','ALBUMIN']
labs_all_nosummary_72= labs_all_nosummary_72.loc[~labs_all_nosummary_72.loc[:,'label'].isin(unwanted_values),:]

time: 112 ms

In [40]:
pd.DataFrame(labs_all_nosummary_72).to_csv(Path(
    wd+'/data/processed/%s_labs_prepped.csv' %(date)))

time: 6.78 s

## vent category -

In [41]:
ventcategory_df['uom']='mech/O2/none category'
#ventcategory_df['dtype']= 'factor'
ventcategory_df.head()

   icustay_id         t_0 vent_day1 vent_day2 vent_day3                    uom
0    267059.0  2182-11-12      Mech      None      None  mech/O2/none category
1    278729.0  2159-11-08    Oxygen      Mech      None  mech/O2/none category
2    219670.0  2190-08-01    Oxygen      None      None  mech/O2/none category
3    295185.0  2154-11-11    Oxygen      None      None  mech/O2/none category
4    211472.0  2193-12-11      None      None      None  mech/O2/none category

time: 16.8 ms

In [42]:
ventcategory_df

,icustay_id,t_0,vent_day1,vent_day2,vent_day3,uom
0,267059.0,2182-11-12,Mech,None,None,mech/O2/none category
1,278729.0,2159-11-08,Oxygen,Mech,None,mech/O2/none category
2,219670.0,2190-08-01,Oxygen,None,None,mech/O2/none category
3,295185.0,2154-11-11,Oxygen,None,None,mech/O2/none category
4,211472.0,2193-12-11,None,None,None,mech/O2/none category
5,259012.0,2120-05-24,None,None,None,mech/O2/none category
6,231735.0,2186-04-13,Oxygen,Oxygen,None,mech/O2/none category
7,252135.0,2166-04-13,Oxygen,Oxygen,Oxygen,mech/O2/none category
8,293255.0,2167-10-21,Oxygen,None,None,mech/O2/none category
9,261279.0,2167-10-26,None,None,None,mech/O2/none category
10,274352.0,2132-07-28,Mech,None,None,mech/O2/none category
11,273581.0,2182-02-03,Oxygen,None,None,mech/O2/none category
12,290264.0,2187-03-02,None,None,None,mech/O2/none category
13,226877.0,2181-10-13,Oxygen,None,None,mech/O2/none category
14,233208.0,2151-10-05,Oxygen,None,None,mech/O2/none category
15,299132.0,2168-10-21,Mech,None,None,mech/O2/none category
16,230775.0,2143-03-10,None,None,None,mech/O2/none category
17,294366.0,2119-09-29,Oxygen,None,Oxygen,mech/O2/none category
18,221510.0,2126-06-14,None,None,None,mech/O2/none category
19,237561.0,2107-01-22,None,None,None,mech/O2/none category
20,251526.0,2129-12-20,None,None,None,mech/O2/none category
21,262800.0,2136-10-04,None,None,None,mech/O2/none category
22,242513.0,2176-04-22,None,None,None,mech/O2/none category
23,277353.0,2111-12-12,None,None,None,mech/O2/none category
24,294503.0,2169-05-26,None,None,None,mech/O2/none category
25,286106.0,2166-12-24,Oxygen,None,None,mech/O2/none category
26,273661.0,2186-05-04,None,None,None,mech/O2/none category
27,205636.0,2144-06-08,None,None,None,mech/O2/none category
28,299961.0,2108-10-07,None,Mech,None,mech/O2/none category
29,226842.0,2189-06-23,None,None,None,mech/O2/none category
...,...,...,...,...,...,...
15177,223816.0,2147-07-11,Oxygen,None,None,mech/O2/none category
15178,275132.0,2175-03-08,Oxygen,None,None,mech/O2/none category
15179,284258.0,2198-09-23,None,None,None,mech/O2/none category
15180,275542.0,2108-06-16,None,None,None,mech/O2/none category
15181,294453.0,2133-11-10,None,None,None,mech/O2/none category
15182,214103.0,2101-05-12,None,None,None,mech/O2/none category
15183,279108.0,2195-02-12,None,None,None,mech/O2/none category
15184,236571.0,2151-08-20,None,None,None,mech/O2/none category
15185,271107.0,2138-04-30,None,None,None,mech/O2/none category
15186,298923.0,2155-07-28,Oxygen,None,None,mech/O2/none category
15187,288216.0,2183-01-09,None,None,None,mech/O2/none category
15188,270500.0,2198-05-11,None,None,None,mech/O2/none category
15189,239891.0,2151-06-05,None,None,None,mech/O2/none category
15190,257200.0,2168-12-05,None,None,None,mech/O2/none category
15191,293249.0,2169-04-05,None,Oxygen,None,mech/O2/none category
15192,286243.0,2146-01-17,Oxygen,Oxygen,Oxygen,mech/O2/none category
15193,278806.0,2108-02-03,None,None,None,mech/O2/none category
15194,266579.0,2149-08-19,None,None,None,mech/O2/none category
15195,235223.0,2196-05-09,Oxygen,None,None,mech/O2/none category
15196,247313.0,2199-01-30,None,None,None,mech/O2/none category
15197,231926.0,2165-10-14,None,None,None,mech/O2/none category
15198,211386.0,2184-05-23,Mech,None,None,mech/O2/none category
15199,219792.0,2167-03-06,Oxygen,None,None,mech/O2/none category
15200,210204.0,2163-03-18,None,None,None,mech/O2/none category
15201,298751.0,2104-10-27,Oxygen,None,None,mech/O2/none category
15202,272407.0,2139-04-19,None,Oxygen,None,mech/O2/none category
15203,264035.0,2127-01-16,Oxygen,None,None,mech/O2/none category
15204,209756.0,2192-12-06,Oxygen,None,None,mech/O2/none category
15205,263506.0,2149-11-22,Oxygen,None,None,mech/O2/none category
15206,275774.0,2126-03-21,None,Mech,Mech,mech/O2/none category

time: 43 ms

In [43]:
#melting value columns into long format
ventcategory_df= ventcategory_df.melt(
    id_vars=['icustay_id','uom','t_0'],
    var_name='label',
    value_name='value')

#adding a delta column
ventcategory_df['delta']= np.nan
ventcategory_df.loc[ventcategory_df['label']=='vent_day1','delta']= pd.to_timedelta(0,'days')
ventcategory_df.loc[ventcategory_df['label']=='vent_day2','delta']= pd.to_timedelta(1,'days')
ventcategory_df.loc[ventcategory_df['label']=='vent_day3','delta']= pd.to_timedelta(2,'days')

time: 87 ms

In [44]:
ventcategory_df.head()

,icustay_id,uom,t_0,label,value,delta
0,267059.0,mech/O2/none category,2182-11-12,vent_day1,Mech,0 days 00:00:00
1,278729.0,mech/O2/none category,2159-11-08,vent_day1,Oxygen,0 days 00:00:00
2,219670.0,mech/O2/none category,2190-08-01,vent_day1,Oxygen,0 days 00:00:00
3,295185.0,mech/O2/none category,2154-11-11,vent_day1,Oxygen,0 days 00:00:00
4,211472.0,mech/O2/none category,2193-12-11,vent_day1,None,0 days 00:00:00

time: 33.5 ms

In [45]:
#collapsing into 1 column for 3 days

time: 561 µs

In [117]:
def vent_day_collapser(x):
    if 'Mech' in list(x.unique()):
        x= 'Mech'
    elif 'Oxygen' in list(x.unique()):
        x= 'Oxygen'
    else:
        x='None'
        
    return(x)

time: 7.88 ms

In [118]:
ventcategory_1day_df= ventcategory_df
ventcategory_1day_df['value']=ventcategory_df.groupby('icustay_id',as_index=False)['value'].transform(vent_day_collapser)
ventcategory_1day_test= ventcategory_1day_df.drop_duplicates(['icustay_id','value']).sort_values('icustay_id') #
ventcategory_1day_test= ventcategory_1day_test.loc[ventcategory_1day_test.loc[:,'icustay_id'].isin(icustay_id),:] #had icustay ids not in final cohort
ventcategory_1day_test['label']= 'vent_recieved'

time: 16.3 s

In [134]:
pd.DataFrame(ventcategory_1day_df).to_csv(Path(
    wd+'/data/processed/%s_ventcategory_prepped.csv' %(date)))

time: 422 ms

## weight and height firstday -
i explored weightdurations and it had more missing values than weightfirstday, so i will use that. we can revisit this if we need longitudinal weights

In [50]:
weightfirstday_df['uom']='kg'

time: 2.18 ms

In [51]:
weightfirstday_df.head()  
#weight column is the conglomerate of weight_admin>weight_daily> weight_echoinhosp> weight_echoprehosp

,icustay_id,weight,weight_admit,weight_daily,weight_echoinhosp,weight_echoprehosp,uom
7,200012,51.2,51.200001,51.200001,NaN,NaN,kg
8,200014,62.0,62.000000,NaN,NaN,NaN,kg
10,200019,65.0,65.000000,NaN,NaN,NaN,kg
16,200030,113.6,113.599998,113.599998,NaN,NaN,kg
18,200033,74.0,74.000000,NaN,NaN,NaN,kg

time: 16.8 ms

In [52]:
weightfirstday_df= weightfirstday_df[weightfirstday_df['weight'].notnull()]
weightfirstday_df= weightfirstday_df[['icustay_id','weight','uom']]

time: 6.16 ms

In [53]:
weightfirstday_df['label']= 'weight'
weightfirstday_df=weightfirstday_df.rename(index=str, columns={'weight':'value'})

#adding the assumed first day delta column to standardize all columns
weightfirstday_df['delta']=pd.to_timedelta(0,'days')

#adding t_0
weightfirstday_df= pd.merge(weightfirstday_df, final_pt_df2[['icustay_id','t_0']], left_on='icustay_id', right_on='icustay_id')

time: 119 ms

In [54]:
pd.DataFrame(weightfirstday_df).to_csv(Path(
    wd+'/data/processed/%s_weight_prepped.csv' %(date)))

time: 284 ms

In [55]:
heightfirstday_df['uom']='cm'

time: 2.69 ms

In [56]:
heightfirstday_df= heightfirstday_df[heightfirstday_df['height'].notnull()]
heightfirstday_df= heightfirstday_df[['icustay_id','height','uom']]

time: 4.96 ms

In [57]:
heightfirstday_df['label']= 'height'
heightfirstday_df=heightfirstday_df.rename(index=str, columns={'height':'value'})

#adding the assumed first day delta column to standardize all columns
heightfirstday_df['delta']=pd.to_timedelta(0,'days')
#adding t_0
heightfirstday_df= pd.merge(heightfirstday_df, final_pt_df2[['icustay_id','t_0']], left_on='icustay_id', right_on='icustay_id')

time: 65.3 ms

In [58]:
# pd.DataFrame(heightfirstday_df).to_csv(Path(
#     wd+'/data/processed/%s_height_prepped.csv' %(date)))

time: 526 µs

# UTI

In [59]:
uti_all_72['value'].unique()#seems good

array(['NEG', 'MOD', 'TR', 'POS', 'SM', 'LG', 'SMALL', ' '], dtype=object)

time: 18 ms

In [60]:
uti_all_72_pos= uti_all_72.loc[(uti_all_72.loc[:,'value']!='NEG')&
               uti_all_72.loc[:,'value'].notnull(),:]
uti_all_72_pos= uti_all_72_pos.drop_duplicates(subset=['hadm_id','value','charttime'])

time: 108 ms

In [61]:
uti_all_72_pos.head()

,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,label,fluid,category,loinc_code,icd9_code,t_0,delta
484,109,139061.0,51486,2141-09-11 09:15:00,MOD,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,40301,2141-09-11,0 days 09:15:00.000000000
674,117,164853.0,51486,2133-11-30 17:54:00,TR,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,570,2133-11-30,0 days 17:54:00.000000000
806,117,164853.0,51487,2133-11-30 17:54:00,POS,NaN,NaN,Nitrite,Urine,Hematology,5802-4,570,2133-11-30,0 days 17:54:00.000000000
1429,191,136614.0,51486,2196-04-12 19:15:00,MOD,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,51881,2196-04-12,0 days 19:15:00.000000000
1584,202,108295.0,51486,2145-10-22 05:39:00,MOD,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,0389,2145-10-22,0 days 05:39:00.000000000

time: 41.3 ms

In [62]:
uti_all_72_pos['label'].unique()

array(['Leukocytes', 'Nitrite'], dtype=object)

time: 3.14 ms

In [63]:
uti_nit_pos= uti_all_72_pos[uti_all_72_pos['label']=="Nitrite"]
uti_leuk_pos= uti_all_72_pos[uti_all_72_pos['label']=="Leukocytes"]

time: 6.02 ms

In [155]:
###coding any positive leukocyte or nitrate between day 1,2 or 3 for all patients. if time granularity is later needed for models, need to revisit this data to get the exact delta value

def uti_categorization(final_pt_df2):
    
    nit_df_3dayannotation= final_pt_df2[['subject_id','hadm_id','t_0']]
    nit_df_3dayannotation['uti_day1']='Neg/Not_tested'
    nit_df_3dayannotation['uti_day2']='Neg/Not_tested' 
    nit_df_3dayannotation['uti_day3']='Neg/Not_tested' 
    
    leuk_df_3dayannotation= final_pt_df2[['subject_id','hadm_id','t_0']]
    leuk_df_3dayannotation['uti_day1']='Neg/Not_tested'
    leuk_df_3dayannotation['uti_day2']='Neg/Not_tested' 
    leuk_df_3dayannotation['uti_day3']='Neg/Not_tested' 

    leuk_pos_1= uti_leuk_pos.loc[uti_leuk_pos['delta'].between('0 days','1 days'),'hadm_id'].tolist()
    leuk_pos_2= uti_leuk_pos.loc[uti_leuk_pos['delta'].between('1 days','2 days'),'hadm_id'].tolist()
    leuk_pos_3= uti_leuk_pos.loc[uti_leuk_pos['delta'].between('2 days','3 days'),'hadm_id'].tolist()
    
    nit_pos_1= uti_nit_pos.loc[uti_nit_pos['delta'].between('0 days','1 days'),'hadm_id'].tolist()
    nit_pos_2= uti_nit_pos.loc[uti_nit_pos['delta'].between('1 days','2 days'),'hadm_id'].tolist()
    nit_pos_3= uti_nit_pos.loc[uti_nit_pos['delta'].between('2 days','3 days'),'hadm_id'].tolist()
    
#     both_pos_1= list(set(leuk_pos_1) & set(nit_pos_1))
#     both_pos_2= list(set(leuk_pos_2) & set(nit_pos_2))
#     both_pos_3= list(set(leuk_pos_3) & set(nit_pos_3))

    leuk_df_3dayannotation.loc[leuk_df_3dayannotation.loc[:,'hadm_id'].isin(leuk_pos_1),'uti_day1']='pos'
    leuk_df_3dayannotation.loc[leuk_df_3dayannotation.loc[:,'hadm_id'].isin(leuk_pos_2),'uti_day2']='pos'
    leuk_df_3dayannotation.loc[leuk_df_3dayannotation.loc[:,'hadm_id'].isin(leuk_pos_3),'uti_day3']='pos'
    
    nit_df_3dayannotation.loc[nit_df_3dayannotation.loc[:,'hadm_id'].isin(nit_pos_1),'uti_day1']='pos'
    nit_df_3dayannotation.loc[nit_df_3dayannotation.loc[:,'hadm_id'].isin(nit_pos_2),'uti_day2']='pos'
    nit_df_3dayannotation.loc[nit_df_3dayannotation.loc[:,'hadm_id'].isin(nit_pos_3),'uti_day3']='pos'
    
#     uti_df_3dayannotation.loc[uti_df_3dayannotation.loc[:,'hadm_id'].isin(both_pos_1),'uti_day1']='both_pos'
#     uti_df_3dayannotation.loc[uti_df_3dayannotation.loc[:,'hadm_id'].isin(both_pos_2),'uti_day2']='both_pos'
#     uti_df_3dayannotation.loc[uti_df_3dayannotation.loc[:,'hadm_id'].isin(both_pos_3),'uti_day3']='both_pos'
    
    return(leuk_df_3dayannotation, nit_df_3dayannotation)

time: 53 ms

In [156]:
leuk_categorization, nit_categorization= uti_categorization(final_pt_df2)

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

time: 577 ms

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [143]:
leuk_categorization

,subject_id,hadm_id,t_0,uti_day1,uti_day2,uti_day3
0,24915,194424,2182-11-12,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
1,24942,178112,2159-11-08,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
2,24968,120350,2190-08-01,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
3,24776,139951,2154-11-11,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
4,24714,163632,2193-12-11,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
5,24824,194281,2120-05-24,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
7,24837,100949,2166-04-13,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
8,24785,174027,2167-10-21,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
9,24785,124880,2167-10-26,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
10,24675,147305,2132-07-28,leuk_Pos,Neg/Not_tested,Neg/Not_tested
12,24703,134412,2187-03-02,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
13,24813,117034,2181-10-13,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
14,24682,196055,2151-10-05,leuk_Pos,leuk_Pos,Neg/Not_tested
15,24746,157301,2168-10-21,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
16,24687,149107,2143-03-10,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
18,24174,131096,2126-06-14,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
19,24178,181155,2107-01-22,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
20,24235,103356,2129-12-20,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
21,24253,107741,2136-10-04,leuk_Pos,Neg/Not_tested,Neg/Not_tested
22,24083,100543,2176-04-22,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
23,24129,106633,2111-12-12,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
24,24152,122642,2169-05-26,Neg/Not_tested,Neg/Not_tested,leuk_Pos
25,24263,158068,2166-12-24,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
26,24172,103195,2186-05-04,leuk_Pos,Neg/Not_tested,Neg/Not_tested
27,24190,137329,2144-06-08,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
28,24244,165022,2108-10-07,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
29,24150,112395,2189-06-23,leuk_Pos,Neg/Not_tested,Neg/Not_tested
30,24177,106014,2158-07-13,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
31,24096,135187,2181-10-11,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
32,24181,154701,2186-06-24,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
...,...,...,...,...,...,...
15177,23873,119636,2147-07-11,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15178,23829,133755,2175-03-08,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15179,24902,123373,2198-09-23,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15180,24865,113488,2108-06-16,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15181,24697,142161,2133-11-10,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15182,24725,145202,2101-05-12,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15183,24714,104436,2195-02-12,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15184,24676,114834,2151-08-20,leuk_Pos,Neg/Not_tested,Neg/Not_tested
15185,24884,163701,2138-04-30,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15186,24803,148478,2155-07-28,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15187,24810,143994,2183-01-09,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15188,24852,108105,2198-05-11,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15189,24676,190103,2151-06-05,Neg/Not_tested,leuk_Pos,Neg/Not_tested
15190,24747,100283,2168-12-05,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15191,24965,195847,2169-04-05,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15192,24687,175749,2146-01-17,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15193,24731,164338,2108-02-03,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15194,24808,105963,2149-08-19,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15195,24871,164597,2196-05-09,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15196,24851,111571,2199-01-30,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15197,24903,165767,2165-10-14,leuk_Pos,Neg/Not_tested,leuk_Pos
15198,24761,175628,2184-05-23,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15199,24806,165338,2167-03-06,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15200,24825,129347,2163-03-18,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15201,24777,131909,2104-10-27,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15202,24800,109340,2139-04-19,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15203,24814,193065,2127-01-16,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15204,24774,182354,2192-12-06,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15205,24808,115642,2149-11-22,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested
15206,24723,145196,2126-03-21,Neg/Not_tested,Neg/Not_tested,Neg/Not_tested

time: 20.5 ms

In [157]:
def uti_melt(uti_categorization):
    #melting value columns into long format
    uti_categorization= uti_categorization.melt(
        id_vars=['subject_id','hadm_id','t_0'],
        var_name='label',
        value_name='value')

    #adding a delta column
    uti_categorization['delta']= np.nan
    uti_categorization.loc[uti_categorization['label']=='uti_day1','delta']= pd.to_timedelta(0,'days')
    uti_categorization.loc[uti_categorization['label']=='uti_day2','delta']= pd.to_timedelta(1,'days')
    uti_categorization.loc[uti_categorization['label']=='uti_day3','delta']= pd.to_timedelta(2,'days')
    
    #adding icustay_id
    uti_categorization= pd.merge(uti_categorization,final_pt_df2[['icustay_id','hadm_id']], left_on='hadm_id', right_on='hadm_id')
    return(uti_categorization)

time: 9.75 ms

In [158]:
leuk_melt= uti_melt(leuk_categorization)
nit_melt= uti_melt(nit_categorization)

leuk_melt['uom']='pos/neg category'
nit_melt['uom']='pos/neg category'

time: 121 ms

In [163]:
nit_melt['value'].value_counts()

Neg/Not_tested    43565
pos                 439
Name: value, dtype: int64

time: 7.17 ms

In [167]:
leuk_melt['label'].value_counts()

uti_day1    14668
uti_day3    14668
uti_day2    14668
Name: label, dtype: int64

time: 7.5 ms

### collapsing into 1 day

In [166]:
def uti_window_categorizer(x):
    if 'pos' in list(x.unique()):
        x= 'pos'
    elif 'Neg/Not_tested' in list(x.unique()):
        x= 'Neg/Not_tested'

    return(x)

#ventcategory_1day_df=ventcategory_df.groupby('icustay_id',as_index=False)['value'].transform(vent_day_collapser)

def uti_day_collapser(uti_melt):
    uti_1day_df= uti_melt
    uti_1day_df['value']=uti_melt.groupby('icustay_id',as_index=False)['value'].transform(uti_window_categorizer)
    uti_1day_df= uti_1day_df.drop_duplicates(['icustay_id','value']).sort_values('icustay_id') #
    uti_1day_df= uti_1day_df.loc[uti_1day_df.loc[:,'icustay_id'].isin(icustay_id),:] #had icustay ids not in final cohort
    return(uti_1day_df)

time: 10.9 ms

In [171]:
leuk_melt_1day= uti_day_collapser(leuk_melt)
leuk_melt_1day['label']= 'leukocyte'

nit_melt_1day= uti_day_collapser(nit_melt)
nit_melt_1day['label']= 'leukocyte'

time: 31.3 s

In [170]:
leuk_melt_1day

,subject_id,hadm_id,t_0,label,value,delta,icustay_id,uom
4383,28448,177527,2153-12-23,leukocyte,Neg/Not_tested,0 days 00:00:00,200012.0,pos/neg category
33315,9514,127229,2105-02-17,leukocyte,Neg/Not_tested,0 days 00:00:00,200014.0,pos/neg category
42339,21789,112486,2178-07-09,leukocyte,Neg/Not_tested,0 days 00:00:00,200019.0,pos/neg category
37095,14987,165426,2150-11-14,leukocyte,Neg/Not_tested,0 days 00:00:00,200030.0,pos/neg category
13725,56369,198650,2198-08-11,leukocyte,Neg/Not_tested,0 days 00:00:00,200033.0,pos/neg category
33258,9960,159243,2181-08-27,leukocyte,Neg/Not_tested,0 days 00:00:00,200036.0,pos/neg category
1359,25225,147080,2179-03-17,leukocyte,Neg/Not_tested,0 days 00:00:00,200055.0,pos/neg category
3825,28494,199133,2198-02-10,leukocyte,Neg/Not_tested,0 days 00:00:00,200059.0,pos/neg category
18930,74282,121149,2134-01-24,leukocyte,Neg/Not_tested,0 days 00:00:00,200061.0,pos/neg category
26340,99052,129142,2141-03-12,leukocyte,Neg/Not_tested,0 days 00:00:00,200063.0,pos/neg category
40398,19891,112840,2120-03-23,leukocyte,Neg/Not_tested,0 days 00:00:00,200065.0,pos/neg category
16701,67800,132255,2159-09-24,leukocyte,Neg/Not_tested,0 days 00:00:00,200075.0,pos/neg category
3693,27961,142745,2131-08-02,leukocyte,Neg/Not_tested,0 days 00:00:00,200078.0,pos/neg category
6789,31854,136158,2185-08-15,leukocyte,Neg/Not_tested,0 days 00:00:00,200091.0,pos/neg category
4965,30284,136554,2113-10-28,leukocyte,Neg/Not_tested,0 days 00:00:00,200095.0,pos/neg category
34584,11228,167826,2193-06-19,leukocyte,Neg/Not_tested,0 days 00:00:00,200102.0,pos/neg category
11769,50772,192069,2110-12-10,leukocyte,Neg/Not_tested,0 days 00:00:00,200108.0,pos/neg category
40917,20528,132580,2140-07-23,leukocyte,pos,0 days 00:00:00,200112.0,pos/neg category
15207,61654,164386,2198-03-20,leukocyte,Neg/Not_tested,0 days 00:00:00,200116.0,pos/neg category
34440,11018,104650,2148-12-02,leukocyte,Neg/Not_tested,0 days 00:00:00,200124.0,pos/neg category
19182,76993,180630,2126-12-14,leukocyte,Neg/Not_tested,0 days 00:00:00,200126.0,pos/neg category
16746,68128,189927,2145-10-13,leukocyte,Neg/Not_tested,0 days 00:00:00,200135.0,pos/neg category
31230,6338,146793,2174-03-26,leukocyte,Neg/Not_tested,0 days 00:00:00,200136.0,pos/neg category
2718,27874,193876,2197-01-18,leukocyte,pos,0 days 00:00:00,200140.0,pos/neg category
24075,93071,197473,2143-10-15,leukocyte,Neg/Not_tested,0 days 00:00:00,200141.0,pos/neg category
24492,94414,170244,2191-04-03,leukocyte,pos,0 days 00:00:00,200143.0,pos/neg category
19362,76327,176858,2148-06-27,leukocyte,Neg/Not_tested,0 days 00:00:00,200150.0,pos/neg category
2787,27499,191644,2132-08-03,leukocyte,Neg/Not_tested,0 days 00:00:00,200173.0,pos/neg category
35778,13835,127890,2160-03-14,leukocyte,Neg/Not_tested,0 days 00:00:00,200188.0,pos/neg category
19344,76012,191578,2160-11-22,leukocyte,Neg/Not_tested,0 days 00:00:00,200191.0,pos/neg category
...,...,...,...,...,...,...,...,...
40665,18978,123329,2103-05-09,leukocyte,pos,0 days 00:00:00,299806.0,pos/neg category
17319,69604,167584,2123-02-20,leukocyte,Neg/Not_tested,0 days 00:00:00,299811.0,pos/neg category
9918,45460,133737,2172-02-27,leukocyte,Neg/Not_tested,0 days 00:00:00,299826.0,pos/neg category
3492,28161,169787,2179-03-31,leukocyte,Neg/Not_tested,0 days 00:00:00,299828.0,pos/neg category
24978,92281,164460,2119-11-07,leukocyte,Neg/Not_tested,0 days 00:00:00,299832.0,pos/neg category
15264,61565,170566,2100-11-05,leukocyte,pos,0 days 00:00:00,299833.0,pos/neg category
27324,781,163526,2117-11-14,leukocyte,Neg/Not_tested,0 days 00:00:00,299840.0,pos/neg category
43890,23857,182768,2124-11-13,leukocyte,Neg/Not_tested,0 days 00:00:00,299852.0,pos/neg category
25977,95830,179082,2101-01-16,leukocyte,Neg/Not_tested,0 days 00:00:00,299853.0,pos/neg category
17205,68941,111436,2129-03-19,leukocyte,Neg/Not_tested,0 days 00:00:00,299858.0,pos/neg category
5520,31011,104948,2154-12-15,leukocyte,Neg/Not_tested,0 days 00:00:00,299863.0,pos/neg category
16131,66165,131060,2159-06-03,leukocyte,Neg/Not_tested,0 days 00:00:00,299880.0,pos/neg category
8985,42148,113780,2165-05-25,leukocyte,Neg/Not_tested,0 days 00:00:00,299883.0,pos/neg category
36336,14558,116855,2117-12-07,leukocyte,Neg/Not_tested,0 days 00:00:00,299886.0,pos/neg category
35190,12026,147849,2128-04-10,leukocyte,Neg/Not_tested,0 days 00:00:00,299888.0,pos/neg category
11070,50391,129058,2186-11-27,leukocyte,Neg/Not_tested,0 days 00:00:00,299901.0,pos/neg category
6264,31252,116108,2111-06-18,leukocyte,Neg/Not_tested,0 days 00:00:00,299903.0,pos/neg category
12330,54247,172679,2121-07-21,leukocyte,Neg/Not_tested,0 days 00:00:00,299913.0,pos/neg category
8781,42919,126015,2141-08-17,leukocyte,Neg/Not_tested,0 days 00:00:00,299914.0,pos/neg category
3717,28317,156424,2151-06-29,leukocyte,Neg/Not_tested,0 days 00:00:00,299917.0,pos/neg category
5685,30616,191434,2162-02-03,leukocyte,pos,0 days 00:00:00,299919.0,pos/neg category
16248,66696,183226,2119-05-26,leukocyte,Neg/Not_tested,0 days 00:00:00,299948.0,pos/neg category
26205,98649,110990,2122-06-21,leukocyte,Neg/Not_tested,0 days 00:00:00,299950.0,pos/neg category
37296,14330,162631,2113-05-02,leukocyte,Neg/Not_tested,0 days 00:00:00,299955.0,pos/neg category
14130,58128,108958,2177-05-29,leukocyte,Neg/Not_tested,0 days 00:00:00,299956.0,pos/neg category
75,24244,165022,2108-10-07,leukocyte,Neg/Not_tested,0 days 00:00:00,299961.0,pos/neg category
35094,11776,161707,2190-02-03,leukocyte,Neg/Not_tested,0 days 00:00:00,299988.0,pos/neg category
35466,13083,186679,2105-11-22,leukocyte,Neg/Not_tested,0 days 00:00:00,299992.0,pos/neg category
33648,10718,177406,2114-12-13,leukocyte,Neg/Not_tested,0 days 00:00:00,299994.0,pos/neg category
3531,28775,134959,2116-03-05,leukocyte,Neg/Not_tested,0 days 00:00:00,299995.0,pos/neg category

time: 27.8 ms

In [70]:
# pd.DataFrame(uti_all_72_notnull).to_csv(Path(
#     wd+'/data/processed/%s_uti_all_72_notnull.csv' %(date)))

# pd.DataFrame(uti_categorization).to_csv(Path( 
#     wd+'/data/processed/%s_uti_prepped.csv' %(date)))   #retired 11/14/18 and split into leuk/nit seperate df's for 1 day. 

pd.DataFrame(nit_melt_1day).to_csv(Path(
    wd+'/data/processed/%s_uti_prepped.csv' %(date)))

pd.DataFrame(nit_melt_1day).to_csv(Path(
    wd+'/data/processed/%s_uti_prepped.csv' %(date)))

time: 576 ms

# bloodgas

In [71]:
# bg_all_nosummary_72=pd.read_csv(Path(
#     wd+'/data/raw/csv/72_hr_window/27082018_bg_all_nosummary_72.csv'), index_col=0)

time: 911 µs

In [72]:
bg_all_nosummary_72= bg_all_nosummary_72.loc[bg_all_nosummary_72['value'].notnull(),:]
bg_all_nosummary_72 = bg_all_nosummary_72.rename(index=str, columns={'valueuom':'uom'})
bg_all_nosummary_72= bg_all_nosummary_72.loc[~(bg_all_nosummary_72.loc[:,'value']=='.'),:]

#may need to remove outliers, haven't done as of 10/22/18
bg_all_nosummary_72.head()

,subject_id,hadm_id,icustay_id,charttime,label,valuenum,value,uom,unique_var,t_0,delta
82,9,150750,220597,2149-11-13 03:34:00,BASEEXCESS,NaN,-1,mEq/L,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
83,9,150750,220597,2149-11-13 03:34:00,CALCIUM,1.05,1.05,mmol/L,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
84,9,150750,220597,2149-11-13 03:34:00,LACTATE,1.80,1.8,mmol/L,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
85,9,150750,220597,2149-11-13 03:34:00,PCO2,34.00,34,mm Hg,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
86,9,150750,220597,2149-11-13 03:34:00,PH,7.42,7.42,units,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000

time: 982 ms

#### erroneous value removal

NOTE: these are hard coded to positioning. if anything in the bg_all_nosummary is changed than these positions need to be updated.

In [73]:
##calcium
#fixing the calcium errors w/o hard coding
(bg_all_nosummary_72.loc[
    (bg_all_nosummary_72.loc[:,'icustay_id']==249571) & 
    (bg_all_nosummary_72.loc[:,'label']=='CALCIUM')
    & (bg_all_nosummary_72.loc[:,'valuenum']==94.00),'valuenum'])=0.94#.where('valuenum'==94.00))

(bg_all_nosummary_72.loc[
    (bg_all_nosummary_72.loc[:,'icustay_id']==249571) & 
    (bg_all_nosummary_72.loc[:,'label']=='CALCIUM')
    & (bg_all_nosummary_72.loc[:,'value']=='094'),'value'])=0.94#.where('valuenum'==94.00))


(bg_all_nosummary_72.loc[
    (bg_all_nosummary_72.loc[:,'icustay_id']==219600) & 
    (bg_all_nosummary_72.loc[:,'label']=='CALCIUM')
    & (bg_all_nosummary_72.loc[:,'valuenum']==97.00),'valuenum'])=0.97#.where('valuenum'==94.00))

(bg_all_nosummary_72.loc[
    (bg_all_nosummary_72.loc[:,'icustay_id']==219600) & 
    (bg_all_nosummary_72.loc[:,'label']=='CALCIUM')
    & (bg_all_nosummary_72.loc[:,'value']=='097'),'value'])=0.97#.where('valuenum'==94.00))

time: 576 ms

In [74]:
##min chloride
#converting it to a null value without hard coding
(bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'icustay_id']==261887.0) &
                         (bg_all_nosummary_72.loc[:,'label']=='CHLORIDE') &
                         (bg_all_nosummary_72.loc[:,'valuenum']==3.4),'value'])=np.nan
#converting it to a null value without hard coding
(bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'icustay_id']==261887.0) &
                         (bg_all_nosummary_72.loc[:,'label']=='CHLORIDE') &
                         (bg_all_nosummary_72.loc[:,'valuenum']==3.4),'valuenum'])=np.nan

#changing the values without hard coding. 
(bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'icustay_id']==236290.0) &
                         (bg_all_nosummary_72.loc[:,'label']=='CHLORIDE') &
                         (bg_all_nosummary_72.loc[:,'valuenum']==11.0),'valuenum'])=np.nan

(bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'icustay_id']==236290.0) &
                         (bg_all_nosummary_72.loc[:,'label']=='CHLORIDE') &
                         (bg_all_nosummary_72.loc[:,'valuenum']==11.0),'value'])=np.nan

time: 432 ms

In [75]:
#peep changes summary: 
bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label']=='PEEP')&
                        (bg_all_nosummary_72['valuenum']>38),'valuenum']=np.nan #remove this or set to 50?

time: 86.5 ms

In [76]:
#temp changes summary:

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label']=='TEMPERATURE')&
                        (bg_all_nosummary_72['icustay_id']==253821)&
                        (bg_all_nosummary_72['valuenum']==18.9),
                        'value']= np.nan

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label']=='TEMPERATURE')&
                        (bg_all_nosummary_72['icustay_id']==253821)&
                        (bg_all_nosummary_72['valuenum']==18.9),
                        'valuenum']= np.nan

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label']=='TEMPERATURE')&
                        (bg_all_nosummary_72['icustay_id']==251788)&
                        (bg_all_nosummary_72['valuenum']==10.0),
                        'value']= np.nan

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label']=='TEMPERATURE')&
                        (bg_all_nosummary_72['icustay_id']==251788)&
                        (bg_all_nosummary_72['valuenum']==10.0),
                        'valuenum']= np.nan

time: 443 ms

In [77]:
#fio2 changes summary:

##converting a few values to null, thus removing them from the dataset
bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label']=='FIO2') &
                        (bg_all_nosummary_72.loc[:,'value']=='0'),'value']=np.nan

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label']=='FIO2') &
                        (bg_all_nosummary_72.loc[:,'value']=='-'),'value']=np.nan


##removing all fio2 values between 1-20.9

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label'].isin(['FIO2']))&
                        (bg_all_nosummary_72['valuenum'].between(1.0,20.9)),'valuenum']=np.nan


##values between 0-1 were found to be ratios, not %, so converting these to % 

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label'].isin(['FIO2']))&
                        (bg_all_nosummary_72['valuenum'].between(1.0,20.9)),'valuenum']=np.nan

fio2_dec= bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label'].isin(['FIO2']))&
                        (bg_all_nosummary_72['valuenum'].between(0.0,1.0)),'valuenum']

bg_all_nosummary_72.loc[(bg_all_nosummary_72.loc[:,'label'].isin(['FIO2']))&
                        (bg_all_nosummary_72['valuenum'].between(0.0,1.0)),'valuenum'] = fio2_dec *100

del(fio2_dec)

time: 525 ms

#### removing null values annotated abov

In [78]:
bg_all_nosummary_72= bg_all_nosummary_72.loc[bg_all_nosummary_72['value'].notnull(),:]

time: 97.4 ms

### splitting specimen out for vent vs non-vent bg data

In [79]:
#adding specimen tag to filter only arterial samples for vent data. 
specimen_df= bg_all_nosummary_72.loc[bg_all_nosummary_72.loc[:,'label']=='SPECIMEN',['unique_var','label','value']]#unique()
specimen_df=specimen_df.rename(index=str, columns={'value':'specimen'})
specimen_df=specimen_df.loc[specimen_df.loc[:,"specimen"]=='ART',:]

bg_all_nosummary_72= pd.merge(bg_all_nosummary_72,specimen_df[['unique_var','specimen']], left_on='unique_var', right_on='unique_var', how='left')
bg_ART_nosummary_72=bg_all_nosummary_72.loc[bg_all_nosummary_72.loc[:,'specimen']=='ART',:]
del(specimen_df)

time: 950 ms

In [80]:
bg_labels=['PH','LACTATE','CALCIUM','TEMPERATURE','POTASSIUM',
           'GLUCOSE','HEMOGLOBIN','SODIUM','CHLORIDE','BICARBONATE']
bg_vent_labels=['PCO2','PaO2','PO2','FIO2','PEEP','O2FLOW']

time: 1.55 ms

In [81]:
#restricting to tests that were chosen to be analysed based on %missingness and clinical relevance
bg_all_nosummary_72= bg_all_nosummary_72.loc[bg_all_nosummary_72.loc[:,'label'].isin(bg_labels),:]
bg_ART_nosummary_72= bg_ART_nosummary_72.loc[bg_ART_nosummary_72.loc[:,'label'].isin(bg_vent_labels),:]

time: 135 ms

In [82]:
#value = valuenum for all specified bg tests. removing unneeded cols

bg_col=['subject_id','hadm_id','icustay_id','charttime','delta','t_0','label','valuenum','uom']
bg_ART_nosummary_72= bg_ART_nosummary_72[bg_col]
bg_all_nosummary_72= bg_all_nosummary_72[bg_col]
del(bg_col)

time: 32.4 ms

In [83]:
bg_ART_nosummary_72['label'].unique()

array(['PCO2', 'PaO2', 'FIO2', 'PEEP', 'O2FLOW'], dtype=object)

time: 9.41 ms

In [84]:
#converting O2 to y/n
o2_flow_df= bg_ART_nosummary_72.loc[bg_ART_nosummary_72.loc[:,'label']=='O2FLOW',:]
o2_flow_df=o2_flow_df.rename(index=str, columns={'valuenum':'value'})
o2_flow_df= yn_convert(o2_flow_df, label_fill='o2_flow')

#removing o2_flow from bg_ART
bg_ART_nosummary_72= bg_ART_nosummary_72.loc[bg_ART_nosummary_72.loc[:,'label']!='O2FLOW',:]

time: 124 ms

In [85]:
bg_ART_nosummary_72= bg_ART_nosummary_72.loc[bg_ART_nosummary_72.loc[:,'label']!='PEEP',:]

time: 24.1 ms

In [86]:
pd.DataFrame(bg_all_nosummary_72).to_csv(Path(
    wd+'/data/processed/%s_bg_all_prepped.csv' %(date)))

pd.DataFrame(bg_ART_nosummary_72).to_csv(Path(
    wd+'/data/processed/%s_bg_ART_prepped.csv' %(date)))

pd.DataFrame(o2_flow_df).to_csv(Path(
    wd+'/data/processed/%s_o2_flow_prepped.csv' %(date)))

time: 2.65 s

# RRT

In [87]:
rrt_merged_allpt_df_notnull = rrt_merged_allpt_df.loc[rrt_merged_allpt_df['rrt'].notnull(),:]
rrt_merged_allpt_df_notnull['uom']='category'
rrt_merged_allpt_df_notnull.head()

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    icustay_id         t_0      first_charttime  rrt       uom
7     252135.0  2166-04-13  2166-04-13 00:00:00  1.0  category
8     293255.0  2167-10-21  2167-10-21 04:31:00  1.0  category
9     261279.0  2167-10-26  2167-10-26 01:00:00  1.0  category
20    251526.0  2129-12-20  2129-12-20 09:32:00  1.0  category
31    255314.0  2181-10-11  2181-10-11 01:00:00  1.0  category

time: 74.4 ms

In [88]:
rrt_merged_allpt_df_notnull['delta']=pd.to_timedelta(
    pd.to_datetime(rrt_merged_allpt_df_notnull['first_charttime'])-
    pd.to_datetime(rrt_merged_allpt_df_notnull['t_0']),
    'days')

time: 63.2 ms

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [89]:
rrt_merged_allpt_df_notnull.head()

    icustay_id         t_0      first_charttime  rrt       uom    delta
7     252135.0  2166-04-13  2166-04-13 00:00:00  1.0  category 00:00:00
8     293255.0  2167-10-21  2167-10-21 04:31:00  1.0  category 04:31:00
9     261279.0  2167-10-26  2167-10-26 01:00:00  1.0  category 01:00:00
20    251526.0  2129-12-20  2129-12-20 09:32:00  1.0  category 09:32:00
31    255314.0  2181-10-11  2181-10-11 01:00:00  1.0  category 01:00:00

time: 20.7 ms

In [90]:
rrt_merged_allpt_df_notnull['label']= 'rrt'
rrt_merged_allpt_df_notnull=rrt_merged_allpt_df_notnull.rename(index=str, columns={'rrt':'value'})

time: 44.7 ms

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### converting to yes/no

In [91]:
rrt_merged_allpt_df_notnull.head()

,icustay_id,t_0,first_charttime,value,uom,delta,label
7,252135.0,2166-04-13,2166-04-13 00:00:00,1.0,category,00:00:00,rrt
8,293255.0,2167-10-21,2167-10-21 04:31:00,1.0,category,04:31:00,rrt
9,261279.0,2167-10-26,2167-10-26 01:00:00,1.0,category,01:00:00,rrt
20,251526.0,2129-12-20,2129-12-20 09:32:00,1.0,category,09:32:00,rrt
31,255314.0,2181-10-11,2181-10-11 01:00:00,1.0,category,01:00:00,rrt

time: 31.6 ms

In [104]:
rrt_merged_allpt_df_notnull['icustay_id'].nunique()

1223

time: 3.33 ms

In [92]:
rrt_yn= yn_convert(rrt_merged_allpt_df_notnull,
                   label_fill='rrt')

time: 52.4 ms

In [114]:
rrt_yn['icustay_id'].nunique()

14668

time: 4.61 ms

In [113]:
rrt_yn.head()

   icustay_id         t_0  value label  uom  delta
0    267059.0  2182-11-12    0.0   rrt  y/n 0 days
1    278729.0  2159-11-08    0.0   rrt  y/n 0 days
2    219670.0  2190-08-01    0.0   rrt  y/n 0 days
3    295185.0  2154-11-11    0.0   rrt  y/n 0 days
4    211472.0  2193-12-11    0.0   rrt  y/n 0 days

time: 10.4 ms

In [112]:
date= '14112018'
pd.DataFrame(rrt_yn).to_csv(Path(
    wd+'/data/processed/%s_rrt_prepped.csv' %(date)))

time: 329 ms

# GCS_72

In [94]:
gcs72_df['uom']='GCS_score'

time: 3.27 ms

In [95]:
list(gcs72_df)

['subject_id',
 'hadm_id',
 'icustay_id',
 'day',
 'mingcs',
 'gcsmotor',
 'gcsverbal',
 'gcseyes',
 'endotrachflag',
 'ICU_admit',
 't_0',
 'admit_plus_day',
 'delta',
 'uom']

time: 3.52 ms

In [96]:
gcs72_df['label']= 'mingcs'
gcs72_df['uom']='gcs_score'
gcs72_df=gcs72_df.rename(index=str, columns={'mingcs':'value'})

time: 48.8 ms

In [97]:
gcs72_df=gcs72_df[['subject_id','hadm_id','icustay_id','delta','label','value','t_0','uom']]

time: 11.7 ms

In [98]:
pd.DataFrame(gcs72_df).to_csv(Path(
    wd+'/data/processed/%s_gcs_prepped.csv' %(date)))

time: 81.8 ms

# SOFA_72
i'm going to remove all sofa variables except daily score, as we have other markers for those in our above data
i may later use this as qc check.
also added delta

In [99]:
sofa_df_72['uom']='daily_sofa_score'

#adding day delta column
sofa_df_72=sofa_df_72.sort_values(['hadm_id','day','t_0']) #good
sofa_df_72['day_rank']=sofa_df_72.groupby('icustay_id')['day'].rank()
sofa_df_72['delta']=pd.to_timedelta((sofa_df_72['day_rank']-1), 'days')

time: 228 ms

In [100]:
sofa_df_72['label']= 'daily_sofa'
sofa_df_72=sofa_df_72.rename(index=str, columns={'sofa':'value'})

time: 122 ms

In [101]:
sofa_score_72= sofa_df_72[['subject_id','hadm_id','icustay_id','delta','label','value','t_0','uom']]

time: 12.4 ms

In [102]:
sofa_score_72

,subject_id,hadm_id,icustay_id,delta,label,value,t_0,uom
63554,54610,100003,209281,0 days,daily_sofa,4,2150-04-18,daily_sofa_score
36471,23018,100007,217937,0 days,daily_sofa,1,2145-03-31,daily_sofa_score
36472,23018,100007,217937,1 days,daily_sofa,3,2145-03-31,daily_sofa_score
36473,23018,100007,217937,2 days,daily_sofa,1,2145-03-31,daily_sofa_score
670,533,100009,253656,0 days,daily_sofa,5,2162-05-17,daily_sofa_score
671,533,100009,253656,1 days,daily_sofa,1,2162-05-17,daily_sofa_score
672,533,100009,253656,2 days,daily_sofa,2,2162-05-17,daily_sofa_score
71986,68591,100016,217590,0 days,daily_sofa,2,2188-05-25,daily_sofa_score
71987,68591,100016,217590,1 days,daily_sofa,2,2188-05-25,daily_sofa_score
71988,68591,100016,217590,2 days,daily_sofa,0,2188-05-25,daily_sofa_score
59652,48539,100035,245719,0 days,daily_sofa,6,2115-02-22,daily_sofa_score
59653,48539,100035,245719,1 days,daily_sofa,5,2115-02-22,daily_sofa_score
59654,48539,100035,245719,2 days,daily_sofa,10,2115-02-22,daily_sofa_score
66519,58947,100037,270105,0 days,daily_sofa,3,2183-03-24,daily_sofa_score
39701,24912,100053,217069,0 days,daily_sofa,12,2124-07-14,daily_sofa_score
39702,24912,100053,217069,1 days,daily_sofa,9,2124-07-14,daily_sofa_score
39703,24912,100053,217069,2 days,daily_sofa,15,2124-07-14,daily_sofa_score
17962,11728,100061,201906,0 days,daily_sofa,12,2178-12-26,daily_sofa_score
43350,26885,100074,270174,0 days,daily_sofa,14,2176-04-10,daily_sofa_score
43351,26885,100074,270174,1 days,daily_sofa,14,2176-04-10,daily_sofa_score
84863,90834,100091,246996,0 days,daily_sofa,2,2162-06-04,daily_sofa_score
84864,90834,100091,246996,1 days,daily_sofa,0,2162-06-04,daily_sofa_score
418,391,100095,220320,0 days,daily_sofa,8,2108-09-29,daily_sofa_score
419,391,100095,220320,1 days,daily_sofa,7,2108-09-29,daily_sofa_score
420,391,100095,220320,2 days,daily_sofa,5,2108-09-29,daily_sofa_score
70065,65411,100098,216749,0 days,daily_sofa,12,2108-04-10,daily_sofa_score
70066,65411,100098,216749,1 days,daily_sofa,11,2108-04-10,daily_sofa_score
70067,65411,100098,216749,2 days,daily_sofa,14,2108-04-10,daily_sofa_score
75357,73946,100104,254601,0 days,daily_sofa,4,2201-06-22,daily_sofa_score
75358,73946,100104,254601,1 days,daily_sofa,4,2201-06-22,daily_sofa_score
...,...,...,...,...,...,...,...,...
31627,20024,199903,256951,2 days,daily_sofa,2,2159-08-13,daily_sofa_score
82151,86018,199911,255631,0 days,daily_sofa,0,2196-05-11,daily_sofa_score
48467,29256,199912,250090,0 days,daily_sofa,7,2198-09-19,daily_sofa_score
48468,29256,199912,250090,1 days,daily_sofa,5,2198-09-19,daily_sofa_score
79263,80825,199925,207013,0 days,daily_sofa,2,2140-02-11,daily_sofa_score
71437,67735,199929,216610,0 days,daily_sofa,2,2200-10-04,daily_sofa_score
71438,67735,199929,216610,1 days,daily_sofa,1,2200-10-04,daily_sofa_score
71439,67735,199929,216610,2 days,daily_sofa,0,2200-10-04,daily_sofa_score
49894,29985,199930,287113,0 days,daily_sofa,1,2114-03-20,daily_sofa_score
49895,29985,199930,287113,1 days,daily_sofa,1,2114-03-20,daily_sofa_score
35091,22219,199941,256368,0 days,daily_sofa,2,2183-03-24,daily_sofa_score
35092,22219,199941,256368,1 days,daily_sofa,1,2183-03-24,daily_sofa_score
35093,22219,199941,256368,2 days,daily_sofa,1,2183-03-24,daily_sofa_score
52485,31545,199956,217051,0 days,daily_sofa,3,2174-03-14,daily_sofa_score
52486,31545,199956,217051,1 days,daily_sofa,6,2174-03-14,daily_sofa_score
88999,97714,199957,253382,0 days,daily_sofa,1,2181-04-08,daily_sofa_score
89000,97714,199957,253382,1 days,daily_sofa,0,2181-04-08,daily_sofa_score
7351,5478,199963,202616,0 days,daily_sofa,7,2101-09-01,daily_sofa_score
7352,5478,199963,202616,1 days,daily_sofa,4,2101-09-01,daily_sofa_score
7353,5478,199963,202616,2 days,daily_sofa,3,2101-09-01,daily_sofa_score
79729,81561,199972,245830,0 days,daily_sofa,8,2186-08-30,daily_sofa_score
79730,81561,199972,245830,1 days,daily_sofa,5,2186-08-30,daily_sofa_score
79731,81561,199972,245830,2 days,daily_sofa,4,2186-08-30,daily_sofa_score
41970,26198,199976,215595,0 days,daily_sofa,6,2182-02-04,daily_sofa_score
41971,26198,199976,215595,1 days,daily_sofa,5,2182-02-04,daily_sofa_score
41972,26198,199976,215595,2 days,daily_sofa,0,2182-02-04,daily_sofa_score
55532,41115,199979,272355,0 days,daily_sofa,4,2182-02-06,daily_sofa_score
55533,41115,199979,272355,1 days,daily_sofa,1,2182-02-06,daily_sofa_score
41353,25780,199988,290582,0 days,daily_sofa,1,2169-02-07,daily_sofa_score
41354,25780,199988,290582,1 days,daily_sofa,0,2169-02-07,daily_sofa_score

time: 46.9 ms

In [103]:
pd.DataFrame(sofa_score_72).to_csv(Path(
    wd+'/data/processed/%s_sofa_prepped.csv' %(date)))

time: 706 ms