in 06.1 i defined cohort with atleast 1 SpO2 reading present. This will be the missingness analysis performed on this subset of patients.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime
%reload_ext autotime

In [2]:
#cohort import

os.chdir('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling') #use to change working directory
wd= os.getcwd() #'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling'


final_pt_df2 = pd.read_csv(Path(wd + '/data/raw/csv/01102018_final_pt_df2_v.csv') , index_col=0)
patients= list(final_pt_df2['subject_id'].unique())
hadm_id= list(final_pt_df2['hadm_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 90.2 ms

In [3]:
patients

[24915,
 24942,
 24968,
 24776,
 24714,
 24824,
 24837,
 24785,
 24675,
 24703,
 24813,
 24682,
 24746,
 24687,
 24174,
 24178,
 24235,
 24253,
 24083,
 24129,
 24152,
 24263,
 24172,
 24190,
 24244,
 24150,
 24177,
 24096,
 24181,
 24111,
 24198,
 24243,
 23933,
 23946,
 24271,
 24285,
 24080,
 24084,
 23926,
 23944,
 24223,
 24187,
 24252,
 24266,
 24276,
 23984,
 24262,
 24168,
 24170,
 24208,
 24120,
 24147,
 24226,
 24193,
 23951,
 24257,
 24281,
 24232,
 24221,
 24242,
 24056,
 24101,
 24123,
 23652,
 23708,
 23666,
 23680,
 23707,
 23759,
 23657,
 23642,
 23699,
 23675,
 23706,
 23738,
 23757,
 23739,
 23760,
 23780,
 23634,
 23734,
 23711,
 23716,
 23637,
 23762,
 23671,
 23636,
 23687,
 23660,
 23696,
 23710,
 23719,
 23691,
 23752,
 23649,
 23725,
 25326,
 25367,
 24547,
 24577,
 25383,
 25256,
 24622,
 24506,
 24514,
 24562,
 24510,
 24597,
 25354,
 25290,
 25314,
 24589,
 25318,
 25284,
 25330,
 25337,
 25351,
 25364,
 24664,
 24611,
 25349,
 25344,
 24605,
 25363,
 25332,
 25323,
 24603,
 25385,
 25286,
 25285,
 24587,
 24519,
 25412,
 25432,
 25481,
 25526,
 25449,
 25482,
 25328,
 25524,
 25474,
 25345,
 25523,
 25553,
 25408,
 25411,
 25540,
 25515,
 25264,
 25578,
 25551,
 25395,
 25571,
 25546,
 25487,
 25405,
 25413,
 25490,
 25469,
 25519,
 25454,
 25498,
 25312,
 25320,
 25347,
 25497,
 25319,
 24461,
 24486,
 24369,
 24379,
 24900,
 24901,
 24846,
 24860,
 24868,
 24877,
 24891,
 24930,
 24386,
 24403,
 24957,
 24349,
 24394,
 24895,
 24366,
 24402,
 24953,
 24963,
 24912,
 24855,
 24872,
 24910,
 24952,
 24389,
 24326,
 24880,
 24866,
 24950,
 24638,
 24523,
 24535,
 24444,
 24465,
 24374,
 24482,
 24308,
 24388,
 24489,
 24607,
 24573,
 24302,
 24569,
 24674,
 24582,
 24387,
 24533,
 24609,
 24330,
 24411,
 24468,
 24548,
 24383,
 24327,
 24339,
 24631,
 24477,
 24332,
 24483,
 24579,
 24608,
 24571,
 24372,
 24553,
 25986,
 26001,
 26017,
 26274,
 26286,
 26139,
 26071,
 26105,
 26124,
 25954,
 26067,
 26036,
 26097,
 26094,
 26285,
 26145,
 26192,
 25981,
 26149,
 26102,
 26087,
 26121,
 25953,
 25975,
 26051,
 26161,
 26052,
 26125,
 25997,
 26212,
 26231,
 26086,
 25994,
 26264,
 26037,
 26061,
 26265,
 26012,
 26118,
 26218,
 25965,
 25987,
 26224,
 26117,
 25746,
 25635,
 26208,
 26215,
 26256,
 25581,
 26234,
 26156,
 25653,
 26267,
 25612,
 25717,
 26214,
 26200,
 25647,
 25679,
 26186,
 26283,
 25696,
 25713,
 25591,
 26185,
 26184,
 26198,
 25643,
 26210,
 25659,
 25711,
 26151,
 26239,
 26220,
 26271,
 25618,
 26190,
 26201,
 25024,
 25004,
 25045,
 25076,
 25108,
 25040,
 25049,
 25060,
 24977,
 25442,
 25029,
 25030,
 24995,
 25012,
 25041,
 25072,
 25103,
 24982,
 24979,
 25095,
 25102,
 25019,
 25429,
 25065,
 25093,
 25071,
 25001,
 25017,
 25038,
 25100,
 25105,
 25070,
 25111,
 24988,
 25043,
 25104,
 25016,
 25510,
 24975,
 25081,
 25063,
 25229,
 25116,
 25225,
 25989,
 25162,
 25188,
 25139,
 25151,
 25245,
 25198,
 25158,
 25221,
 25137,
 25415,
 24971,
 25235,
 25117,
 25196,
 25165,
 25175,
 25178,
 25189,
 25142,
 25232,
 26085,
 25231,
 25212,
 25230,
 25157,
 25214,
 25255,
 25140,
 25131,
 25121,
 26828,
 26880,
 26887,
 26901,
 26804,
 26916,
 26941,
 26879,
 26936,
 26691,
 26931,
 26927,
 26715,
 26827,
 26855,
 26877,
 26913,
 26825,
 26930,
 26826,
 26912,
 26948,
 26829,
 26724,
 26946,
 26748,
 26845,
 26714,
 26838,
 26690,
 26773,
 26926,
 26747,
 26863,
 26868,
 26822,
 26737,
 26767,
 26837,
 26849,
 26746,
 26861,
 26873,
 26874,
 26885,
 26896,
 26897,
 26922,
 26943,
 26649,
 26884,
 26771,
 26889,
 26762,
 26671,
 26942,
 26856,
 26313,
 26381,
 26401,
 26427,
 26479,
 26490,
 26349,
 26398,
 26431,
 26474,
 26480,
 26308,
 26373,
 26390,
 26412,
 26446,
 26355,
 26380,
 26298,
 26831,
 26288,
 26318,
 26395,
 26488,
 26492,
 26443,
 26891,
 26368,
 26315,
 26429,
 26320,
 26311,
 26450,
 26486,
 26384,
 26872,
 26914,
 26356,
 26462,
 26317,
 26407,
 26445,
 26937,
 26818,
 26456,
 25723,
 26350,
 25941,
 25952,
 25782,
 25815,
 25741,
 25658,
 25889,
 25790,
 25833,
 25750,
 25699,
 25736,
 25874,
 25772,
 25672,
 25946,
 25766,
 25912,
 25844,
 25873,
 25929,
 25621,
 25708,
 25808,
 25894,
 25765,
 25774,
 25606,
 25861,
 25794,
 25666,
 25705,
 25590,
 25742,
 25835,
 25665,
 25704,
 25689,
 25764,
 25905,
 26785,
 26658,
 26705,
 26719,
 26734,
 25839,
 25853,
 26749,
 26776,
 26709,
 25837,
 26688,
 26733,
 25949,
 25860,
 26779,
 26753,
 25904,
 26797,
 26716,
 26732,
 25812,
 26648,
 25935,
 26789,
 25851,
 26727,
 26800,
 25780,
 26679,
 25814,
 26740,
 26770,
 26750,
 25776,
 27362,
 27382,
 27056,
 27077,
 26956,
 26979,
 26999,
 27292,
 27302,
 27374,
 27391,
 27345,
 27367,
 27069,
 26981,
 27024,
 26983,
 27314,
 27386,
 27042,
 27400,
 27398,
 27366,
 27379,
 27296,
 27318,
 27322,
 27312,
 27333,
 27041,
 27403,
 27295,
 27047,
 27063,
 27303,
 27046,
 26959,
 27293,
 27352,
 27365,
 26984,
 27347,
 27172,
 27132,
 27043,
 27049,
 27037,
 27158,
 27051,
 26980,
 27013,
 27163,
 27165,
 27149,
 27171,
 27115,
 26991,
 27007,
 27044,
 27089,
 27054,
 26989,
 27002,
 27053,
 27060,
 27161,
 26990,
 27022,
 27067,
 27100,
 27105,
 27141,
 26977,
 27000,
 27036,
 27166,
 27066,
 26973,
 27174,
 27108,
 27102,
 27038,
 26523,
 26611,
 27192,
 26519,
 26589,
 26638,
 26494,
 26514,
 26533,
 26504,
 27198,
 26575,
 26576,
 26520,
 26626,
 26502,
 27212,
 26615,
 26583,
 26560,
 26527,
 26572,
 26532,
 26556,
 26593,
 26636,
 26535,
 26595,
 26515,
 27235,
 26601,
 26629,
 26542,
 26633,
 26639,
 26499,
 26569,
 26586,
 26568,
 26628,
 27290,
 26603,
 27243,
 27251,
 27260,
 27175,
 27179,
 27208,
 27278,
 27232,
 27259,
 27371,
 27247,
 27201,
 27269,
 27183,
 27280,
 27193,
 27370,
 27267,
 27392,
 27223,
 27249,
 27203,
 27299,
 27189,
 27446,
 27800,
 27809,
 27472,
 27500,
 27414,
 27511,
 27823,
 27490,
 27506,
 27421,
 27427,
 27452,
 27504,
 27425,
 27468,
 27473,
 27416,
 27833,
 27855,
 27499,
 27484,
 27854,
 27874,
 27868,
 27879,
 27890,
 27873,
 27515,
 27423,
 27867,
 27771,
 27431,
 27465,
 27469,
 27493,
 27454,
 27463,
 27481,
 27464,
 27438,
 27476,
 27480,
 27588,
 27418,
 27542,
 27554,
 27529,
 27536,
 27572,
 27616,
 27574,
 27587,
 27602,
 27447,
 27607,
 27597,
 27615,
 27613,
 27642,
 27577,
 27596,
 27639,
 27580,
 27605,
 27532,
 27540,
 27589,
 27585,
 27561,
 27603,
 27551,
 27565,
 27595,
 27599,
 27553,
 27486,
 27600,
 27579,
 27563,
 27640,
 27594,
 27617,
 27638,
 27560,
 27573,
 27593,
 27517,
 27598,
 27726,
 27167,
 27095,
 27120,
 27711,
 27661,
 27677,
 27729,
 27162,
 27147,
 27723,
 27645,
 27688,
 27138,
 27748,
 27137,
 27663,
 27157,
 27168,
 27703,
 27751,
 27122,
 27145,
 27083,
 27745,
 27657,
 27643,
 27676,
 27679,
 27682,
 27082,
 27112,
 27689,
 27853,
 27665,
 27674,
 27816,
 27870,
 27753,
 27652,
 27770,
 27694,
 27650,
 27790,
 27659,
 27777,
 27727,
 27875,
 27795,
 27798,
 27825,
 27742,
 28126,
 28072,
 28073,
 28004,
 27905,
 27928,
 27963,
 27999,
 28166,
 28083,
 27899,
 27975,
 28063,
 27894,
 27996,
 28026,
 28109,
 27918,
 27981,
 28043,
 28076,
 27902,
 28069,
 28093,
 27944,
 27953,
 27995,
 28016,
 28033,
 28062,
 28089,
 28039,
 27934,
 27912,
 28129,
 28008,
 27924,
 27925,
 27909,
 27927,
 27962,
 27901,
 28155,
 28164,
 27941,
 28138,
 28015,
 28163,
 27942,
 28021,
 28064,
 27900,
 27977,
 28055,
 28029,
 28815,
 28794,
 28159,
 28843,
 28721,
 28744,
 28783,
 28042,
 28807,
 28761,
 28808,
 28819,
 28120,
 28130,
 28793,
 28827,
 28143,
 28091,
 28828,
 28735,
 28752,
 28818,
 28831,
 28832,
 28057,
 28137,
 28045,
 28079,
 28792,
 28086,
 28090,
 28771,
 28716,
 28150,
 28729,
 28103,
 28161,
 28165,
 28068,
 28095,
 28111,
 28133,
 28746,
 28753,
 28123,
 28082,
 28768,
 28844,
 28857,
 28775,
 28790,
 28088,
 28211,
 28246,
 28281,
 28334,
 28341,
 28215,
 28180,
 28199,
 28238,
 28272,
 28178,
 28336,
 28206,
 28222,
 28260,
 28173,
 28168,
 28394,
 28258,
 28245,
 28409,
 28227,
 28172,
 28197,
 28218,
 28187,
 28407,
 28190,
 28167,
 28375,
 28175,
 28426,
 28268,
 28207,
 28425,
 28192,
 28223,
 ...]

time: 22.4 ms

In [4]:
#reading in all of my data that is not limited to 72 hour time window between t_0 and t+72
date= '27082018' 

ventcategory_df=pd.read_csv(Path(
    wd+'/data/raw/csv/%s_ventcategory_df.csv' %(date)), index_col=0)

vaso_dose_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_vaso_dose_72.csv' %(date)), index_col=0)
#ventsettings_72=pd.read_csv(
#    wd+'/data/raw/csv/72_hr_window/%s_ventsettings_72.csv' %(date), index_col=0)


echodata_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_echodata_72.csv' %(date)), index_col=0)
labs_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_labs_all_nosummary_72.csv' %(date)), index_col=0)


weightfirstday_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_weightfirstday_df.csv' %(date)), index_col=0)
heightfirstday_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_heightfirstday_df.csv' %(date)), index_col=0)

vitals_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_vitals_all_nosummary_72.csv' %(date)), index_col=0)
uti_all_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_uti_all_72.csv' %(date)), index_col=0)
bg_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_bg_all_nosummary_72.csv' %(date)), index_col=0)

rrt_merged_allpt_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_rrt_merged_allpt_df.csv' %(date)), index_col=0)
gcs72_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_gcs72_df.csv' %(date)), index_col=0)

sofa_df_72=pd.read_csv(Path(
    wd+'/data/raw/csv/%s_sofa_df_72.csv' %(date)), index_col=0)

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

time: 14.1 s

In [5]:
# subsetting each dataframe to only patients in final_patients_df2_v:
dataframe_list= [
    ventcategory_df,
    vaso_dose_72,
    echodata_72,
    labs_all_nosummary_72,
    weightfirstday_df,
    heightfirstday_df,
    vitals_all_nosummary_72,
    uti_all_72,
    bg_all_nosummary_72,
    rrt_merged_allpt_df,
    gcs72_df,
    sofa_df_72
]


# subsetting each dataframe to only patients in final_patients_df2_v:
for element in dataframe_list :
    try:
        element = element.loc[element.loc[:,'icustay_id'].isin(icustay_id)]
    except KeyError or NameError:
        try:
            element = element.loc[element.loc[:,'hadm_id'].isin(hadm_id)]
        except:
            element = element.loc[element.loc[:,'subject_id'].isin(patients)]

time: 1.09 s

# task 1: % MISSINGNESS table
need to look for the amount of patients who are missing any value in any of the categories. want to aggregate all variables and % missingness and source into 1 dataframe

In [6]:
print(
    labs_all_nosummary_72['hadm_id'].nunique(), #15142/15207 unique hadm_id/icustay_id
    labs_all_nosummary_72['subject_id'].nunique() #12744/12801 unique patients in this
)

15142 12744
time: 21 ms

In [7]:
def missingness_fxn(df,name, groupby,filteron):
    
    """
    input: dataframe w/ clinical data we want to assess the % missing values on.
    output: a dataframe grouped by the different clinical variables with 
        associated % missingnss (ie how many icustays do not have this value)
        
    """

    missing_df= pd.DataFrame(
        100* (1-(df.groupby(groupby)[filteron].nunique()/ len(hadm_id)))) #number of unique icustays with data /total # icustay
    missing_df.reset_index(inplace=True)
    missing_df= missing_df.rename(index=str, columns={"label":'label', filteron:'%missingness'})
    missing_df['source']= name
    missing_df['data_label']=groupby
    return(missing_df)

time: 5.95 ms

#### all dataframes to do %missingness on (add x when complete)
- vaso_dose_72 : x
- ventcategory_df : x
- echodata_72 : ?
- labs_all_nosummary_72 : x
- weightfirstday_df : x
- heightfirstday_df : x
- vitals_all_nosummary_72 :x
- uti_all_72 :x
- bg_all_nosummary_72 :x
- rrt_merged_allpt_df :x
- gcs72_df : x
- sofa_df_72:

In [8]:
missingness_df= pd.DataFrame()

time: 1.37 ms

### labs x

In [9]:
print(
    labs_all_nosummary_72['hadm_id'].nunique(), #15142/14668 unique hadm_id/icustay_id
    labs_all_nosummary_72['subject_id'].nunique() #12744/12403 unique patients in this
)

15142 12744
time: 22 ms

In [10]:
#na values
labs_all_nosummary_72.loc[labs_all_nosummary_72['valuenum'].isna(),:]

,subject_id,hadm_id,icustay_id,charttime,label,valuenum,t_0,delta
839176,13940,137769,298457,2192-12-12 02:20:00,INR,NaN,2192-12-12,0 days 02:20:00.000000000

time: 12.1 ms

In [11]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(labs_all_nosummary_72,'labs_all_nosummary_72', 'label','icustay_id')]
)

time: 179 ms

### vaso_dose x

In [12]:
print(
    vaso_dose_72['icustay_id'].nunique(), #4777/15207 unique icustay_id/icustay_id
)

4777
time: 1.96 ms

In [13]:
vaso_dose_72.head(2)

,icustay_id,starttime,endtime,vaso_rate,vaso_amount,label,t_0,delta
4,200349.0,2139-06-02 16:31:00,2139-06-02 18:10:00,0.012030,0.073958,epinephrine,2139-06-02,0 days 16:31:00.000000000
108,200952.0,2139-09-23 15:07:00,2139-09-24 06:43:00,0.020004,1.049601,epinephrine,2139-09-23,0 days 15:07:00.000000000

time: 10.2 ms

In [14]:
vaso_dose_72.loc[vaso_dose_72['vaso_rate'].isna(),:]

Empty DataFrame
Columns: [icustay_id, starttime, endtime, vaso_rate, vaso_amount, label, t_0, delta]
Index: []

time: 6.45 ms

In [15]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(vaso_dose_72,'vaso_dose_72', 'label','icustay_id')]
)

time: 25.8 ms

### ventcategory_df x

In [16]:
ventcategory_df.head()

   icustay_id         t_0 vent_day1 vent_day2 vent_day3
0    267059.0  2182-11-12      Mech      None      None
1    278729.0  2159-11-08    Oxygen      Mech      None
2    219670.0  2190-08-01    Oxygen      None      None
3    295185.0  2154-11-11    Oxygen      None      None
4    211472.0  2193-12-11      None      None      None

time: 8.16 ms

In [17]:
#need to reshape the dataframe
ventcategory_df_melt = pd.melt(ventcategory_df, id_vars=['icustay_id','t_0'], var_name='label')

print(
    ventcategory_df_melt['icustay_id'].nunique(), #15207/15207 unique icustay_id/icustay_id
)

15207
time: 11.3 ms

In [18]:
ventcategory_df_melt.head(2)

   icustay_id         t_0      label   value
0    267059.0  2182-11-12  vent_day1    Mech
1    278729.0  2159-11-08  vent_day1  Oxygen

time: 7.05 ms

In [19]:
#na values
ventcategory_df_melt.loc[ventcategory_df_melt['value'].isnull()]

Empty DataFrame
Columns: [icustay_id, t_0, label, value]
Index: []

time: 7.38 ms

In [20]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(ventcategory_df_melt,'ventcategory_df', 'label','icustay_id')]
)

time: 12.9 ms

### echodata_72

In [21]:
echodata_72.head(2)

,row_id,subject_id,hadm_id,chartdate,charttime,indication,height,weight,bsa,bp,bpsys,bpdias,hr,status,test,doppler,contrast,technicalquality,t_0,delta
0,59653,31038,174978.0,2102-06-14 00:00:00,2102-06-14 13:30:00,Endocarditis.,74.0,165.0,2.00,102/72,102.0,72.0,86.0,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate,2102-06-13,1 days 13:30:00.000000000
1,59654,70150,156140.0,2191-05-10 00:00:00,2191-05-10 15:08:00,"CHF, A-FIB",66.0,263.0,2.25,107/81,107.0,81.0,95.0,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal,2191-05-10,0 days 15:08:00.000000000

time: 19.5 ms

In [22]:
#num of icustay_id/hadm_id
print(
    echodata_72['hadm_id'].nunique(), #5421/15207 unique hadm_id/icustay_id
)

5421
time: 1.8 ms

In [23]:
#number of na values

pd.DataFrame(
    {
    'bsa':[echodata_72.loc[echodata_72['bsa'].isna(),'hadm_id'].count()], 
    'bp': [echodata_72.loc[echodata_72['bp'].isna(),'hadm_id'].count()], 
    'bpsys': [echodata_72.loc[echodata_72['bpsys'].isna(),'hadm_id'].count()], 
    'bpdias': [echodata_72.loc[echodata_72['bpdias'].isna(),'hadm_id'].count()],
    'hr': [echodata_72.loc[echodata_72['hr'].isna(),'hadm_id'].count()],
    'test': [echodata_72.loc[echodata_72['test'].isna(),'hadm_id'].count()]
             }
            )

    bp  bpdias  bpsys   bsa   hr  test
0  512     524    524  1110  707     0

time: 14.9 ms

# NEED TO ASK ABOUT WHICH VALUES ARE MOST IMPORTANT IN THIS

In [24]:
# missingness_df = pd.concat(
#     [missingness_df,
#         missingness_fxn(labs_all_nosummary_72,'labs_all_nosummary_72', 'label','icustay_id')]
# )

time: 863 s

### weightfirstday_df x

In [25]:
#delete once done debugging
weightfirstday_df=pd.read_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/72_hr_window/%s_weightfirstday_df.csv' %(date), index_col=0)

time: 22.1 ms

In [26]:
#need to reshape the df

weightfirstday_df_melt= pd.melt(weightfirstday_df, id_vars='icustay_id', var_name='label')
#weightfirstday_df_melt

time: 7.4 ms

In [27]:
print(
    weightfirstday_df_melt['icustay_id'].nunique(), #15207/15207 unique icustay_id/icustay_id
)

15207
time: 2.76 ms

In [28]:
#na values
weightfirstday_df_melt.loc[weightfirstday_df_melt['value'].isna(),'icustay_id'].count() #1522/15207 do not have any weight, 39522 total null rows.

39522

time: 4.37 ms

In [29]:
#missingness df
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(weightfirstday_df_melt.loc[weightfirstday_df_melt['value'].notnull(),:],'weightfirstday_df', 'label','icustay_id')]
)

time: 15.3 ms

In [30]:
missingness_df

                 label  %missingness                 source data_label
0              ALBUMIN     52.372512  labs_all_nosummary_72      label
1            ANION GAP     -2.938369  labs_all_nosummary_72      label
2                BANDS     82.615217  labs_all_nosummary_72      label
3          BICARBONATE     -3.013362  labs_all_nosummary_72      label
4            BILIRUBIN     42.909735  labs_all_nosummary_72      label
5                  BUN     -3.040633  labs_all_nosummary_72      label
6             CHLORIDE     -3.054268  labs_all_nosummary_72      label
7           CREATININE     -3.054268  labs_all_nosummary_72      label
8              GLUCOSE     -3.067903  labs_all_nosummary_72      label
9           HEMATOCRIT     -3.026998  labs_all_nosummary_72      label
10          HEMOGLOBIN     -2.979275  labs_all_nosummary_72      label
11                 INR      9.933188  labs_all_nosummary_72      label
12             LACTATE     37.148896  labs_all_nosummary_72      label
13            PLATELET     -2.958822  labs_all_nosummary_72      label
14           POTASSIUM     -3.101991  labs_all_nosummary_72      label
15                  PT      9.912735  labs_all_nosummary_72      label
16                 PTT     10.355877  labs_all_nosummary_72      label
17              SODIUM     -3.067903  labs_all_nosummary_72      label
18                 WBC     -2.992910  labs_all_nosummary_72      label
0           dobutamine     98.363785           vaso_dose_72      label
1             dopamine     94.014181           vaso_dose_72      label
2          epinephrine     97.893373           vaso_dose_72      label
3       norepinephrine     79.976820           vaso_dose_72      label
4        phenylephrine     83.971912           vaso_dose_72      label
5          vasopressin     94.252795           vaso_dose_72      label
0            vent_day1     -3.674666        ventcategory_df      label
1            vent_day2     -3.674666        ventcategory_df      label
2            vent_day3     -3.674666        ventcategory_df      label
0               weight      6.701663      weightfirstday_df      label
1         weight_admit     21.973002      weightfirstday_df      label
2         weight_daily     51.288519      weightfirstday_df      label
3    weight_echoinhosp     74.795473      weightfirstday_df      label
4   weight_echoprehosp     96.311699      weightfirstday_df      label

time: 11.9 ms

### heightfirstday_df x

In [31]:
heightfirstday_df.head(2)

   icustay_id  height  height_chart  height_echo
4      216859  172.72           NaN       172.72
5      203487  185.42        185.42       182.88

time: 7.73 ms

In [32]:
#need to reshape the df
heightfirstday_df_melt= pd.melt(heightfirstday_df, id_vars='icustay_id', var_name='label')

time: 6.32 ms

In [33]:
print(
    heightfirstday_df_melt['icustay_id'].nunique(), #15207/15207 unique icustay_id/icustay_id
)

15207
time: 2.23 ms

In [34]:
#na values
print(
    heightfirstday_df_melt.loc[heightfirstday_df_melt['value'].isna(),'icustay_id'].count(), #22776 total null rows.
    heightfirstday_df.loc[heightfirstday_df['height'].isna(),'icustay_id'].count() #5212/15207 do not have any weight,
)

22776 5212
time: 4.2 ms

In [35]:
#missingness df
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(heightfirstday_df_melt.loc[heightfirstday_df_melt['value'].notnull(),:],'heightfirstday_df', 'label','icustay_id')]
)

time: 10.9 ms

In [36]:
missingness_df

                 label  %missingness                 source data_label
0              ALBUMIN     52.372512  labs_all_nosummary_72      label
1            ANION GAP     -2.938369  labs_all_nosummary_72      label
2                BANDS     82.615217  labs_all_nosummary_72      label
3          BICARBONATE     -3.013362  labs_all_nosummary_72      label
4            BILIRUBIN     42.909735  labs_all_nosummary_72      label
5                  BUN     -3.040633  labs_all_nosummary_72      label
6             CHLORIDE     -3.054268  labs_all_nosummary_72      label
7           CREATININE     -3.054268  labs_all_nosummary_72      label
8              GLUCOSE     -3.067903  labs_all_nosummary_72      label
9           HEMATOCRIT     -3.026998  labs_all_nosummary_72      label
10          HEMOGLOBIN     -2.979275  labs_all_nosummary_72      label
11                 INR      9.933188  labs_all_nosummary_72      label
12             LACTATE     37.148896  labs_all_nosummary_72      label
13            PLATELET     -2.958822  labs_all_nosummary_72      label
14           POTASSIUM     -3.101991  labs_all_nosummary_72      label
15                  PT      9.912735  labs_all_nosummary_72      label
16                 PTT     10.355877  labs_all_nosummary_72      label
17              SODIUM     -3.067903  labs_all_nosummary_72      label
18                 WBC     -2.992910  labs_all_nosummary_72      label
0           dobutamine     98.363785           vaso_dose_72      label
1             dopamine     94.014181           vaso_dose_72      label
2          epinephrine     97.893373           vaso_dose_72      label
3       norepinephrine     79.976820           vaso_dose_72      label
4        phenylephrine     83.971912           vaso_dose_72      label
5          vasopressin     94.252795           vaso_dose_72      label
0            vent_day1     -3.674666        ventcategory_df      label
1            vent_day2     -3.674666        ventcategory_df      label
2            vent_day3     -3.674666        ventcategory_df      label
0               weight      6.701663      weightfirstday_df      label
1         weight_admit     21.973002      weightfirstday_df      label
2         weight_daily     51.288519      weightfirstday_df      label
3    weight_echoinhosp     74.795473      weightfirstday_df      label
4   weight_echoprehosp     96.311699      weightfirstday_df      label
0               height     31.858467      heightfirstday_df      label
1         height_chart     64.514590      heightfirstday_df      label
2          height_echo     47.879738      heightfirstday_df      label

time: 12 ms

### vitals_all_nosummary_72 x

In [37]:
vitals_all_nosummary_72.head(2)

,subject_id,hadm_id,icustay_id,charttime,vitalid,valuenum,t_0,delta
5,9,150750,220597,2149-11-13 15:20:00,MeanArtPress,61.0,2149-11-13,0 days 15:20:00.000000000
6,9,150750,220597,2149-11-14 11:00:00,MeanArtPress,103.0,2149-11-13,1 days 11:00:00.000000000

time: 9.59 ms

In [38]:
#na values
vitals_all_nosummary_72.loc[vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

vitals_all_nosummary_nonull= vitals_all_nosummary_72.loc[vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

#why do i have null vitalid's with actual values? need to dive into the sql.
###it looks like it may just extract a lot of values as null that are not relevant, can filter these out

time: 1.44 s

In [39]:
print(
    vitals_all_nosummary_nonull['icustay_id'].nunique(), #14714/15207 unique icustay_id/icustay_id
)

14714
time: 37.8 ms

In [40]:
vitals_all_nosummary_nonull

,subject_id,hadm_id,icustay_id,charttime,vitalid,valuenum,t_0,delta
5,9,150750,220597,2149-11-13 15:20:00,MeanArtPress,61.0,2149-11-13,0 days 15:20:00.000000000
6,9,150750,220597,2149-11-14 11:00:00,MeanArtPress,103.0,2149-11-13,1 days 11:00:00.000000000
7,9,150750,220597,2149-11-14 12:00:00,MeanArtPress,134.0,2149-11-13,1 days 12:00:00.000000000
12,9,150750,220597,2149-11-13 07:00:00,MeanArtPress,85.0,2149-11-13,0 days 07:00:00.000000000
13,9,150750,220597,2149-11-14 02:00:00,MeanArtPress,96.0,2149-11-13,1 days 02:00:00.000000000
16,9,150750,220597,2149-11-13 10:00:00,MeanArtPress,92.0,2149-11-13,0 days 10:00:00.000000000
18,9,150750,220597,2149-11-13 00:30:00,MeanArtPress,104.0,2149-11-13,0 days 00:30:00.000000000
19,9,150750,220597,2149-11-13 17:00:00,MeanArtPress,84.0,2149-11-13,0 days 17:00:00.000000000
29,9,150750,220597,2149-11-13 18:00:00,MeanArtPress,93.0,2149-11-13,0 days 18:00:00.000000000
46,9,150750,220597,2149-11-13 04:00:00,MeanArtPress,104.0,2149-11-13,0 days 04:00:00.000000000
47,9,150750,220597,2149-11-13 20:30:00,MeanArtPress,102.0,2149-11-13,0 days 20:30:00.000000000
48,9,150750,220597,2149-11-13 21:00:00,MeanArtPress,97.0,2149-11-13,0 days 21:00:00.000000000
49,9,150750,220597,2149-11-13 22:00:00,MeanArtPress,94.0,2149-11-13,0 days 22:00:00.000000000
59,9,150750,220597,2149-11-13 13:00:00,MeanArtPress,104.0,2149-11-13,0 days 13:00:00.000000000
60,9,150750,220597,2149-11-13 14:00:00,MeanArtPress,111.0,2149-11-13,0 days 14:00:00.000000000
61,9,150750,220597,2149-11-14 09:00:00,MeanArtPress,106.0,2149-11-13,1 days 09:00:00.000000000
64,9,150750,220597,2149-11-13 05:00:00,MeanArtPress,105.0,2149-11-13,0 days 05:00:00.000000000
73,9,150750,220597,2149-11-14 10:00:00,MeanArtPress,80.0,2149-11-13,1 days 10:00:00.000000000
79,9,150750,220597,2149-11-14 01:00:00,MeanArtPress,96.0,2149-11-13,1 days 01:00:00.000000000
85,9,150750,220597,2149-11-13 00:00:00,MeanArtPress,102.0,2149-11-13,0 days 00:00:00.000000000
89,9,150750,220597,2149-11-13 09:00:00,MeanArtPress,97.0,2149-11-13,0 days 09:00:00.000000000
90,9,150750,220597,2149-11-14 05:00:00,MeanArtPress,89.0,2149-11-13,1 days 05:00:00.000000000
97,9,150750,220597,2149-11-13 02:00:00,MeanArtPress,107.0,2149-11-13,0 days 02:00:00.000000000
101,9,150750,220597,2149-11-13 03:00:00,MeanArtPress,101.0,2149-11-13,0 days 03:00:00.000000000
102,9,150750,220597,2149-11-13 03:15:00,MeanArtPress,101.0,2149-11-13,0 days 03:15:00.000000000
115,9,150750,220597,2149-11-13 15:30:00,MeanArtPress,59.0,2149-11-13,0 days 15:30:00.000000000
126,9,150750,220597,2149-11-13 15:45:00,MeanArtPress,70.0,2149-11-13,0 days 15:45:00.000000000
127,9,150750,220597,2149-11-13 15:50:00,MeanArtPress,68.0,2149-11-13,0 days 15:50:00.000000000
128,9,150750,220597,2149-11-13 15:55:00,MeanArtPress,124.0,2149-11-13,0 days 15:55:00.000000000
129,9,150750,220597,2149-11-14 13:00:00,MeanArtPress,92.0,2149-11-13,1 days 13:00:00.000000000
...,...,...,...,...,...,...,...,...
16269121,53466,185052,262521,2198-04-05 11:55:00,Glucose,125.0,2198-04-05,0 days 11:55:00.000000000
16269122,53466,185052,262521,2198-04-06 02:20:00,Glucose,122.0,2198-04-05,1 days 02:20:00.000000000
16269123,53466,185052,262521,2198-04-06 11:53:00,Glucose,111.0,2198-04-05,1 days 11:53:00.000000000
16269125,53466,185052,262521,2198-04-06 14:14:00,Glucose,108.0,2198-04-05,1 days 14:14:00.000000000
16269126,53466,185052,262521,2198-04-07 02:14:00,Glucose,109.0,2198-04-05,2 days 02:14:00.000000000
16269127,53466,185052,262521,2198-04-07 14:13:00,Glucose,106.0,2198-04-05,2 days 14:13:00.000000000
16269131,53466,185052,262521,2198-04-05 01:45:00,Glucose,128.0,2198-04-05,0 days 01:45:00.000000000
16269137,73223,135039,278629,2174-05-04 02:09:00,Glucose,89.0,2174-05-04,0 days 02:09:00.000000000
16269138,73223,135039,278629,2174-05-04 12:33:00,Glucose,73.0,2174-05-04,0 days 12:33:00.000000000
16269139,73223,135039,278629,2174-05-05 03:22:00,Glucose,160.0,2174-05-04,1 days 03:22:00.000000000
16269140,75257,114666,237645,2151-06-14 11:15:00,Glucose,227.0,2151-06-14,0 days 11:15:00.000000000
16269141,75257,114666,237645,2151-06-14 16:20:00,Glucose,96.0,2151-06-14,0 days 16:20:00.000000000
16269142,75257,114666,237645,2151-06-14 18:11:00,Glucose,110.0,2151-06-14,0 days 18:11:00.000000000
16269143,75257,114666,237645,2151-06-14 22:27:00,Glucose,130.0,2151-06-14,0 days 22:27:00.000000000
16269144,75257,114666,237645,2151-06-15 02:25:00,Glucose,151.0,2151-06-14,1 days 02:25:00.000000000
16269145,89327,163844,206931,2124-08-07 11:01:00,Glucose,151.0,2124-08-07,0 days 11:01:00.000000000
16269146,89327,163844,206931,2124-08-07 11:33:00,Glucose,145.0,2124-08-07,0 days 11:33:00.000000000
16269147,89327,163844,206931,2124-08-07 12:26:00,Glucose,145.0,2124-08-07,0 days 12:26:00.000000000
16269148,89327,163844,206931,2124-08-07 14:04:00,Glucose,78.0,2124-08-07,0 days 14:04:00.000000000
16269149,89327,163844,206931,2124-08-07 22:28:00,Glucose,113.0,2124-08-07,0 days 22:28:00.000000000
16269150,89327,163844,206931,2124-08-08 03:25:00,Glucose,112.0,2124-08-07,1 days 03:25:00.000000000
16269155,93571,183904,296383,2122-07-21 03:36:00,Glucose,94.0,2122-07-21,0 days 03:36:00.000000000
16269156,93571,183904,296383,2122-07-21 15:53:00,Glucose,111.0,2122-07-21,0 days 15:53:00.000000000
16269157,93571,183904,296383,2122-07-22 04:11:00,Glucose,122.0,2122-07-21,1 days 04:11:00.000000000
16269158,93571,183904,296383,2122-07-23 04:16:00,Glucose,112.0,2122-07-21,2 days 04:16:00.000000000
16269161,94998,117228,294773,2128-07-01 02:20:00,Glucose,130.0,2128-07-01,0 days 02:20:00.000000000
16269162,94998,117228,294773,2128-07-01 17:41:00,Glucose,162.0,2128-07-01,0 days 17:41:00.000000000
16269163,94998,117228,294773,2128-07-02 01:46:00,Glucose,130.0,2128-07-01,1 days 01:46:00.000000000
16269164,94998,117228,294773,2128-07-02 12:44:00,Glucose,131.0,2128-07-01,1 days 12:44:00.000000000
16269165,94998,117228,294773,2128-07-03 02:17:00,Glucose,156.0,2128-07-01,2 days 02:17:00.000000000

time: 36.8 ms

In [41]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(vitals_all_nosummary_nonull.rename(index=str, columns={'vitalid':'label'}),'vitals_all_nosummary_72', 'label','icustay_id')]
)

time: 5.05 s

### uti_all_72 x

In [42]:
uti_all_72=pd.read_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/72_hr_window/%s_uti_all_72.csv' %(date), index_col=0)

time: 550 ms

In [43]:
uti_all_72.head(2)

,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,label,fluid,category,loinc_code,icd9_code,t_0,delta
42,26,197661.0,51486,2126-05-10 14:59:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,99604,2126-05-10,0 days 14:59:00.000000000
43,26,197661.0,51486,2126-05-10 14:59:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,4271,2126-05-10,0 days 14:59:00.000000000

time: 20.9 ms

In [44]:
#uti_all_72_melt= pd.melt(uti_all_72, id_vars=['subject_id','hadm_id','itemid','charttime','t_0','delta'], var_name='label')

time: 465 s

In [45]:
uti_all_72_melt= pd.melt(
    uti_all_72[['hadm_id','charttime','value','valuenum','valueuom','label','fluid']],
    id_vars=['hadm_id','charttime'], var_name='label')

time: 229 ms

In [46]:
uti_all_72_melt_notnull= uti_all_72_melt[uti_all_72_melt['value'].notnull()] #1320954

time: 71.7 ms

In [47]:
uti_all_72_melt_notnull['label'].value_counts()

value    220159
fluid    220159
label    220159
Name: label, dtype: int64

time: 86.5 ms

In [48]:
print(
    uti_all_72_melt_notnull.nunique(), #6145/15207 unique hadm_id/hadm_id
)

hadm_id      6145
charttime    7795
label           3
value          11
dtype: int64
time: 245 ms

In [49]:
#na values
#uti_all_72_melt.loc[uti_all_72_melt['value'].isna(),:]#.count() #220159 na valuenum, 440318 when melted
#uti_all_72_melt[uti_all_72_melt['value'].isnull()]['hadm_id'].count() #440318

time: 612 s

In [50]:
#uti_all_72_melt[uti_all_72_melt['value'].notnull()]

time: 429 s

In [51]:
missingness_fxn(uti_all_72_melt_notnull,'uti_all_72_melt', 'label','hadm_id')

   label  %missingness           source data_label
0  fluid     58.106081  uti_all_72_melt      label
1  label     58.106081  uti_all_72_melt      label
2  value     58.106081  uti_all_72_melt      label

time: 103 ms

In [52]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(uti_all_72_melt_notnull,'uti_all_72_melt', 'label','hadm_id')]
)

time: 85.1 ms

### bg_all_nosummary_72 x

In [53]:
bg_all_nosummary_72=pd.read_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/72_hr_window/%s_bg_all_nosummary_72.csv' %(date), index_col=0)

time: 1.45 s

In [54]:
#na values- removing all null values from value.
bg_all_nosummary_72= bg_all_nosummary_72.loc[bg_all_nosummary_72['value'].notnull(),:]

bg_all_nosummary_72.head(2)

,subject_id,hadm_id,icustay_id,charttime,label,valuenum,value,unique_var,t_0,delta
82,9,150750,220597,2149-11-13 03:34:00,BASEEXCESS,NaN,-1,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
83,9,150750,220597,2149-11-13 03:34:00,CALCIUM,1.05,1.05,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000

time: 99.4 ms

In [55]:
print(
    bg_all_nosummary_72['icustay_id'].nunique(), #11244/15207 unique icustay_id/icustay_id
)

11244
time: 10.3 ms

In [56]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(bg_all_nosummary_72,'bg_all_nosummary_72', 'label','icustay_id')]
)

time: 118 ms

In [57]:
#missingness_fxn(bg_all_nosummary_72,'bg_all_nosummary_72', 'label','icustay_id')

time: 608 s

### rrt_merged_allpt_df x

In [58]:
rrt_merged_allpt_df.head(10)

   icustay_id         t_0      first_charttime  rrt
0    267059.0  2182-11-12                  NaN  NaN
1    278729.0  2159-11-08                  NaN  NaN
2    219670.0  2190-08-01                  NaN  NaN
3    295185.0  2154-11-11                  NaN  NaN
4    211472.0  2193-12-11                  NaN  NaN
5    259012.0  2120-05-24                  NaN  NaN
6    231735.0  2186-04-13                  NaN  NaN
7    252135.0  2166-04-13  2166-04-13 00:00:00  1.0
8    293255.0  2167-10-21  2167-10-21 04:31:00  1.0
9    261279.0  2167-10-26  2167-10-26 01:00:00  1.0

time: 15.2 ms

In [59]:
#na values
rrt_merged_allpt_df_notnull = rrt_merged_allpt_df.loc[rrt_merged_allpt_df['rrt'].notnull(),:]

time: 2.16 ms

In [60]:
print(
    rrt_merged_allpt_df_notnull['icustay_id'].nunique(), #1223/15207 unique icustay_id/icustay_id
)

1223
time: 1.44 ms

In [61]:
#missingness_fxn(rrt_merged_allpt_df_notnull.rename(index=str,columns={'rrt':"label"}),'rrt_merged_allpt_df_notnull', 'label','icustay_id')

time: 497 s

In [62]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(rrt_merged_allpt_df_notnull.rename(index=str,columns={'rrt':"label"}),'rrt_merged_allpt_df_notnull', 'label','icustay_id')]
)

time: 8.14 ms

### gcs72_df x

In [63]:
gcs72_df.head(2)

,subject_id,hadm_id,icustay_id,day,mingcs,gcsmotor,gcsverbal,gcseyes,endotrachflag,ICU_admit,t_0,admit_plus_day,delta
0,28448,177527,200012,1.0,15.0,6.0,5.0,4.0,0.0,2153-12-23 05:12:55,2153-12-23,2153-12-24 05:12:55,1 days 05:12:55.000000000
1,9514,127229,200014,2.0,13.0,6.0,3.0,4.0,0.0,2105-02-16 23:16:48,2105-02-17,2105-02-18 23:16:48,1 days 23:16:48.000000000

time: 15.6 ms

In [64]:
#need to reshape the dataframe
gcs72_df_melt = pd.melt(gcs72_df, id_vars=['subject_id','hadm_id','icustay_id','t_0','ICU_admit','admit_plus_day','delta'], var_name='label')

time: 21.7 ms

In [65]:
gcs72_df_melt_notnull= gcs72_df_melt[gcs72_df_melt['value'].notnull()] #62772 ->62650

time: 6.31 ms

In [66]:
print(
    gcs72_df_melt_notnull['icustay_id'].nunique(), #10462/15207 unique icustay_id/icustay_id
)

10462
time: 2.19 ms

In [67]:
missingness_fxn(gcs72_df_melt_notnull,'gcs72_df_melt_notnull', 'label','icustay_id')

           label  %missingness                 source data_label
0            day     28.674666  gcs72_df_melt_notnull      label
1  endotrachflag     28.674666  gcs72_df_melt_notnull      label
2        gcseyes     28.776929  gcs72_df_melt_notnull      label
3       gcsmotor     29.022362  gcs72_df_melt_notnull      label
4      gcsverbal     29.056449  gcs72_df_melt_notnull      label
5         mingcs     28.674666  gcs72_df_melt_notnull      label

time: 14 ms

In [68]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(gcs72_df_melt_notnull,'gcs72_df_melt_notnull', 'label','icustay_id')]
)

time: 10.5 ms

### sofa_df_72

In [69]:
sofa_df_72.head(2)

,subject_id,hadm_id,icustay_id,day,sofa,respiration,pao2fio2_vent_min,pao2fio2_novent_min,coagulation,platelet_min,...,meanbp_min,cns,mingcs,renal,creatinine_max,urineoutput,t_0,ICU_admit,approx_charttime,floor_charttime
4,9,150750,220597,4.0,6,0.0,204.0,NaN,0.0,306.0,...,54.0,NaN,NaN,2.0,2.0,6020.0,2149-11-13,2149-11-09 13:07:02,2149-11-13 13:07:02,2149-11-13 00:00:00
5,9,150750,220597,5.0,7,NaN,NaN,NaN,NaN,NaN,...,91.0,NaN,NaN,4.0,NaN,100.0,2149-11-13,2149-11-09 13:07:02,2149-11-14 13:07:02,2149-11-14 00:00:00

time: 20.5 ms

In [70]:
#need to reshape the dataframe
sofa_df_melt = pd.melt(sofa_df_72, id_vars=['subject_id','hadm_id','icustay_id','t_0','day','ICU_admit','approx_charttime','floor_charttime'], var_name='label')

time: 163 ms

In [71]:
sofa_df_melt_notnull= sofa_df_melt[sofa_df_melt['value'].notnull()] #606651 ->302459

time: 30.9 ms

In [72]:
len(sofa_df_melt_notnull)

302459

time: 2.79 ms

In [73]:
print(
    sofa_df_melt_notnull['icustay_id'].nunique(), #13323/15207 unique icustay_id/icustay_id
)

13323
time: 5.92 ms

In [74]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(sofa_df_melt_notnull,'sofa_df_melt_notnull', 'label','icustay_id')]
)

time: 61.6 ms

In [75]:
missingness_df_v = missingness_df.sort_values('%missingness', ascending=False)

date= '01102018'

pd.DataFrame(missingness_df_v).to_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/interim/%s_missingness_df_v.csv' %(date))

time: 8.26 ms

In [76]:
missingness_df

                  label  %missingness                       source data_label
0               ALBUMIN     52.372512        labs_all_nosummary_72      label
1             ANION GAP     -2.938369        labs_all_nosummary_72      label
2                 BANDS     82.615217        labs_all_nosummary_72      label
3           BICARBONATE     -3.013362        labs_all_nosummary_72      label
4             BILIRUBIN     42.909735        labs_all_nosummary_72      label
5                   BUN     -3.040633        labs_all_nosummary_72      label
6              CHLORIDE     -3.054268        labs_all_nosummary_72      label
7            CREATININE     -3.054268        labs_all_nosummary_72      label
8               GLUCOSE     -3.067903        labs_all_nosummary_72      label
9            HEMATOCRIT     -3.026998        labs_all_nosummary_72      label
10           HEMOGLOBIN     -2.979275        labs_all_nosummary_72      label
11                  INR      9.933188        labs_all_nosummary_72      label
12              LACTATE     37.148896        labs_all_nosummary_72      label
13             PLATELET     -2.958822        labs_all_nosummary_72      label
14            POTASSIUM     -3.101991        labs_all_nosummary_72      label
15                   PT      9.912735        labs_all_nosummary_72      label
16                  PTT     10.355877        labs_all_nosummary_72      label
17               SODIUM     -3.067903        labs_all_nosummary_72      label
18                  WBC     -2.992910        labs_all_nosummary_72      label
0            dobutamine     98.363785                 vaso_dose_72      label
1              dopamine     94.014181                 vaso_dose_72      label
2           epinephrine     97.893373                 vaso_dose_72      label
3        norepinephrine     79.976820                 vaso_dose_72      label
4         phenylephrine     83.971912                 vaso_dose_72      label
5           vasopressin     94.252795                 vaso_dose_72      label
0             vent_day1     -3.674666              ventcategory_df      label
1             vent_day2     -3.674666              ventcategory_df      label
2             vent_day3     -3.674666              ventcategory_df      label
0                weight      6.701663            weightfirstday_df      label
1          weight_admit     21.973002            weightfirstday_df      label
..                  ...           ...                          ...        ...
25          TIDALVOLUME     72.975184          bg_all_nosummary_72      label
26             TOTALCO2     34.776384          bg_all_nosummary_72      label
27      VENTILATIONRATE     79.445050          bg_all_nosummary_72      label
28           VENTILATOR     82.594764          bg_all_nosummary_72      label
0                     1     91.662122  rrt_merged_allpt_df_notnull      label
0                   day     28.674666        gcs72_df_melt_notnull      label
1         endotrachflag     28.674666        gcs72_df_melt_notnull      label
2               gcseyes     28.776929        gcs72_df_melt_notnull      label
3              gcsmotor     29.022362        gcs72_df_melt_notnull      label
4             gcsverbal     29.056449        gcs72_df_melt_notnull      label
5                mingcs     28.674666        gcs72_df_melt_notnull      label
0         bilirubin_max     60.703572         sofa_df_melt_notnull      label
1        cardiovascular     12.107990         sofa_df_melt_notnull      label
2                   cns     53.429234         sofa_df_melt_notnull      label
3           coagulation     17.330243         sofa_df_melt_notnull      label
4        creatinine_max     16.818926         sofa_df_melt_notnull      label
5                 liver     60.703572         sofa_df_melt_notnull      label
6            meanbp_min     12.142078         sofa_df_melt_notnull      label
7                mingcs     53.429234         sofa_df_melt_notnull      label
8   pao2fio2_novent_min     81.238069         sofa_df_melt_notnull      label
9     pao2fio2_vent_min     63.423780         sofa_df_melt_notnull      label
10         platelet_min     17.330243         sofa_df_melt_notnull      label
11      rate_dobutamine     98.602400         sofa_df_melt_notnull      label
12        rate_dopamine     95.364058         sofa_df_melt_notnull      label
13     rate_epinephrine     98.036542         sofa_df_melt_notnull      label
14  rate_norepinephrine     83.065176         sofa_df_melt_notnull      label
15                renal     12.005727         sofa_df_melt_notnull      label
16          respiration     57.308427         sofa_df_melt_notnull      label
17                 sofa      9.169621         sofa_df_melt_notnull      label
18          urineoutput     16.300791         sofa_df_melt_notnull      label

[103 rows x 4 columns]

time: 18.9 ms

### visualizations

In [77]:
"""
    get the # of filled vs missign values for each variable for our cohort.
    Args:
    -----
    df: dataframe
        name of dataframe initialized in this workbook
    valuenum_col: string
        name of column with the numerical or text variable in question
    label_col: string
        name of column with the lab value label in question
    Returns:
    -----
    filled_summary: df
        list of all variables with # filled values
    missing_summary: df
        list of all variables with # missing values
    percent_summary: df
        list of all variables with # filled values/ # total patients
    """

def missing_fxn(df, valuenum_col, label_col):
    if 'icustay_id' in list(df):
        df= df[df['icustay_id'].isin(list(cohort_df['icustay_id'].unique()))] #good
    else:
        df= df[df['subject_id'].isin(
            list(cohort_df['subject_id'].unique()))] 

    df_notnull = df[df[valuenum_col].notnull()]
    df_null = df[df[valuenum_col].isnull()]
    df_filtered = df.drop_duplicates(['subject_id',label_col])[label_col].value_counts()
    
    filled_summary= df_notnull.drop_duplicates(['subject_id',label_col])[label_col].value_counts()
    missing_summary = df_null.drop_duplicates(['subject_id',label_col])[label_col].value_counts()
    percent_summary = 100*(filled_summary / df_filtered)
    
    #missing_plot=(missing_summary.sort_index().plot.bar(title = f'# of missing values in {df}'))
    
    #filled_summary, missing_summary, percent_summary, 
    return(filled_summary, missing_summary, percent_summary)

time: 28.7 ms

In [78]:
var1, var2, var3,  = missing_fxn(labs_all48, 'valuenum', 'label')
fig, axs = plt.subplots(1,2,figsize=(10,4))
ax1= (var2.sort_index().plot.bar(ax=axs[0], title = '# of missing values in labs_all48'))
ax2= (var3.sort_index().plot.bar(color='grey',
                                ax=axs[1],
                                ylim=(min(var3)-10 ,100),
                                title = '% of values filled in labs_all48'))

NameError: name 'labs_all48' is not defined

time: 171 ms

#### histogram of frequency over each hour.

In [ ]:
def hours_fxn(td):
    return ((td.days*24*3600) + td.seconds)//3600

def days_fxn(td):
    return td.days

In [ ]:
pd.to_timedelta(vaso_dose_72['delta'].head())

In [ ]:
for element in vaso_dose_72['label'].unique():
    print(element)

In [ ]:
size=11
fig=plt.figure(figsize=(size, size*(2/3)), dpi= 80, facecolor='w')
ax = plt.axes()

vaso_dose_72['hours']=pd.to_timedelta(vaso_dose_72['delta']).map(hours_fxn) #good

for element in vaso_dose_72['label'].unique():    
    (vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'hours']
         .value_counts(sort=False)
         .sort_index()
         .plot(kind='bar', sort_columns=True))

In [ ]:
for element in vaso_dose_72['label'].unique():
    size=9
    fig=plt.figure(figsize=(size, size*(2/3)), dpi= 80, facecolor='w')
    ax = plt.axes()
    (vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'hours']
         .value_counts(sort=False)
         .sort_index()
         .plot(kind='bar', sort_columns=True,color='blue'))
    print(element)
    ax.set_ylabel('frequency_for_all_pt', fontsize='large')
    ax.set_xlabel('hours_after_t_0', fontsize='large')
    ax.set_title('%s'%(element), fontsize='large')
    plt.show()

In [ ]:
# #looking at overall missingness

# for element in vaso_dose_72['label'].unique():
#     print(element)
#     print(vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'icustay_id']
#          .nunique())
#     print(((vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'icustay_id']
#          .nunique())/len(icustay_id))*100,"% of icustay_id's with any value")

In [ ]:
# print(vaso_dose_72['icustay_id'].nunique())

In [ ]:
# len(icustay_id)

In [ ]:

11/1/18: After looking at the missingness % of patients without a given reading of each data over first 3 days of icustay, we decided that patients without an single SpO2 reading are disqualified from study. 



 
Total: 14668

10/28/18:

# Goal: to make a new icustay_id cohort with the added criteria that patients have at minimum one Sp02 reading during their first 3 days of suspected infection.
### The idea is that this should be the bare minimum amount of data for a patient, and without it, it's likely the physicians did not suspect an infection in these patients.

In [ ]:
vitals_all_nosummary_72.head(2)

In [ ]:
#na values
vitals_all_nosummary_72.loc[
    vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

vitals_all_nosummary_nonull= vitals_all_nosummary_72.loc[
    vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

In [ ]:
print(
    vitals_all_nosummary_nonull['icustay_id'].nunique(), #14714/15207 unique icustay_id/icustay_id
)

In [ ]:
vitals_all_nosummary_nonull.loc[vitals_all_nosummary_nonull.loc[:,'vitalid']=='SpO2',:]

#missingness_df.loc[missingness_df.loc[:,'label']=='SpO2',:]

In [ ]:
print((vitals_all_nosummary_nonull.loc[
    vitals_all_nosummary_nonull.loc[:,'vitalid']=='SpO2','icustay_id'
        ].nunique()), #n=14668
    len(icustay_id)
     ) #15207

#print(14668/15207)

icustay_id_vitals = (vitals_all_nosummary_nonull.loc[
    vitals_all_nosummary_nonull.loc[:,'vitalid']=='SpO2','icustay_id'
        ].unique())

In [ ]:

vitals_all_nosummary_nonull_v=(vitals_all_nosummary_nonull.loc[
    vitals_all_nosummary_nonull.loc[:,'icustay_id']
    .isin(icustay_id_vitals),:]
)

In [ ]:
#lists and df with _v will be for patients who have atleast 1 SpO2 reading in first 3 days post t_0. 
vitals_all_nosummary_nonull_v
icustay_id_v= list(vitals_all_nosummary_nonull_v['icustay_id'].unique())
icustay_id_v= [int(x) for x in icustay_id_v]

In [ ]:
#updated final_pt_df2 for patients who have atleast 1 SpO2 reading in first 3 days post t_0. 
final_pt_df2_v = (
    final_pt_df2.loc[final_pt_df2.loc[:,'icustay_id'].isin(icustay_id_v),:]
)

In [ ]:
final_pt_df2_v.head()

In [ ]:
pd.crosstab(final_pt_df2['ab_course'], final_pt_df2['sc_result'])

In [ ]:
#todo, crosstab table of pts in new icustay_id_v
pd.crosstab(final_pt_df2_v['ab_course'], final_pt_df2_v['sc_result']) #n= 14668