in 06.1 i defined cohort with atleast 1 SpO2 reading present. This will be the missingness analysis performed on this subset of patients.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime
%reload_ext autotime

In [2]:
#cohort import

os.chdir('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling') #use to change working directory
wd= os.getcwd() #'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling'


final_pt_df2 = pd.read_csv(Path(wd + '/data/raw/csv/01102018_final_pt_df2_v.csv') , index_col=0)
patients= list(final_pt_df2['subject_id'].unique())
hadm_id= list(final_pt_df2['hadm_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 101 ms

In [3]:
len(patients)

12403

time: 3.59 ms

In [4]:
#reading in all of my data that is not limited to 72 hour time window between t_0 and t+72
date= '27082018' 

ventcategory_df=pd.read_csv(Path(
    wd+'/data/raw/csv/%s_ventcategory_df.csv' %(date)), index_col=0)

vaso_dose_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_vaso_dose_72.csv' %(date)), index_col=0)


echodata_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_echodata_72.csv' %(date)), index_col=0)
labs_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_labs_all_nosummary_72.csv' %(date)), index_col=0)


weightfirstday_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_weightfirstday_df.csv' %(date)), index_col=0)
heightfirstday_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_heightfirstday_df.csv' %(date)), index_col=0)

vitals_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_vitals_all_nosummary_72.csv' %(date)), index_col=0)
uti_all_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_uti_all_72.csv' %(date)), index_col=0)
bg_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_bg_all_nosummary_72.csv' %(date)), index_col=0)

rrt_merged_allpt_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_rrt_merged_allpt_df.csv' %(date)), index_col=0)
gcs72_df=pd.read_csv(Path(
    wd+'/data/raw/csv/72_hr_window/%s_gcs72_df.csv' %(date)), index_col=0)

sofa_df_72=pd.read_csv(Path(
    wd+'/data/raw/csv/%s_sofa_df_72.csv' %(date)), index_col=0)

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

time: 15.5 s

In [5]:
def df_subset(df):
    try:
        df = df.loc[df.loc[:,'icustay_id'].isin(icustay_id),:]
    except KeyError or NameError:
        try:
            df = df.loc[df.loc[:,'hadm_id'].isin(hadm_id),:]
        except KeyError or NameError:
            df = df.loc[df.loc[:,'subject_id'].isin(patients),:]
    return(df)

time: 4.44 ms

In [6]:
# subsetting each dataframe to only patients in final_patients_df2_v:
dataframe_list= [
    ventcategory_df,
    vaso_dose_72,
    echodata_72,
    labs_all_nosummary_72,
    weightfirstday_df,
    heightfirstday_df,
    vitals_all_nosummary_72,
    uti_all_72,
    bg_all_nosummary_72,
    rrt_merged_allpt_df,
    gcs72_df,
    sofa_df_72
]

(
ventcategory_df,
 vaso_dose_72,
 echodata_72,
 labs_all_nosummary_72,
 weightfirstday_df,
 heightfirstday_df,
 vitals_all_nosummary_72,
 uti_all_72,
 bg_all_nosummary_72,
 rrt_merged_allpt_df,
 gcs72_df,
 sofa_df_72
) = (df_subset(df) for df in dataframe_list)

time: 1.02 s

In [7]:
labs_all_nosummary_72['icustay_id'].nunique() #15142

14621

time: 11.8 ms

# task 1: % MISSINGNESS table
need to look for the amount of patients who are missing any value in any of the categories. want to aggregate all variables and % missingness and source into 1 dataframe

In [8]:
print(
    labs_all_nosummary_72['hadm_id'].nunique(), #15142/15207 unique hadm_id/icustay_id
    labs_all_nosummary_72['subject_id'].nunique() #12744/12801 unique patients in this
)

14621 12362
time: 17.7 ms

In [9]:
def missingness_fxn(df,name, groupby,filteron):
    
    """
    input: dataframe w/ clinical data we want to assess the % missing values on.
    output: a dataframe grouped by the different clinical variables with 
        associated % missingnss (ie how many icustays do not have this value)
        
    """

    missing_df= pd.DataFrame(
        100* (1-(df.groupby(groupby)[filteron].nunique()/ len(hadm_id)))) #number of unique icustays with data /total # icustay
    missing_df.reset_index(inplace=True)
    missing_df= missing_df.rename(index=str, columns={"label":'label', filteron:'%missingness'})
    missing_df['source']= name
    missing_df['data_label']=groupby
    return(missing_df)

time: 19.4 ms

#### all dataframes to do %missingness on (add x when complete)
- vaso_dose_72 : x
- ventcategory_df : x
- echodata_72 : ?
- labs_all_nosummary_72 : x
- weightfirstday_df : x
- heightfirstday_df : x
- vitals_all_nosummary_72 :x
- uti_all_72 :x
- bg_all_nosummary_72 :x
- rrt_merged_allpt_df :x
- gcs72_df : x
- sofa_df_72:

In [10]:
missingness_df= pd.DataFrame()

time: 893 Âµs

### labs x

In [11]:
print(
    (labs_all_nosummary_72['hadm_id'].nunique(), "out of", len(hadm_id)), #15142/14668 unique hadm_id/icustay_id
    (labs_all_nosummary_72['subject_id'].nunique(), "out of",len(patients)) #12744/12403 unique patients in this
)

(14621, 'out of', 14668) (12362, 'out of', 12403)
time: 13.6 ms

In [12]:
#na values
labs_all_nosummary_72.loc[labs_all_nosummary_72['valuenum'].isna(),:]

,subject_id,hadm_id,icustay_id,charttime,label,valuenum,t_0,delta
839176,13940,137769,298457,2192-12-12 02:20:00,INR,NaN,2192-12-12,0 days 02:20:00.000000000

time: 16 ms

In [13]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(labs_all_nosummary_72,'labs_all_nosummary_72', 'label','icustay_id')]
)

time: 173 ms

### vaso_dose x

In [14]:
print(
    vaso_dose_72['icustay_id'].nunique(), #4777/15207 unique icustay_id/icustay_id
)

4762
time: 2.16 ms

In [15]:
vaso_dose_72.head(2)

,icustay_id,starttime,endtime,vaso_rate,vaso_amount,label,t_0,delta
4,200349.0,2139-06-02 16:31:00,2139-06-02 18:10:00,0.012030,0.073958,epinephrine,2139-06-02,0 days 16:31:00.000000000
108,200952.0,2139-09-23 15:07:00,2139-09-24 06:43:00,0.020004,1.049601,epinephrine,2139-09-23,0 days 15:07:00.000000000

time: 9.74 ms

In [16]:
vaso_dose_72.loc[vaso_dose_72['vaso_rate'].isna(),:]

Empty DataFrame
Columns: [icustay_id, starttime, endtime, vaso_rate, vaso_amount, label, t_0, delta]
Index: []

time: 6.2 ms

In [17]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(vaso_dose_72,'vaso_dose_72', 'label','icustay_id')]
)

time: 33.7 ms

### ventcategory_df x

In [18]:
ventcategory_df.head()

   icustay_id         t_0 vent_day1 vent_day2 vent_day3
0    267059.0  2182-11-12      Mech      None      None
1    278729.0  2159-11-08    Oxygen      Mech      None
2    219670.0  2190-08-01    Oxygen      None      None
3    295185.0  2154-11-11    Oxygen      None      None
4    211472.0  2193-12-11      None      None      None

time: 8.14 ms

In [19]:
#need to reshape the dataframe
ventcategory_df_melt = pd.melt(ventcategory_df, id_vars=['icustay_id','t_0'], var_name='label')

print(
    ventcategory_df_melt['icustay_id'].nunique(), #15207/15207 unique icustay_id/icustay_id
)

14668
time: 9.9 ms

In [20]:
ventcategory_df_melt.head(2)

   icustay_id         t_0      label   value
0    267059.0  2182-11-12  vent_day1    Mech
1    278729.0  2159-11-08  vent_day1  Oxygen

time: 7.13 ms

In [21]:
#na values
ventcategory_df_melt.loc[ventcategory_df_melt['value'].isnull()]

Empty DataFrame
Columns: [icustay_id, t_0, label, value]
Index: []

time: 6.74 ms

In [22]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(ventcategory_df_melt,'ventcategory_df', 'label','icustay_id')]
)

time: 15 ms

### echodata_72

In [23]:
echodata_72.head(2)

,row_id,subject_id,hadm_id,chartdate,charttime,indication,height,weight,bsa,bp,bpsys,bpdias,hr,status,test,doppler,contrast,technicalquality,t_0,delta
0,59653,31038,174978.0,2102-06-14 00:00:00,2102-06-14 13:30:00,Endocarditis.,74.0,165.0,2.00,102/72,102.0,72.0,86.0,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate,2102-06-13,1 days 13:30:00.000000000
1,59654,70150,156140.0,2191-05-10 00:00:00,2191-05-10 15:08:00,"CHF, A-FIB",66.0,263.0,2.25,107/81,107.0,81.0,95.0,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal,2191-05-10,0 days 15:08:00.000000000

time: 17.1 ms

In [24]:
#num of icustay_id/hadm_id
print(
    echodata_72['hadm_id'].nunique(), #5421/15207 unique hadm_id/icustay_id
)

5310
time: 1.66 ms

In [25]:
#number of na values

pd.DataFrame(
    {
    'bsa':[echodata_72.loc[echodata_72['bsa'].isna(),'hadm_id'].count()], 
    'bp': [echodata_72.loc[echodata_72['bp'].isna(),'hadm_id'].count()], 
    'bpsys': [echodata_72.loc[echodata_72['bpsys'].isna(),'hadm_id'].count()], 
    'bpdias': [echodata_72.loc[echodata_72['bpdias'].isna(),'hadm_id'].count()],
    'hr': [echodata_72.loc[echodata_72['hr'].isna(),'hadm_id'].count()],
    'test': [echodata_72.loc[echodata_72['test'].isna(),'hadm_id'].count()]
             }
            )

    bp  bpdias  bpsys   bsa   hr  test
0  506     518    518  1088  700     0

time: 13.3 ms

# NEED TO ASK ABOUT WHICH VALUES ARE MOST IMPORTANT IN THIS

In [26]:
# missingness_df = pd.concat(
#     [missingness_df,
#         missingness_fxn(labs_all_nosummary_72,'labs_all_nosummary_72', 'label','icustay_id')]
# )

time: 896 Âµs

### weightfirstday_df x

In [27]:
#delete once done debugging
weightfirstday_df=pd.read_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/72_hr_window/%s_weightfirstday_df.csv' %(date), index_col=0)

time: 23.8 ms

In [28]:
#need to reshape the df

weightfirstday_df_melt= pd.melt(weightfirstday_df, id_vars='icustay_id', var_name='label')
#weightfirstday_df_melt

time: 7.04 ms

In [29]:
print(
    weightfirstday_df_melt['icustay_id'].nunique(), #15207/15207 unique icustay_id/icustay_id
)

15207
time: 2.81 ms

In [30]:
#na values
weightfirstday_df_melt.loc[weightfirstday_df_melt['value'].isna(),'icustay_id'].count() #1522/15207 do not have any weight, 39522 total null rows.

39522

time: 4.06 ms

In [31]:
#missingness df
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(weightfirstday_df_melt.loc[weightfirstday_df_melt['value'].notnull(),:],'weightfirstday_df', 'label','icustay_id')]
)

time: 16.9 ms

In [32]:
missingness_df

                 label  %missingness                 source data_label
0              ALBUMIN     53.470139  labs_all_nosummary_72      label
1            ANION GAP      0.552223  labs_all_nosummary_72      label
2                BANDS     82.881102  labs_all_nosummary_72      label
3          BICARBONATE      0.477229  labs_all_nosummary_72      label
4            BILIRUBIN     44.389146  labs_all_nosummary_72      label
5                  BUN      0.463594  labs_all_nosummary_72      label
6             CHLORIDE      0.449959  labs_all_nosummary_72      label
7           CREATININE      0.449959  labs_all_nosummary_72      label
8              GLUCOSE      0.436324  labs_all_nosummary_72      label
9           HEMATOCRIT      0.490864  labs_all_nosummary_72      label
10          HEMOGLOBIN      0.531770  labs_all_nosummary_72      label
11                 INR     12.387510  labs_all_nosummary_72      label
12             LACTATE     38.219253  labs_all_nosummary_72      label
13            PLATELET      0.552223  labs_all_nosummary_72      label
14           POTASSIUM      0.415871  labs_all_nosummary_72      label
15                  PT     12.373875  labs_all_nosummary_72      label
16                 PTT     12.789746  labs_all_nosummary_72      label
17              SODIUM      0.443142  labs_all_nosummary_72      label
18                 WBC      0.518135  labs_all_nosummary_72      label
0           dobutamine     98.377420           vaso_dose_72      label
1             dopamine     94.055086           vaso_dose_72      label
2          epinephrine     97.907008           vaso_dose_72      label
3       norepinephrine     80.058631           vaso_dose_72      label
4        phenylephrine     84.005999           vaso_dose_72      label
5          vasopressin     94.300518           vaso_dose_72      label
0            vent_day1      0.000000        ventcategory_df      label
1            vent_day2      0.000000        ventcategory_df      label
2            vent_day3      0.000000        ventcategory_df      label
0               weight      6.701663      weightfirstday_df      label
1         weight_admit     21.973002      weightfirstday_df      label
2         weight_daily     51.288519      weightfirstday_df      label
3    weight_echoinhosp     74.795473      weightfirstday_df      label
4   weight_echoprehosp     96.311699      weightfirstday_df      label

time: 15.8 ms

### heightfirstday_df x

In [33]:
heightfirstday_df.head(2)

   icustay_id  height  height_chart  height_echo
4      216859  172.72           NaN       172.72
5      203487  185.42        185.42       182.88

time: 9.94 ms

In [34]:
#need to reshape the df
heightfirstday_df_melt= pd.melt(heightfirstday_df, id_vars='icustay_id', var_name='label')

time: 5.91 ms

In [35]:
print(
    heightfirstday_df_melt['icustay_id'].nunique(), #15207/15207 unique icustay_id/icustay_id
)

14668
time: 2.57 ms

In [36]:
#na values
print(
    heightfirstday_df_melt.loc[heightfirstday_df_melt['value'].isna(),'icustay_id'].count(), #22776 total null rows.
    heightfirstday_df.loc[heightfirstday_df['height'].isna(),'icustay_id'].count() #5212/15207 do not have any weight,
)

21915 5010
time: 3.63 ms

In [37]:
#missingness df
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(heightfirstday_df_melt.loc[heightfirstday_df_melt['value'].notnull(),:],'heightfirstday_df', 'label','icustay_id')]
)

time: 11.6 ms

In [38]:
missingness_df

                 label  %missingness                 source data_label
0              ALBUMIN     53.470139  labs_all_nosummary_72      label
1            ANION GAP      0.552223  labs_all_nosummary_72      label
2                BANDS     82.881102  labs_all_nosummary_72      label
3          BICARBONATE      0.477229  labs_all_nosummary_72      label
4            BILIRUBIN     44.389146  labs_all_nosummary_72      label
5                  BUN      0.463594  labs_all_nosummary_72      label
6             CHLORIDE      0.449959  labs_all_nosummary_72      label
7           CREATININE      0.449959  labs_all_nosummary_72      label
8              GLUCOSE      0.436324  labs_all_nosummary_72      label
9           HEMATOCRIT      0.490864  labs_all_nosummary_72      label
10          HEMOGLOBIN      0.531770  labs_all_nosummary_72      label
11                 INR     12.387510  labs_all_nosummary_72      label
12             LACTATE     38.219253  labs_all_nosummary_72      label
13            PLATELET      0.552223  labs_all_nosummary_72      label
14           POTASSIUM      0.415871  labs_all_nosummary_72      label
15                  PT     12.373875  labs_all_nosummary_72      label
16                 PTT     12.789746  labs_all_nosummary_72      label
17              SODIUM      0.443142  labs_all_nosummary_72      label
18                 WBC      0.518135  labs_all_nosummary_72      label
0           dobutamine     98.377420           vaso_dose_72      label
1             dopamine     94.055086           vaso_dose_72      label
2          epinephrine     97.907008           vaso_dose_72      label
3       norepinephrine     80.058631           vaso_dose_72      label
4        phenylephrine     84.005999           vaso_dose_72      label
5          vasopressin     94.300518           vaso_dose_72      label
0            vent_day1      0.000000        ventcategory_df      label
1            vent_day2      0.000000        ventcategory_df      label
2            vent_day3      0.000000        ventcategory_df      label
0               weight      6.701663      weightfirstday_df      label
1         weight_admit     21.973002      weightfirstday_df      label
2         weight_daily     51.288519      weightfirstday_df      label
3    weight_echoinhosp     74.795473      weightfirstday_df      label
4   weight_echoprehosp     96.311699      weightfirstday_df      label
0               height     34.155986      heightfirstday_df      label
1         height_chart     65.516771      heightfirstday_df      label
2          height_echo     49.734115      heightfirstday_df      label

time: 12.7 ms

### vitals_all_nosummary_72 x

In [39]:
vitals_all_nosummary_72.head(2)

,subject_id,hadm_id,icustay_id,charttime,vitalid,valuenum,t_0,delta
5,9,150750,220597,2149-11-13 15:20:00,MeanArtPress,61.0,2149-11-13,0 days 15:20:00.000000000
6,9,150750,220597,2149-11-14 11:00:00,MeanArtPress,103.0,2149-11-13,1 days 11:00:00.000000000

time: 10.9 ms

In [40]:
#na values
vitals_all_nosummary_72.loc[vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

vitals_all_nosummary_nonull= vitals_all_nosummary_72.loc[vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

#why do i have null vitalid's with actual values? need to dive into the sql.
###it looks like it may just extract a lot of values as null that are not relevant, can filter these out

time: 1.67 s

In [41]:
print(
    vitals_all_nosummary_nonull['icustay_id'].nunique(), #14714/15207 unique icustay_id/icustay_id
)

14668
time: 68.8 ms

In [42]:
vitals_all_nosummary_nonull

,subject_id,hadm_id,icustay_id,charttime,vitalid,valuenum,t_0,delta
5,9,150750,220597,2149-11-13 15:20:00,MeanArtPress,61.000000,2149-11-13,0 days 15:20:00.000000000
6,9,150750,220597,2149-11-14 11:00:00,MeanArtPress,103.000000,2149-11-13,1 days 11:00:00.000000000
7,9,150750,220597,2149-11-14 12:00:00,MeanArtPress,134.000000,2149-11-13,1 days 12:00:00.000000000
12,9,150750,220597,2149-11-13 07:00:00,MeanArtPress,85.000000,2149-11-13,0 days 07:00:00.000000000
13,9,150750,220597,2149-11-14 02:00:00,MeanArtPress,96.000000,2149-11-13,1 days 02:00:00.000000000
16,9,150750,220597,2149-11-13 10:00:00,MeanArtPress,92.000000,2149-11-13,0 days 10:00:00.000000000
18,9,150750,220597,2149-11-13 00:30:00,MeanArtPress,104.000000,2149-11-13,0 days 00:30:00.000000000
19,9,150750,220597,2149-11-13 17:00:00,MeanArtPress,84.000000,2149-11-13,0 days 17:00:00.000000000
29,9,150750,220597,2149-11-13 18:00:00,MeanArtPress,93.000000,2149-11-13,0 days 18:00:00.000000000
46,9,150750,220597,2149-11-13 04:00:00,MeanArtPress,104.000000,2149-11-13,0 days 04:00:00.000000000
47,9,150750,220597,2149-11-13 20:30:00,MeanArtPress,102.000000,2149-11-13,0 days 20:30:00.000000000
48,9,150750,220597,2149-11-13 21:00:00,MeanArtPress,97.000000,2149-11-13,0 days 21:00:00.000000000
49,9,150750,220597,2149-11-13 22:00:00,MeanArtPress,94.000000,2149-11-13,0 days 22:00:00.000000000
59,9,150750,220597,2149-11-13 13:00:00,MeanArtPress,104.000000,2149-11-13,0 days 13:00:00.000000000
60,9,150750,220597,2149-11-13 14:00:00,MeanArtPress,111.000000,2149-11-13,0 days 14:00:00.000000000
61,9,150750,220597,2149-11-14 09:00:00,MeanArtPress,106.000000,2149-11-13,1 days 09:00:00.000000000
64,9,150750,220597,2149-11-13 05:00:00,MeanArtPress,105.000000,2149-11-13,0 days 05:00:00.000000000
73,9,150750,220597,2149-11-14 10:00:00,MeanArtPress,80.000000,2149-11-13,1 days 10:00:00.000000000
79,9,150750,220597,2149-11-14 01:00:00,MeanArtPress,96.000000,2149-11-13,1 days 01:00:00.000000000
85,9,150750,220597,2149-11-13 00:00:00,MeanArtPress,102.000000,2149-11-13,0 days 00:00:00.000000000
89,9,150750,220597,2149-11-13 09:00:00,MeanArtPress,97.000000,2149-11-13,0 days 09:00:00.000000000
90,9,150750,220597,2149-11-14 05:00:00,MeanArtPress,89.000000,2149-11-13,1 days 05:00:00.000000000
97,9,150750,220597,2149-11-13 02:00:00,MeanArtPress,107.000000,2149-11-13,0 days 02:00:00.000000000
101,9,150750,220597,2149-11-13 03:00:00,MeanArtPress,101.000000,2149-11-13,0 days 03:00:00.000000000
102,9,150750,220597,2149-11-13 03:15:00,MeanArtPress,101.000000,2149-11-13,0 days 03:15:00.000000000
115,9,150750,220597,2149-11-13 15:30:00,MeanArtPress,59.000000,2149-11-13,0 days 15:30:00.000000000
126,9,150750,220597,2149-11-13 15:45:00,MeanArtPress,70.000000,2149-11-13,0 days 15:45:00.000000000
127,9,150750,220597,2149-11-13 15:50:00,MeanArtPress,68.000000,2149-11-13,0 days 15:50:00.000000000
128,9,150750,220597,2149-11-13 15:55:00,MeanArtPress,124.000000,2149-11-13,0 days 15:55:00.000000000
129,9,150750,220597,2149-11-14 13:00:00,MeanArtPress,92.000000,2149-11-13,1 days 13:00:00.000000000
...,...,...,...,...,...,...,...,...
16269060,99287,182660,276767,2135-12-06 19:15:00,RespRate,19.000000,2135-12-06,0 days 19:15:00.000000000
16269061,99287,182660,276767,2135-12-07 01:00:00,RespRate,16.000000,2135-12-06,1 days 01:00:00.000000000
16269062,99287,182660,276767,2135-12-07 01:00:00,SpO2,100.000000,2135-12-06,1 days 01:00:00.000000000
16269063,99287,182660,276767,2135-12-07 02:00:00,RespRate,18.000000,2135-12-06,1 days 02:00:00.000000000
16269064,99287,182660,276767,2135-12-07 02:00:00,SpO2,100.000000,2135-12-06,1 days 02:00:00.000000000
16269065,99287,182660,276767,2135-12-07 02:00:00,Glucose,131.000000,2135-12-06,1 days 02:00:00.000000000
16269066,99287,182660,276767,2135-12-07 03:00:00,RespRate,13.000000,2135-12-06,1 days 03:00:00.000000000
16269067,99287,182660,276767,2135-12-07 03:00:00,SpO2,100.000000,2135-12-06,1 days 03:00:00.000000000
16269068,99287,182660,276767,2135-12-07 04:00:00,RespRate,14.000000,2135-12-06,1 days 04:00:00.000000000
16269069,99287,182660,276767,2135-12-07 04:00:00,SpO2,100.000000,2135-12-06,1 days 04:00:00.000000000
16269070,99287,182660,276767,2135-12-07 05:00:00,RespRate,21.000000,2135-12-06,1 days 05:00:00.000000000
16269071,99287,182660,276767,2135-12-07 05:00:00,SpO2,99.000000,2135-12-06,1 days 05:00:00.000000000
16269072,99287,182660,276767,2135-12-07 05:00:00,TempF,38.555556,2135-12-06,1 days 05:00:00.000000000
16269073,99287,182660,276767,2135-12-07 06:00:00,RespRate,16.000000,2135-12-06,1 days 06:00:00.000000000
16269074,99287,182660,276767,2135-12-07 06:00:00,SpO2,100.000000,2135-12-06,1 days 06:00:00.000000000
16269075,99287,182660,276767,2135-12-06 19:20:00,Glucose,125.000000,2135-12-06,0 days 19:20:00.000000000
16269076,99287,182660,276767,2135-12-06 19:24:00,SysBP,132.000000,2135-12-06,0 days 19:24:00.000000000
16269077,99287,182660,276767,2135-12-06 19:24:00,DiasBP,76.000000,2135-12-06,0 days 19:24:00.000000000
16269078,99287,182660,276767,2135-12-06 19:24:00,MeanArtPress,88.000000,2135-12-06,0 days 19:24:00.000000000
16269079,99287,182660,276767,2135-12-06 20:00:00,RespRate,22.000000,2135-12-06,0 days 20:00:00.000000000
16269080,99287,182660,276767,2135-12-06 20:11:00,SpO2,100.000000,2135-12-06,0 days 20:11:00.000000000
16269081,99287,182660,276767,2135-12-06 20:20:00,RespRate,25.000000,2135-12-06,0 days 20:20:00.000000000
16269082,99287,182660,276767,2135-12-06 21:00:00,RespRate,16.000000,2135-12-06,0 days 21:00:00.000000000
16269083,99287,182660,276767,2135-12-06 21:00:00,SpO2,100.000000,2135-12-06,0 days 21:00:00.000000000
16269084,99287,182660,276767,2135-12-06 22:00:00,RespRate,18.000000,2135-12-06,0 days 22:00:00.000000000
16269085,99287,182660,276767,2135-12-07 08:00:00,RespRate,22.000000,2135-12-06,1 days 08:00:00.000000000
16269086,99287,182660,276767,2135-12-07 08:00:00,SpO2,100.000000,2135-12-06,1 days 08:00:00.000000000
16269087,99287,182660,276767,2135-12-07 08:00:00,TempF,38.333333,2135-12-06,1 days 08:00:00.000000000
16269088,99287,182660,276767,2135-12-07 09:00:00,RespRate,17.000000,2135-12-06,1 days 09:00:00.000000000
16269089,99287,182660,276767,2135-12-07 09:00:00,SpO2,100.000000,2135-12-06,1 days 09:00:00.000000000

time: 67 ms

In [43]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(vitals_all_nosummary_nonull.rename(index=str, columns={'vitalid':'label'}),'vitals_all_nosummary_72', 'label','icustay_id')]
)

time: 5.73 s

### uti_all_72 x

In [44]:
uti_all_72=pd.read_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/72_hr_window/%s_uti_all_72.csv' %(date), index_col=0)

time: 514 ms

In [45]:
uti_all_72.head(2)

,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,label,fluid,category,loinc_code,icd9_code,t_0,delta
42,26,197661.0,51486,2126-05-10 14:59:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,99604,2126-05-10,0 days 14:59:00.000000000
43,26,197661.0,51486,2126-05-10 14:59:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,4271,2126-05-10,0 days 14:59:00.000000000

time: 13.5 ms

In [46]:
#uti_all_72_melt= pd.melt(uti_all_72, id_vars=['subject_id','hadm_id','itemid','charttime','t_0','delta'], var_name='label')

time: 428 Âµs

In [47]:
uti_all_72_melt= pd.melt(
    uti_all_72[['hadm_id','charttime','value','valuenum','valueuom','label','fluid']],
    id_vars=['hadm_id','charttime'], var_name='label')

time: 247 ms

In [48]:
uti_all_72_melt_notnull= uti_all_72_melt[uti_all_72_melt['value'].notnull()] #1320954

time: 77.7 ms

In [49]:
uti_all_72_melt_notnull['label'].value_counts()

label    220159
value    220159
fluid    220159
Name: label, dtype: int64

time: 80.5 ms

In [50]:
print(
    uti_all_72_melt_notnull.nunique(), #6145/15207 unique hadm_id/hadm_id
)

hadm_id      6145
charttime    7795
label           3
value          11
dtype: int64
time: 275 ms

In [51]:
#na values
#uti_all_72_melt.loc[uti_all_72_melt['value'].isna(),:]#.count() #220159 na valuenum, 440318 when melted
#uti_all_72_melt[uti_all_72_melt['value'].isnull()]['hadm_id'].count() #440318

time: 615 Âµs

In [52]:
#uti_all_72_melt[uti_all_72_melt['value'].notnull()]

time: 415 Âµs

In [53]:
missingness_fxn(uti_all_72_melt_notnull,'uti_all_72_melt', 'label','hadm_id')

   label  %missingness           source data_label
0  fluid     58.106081  uti_all_72_melt      label
1  label     58.106081  uti_all_72_melt      label
2  value     58.106081  uti_all_72_melt      label

time: 117 ms

In [54]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(uti_all_72_melt_notnull,'uti_all_72_melt', 'label','hadm_id')]
)

time: 83.2 ms

### bg_all_nosummary_72 x

In [55]:
bg_all_nosummary_72=pd.read_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/raw/csv/72_hr_window/%s_bg_all_nosummary_72.csv' %(date), index_col=0)

time: 1.38 s

In [56]:
#na values- removing all null values from value.
bg_all_nosummary_72= bg_all_nosummary_72.loc[bg_all_nosummary_72['value'].notnull(),:]

bg_all_nosummary_72.head(2)

,subject_id,hadm_id,icustay_id,charttime,label,valuenum,value,unique_var,t_0,delta
82,9,150750,220597,2149-11-13 03:34:00,BASEEXCESS,NaN,-1,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
83,9,150750,220597,2149-11-13 03:34:00,CALCIUM,1.05,1.05,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000

time: 110 ms

In [57]:
print(
    bg_all_nosummary_72['icustay_id'].nunique(), #11244/15207 unique icustay_id/icustay_id
)

11244
time: 6.85 ms

In [58]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(bg_all_nosummary_72,'bg_all_nosummary_72', 'label','icustay_id')]
)

time: 121 ms

In [100]:
bg_all_nosummary_72

,subject_id,hadm_id,icustay_id,charttime,label,valuenum,value,unique_var,t_0,delta
82,9,150750,220597,2149-11-13 03:34:00,BASEEXCESS,NaN,-1,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
83,9,150750,220597,2149-11-13 03:34:00,CALCIUM,1.05,1.05,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
84,9,150750,220597,2149-11-13 03:34:00,LACTATE,1.80,1.8,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
85,9,150750,220597,2149-11-13 03:34:00,PCO2,34.00,34,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
86,9,150750,220597,2149-11-13 03:34:00,PH,7.42,7.42,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
87,9,150750,220597,2149-11-13 03:34:00,PaO2,68.00,68,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
88,9,150750,220597,2149-11-13 03:34:00,SPECIMEN,NaN,ART,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
89,9,150750,220597,2149-11-13 03:34:00,TEMPERATURE,37.20,37.2,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
90,9,150750,220597,2149-11-13 03:34:00,TOTALCO2,23.00,23,2205972149-11-13 03:34:00,2149-11-13,0 days 03:34:00.000000000
91,9,150750,220597,2149-11-13 08:07:00,BASEEXCESS,NaN,-1,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
92,9,150750,220597,2149-11-13 08:07:00,FIO2,50.00,50,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
93,9,150750,220597,2149-11-13 08:07:00,INTUBATED,NaN,INTUBATED,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
94,9,150750,220597,2149-11-13 08:07:00,PCO2,34.00,34,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
95,9,150750,220597,2149-11-13 08:07:00,PEEP,5.00,5,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
96,9,150750,220597,2149-11-13 08:07:00,PH,7.42,7.42,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
97,9,150750,220597,2149-11-13 08:07:00,PaO2,68.00,68,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
98,9,150750,220597,2149-11-13 08:07:00,SPECIMEN,NaN,ART,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
99,9,150750,220597,2149-11-13 08:07:00,TEMPERATURE,36.70,36.7,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
100,9,150750,220597,2149-11-13 08:07:00,TIDALVOLUME,700.00,700,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
101,9,150750,220597,2149-11-13 08:07:00,TOTALCO2,23.00,23,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
102,9,150750,220597,2149-11-13 08:07:00,VENTILATIONRATE,NaN,14/7,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
103,9,150750,220597,2149-11-13 08:07:00,VENTILATOR,NaN,IMV,2205972149-11-13 08:07:00,2149-11-13,0 days 08:07:00.000000000
104,9,150750,220597,2149-11-13 16:01:00,BASEEXCESS,NaN,0,2205972149-11-13 16:01:00,2149-11-13,0 days 16:01:00.000000000
105,9,150750,220597,2149-11-13 16:01:00,PCO2,31.00,31,2205972149-11-13 16:01:00,2149-11-13,0 days 16:01:00.000000000
106,9,150750,220597,2149-11-13 16:01:00,PH,7.45,7.45,2205972149-11-13 16:01:00,2149-11-13,0 days 16:01:00.000000000
107,9,150750,220597,2149-11-13 16:01:00,PaO2,91.00,91,2205972149-11-13 16:01:00,2149-11-13,0 days 16:01:00.000000000
108,9,150750,220597,2149-11-13 16:01:00,SPECIMEN,NaN,ART,2205972149-11-13 16:01:00,2149-11-13,0 days 16:01:00.000000000
109,9,150750,220597,2149-11-13 16:01:00,TOTALCO2,22.00,22,2205972149-11-13 16:01:00,2149-11-13,0 days 16:01:00.000000000
110,9,150750,220597,2149-11-14 01:44:00,BASEEXCESS,NaN,0,2205972149-11-14 01:44:00,2149-11-13,1 days 01:44:00.000000000
111,9,150750,220597,2149-11-14 01:44:00,FIO2,50.00,50,2205972149-11-14 01:44:00,2149-11-13,1 days 01:44:00.000000000
...,...,...,...,...,...,...,...,...,...,...
1884564,99955,108494,243255,2139-07-16 17:05:00,CALCIUM,1.24,1.24,2432552139-07-16 17:05:00,2139-07-15,1 days 17:05:00.000000000
1884565,99955,108494,243255,2139-07-16 17:05:00,PCO2,40.00,40,2432552139-07-16 17:05:00,2139-07-15,1 days 17:05:00.000000000
1884566,99955,108494,243255,2139-07-16 17:05:00,PH,7.41,7.41,2432552139-07-16 17:05:00,2139-07-15,1 days 17:05:00.000000000
1884567,99955,108494,243255,2139-07-16 17:05:00,PO2,92.00,92,2432552139-07-16 17:05:00,2139-07-15,1 days 17:05:00.000000000
1884568,99955,108494,243255,2139-07-16 17:05:00,TOTALCO2,26.00,26,2432552139-07-16 17:05:00,2139-07-15,1 days 17:05:00.000000000
1884569,99955,108494,243255,2139-07-17 13:32:00,BASEEXCESS,NaN,0,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884570,99955,108494,243255,2139-07-17 13:32:00,CALCIUM,1.20,1.20,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884571,99955,108494,243255,2139-07-17 13:32:00,CHLORIDE,117.00,117,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884572,99955,108494,243255,2139-07-17 13:32:00,FIO2,40.00,40,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884573,99955,108494,243255,2139-07-17 13:32:00,GLUCOSE,294.00,294,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884574,99955,108494,243255,2139-07-17 13:32:00,HEMATOCRIT,38.00,38,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884575,99955,108494,243255,2139-07-17 13:32:00,HEMOGLOBIN,12.70,12.7,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884576,99955,108494,243255,2139-07-17 13:32:00,LACTATE,1.70,1.7,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884577,99955,108494,243255,2139-07-17 13:32:00,PCO2,35.00,35,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884578,99955,108494,243255,2139-07-17 13:32:00,PEEP,5.00,5,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884579,99955,108494,243255,2139-07-17 13:32:00,PH,7.42,7.42,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884580,99955,108494,243255,2139-07-17 13:32:00,PO2,164.00,164,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884581,99955,108494,243255,2139-07-17 13:32:00,POTASSIUM,4.20,4.2,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884582,99955,108494,243255,2139-07-17 13:32:00,SO2,98.00,98,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884583,99955,108494,243255,2139-07-17 13:32:00,SODIUM,151.00,151,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884584,99955,108494,243255,2139-07-17 13:32:00,TOTALCO2,23.00,23,2432552139-07-17 13:32:00,2139-07-15,2 days 13:32:00.000000000
1884675,99995,137810,229633,2147-02-09 08:09:00,BASEEXCESS,10.00,10,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884676,99995,137810,229633,2147-02-09 08:09:00,CALCIUM,1.13,1.13,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884677,99995,137810,229633,2147-02-09 08:09:00,LACTATE,0.90,0.9,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884678,99995,137810,229633,2147-02-09 08:09:00,PCO2,49.00,49,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884679,99995,137810,229633,2147-02-09 08:09:00,PH,7.46,7.46,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884680,99995,137810,229633,2147-02-09 08:09:00,PO2,110.00,110,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884681,99995,137810,229633,2147-02-09 08:09:00,POTASSIUM,3.50,3.5,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884682,99995,137810,229633,2147-02-09 08:09:00,SODIUM,135.00,135,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000
1884683,99995,137810,229633,2147-02-09 08:09:00,TOTALCO2,36.00,36,2296332147-02-09 08:09:00,2147-02-09,0 days 08:09:00.000000000

time: 34.2 ms

In [59]:
#missingness_fxn(bg_all_nosummary_72,'bg_all_nosummary_72', 'label','icustay_id')

time: 709 Âµs

### rrt_merged_allpt_df x

In [60]:
rrt_merged_allpt_df.head(10)

    icustay_id         t_0      first_charttime  rrt
0     267059.0  2182-11-12                  NaN  NaN
1     278729.0  2159-11-08                  NaN  NaN
2     219670.0  2190-08-01                  NaN  NaN
3     295185.0  2154-11-11                  NaN  NaN
4     211472.0  2193-12-11                  NaN  NaN
5     259012.0  2120-05-24                  NaN  NaN
7     252135.0  2166-04-13  2166-04-13 00:00:00  1.0
8     293255.0  2167-10-21  2167-10-21 04:31:00  1.0
9     261279.0  2167-10-26  2167-10-26 01:00:00  1.0
10    274352.0  2132-07-28                  NaN  NaN

time: 9.4 ms

In [61]:
#na values
rrt_merged_allpt_df_notnull = rrt_merged_allpt_df.loc[rrt_merged_allpt_df['rrt'].notnull(),:]

time: 2.19 ms

In [62]:
print(
    rrt_merged_allpt_df_notnull['icustay_id'].nunique(), #1223/15207 unique icustay_id/icustay_id
)

1220
time: 1.45 ms

In [63]:
#missingness_fxn(rrt_merged_allpt_df_notnull.rename(index=str,columns={'rrt':"label"}),'rrt_merged_allpt_df_notnull', 'label','icustay_id')

time: 696 Âµs

In [64]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(rrt_merged_allpt_df_notnull.rename(index=str,columns={'rrt':"label"}),'rrt_merged_allpt_df_notnull', 'label','icustay_id')]
)

time: 36.1 ms

### gcs72_df x

In [65]:
gcs72_df.head(2)

,subject_id,hadm_id,icustay_id,day,mingcs,gcsmotor,gcsverbal,gcseyes,endotrachflag,ICU_admit,t_0,admit_plus_day,delta
0,28448,177527,200012,1.0,15.0,6.0,5.0,4.0,0.0,2153-12-23 05:12:55,2153-12-23,2153-12-24 05:12:55,1 days 05:12:55.000000000
1,9514,127229,200014,2.0,13.0,6.0,3.0,4.0,0.0,2105-02-16 23:16:48,2105-02-17,2105-02-18 23:16:48,1 days 23:16:48.000000000

time: 12.4 ms

In [66]:
#need to reshape the dataframe
gcs72_df_melt = pd.melt(gcs72_df, id_vars=['subject_id','hadm_id','icustay_id','t_0','ICU_admit','admit_plus_day','delta'], var_name='label')

time: 22.8 ms

In [67]:
gcs72_df_melt_notnull= gcs72_df_melt[gcs72_df_melt['value'].notnull()] #62772 ->62650

time: 6.91 ms

In [68]:
print(
    gcs72_df_melt_notnull['icustay_id'].nunique(), #10462/15207 unique icustay_id/icustay_id
)

10405
time: 2.92 ms

In [69]:
missingness_fxn(gcs72_df_melt_notnull,'gcs72_df_melt_notnull', 'label','icustay_id')

           label  %missingness                 source data_label
0            day     29.063267  gcs72_df_melt_notnull      label
1  endotrachflag     29.063267  gcs72_df_melt_notnull      label
2        gcseyes     29.165530  gcs72_df_melt_notnull      label
3       gcsmotor     29.397328  gcs72_df_melt_notnull      label
4      gcsverbal     29.445050  gcs72_df_melt_notnull      label
5         mingcs     29.063267  gcs72_df_melt_notnull      label

time: 28.7 ms

In [70]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(gcs72_df_melt_notnull,'gcs72_df_melt_notnull', 'label','icustay_id')]
)

time: 9.69 ms

### sofa_df_72

In [71]:
sofa_df_72.head(2)

,subject_id,hadm_id,icustay_id,day,sofa,respiration,pao2fio2_vent_min,pao2fio2_novent_min,coagulation,platelet_min,...,meanbp_min,cns,mingcs,renal,creatinine_max,urineoutput,t_0,ICU_admit,approx_charttime,floor_charttime
4,9,150750,220597,4.0,6,0.0,204.0,NaN,0.0,306.0,...,54.0,NaN,NaN,2.0,2.0,6020.0,2149-11-13,2149-11-09 13:07:02,2149-11-13 13:07:02,2149-11-13 00:00:00
5,9,150750,220597,5.0,7,NaN,NaN,NaN,NaN,NaN,...,91.0,NaN,NaN,4.0,NaN,100.0,2149-11-13,2149-11-09 13:07:02,2149-11-14 13:07:02,2149-11-14 00:00:00

time: 19.6 ms

In [72]:
#need to reshape the dataframe
sofa_df_melt = pd.melt(sofa_df_72, id_vars=['subject_id','hadm_id','icustay_id','t_0','day','ICU_admit','approx_charttime','floor_charttime'], var_name='label')

time: 180 ms

In [73]:
sofa_df_melt_notnull= sofa_df_melt[sofa_df_melt['value'].notnull()] #606651 ->302459

time: 28.2 ms

In [74]:
len(sofa_df_melt_notnull)

300386

time: 2.55 ms

In [75]:
print(
    sofa_df_melt_notnull['icustay_id'].nunique(), #13323/15207 unique icustay_id/icustay_id
)

13150
time: 20 ms

In [76]:
missingness_df = pd.concat(
    [missingness_df,
        missingness_fxn(sofa_df_melt_notnull,'sofa_df_melt_notnull', 'label','icustay_id')]
)

time: 72.5 ms

In [77]:
missingness_df_v = missingness_df.sort_values('%missingness', ascending=False)

date= '01102018'

pd.DataFrame(missingness_df_v).to_csv(
    '/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/interim/%s_missingness_df_v.csv' %(date))

time: 7.61 ms

In [78]:
missingness_df

                  label  %missingness                       source data_label
0               ALBUMIN     53.470139        labs_all_nosummary_72      label
1             ANION GAP      0.552223        labs_all_nosummary_72      label
2                 BANDS     82.881102        labs_all_nosummary_72      label
3           BICARBONATE      0.477229        labs_all_nosummary_72      label
4             BILIRUBIN     44.389146        labs_all_nosummary_72      label
5                   BUN      0.463594        labs_all_nosummary_72      label
6              CHLORIDE      0.449959        labs_all_nosummary_72      label
7            CREATININE      0.449959        labs_all_nosummary_72      label
8               GLUCOSE      0.436324        labs_all_nosummary_72      label
9            HEMATOCRIT      0.490864        labs_all_nosummary_72      label
10           HEMOGLOBIN      0.531770        labs_all_nosummary_72      label
11                  INR     12.387510        labs_all_nosummary_72      label
12              LACTATE     38.219253        labs_all_nosummary_72      label
13             PLATELET      0.552223        labs_all_nosummary_72      label
14            POTASSIUM      0.415871        labs_all_nosummary_72      label
15                   PT     12.373875        labs_all_nosummary_72      label
16                  PTT     12.789746        labs_all_nosummary_72      label
17               SODIUM      0.443142        labs_all_nosummary_72      label
18                  WBC      0.518135        labs_all_nosummary_72      label
0            dobutamine     98.377420                 vaso_dose_72      label
1              dopamine     94.055086                 vaso_dose_72      label
2           epinephrine     97.907008                 vaso_dose_72      label
3        norepinephrine     80.058631                 vaso_dose_72      label
4         phenylephrine     84.005999                 vaso_dose_72      label
5           vasopressin     94.300518                 vaso_dose_72      label
0             vent_day1      0.000000              ventcategory_df      label
1             vent_day2      0.000000              ventcategory_df      label
2             vent_day3      0.000000              ventcategory_df      label
0                weight      6.701663            weightfirstday_df      label
1          weight_admit     21.973002            weightfirstday_df      label
..                  ...           ...                          ...        ...
25          TIDALVOLUME     72.975184          bg_all_nosummary_72      label
26             TOTALCO2     34.776384          bg_all_nosummary_72      label
27      VENTILATIONRATE     79.445050          bg_all_nosummary_72      label
28           VENTILATOR     82.594764          bg_all_nosummary_72      label
0                     1     91.682574  rrt_merged_allpt_df_notnull      label
0                   day     29.063267        gcs72_df_melt_notnull      label
1         endotrachflag     29.063267        gcs72_df_melt_notnull      label
2               gcseyes     29.165530        gcs72_df_melt_notnull      label
3              gcsmotor     29.397328        gcs72_df_melt_notnull      label
4             gcsverbal     29.445050        gcs72_df_melt_notnull      label
5                mingcs     29.063267        gcs72_df_melt_notnull      label
0         bilirubin_max     61.092173         sofa_df_melt_notnull      label
1        cardiovascular     12.210254         sofa_df_melt_notnull      label
2                   cns     53.511044         sofa_df_melt_notnull      label
3           coagulation     18.182438         sofa_df_melt_notnull      label
4        creatinine_max     17.677938         sofa_df_melt_notnull      label
5                 liver     61.092173         sofa_df_melt_notnull      label
6            meanbp_min     12.237524         sofa_df_melt_notnull      label
7                mingcs     53.511044         sofa_df_melt_notnull      label
8   pao2fio2_novent_min     81.688028         sofa_df_melt_notnull      label
9     pao2fio2_vent_min     63.451050         sofa_df_melt_notnull      label
10         platelet_min     18.182438         sofa_df_melt_notnull      label
11      rate_dobutamine     98.609217         sofa_df_melt_notnull      label
12        rate_dopamine     95.384510         sofa_df_melt_notnull      label
13     rate_epinephrine     98.043360         sofa_df_melt_notnull      label
14  rate_norepinephrine     83.106081         sofa_df_melt_notnull      label
15                renal     12.885192         sofa_df_melt_notnull      label
16          respiration     57.778838         sofa_df_melt_notnull      label
17                 sofa     10.349059         sofa_df_melt_notnull      label
18          urineoutput     16.362149         sofa_df_melt_notnull      label

[103 rows x 4 columns]

time: 25.7 ms

In [86]:
missingness_df[missingness_df['%missingness']>30.0].sort_values('%missingness', ascending=True)

                  label  %missingness                       source data_label
16                   PH     31.803927          bg_all_nosummary_72      label
0                height     34.155986            heightfirstday_df      label
26             TOTALCO2     34.776384          bg_all_nosummary_72      label
1            BASEEXCESS     34.776384          bg_all_nosummary_72      label
14                 PCO2     34.783202          bg_all_nosummary_72      label
11              LACTATE     37.142078          bg_all_nosummary_72      label
12              LACTATE     38.219253        labs_all_nosummary_72      label
4             BILIRUBIN     44.389146        labs_all_nosummary_72      label
2           height_echo     49.734115            heightfirstday_df      label
2          weight_daily     51.288519            weightfirstday_df      label
0               ALBUMIN     53.470139        labs_all_nosummary_72      label
7                mingcs     53.511044         sofa_df_melt_notnull      label
2                   cns     53.511044         sofa_df_melt_notnull      label
3               CALCIUM     53.926916          bg_all_nosummary_72      label
23             SPECIMEN     56.851650          bg_all_nosummary_72      label
16          respiration     57.778838         sofa_df_melt_notnull      label
0                 fluid     58.106081              uti_all_72_melt      label
1                 label     58.106081              uti_all_72_melt      label
2                 value     58.106081              uti_all_72_melt      label
24          TEMPERATURE     58.665121          bg_all_nosummary_72      label
5                 liver     61.092173         sofa_df_melt_notnull      label
0         bilirubin_max     61.092173         sofa_df_melt_notnull      label
19                 PaO2     61.378511          bg_all_nosummary_72      label
21                  SO2     61.658031          bg_all_nosummary_72      label
9     pao2fio2_vent_min     63.451050         sofa_df_melt_notnull      label
17                  PO2     64.091901          bg_all_nosummary_72      label
1          height_chart     65.516771            heightfirstday_df      label
6                  FIO2     65.953095          bg_all_nosummary_72      label
18            POTASSIUM     66.021271          bg_all_nosummary_72      label
10            INTUBATED     68.380147          bg_all_nosummary_72      label
..                  ...           ...                          ...        ...
15                 PEEP     71.945732          bg_all_nosummary_72      label
25          TIDALVOLUME     72.975184          bg_all_nosummary_72      label
3     weight_echoinhosp     74.795473            weightfirstday_df      label
8            HEMATOCRIT     78.183801          bg_all_nosummary_72      label
9            HEMOGLOBIN     78.183801          bg_all_nosummary_72      label
27      VENTILATIONRATE     79.445050          bg_all_nosummary_72      label
22               SODIUM     79.854104          bg_all_nosummary_72      label
3        norepinephrine     80.058631                 vaso_dose_72      label
8   pao2fio2_novent_min     81.688028         sofa_df_melt_notnull      label
28           VENTILATOR     82.594764          bg_all_nosummary_72      label
2                 BANDS     82.881102        labs_all_nosummary_72      label
5              CHLORIDE     83.031088          bg_all_nosummary_72      label
14  rate_norepinephrine     83.106081         sofa_df_melt_notnull      label
4         phenylephrine     84.005999                 vaso_dose_72      label
20           REQUIREDO2     87.285247          bg_all_nosummary_72      label
0                 AADO2     87.298882          bg_all_nosummary_72      label
7                 TempC     90.284974      vitals_all_nosummary_72      label
13               O2FLOW     91.191710          bg_all_nosummary_72      label
0                     1     91.682574  rrt_merged_allpt_df_notnull      label
1              dopamine     94.055086                 vaso_dose_72      label
5           vasopressin     94.300518                 vaso_dose_72      label
12        rate_dopamine     95.384510         sofa_df_melt_notnull      label
2           BICARBONATE     95.882193          bg_all_nosummary_72      label
4    weight_echoprehosp     96.311699            weightfirstday_df      label
2           epinephrine     97.907008                 vaso_dose_72      label
13     rate_epinephrine     98.043360         sofa_df_melt_notnull      label
0            dobutamine     98.377420                 vaso_dose_72      label
4     CARBOXYHEMOGLOBIN     98.561494          bg_all_nosummary_72      label
11      rate_dobutamine     98.609217         sofa_df_melt_notnull      label
12        METHEMOGLOBIN     98.636488          bg_all_nosummary_72      label

[61 rows x 4 columns]

time: 21.7 ms

### visualizations

In [79]:
"""
    get the # of filled vs missign values for each variable for our cohort.
    Args:
    -----
    df: dataframe
        name of dataframe initialized in this workbook
    valuenum_col: string
        name of column with the numerical or text variable in question
    label_col: string
        name of column with the lab value label in question
    Returns:
    -----
    filled_summary: df
        list of all variables with # filled values
    missing_summary: df
        list of all variables with # missing values
    percent_summary: df
        list of all variables with # filled values/ # total patients
    """

def missing_fxn(df, valuenum_col, label_col):
    if 'icustay_id' in list(df):
        df= df[df['icustay_id'].isin(list(cohort_df['icustay_id'].unique()))] #good
    else:
        df= df[df['subject_id'].isin(
            list(cohort_df['subject_id'].unique()))] 

    df_notnull = df[df[valuenum_col].notnull()]
    df_null = df[df[valuenum_col].isnull()]
    df_filtered = df.drop_duplicates(['subject_id',label_col])[label_col].value_counts()
    
    filled_summary= df_notnull.drop_duplicates(['subject_id',label_col])[label_col].value_counts()
    missing_summary = df_null.drop_duplicates(['subject_id',label_col])[label_col].value_counts()
    percent_summary = 100*(filled_summary / df_filtered)
    
    #missing_plot=(missing_summary.sort_index().plot.bar(title = f'# of missing values in {df}'))
    
    #filled_summary, missing_summary, percent_summary, 
    return(filled_summary, missing_summary, percent_summary)

time: 21.6 ms

In [80]:
var1, var2, var3,  = missing_fxn(labs_all48, 'valuenum', 'label')
fig, axs = plt.subplots(1,2,figsize=(10,4))
ax1= (var2.sort_index().plot.bar(ax=axs[0], title = '# of missing values in labs_all48'))
ax2= (var3.sort_index().plot.bar(color='grey',
                                ax=axs[1],
                                ylim=(min(var3)-10 ,100),
                                title = '% of values filled in labs_all48'))

NameError: name 'labs_all48' is not defined

time: 181 ms

#### histogram of frequency over each hour.

In [ ]:
def hours_fxn(td):
    return ((td.days*24*3600) + td.seconds)//3600

def days_fxn(td):
    return td.days

In [ ]:
pd.to_timedelta(vaso_dose_72['delta'].head())

In [ ]:
for element in vaso_dose_72['label'].unique():
    print(element)

In [ ]:
size=11
fig=plt.figure(figsize=(size, size*(2/3)), dpi= 80, facecolor='w')
ax = plt.axes()

vaso_dose_72['hours']=pd.to_timedelta(vaso_dose_72['delta']).map(hours_fxn) #good

for element in vaso_dose_72['label'].unique():    
    (vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'hours']
         .value_counts(sort=False)
         .sort_index()
         .plot(kind='bar', sort_columns=True))

In [ ]:
for element in vaso_dose_72['label'].unique():
    size=9
    fig=plt.figure(figsize=(size, size*(2/3)), dpi= 80, facecolor='w')
    ax = plt.axes()
    (vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'hours']
         .value_counts(sort=False)
         .sort_index()
         .plot(kind='bar', sort_columns=True,color='blue'))
    print(element)
    ax.set_ylabel('frequency_for_all_pt', fontsize='large')
    ax.set_xlabel('hours_after_t_0', fontsize='large')
    ax.set_title('%s'%(element), fontsize='large')
    plt.show()

In [ ]:
# #looking at overall missingness

# for element in vaso_dose_72['label'].unique():
#     print(element)
#     print(vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'icustay_id']
#          .nunique())
#     print(((vaso_dose_72.loc[vaso_dose_72.loc[:,'label']==element, 'icustay_id']
#          .nunique())/len(icustay_id))*100,"% of icustay_id's with any value")

In [ ]:
# print(vaso_dose_72['icustay_id'].nunique())

In [ ]:
# len(icustay_id)

In [ ]:

11/1/18: After looking at the missingness % of patients without a given reading of each data over first 3 days of icustay, we decided that patients without an single SpO2 reading are disqualified from study. 



 
Total: 14668

10/28/18:

# Goal: to make a new icustay_id cohort with the added criteria that patients have at minimum one Sp02 reading during their first 3 days of suspected infection.
### The idea is that this should be the bare minimum amount of data for a patient, and without it, it's likely the physicians did not suspect an infection in these patients.

In [ ]:
vitals_all_nosummary_72.head(2)

In [ ]:
#na values
vitals_all_nosummary_72.loc[
    vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

vitals_all_nosummary_nonull= vitals_all_nosummary_72.loc[
    vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values

In [ ]:
print(
    vitals_all_nosummary_nonull['icustay_id'].nunique(), #14714/15207 unique icustay_id/icustay_id
)

In [ ]:
vitals_all_nosummary_nonull.loc[vitals_all_nosummary_nonull.loc[:,'vitalid']=='SpO2',:]

#missingness_df.loc[missingness_df.loc[:,'label']=='SpO2',:]

In [ ]:
print((vitals_all_nosummary_nonull.loc[
    vitals_all_nosummary_nonull.loc[:,'vitalid']=='SpO2','icustay_id'
        ].nunique()), #n=14668
    len(icustay_id)
     ) #15207

#print(14668/15207)

icustay_id_vitals = (vitals_all_nosummary_nonull.loc[
    vitals_all_nosummary_nonull.loc[:,'vitalid']=='SpO2','icustay_id'
        ].unique())

In [ ]:

vitals_all_nosummary_nonull_v=(vitals_all_nosummary_nonull.loc[
    vitals_all_nosummary_nonull.loc[:,'icustay_id']
    .isin(icustay_id_vitals),:]
)

In [ ]:
#lists and df with _v will be for patients who have atleast 1 SpO2 reading in first 3 days post t_0. 
vitals_all_nosummary_nonull_v
icustay_id_v= list(vitals_all_nosummary_nonull_v['icustay_id'].unique())
icustay_id_v= [int(x) for x in icustay_id_v]

In [ ]:
#updated final_pt_df2 for patients who have atleast 1 SpO2 reading in first 3 days post t_0. 
final_pt_df2_v = (
    final_pt_df2.loc[final_pt_df2.loc[:,'icustay_id'].isin(icustay_id_v),:]
)

In [ ]:
final_pt_df2_v.head()

In [ ]:
pd.crosstab(final_pt_df2['ab_course'], final_pt_df2['sc_result'])

In [ ]:
#todo, crosstab table of pts in new icustay_id_v
pd.crosstab(final_pt_df2_v['ab_course'], final_pt_df2_v['sc_result']) #n= 14668

In [ ]:
    ventcategory_df,
    vaso_dose_72,
    echodata_72,
    labs_all_nosummary_72,
    weightfirstday_df,
    heightfirstday_df,
    vitals_all_nosummary_72,
    uti_all_72,
    bg_all_nosummary_72,
    rrt_merged_allpt_df,
    gcs72_df,
    sofa_df_72

In [87]:
ventcategory_df

       icustay_id         t_0 vent_day1 vent_day2 vent_day3
0        267059.0  2182-11-12      Mech      None      None
1        278729.0  2159-11-08    Oxygen      Mech      None
2        219670.0  2190-08-01    Oxygen      None      None
3        295185.0  2154-11-11    Oxygen      None      None
4        211472.0  2193-12-11      None      None      None
5        259012.0  2120-05-24      None      None      None
7        252135.0  2166-04-13    Oxygen    Oxygen    Oxygen
8        293255.0  2167-10-21    Oxygen      None      None
9        261279.0  2167-10-26      None      None      None
10       274352.0  2132-07-28      Mech      None      None
12       290264.0  2187-03-02      None      None      None
13       226877.0  2181-10-13    Oxygen      None      None
14       233208.0  2151-10-05    Oxygen      None      None
15       299132.0  2168-10-21      Mech      None      None
16       230775.0  2143-03-10      None      None      None
18       221510.0  2126-06-14      None      None      None
19       237561.0  2107-01-22      None      None      None
20       251526.0  2129-12-20      None      None      None
21       262800.0  2136-10-04      None      None      None
22       242513.0  2176-04-22      None      None      None
23       277353.0  2111-12-12      None      None      None
24       294503.0  2169-05-26      None      None      None
25       286106.0  2166-12-24    Oxygen      None      None
26       273661.0  2186-05-04      None      None      None
27       205636.0  2144-06-08      None      None      None
28       299961.0  2108-10-07      None      Mech      None
29       226842.0  2189-06-23      None      None      None
30       262289.0  2158-07-13      Mech      None      None
31       255314.0  2181-10-11      Mech      Mech      Mech
32       240650.0  2186-06-24      None      None      None
...           ...         ...       ...       ...       ...
15177    223816.0  2147-07-11    Oxygen      None      None
15178    275132.0  2175-03-08    Oxygen      None      None
15179    284258.0  2198-09-23      None      None      None
15180    275542.0  2108-06-16      None      None      None
15181    294453.0  2133-11-10      None      None      None
15182    214103.0  2101-05-12      None      None      None
15183    279108.0  2195-02-12      None      None      None
15184    236571.0  2151-08-20      None      None      None
15185    271107.0  2138-04-30      None      None      None
15186    298923.0  2155-07-28    Oxygen      None      None
15187    288216.0  2183-01-09      None      None      None
15188    270500.0  2198-05-11      None      None      None
15189    239891.0  2151-06-05      None      None      None
15190    257200.0  2168-12-05      None      None      None
15191    293249.0  2169-04-05      None    Oxygen      None
15192    286243.0  2146-01-17    Oxygen    Oxygen    Oxygen
15193    278806.0  2108-02-03      None      None      None
15194    266579.0  2149-08-19      None      None      None
15195    235223.0  2196-05-09    Oxygen      None      None
15196    247313.0  2199-01-30      None      None      None
15197    231926.0  2165-10-14      None      None      None
15198    211386.0  2184-05-23      Mech      None      None
15199    219792.0  2167-03-06    Oxygen      None      None
15200    210204.0  2163-03-18      None      None      None
15201    298751.0  2104-10-27    Oxygen      None      None
15202    272407.0  2139-04-19      None    Oxygen      None
15203    264035.0  2127-01-16    Oxygen      None      None
15204    209756.0  2192-12-06    Oxygen      None      None
15205    263506.0  2149-11-22    Oxygen      None      None
15206    275774.0  2126-03-21      None      Mech      Mech

[14668 rows x 5 columns]

time: 21.5 ms

In [96]:
#ventsettings_72=pd.read_csv(
#    wd+'/data/raw/csv/72_hr_window/%s_ventsettings_72.csv' %(date), index_col=0)

# date= '27082018' 
# ventsettings_72=pd.read_csv(Path(
#     wd+'/data/raw/csv/72_hr_window/%s_ventsettings_72.csv' %(date)), index_col=0)

del(ventsettings_72)

time: 1.37 ms