# making an aggregate master dataframe for baseline model
this notebook is going to make standardized longformat dataframes for each dataframe that i will adjust for each model to. 

for my first pass, i will work to establish a baseline model by using:

the single "worst", or value that most indicates poor clinical outcomes, for each variable so each variable only has one row per patient. 

from my notes:

- Step1: establish a baseline (ie train model initially), using an obvious baseline: last valid mesurement of a particular variable.   Will hope that it doesn’t perform too good or too bad. Second would be to pick an aggregate within a time window (over 3 days, or of each day, ie can change graunlarity).

- Next try temporal trend, maybe vector autoregression. 

So my first step would be to pick either the last recorded value for each variable or the ‘worst’ value, or ones that we might expect to indicate poor outcome (NEED TO CHOOSE)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path
import seaborn as sns
import numpy as np

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime
%reload_ext autotime

In [2]:
#cohort import

os.chdir('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling') #use to change working directory
wd= os.getcwd() #'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling'


final_pt_df2 = pd.read_csv(Path(wd + '/data/raw/csv/01102018_final_pt_df2_v.csv') , index_col=0) #only for patients with minimum vitals
patients= list(final_pt_df2['subject_id'].unique())
hadm_id= list(final_pt_df2['hadm_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 119 ms

In [100]:
#adding this in fow now, will eventually want to switch this to the 03-clinical_variables_final
import psycopg2
import getpass
conn = psycopg2.connect(dbname="mimic", user="student", host="luolabwkstn01.fsm.northwestern.edu", port="5432",
                        password=getpass.getpass(prompt='Password:'.format()))
cur=conn.cursor()

query_schema = 'SET search_path to ' + "mimiciii" + ';'

Password: ·····

time: 2.3 s

In [ ]:
#import all clinical variables
##ensure they are the versions with UOM

In [12]:
#reading in all of my data that is not limited to 72 hour time window between t_0 and t+72
date= '22102018'

ventcategory_df=pd.read_csv(Path(
    wd+'/data/processed/%s_ventcategory_df.csv' %(date)), index_col=0)

vaso_dose_72=pd.read_csv(Path(
    wd+'/data/processed/%s_vaso_dose_72_rmout.csv'  %(date)), index_col=0)


echodata_72=pd.read_csv(Path(
    wd+'/data/processed/%s_echodata_72_df.csv' %(date)), index_col=0)

labs_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/processed/%s_labs_all_nosummary_72.csv' %(date)), index_col=0)


weightfirstday_df=pd.read_csv(Path(
    wd+'/data/processed/%s_weightfirstday_df.csv' %(date)), index_col=0)
heightfirstday_df=pd.read_csv(Path(
    wd+'/data/processed/%s_heightfirstday_df.csv' %(date)), index_col=0)

vitals_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/processed/%s_vitals_all_nosummary_nonull.csv' %(date)), index_col=0)
uti_all_72=pd.read_csv(Path(
    wd+'/data/processed/%s_uti_all_72_notnull.csv' %(date)), index_col=0)
bg_all_nosummary_72=pd.read_csv(Path(
    wd+'/data/processed/%s_bg_all_nosummary_72.csv' %(date)), index_col=0)

rrt_merged_allpt_df=pd.read_csv(Path(
    wd+'/data/processed/%s_rrt_merged_allpt_df_notnull.csv' %(date)), index_col=0)
gcs72_df=pd.read_csv(Path(
    wd+'/data/processed/%s_gcs72_df.csv' %(date)), index_col=0)

sofa_df_72=pd.read_csv(Path(
    wd+'/data/processed/%s_sofa_score_72.csv' %(date)), index_col=0)

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

time: 19.7 s

10/5/18
# Standardizing Columns in df to merge together

10/22/18:
unit importing notebook has adjusted units, need to go through each individually and see which still needs work.

### list of columns in master df:
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- dtype

In [52]:
#making a day column
def day_col(df):
    day1= (
        (pd.to_datetime(df['charttime'])-pd.to_datetime(df['t_0']))
           .between('00:00:00','23:59:59'))
    day2= (
        (pd.to_datetime(df['charttime'])-pd.to_datetime(df['t_0']))
           .between('24:00:00','47:59:59'))
    day3= (
        (pd.to_datetime(df['charttime'])-pd.to_datetime(df['t_0']))
           .between('48:00:00','71:59:59'))
    
    
    df['day']= None
    
    df.loc[day1, 'day']= 1
    df.loc[day2, 'day']= 2
    df.loc[day3, 'day']= 3
    
    return(df)

time: 12.1 ms

In [53]:
day_col(vaso_dose_72)

,icustay_id,charttime,endtime,vaso_rate,vaso_amount,amount_uom,rate_uom,vaso_type,t_0,delta,std,mean,high_value,day
0,200349.0,2139-06-02 16:31:00,2139-06-02 18:10:00,0.012030,0.073958,mg,mcg/kg/min,epinephrine,2139-06-02,0 days 16:31:00.000000000,1.043056,0.161787,0.5,1
1,200952.0,2139-09-23 15:07:00,2139-09-24 06:43:00,0.020004,1.049601,mg,mcg/kg/min,epinephrine,2139-09-23,0 days 15:07:00.000000000,1.043056,0.161787,0.5,1
2,200952.0,2139-09-25 12:00:00,2139-09-25 21:59:00,0.080068,1.962759,mg,mcg/kg/min,epinephrine,2139-09-23,2 days 12:00:00.000000000,1.043056,0.161787,0.5,3
3,200952.0,2139-09-25 21:59:00,2139-09-26 07:38:00,0.060601,2.000000,mg,mcg/kg/min,epinephrine,2139-09-23,2 days 21:59:00.000000000,1.043056,0.161787,0.5,3
4,201005.0,2169-10-25 17:25:00,2169-10-25 18:00:00,0.020000,NaN,NaN,mcgkgmin,epinephrine,2169-10-25,0 days 17:25:00.000000000,0.110696,0.055967,0.5,1
5,201005.0,2169-10-25 18:30:00,2169-10-25 19:00:00,0.020000,NaN,NaN,mcgkgmin,epinephrine,2169-10-25,0 days 18:30:00.000000000,0.110696,0.055967,0.5,1
6,201358.0,2151-10-21 13:45:00,2151-10-22 00:50:00,0.040021,1.577751,mg,mcg/kg/min,epinephrine,2151-10-20,1 days 13:45:00.000000000,1.043056,0.161787,0.5,2
7,201906.0,2178-12-27 02:04:00,2178-12-27 11:50:00,0.140292,1.647079,mg,mcg/kg/min,epinephrine,2178-12-26,1 days 02:04:00.000000000,1.043056,0.161787,0.5,2
8,202253.0,2131-10-17 03:10:00,2131-10-17 03:15:00,0.100000,NaN,NaN,mcgkgmin,epinephrine,2131-10-17,0 days 03:10:00.000000000,0.110696,0.055967,0.5,1
9,202253.0,2131-10-17 03:30:00,2131-10-17 04:00:00,0.100000,NaN,NaN,mcgkgmin,epinephrine,2131-10-17,0 days 03:30:00.000000000,0.110696,0.055967,0.5,1
10,202338.0,2103-08-14 15:02:00,2103-08-14 19:31:00,0.030006,0.489637,mg,mcg/kg/min,epinephrine,2103-08-14,0 days 15:02:00.000000000,1.043056,0.161787,0.5,1
11,202424.0,2135-07-05 12:00:00,2135-07-05 13:00:00,0.020000,NaN,NaN,mcgkgmin,epinephrine,2135-07-05,0 days 12:00:00.000000000,0.110696,0.055967,0.5,1
12,202424.0,2135-07-05 13:15:00,2135-07-05 14:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2135-07-05,0 days 13:15:00.000000000,0.110696,0.055967,0.5,1
13,202424.0,2135-07-05 14:15:00,2135-07-05 15:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2135-07-05,0 days 14:15:00.000000000,0.110696,0.055967,0.5,1
14,202424.0,2135-07-05 15:15:00,2135-07-05 16:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2135-07-05,0 days 15:15:00.000000000,0.110696,0.055967,0.5,1
15,202424.0,2135-07-05 16:15:00,2135-07-05 17:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2135-07-05,0 days 16:15:00.000000000,0.110696,0.055967,0.5,1
16,202424.0,2135-07-05 21:00:00,2135-07-05 22:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2135-07-05,0 days 21:00:00.000000000,0.110696,0.055967,0.5,1
17,202616.0,2101-09-01 07:00:00,2101-09-01 08:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 07:00:00.000000000,0.110696,0.055967,0.5,1
18,202616.0,2101-09-01 11:20:00,2101-09-01 12:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 11:20:00.000000000,0.110696,0.055967,0.5,1
19,202616.0,2101-09-01 12:15:00,2101-09-01 13:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 12:15:00.000000000,0.110696,0.055967,0.5,1
20,202616.0,2101-09-01 13:30:00,2101-09-01 14:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 13:30:00.000000000,0.110696,0.055967,0.5,1
21,202616.0,2101-09-01 16:30:00,2101-09-01 17:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 16:30:00.000000000,0.110696,0.055967,0.5,1
22,202616.0,2101-09-01 17:40:00,2101-09-01 18:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 17:40:00.000000000,0.110696,0.055967,0.5,1
23,202616.0,2101-09-01 19:00:00,2101-09-01 19:45:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 19:00:00.000000000,0.110696,0.055967,0.5,1
24,202616.0,2101-09-01 20:00:00,2101-09-01 21:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,0 days 20:00:00.000000000,0.110696,0.055967,0.5,1
25,202616.0,2101-09-02 02:30:00,2101-09-02 03:00:00,0.010000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,1 days 02:30:00.000000000,0.110696,0.055967,0.5,2
26,202616.0,2101-09-02 07:00:00,2101-09-02 08:00:00,0.005000,NaN,NaN,mcgkgmin,epinephrine,2101-09-01,1 days 07:00:00.000000000,0.110696,0.055967,0.5,2
27,202639.0,2163-04-25 00:00:00,2163-04-25 06:17:00,0.060232,1.788034,mg,mcg/kg/min,epinephrine,2163-04-24,1 days 00:00:00.000000000,1.043056,0.161787,0.5,2
28,202805.0,2100-12-14 13:29:00,2100-12-14 15:33:00,0.050020,0.348980,mg,mcg/kg/min,epinephrine,2100-12-14,0 days 13:29:00.000000000,1.043056,0.161787,0.5,1
29,203154.0,2150-04-18 00:30:00,2150-04-18 01:00:00,0.050000,NaN,NaN,mcgkgmin,epinephrine,2150-04-18,0 days 00:30:00.000000000,0.110696,0.055967,0.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52946,280694.0,2149-08-07 16:45:00,2149-08-07 17:00:00,0.500000,NaN,NaN,mcgkgmin,dobutamine,2149-08-07,0 days 16:45:00.000000000,4.090844,5.283263,40.0,1
52947,280694.0,2149-08-07 18:00:00,2149-08-07 18:15:00,2.000000,NaN,NaN,mcgkgmin,dobutamine,2149-08-07,0 days 18:00:00.000000000,4.090844,5.283263,40.0,1
52948,280694.0,2149-08-07 18:15:00,2149-08-07 18:45:00,4.000000,NaN,NaN,mcgkgmin,dobutamine,2149-08-07,0 days 18:15:00.000000000,4.090844,5.283263,40.0,1
52949,280694.0,2149-08-07 18:45:00,2149-08-07 19:00:00,7.000000,NaN,NaN,mcgkgmin,dobutamine,2149-08-07,0 days 18:45:00.000000000,4.090844,5.283263,40.0,1
52950,280694.0,2149-08-07 19:00:00,2149-08-07 20:30:00,10.000000,NaN,NaN,mcgkgmin,dobutamine,2149-08-07,0 days 19:00:00.000000000,4.090844,5.283263,40.0,1
52951,280694.0,2149-08-07 20:30:00,2149-08-07 20:45:00,5.000000,NaN,NaN,mcgkgmin,dobutamine,2149-08-07,0 days 20:30:00.000000000,4.090844,5.283263,40.0,1
52952,282652.0,2185-12-13 20:30:00,2185-12-13 21:00:00,10.144928,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,0 days 20:30:00.000000000,4.090844,5.283263,40.0,1
52953,282652.0,2185-12-14 01:00:00,2185-12-14 03:00:00,10.144928,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,1 days 01:00:00.000000000,4.090844,5.283263,40.0,2
52954,282652.0,2185-12-14 04:00:00,2185-12-14 05:00:00,10.144928,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,1 days 04:00:00.000000000,4.090844,5.283263,40.0,2
52955,282652.0,2185-12-14 07:00:00,2185-12-14 09:00:00,10.144928,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,1 days 07:00:00.000000000,4.090844,5.283263,40.0,2
52956,282652.0,2185-12-14 10:00:00,2185-12-14 20:00:00,15.000000,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,1 days 10:00:00.000000000,4.090844,5.283263,40.0,2
52957,282652.0,2185-12-14 21:00:00,2185-12-14 22:00:00,15.000000,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,1 days 21:00:00.000000000,4.090844,5.283263,40.0,2
52958,282652.0,2185-12-15 00:00:00,2185-12-15 01:00:00,11.990741,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,2 days 00:00:00.000000000,4.090844,5.283263,40.0,3
52959,282652.0,2185-12-15 02:00:00,2185-12-15 04:00:00,11.990741,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,2 days 02:00:00.000000000,4.090844,5.283263,40.0,3
52960,282652.0,2185-12-15 06:00:00,2185-12-15 08:00:00,15.000001,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,2 days 06:00:00.000000000,4.090844,5.283263,40.0,3
52961,282652.0,2185-12-15 08:40:00,2185-12-15 10:00:00,18.000000,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,2 days 08:40:00.000000000,4.090844,5.283263,40.0,3
52962,282652.0,2185-12-15 15:00:00,2185-12-15 16:00:00,20.000000,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,2 days 15:00:00.000000000,4.090844,5.283263,40.0,3
52963,282652.0,2185-12-15 18:00:00,2185-12-15 20:00:00,10.000000,NaN,NaN,mcgkgmin,dobutamine,2185-12-13,2 days 18:00:00.000000000,4.090844,5.283263,40.0,3
52964,285270.0,2188-10-02 02:00:00,2188-10-02 10:52:00,9.021104,250.000062,mg,mcg/kg/min,dobutamine,2188-10-02,0 days 02:00:00.000000000,4.743983,7.123652,40.0,1
52965,285270.0,2188-10-02 10:52:00,2188-10-02 16:48:00,3.477102,62.696655,mg,mcg/kg/min,dobutamine,2188-10-02,0 days 10:52:00.000000000,4.743983,7.123652,40.0,1
52966,285270.0,2188-10-02 20:25:00,2188-10-03 07:57:00,2.501281,134.316771,mg,mcg/kg/min,dobutamine,2188-10-02,0 days 20:25:00.000000000,4.743983,7.123652,40.0,1
52967,288655.0,2174-01-28 15:00:00,2174-01-29 09:00:00,5.000000,NaN,NaN,mcgkgmin,dobutamine,2174-01-28,0 days 15:00:00.000000000,4.090844,5.283263,40.0,1
52968,289877.0,2189-10-19 14:30:00,2189-10-20 03:55:00,5.003006,249.700012,mg,mcg/kg/min,dobutamine,2189-10-19,0 days 14:30:00.000000000,4.743983,7.123652,40.0,1
52969,289877.0,2189-10-20 03:55:00,2189-10-20 09:01:00,5.002801,77.233249,mg,mcg/kg/min,dobutamine,2189-10-19,1 days 03:55:00.000000000,4.743983,7.123652,40.0,2
52970,292142.0,2121-09-09 14:15:00,2121-09-09 15:00:00,2.000000,NaN,NaN,mcgkgmin,dobutamine,2121-09-08,1 days 14:15:00.000000000,4.090844,5.283263,40.0,2
52971,292142.0,2121-09-09 15:00:00,2121-09-10 04:00:00,5.000000,NaN,NaN,mcgkgmin,dobutamine,2121-09-08,1 days 15:00:00.000000000,4.090844,5.283263,40.0,2
52972,292142.0,2121-09-10 11:00:00,2121-09-10 12:00:00,5.000000,NaN,NaN,mcgkgmin,dobutamine,2121-09-08,2 days 11:00:00.000000000,4.090844,5.283263,40.0,3
52973,292142.0,2121-09-10 13:00:00,2121-09-10 14:00:00,4.000000,NaN,NaN,mcgkgmin,dobutamine,2121-09-08,2 days 13:00:00.000000000,4.090844,5.283263,40.0,3
52974,292142.0,2121-09-10 15:00:00,2121-09-10 16:00:00,1.111111,NaN,NaN,mcgkgmin,dobutamine,2121-09-08,2 days 15:00:00.000000000,4.090844,5.283263,40.0,3
52975,299643.0,2188-11-22 07:30:00,2188-11-22 12:30:00,4.997772,165.443698,mg,mcg/kg/min,dobutamine,2188-11-22,0 days 07:30:00.000000000,4.743983,7.123652,40.0,1

time: 146 ms

In [58]:
vaso_dose_72.loc[vaso_dose_72.loc[:,'day']=='None',:] #all good

Empty DataFrame
Columns: [icustay_id, charttime, endtime, vaso_rate, vaso_amount, amount_uom, rate_uom, vaso_type, t_0, delta, std, mean, high_value, day]
Index: []

time: 11.4 ms

In [57]:
vaso_dose_72['day'].value_counts()

1    26032
2    16831
3     9685
Name: day, dtype: int64

time: 10.9 ms

In [ ]:
# stopped here, need to add day column to the rest of the sheets.

### Vaso_dose

In [14]:
vaso_dose_72.head()

,icustay_id,charttime,endtime,vaso_rate,vaso_amount,amount_uom,rate_uom,vaso_type,t_0,delta,std,mean,high_value
0,200349.0,2139-06-02 16:31:00,2139-06-02 18:10:00,0.012030,0.073958,mg,mcg/kg/min,epinephrine,2139-06-02,0 days 16:31:00.000000000,1.043056,0.161787,0.5
1,200952.0,2139-09-23 15:07:00,2139-09-24 06:43:00,0.020004,1.049601,mg,mcg/kg/min,epinephrine,2139-09-23,0 days 15:07:00.000000000,1.043056,0.161787,0.5
2,200952.0,2139-09-25 12:00:00,2139-09-25 21:59:00,0.080068,1.962759,mg,mcg/kg/min,epinephrine,2139-09-23,2 days 12:00:00.000000000,1.043056,0.161787,0.5
3,200952.0,2139-09-25 21:59:00,2139-09-26 07:38:00,0.060601,2.000000,mg,mcg/kg/min,epinephrine,2139-09-23,2 days 21:59:00.000000000,1.043056,0.161787,0.5
4,201005.0,2169-10-25 17:25:00,2169-10-25 18:00:00,0.020000,NaN,NaN,mcgkgmin,epinephrine,2169-10-25,0 days 17:25:00.000000000,0.110696,0.055967,0.5

time: 20.2 ms

# labs_all_nosummary_72
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [179]:
#labs_all_nosummary_72
labs_all_nosummary_72.head(20)

,subject_id,hadm_id,icustay_id,charttime,label,value,t_0,delta,uom,endtime
0,9,150750,220597,2149-11-14 07:47:00,SODIUM,137.0,2149-11-13,1 days 07:47:00.000000000,mEq/L,NaN
1,9,150750,220597,2149-11-13 03:20:00,SODIUM,130.0,2149-11-13,0 days 03:20:00.000000000,mEq/L,NaN
2,9,150750,220597,2149-11-13 16:04:00,SODIUM,129.0,2149-11-13,0 days 16:04:00.000000000,mEq/L,NaN
3,9,150750,220597,2149-11-13 19:30:00,SODIUM,131.0,2149-11-13,0 days 19:30:00.000000000,mEq/L,NaN
4,9,150750,220597,2149-11-14 01:48:00,SODIUM,133.0,2149-11-13,1 days 01:48:00.000000000,mEq/L,NaN
5,9,150750,220597,2149-11-14 06:00:00,SODIUM,137.0,2149-11-13,1 days 06:00:00.000000000,mEq/L,NaN
6,19,109235,273430,2108-08-06 01:08:00,SODIUM,138.0,2108-08-06,0 days 01:08:00.000000000,mEq/L,NaN
7,19,109235,273430,2108-08-07 05:07:00,SODIUM,139.0,2108-08-06,1 days 05:07:00.000000000,mEq/L,NaN
8,19,109235,273430,2108-08-08 05:20:00,SODIUM,141.0,2108-08-06,2 days 05:20:00.000000000,mEq/L,NaN
9,21,111970,216859,2135-02-05 04:48:00,SODIUM,134.0,2135-02-05,0 days 04:48:00.000000000,mEq/L,NaN
10,21,111970,216859,2135-02-06 04:03:00,SODIUM,134.0,2135-02-05,1 days 04:03:00.000000000,mEq/L,NaN
11,36,122659,211200,2131-05-21 02:34:00,SODIUM,135.0,2131-05-21,0 days 02:34:00.000000000,mEq/L,NaN
12,36,122659,211200,2131-05-21 12:58:00,SODIUM,137.0,2131-05-21,0 days 12:58:00.000000000,mEq/L,NaN
13,36,122659,211200,2131-05-22 02:05:00,SODIUM,140.0,2131-05-21,1 days 02:05:00.000000000,mEq/L,NaN
14,36,122659,211200,2131-05-23 00:58:00,SODIUM,136.0,2131-05-21,2 days 00:58:00.000000000,mEq/L,NaN
15,33,176176,296681,2116-12-24 02:28:00,SODIUM,139.0,2116-12-24,0 days 02:28:00.000000000,mEq/L,NaN
16,33,176176,296681,2116-12-24 06:00:00,SODIUM,140.0,2116-12-24,0 days 06:00:00.000000000,mEq/L,NaN
17,33,176176,296681,2116-12-25 04:14:00,SODIUM,141.0,2116-12-24,1 days 04:14:00.000000000,mEq/L,NaN
18,33,176176,296681,2116-12-26 06:00:00,SODIUM,140.0,2116-12-24,2 days 06:00:00.000000000,mEq/L,NaN
19,31,128652,254478,2108-08-29 03:00:00,SODIUM,137.0,2108-08-29,0 days 03:00:00.000000000,mEq/L,NaN

time: 17.8 ms

In [137]:
labs_all_nosummary_72.head()

,subject_id,hadm_id,icustay_id,charttime,label,value,t_0,delta,uom,endtime
0,9,150750,220597,2149-11-14 07:47:00,SODIUM,137.0,2149-11-13,1 days 07:47:00.000000000,mEq/L,NaN
1,9,150750,220597,2149-11-13 03:20:00,SODIUM,130.0,2149-11-13,0 days 03:20:00.000000000,mEq/L,NaN
2,9,150750,220597,2149-11-13 16:04:00,SODIUM,129.0,2149-11-13,0 days 16:04:00.000000000,mEq/L,NaN
3,9,150750,220597,2149-11-13 19:30:00,SODIUM,131.0,2149-11-13,0 days 19:30:00.000000000,mEq/L,NaN
4,9,150750,220597,2149-11-14 01:48:00,SODIUM,133.0,2149-11-13,1 days 01:48:00.000000000,mEq/L,NaN

time: 13.1 ms

# ventcategory_df_melt
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [140]:
ventcategory_df_melt = pd.melt(ventcategory_df, id_vars=['icustay_id','t_0'], var_name='label')
ventcategory_df_melt.head()

   icustay_id         t_0      label   value
0    267059.0  2182-11-12  vent_day1    Mech
1    278729.0  2159-11-08  vent_day1  Oxygen
2    219670.0  2190-08-01  vent_day1  Oxygen
3    295185.0  2154-11-11  vent_day1  Oxygen
4    211472.0  2193-12-11  vent_day1    None

time: 23.2 ms

In [162]:
# #adding in charttime

# ventcategory_df_melt.loc[ventcategory_df_melt.loc[:,'label']=='vent_day1','charttime']=(
#     pd.to_datetime(
#         ventcategory_df_melt.loc[ventcategory_df_melt.loc[:,'label']=='vent_day1','t_0'])
#             +pd.Timedelta(days=1))

# ventcategory_df_melt.loc[ventcategory_df_melt.loc[:,'label']=='vent_day2','charttime']=(
#     pd.to_datetime(
#         ventcategory_df_melt.loc[ventcategory_df_melt.loc[:,'label']=='vent_day2','t_0'])
#             +pd.Timedelta(days=2))

# ventcategory_df_melt.loc[ventcategory_df_melt.loc[:,'label']=='vent_day3','charttime']=(
#     pd.to_datetime(
#         ventcategory_df_melt.loc[ventcategory_df_melt.loc[:,'label']=='vent_day3','t_0'])
#             +pd.Timedelta(days=3))

# ventcategory_df_melt['charttime']= pd.to_datetime(ventcategory_df_melt['charttime'])

time: 113 ms

# weightfirstday_df_melt
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [166]:
weightfirstday_df_melt= pd.melt(weightfirstday_df, id_vars='icustay_id', var_name='label')
weightfirstday_df_melt.head()

   icustay_id   label  value
0      200012  weight   51.2
1      200014  weight   62.0
2      200019  weight   65.0
3      200030  weight  113.6
4      200033  weight   74.0

time: 15 ms

# heightfirstday_df_melt
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [ ]:
heightfirstday_df_melt= pd.melt(heightfirstday_df, id_vars='icustay_id', var_name='label')
heightfirstday_df_melt.head()

# vitals_all_nosummary_nonull
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [ ]:
vitals_all_nosummary_nonull= vitals_all_nosummary_72.loc[vitals_all_nosummary_72['vitalid'].notnull(),:]#.count() #6930 NULL values
vitals_all_nosummary_nonull.head()

# uti_all_72_melt_notnull
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [13]:
uti_all_72.head()

,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,label,fluid,category,loinc_code,icd9_code,t_0,delta
60,36,122659.0,51486,2131-05-21 01:33:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,99831,2131-05-21,0 days 01:33:00.000000000
61,36,122659.0,51486,2131-05-21 01:33:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,99811,2131-05-21,0 days 01:33:00.000000000
62,36,122659.0,51486,2131-05-21 01:33:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,41511,2131-05-21,0 days 01:33:00.000000000
63,36,122659.0,51486,2131-05-21 01:33:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,4538,2131-05-21,0 days 01:33:00.000000000
64,36,122659.0,51486,2131-05-21 01:33:00,NEG,NaN,NaN,Leukocytes,Urine,Hematology,5799-2,99672,2131-05-21,0 days 01:33:00.000000000

time: 103 ms

# bg_all_nosummary_72
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [ ]:
#na values- removing all null values from value.
bg_all_nosummary_72= bg_all_nosummary_72.loc[bg_all_nosummary_72['value'].notnull(),:]
bg_all_nosummary_72.head()

# rrt_merged_allpt_df_notnull
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [ ]:
#na values
rrt_merged_allpt_df_notnull = rrt_merged_allpt_df.loc[rrt_merged_allpt_df['rrt'].notnull(),:]
rrt_merged_allpt_df_notnull

# gcs72_df_melt_notnull
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [ ]:
#need to reshape the dataframe
gcs72_df_melt = pd.melt(gcs72_df, id_vars=['subject_id','hadm_id','icustay_id','t_0','ICU_admit','admit_plus_day','delta'], var_name='label')

gcs72_df_melt_notnull= gcs72_df_melt[gcs72_df_melt['value'].notnull()] #62772 ->62650
gcs72_df_melt_notnull.head()

# sofa_df_melt_notnull
- subject_id
- hadm_id
- icustay_id
- charttime: starttime/charttime.
- endtime: going to be null for any value listed with only a charttime. 
- label
- value
- units?
- t_0
- delta
- days
- frequency
- dtype

In [ ]:
#need to reshape the dataframe
sofa_df_melt = pd.melt(sofa_df_72, id_vars=['subject_id','hadm_id','icustay_id','t_0','day','ICU_admit','approx_charttime','floor_charttime'], var_name='label')

sofa_df_melt_notnull= sofa_df_melt[sofa_df_melt['value'].notnull()] #606651 ->302459
sofa_df_melt_notnull.head()