In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path
import seaborn as sns
import numpy as np
import glob

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime

In [5]:
#cohort import

os.chdir('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling') #use to change working directory
wd= os.getcwd() #'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling'


final_pt_df2 = pd.read_csv(Path(wd + '/data/raw/csv/01102018_final_pt_df2_v.csv') , index_col=0) #only for patients with minimum vitals
patients= list(final_pt_df2['subject_id'].unique())
hadm_id= list(final_pt_df2['hadm_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 111 ms

In [6]:
#importing in all clinical_variable files
date= '22112018'
os.chdir(r'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/processed/')
big_df= pd.read_csv(Path(wd+'/data/processed/%s_longdf_preImp.csv' %(date),  index_col=0))
big_df= big_df.reset_index(drop=True).iloc[:,1:]

time: 10.5 s

In [20]:
big_df.head()

,icustay_id,t_0,value,label,uom,delta,source,subject_id
0,200012.0,2153-12-23,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,nit,28448
1,200012.0,2153-12-23,None,vent_recieved,mech/O2/none category,0 days 00:00:00.000000000,ventcategory,28448
2,200012.0,2153-12-23,1,daily_sofa,daily_sofa_score,0 days 00:00:00.000000000,sofa,28448
3,200012.0,2153-12-23,0.0,dobutamine,y/n,0 days 00:00:00.000000000,dobutamine,28448
4,200012.0,2153-12-23,0.0,dopamine,y/n,0 days 00:00:00.000000000,dopamine,28448

time: 11.3 ms

In [27]:
big_df.groupby('label')['value'].describe().sort_values('unique')
##categorical variables:
#rrt, phenylephrine, norepinephrine, vasopressin, dobutamine, dopamine, epinephrine, leukocyte, vent_recieved

                 count unique               top    freq
label
rrt              14668      2               0.0   13448
phenylephrine    28124      2               1.0   15776
norepinephrine   35398      2               1.0   23637
vasopressin      18146      2               0.0   14240
dobutamine       16003      2               0.0   14430
dopamine         19501      2               0.0   13803
epinephrine      16414      2               0.0   14363
leukocyte        16644      2    Neg/Not_tested   14336
vent_recieved    14668      3              None    8387
mingcs           10405     13              15.0    4199
daily_sofa       31545     24                 1    5934
bicarbonate      63305     56              24.0    5233
resprate        990136     76              20.0   78559
sodium           71892     81             139.0    6437
chloride         68805     84             106.0    4442
bands             3516     96               1.0     472
ph               70813    102               7.4    3751
spo2            898875    103             100.0  202423
potassium        86440    103               4.0    6387
pco2             41796    133              40.0    2037
hemoglobin       64903    167               9.6    1603
calcium          29926    170              1.13    1560
inr              39667    181               1.2    6021
creatinine       63315    185               0.7    5450
bun              63048    195              14.0    1909
diasbp          910423    203              56.0   28790
heartrate       937471    208              80.0   24453
sysbp           915044    235             110.0   16641
lactate          34488    294               1.2    1662
bilirubin        17814    407               0.4    1477
meanartpress    925073    589              72.0   24415
temperature     278084    597  36.6666666666667    7598
glucose         224294    719             120.0    2478
wbc              56306    802               8.8     486
platelet         58060    910             151.0     254
pao2/fio2        14668   1010             476.0    9063
ptt              41760   1241             150.0     943
weight           13325   1408              70.0     265

time: 1.87 s

In [29]:
big_df[big_df['label']=='vent_recieved']['value'].value_counts() #
df["B"] = df["A"].astype('category')

None      8387
Oxygen    3986
Mech      2295
Name: value, dtype: int64

time: 485 ms

In [31]:
big_df.loc[big_df.loc[:,'label']=='vent_recieved','value']= big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'].astype('category')

time: 1.39 s

In [39]:
#big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'].apply(astype('category'))
big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'] = pd.Categorical(big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'])

time: 1.38 s

In [43]:
big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'].describe()

count     14668
unique        3
top        None
freq       8387
Name: value, dtype: object

time: 452 ms

In [232]:
hi_value= ['bands',
'bilirubin',
'bun',
'chloride',
'creatinine',
'daily_sofa',
'glucose',
'heartrate',
'inr',
'lactate',
'pco2',
'potassium',
'ptt',
'resprate',
'temperature',
'weight', 'rrt', 'phenylephrine', 'norepinephrine', 'vasopressin', 'dobutamine', 'dopamine', 'epinephrine']

low_value=['bicarbonate',
'diasbp',
'hemoglobin',
'meanartpress',
'mingcs',
'ph',
'platelet',
'spo2',
'sysbp',
'pao2/fio2']

both_value=['calcium',
'sodium',
'wbc']

time: 6.52 ms

In [190]:
#lambda x: x if not np.isnan(x) else -1

dict1={str(x):max for x in hi_value}
dict2={str(x):min for x in low_value } #dict2={str(x):min for x in low_value }
dict3={str(x):[max,min] for x in both_value }

SyntaxError: invalid syntax (<ipython-input-190-464303920ed4>, line 3)

In [138]:
def merge_two_dicts(x, y):
    z = x.copy()   # start with x's keys and values
    z.update(y)    # modifies z with y's keys and values & returns None
    return z

dict1 = merge_two_dicts(dict1, dict2)
dict1 = merge_two_dicts(dict1, dict3)

time: 4.56 ms

In [173]:
len(dict1.keys())

35

time: 2.23 ms

### to do: need to convert all dtypes to a numeric type taht pereserves nan.

In [172]:
categorical=['leukocyte', 'vent_recieved']

big_categorical= big_df.loc[big_df.loc[:,'label'].isin(categorical),:]
big_noCat= big_df.loc[big_df.loc[:,'label'].isin(dict1.keys()),:]
big_noCat['value']= big_noCat['value'].apply(pd.to_numeric, args=('coerce',)) #instead of convert to float, may preserve nan's better.

time: 1min 45s

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [233]:
big_max= big_df.loc[big_df.loc[:,'label'].isin(hi_value),:]
table = pd.pivot_table(big_max, values='value', columns='label', index=['icustay_id'],aggfunc=max, dropna=False)

time: 47.5 s

In [234]:
big_min= big_df.loc[big_df.loc[:,'label'].isin(low_value),:]
table2 = pd.pivot_table(big_min, values='value', columns='label', index=['icustay_id'],aggfunc=min, dropna=False)

time: 56.7 s

In [235]:
big_both= big_df.loc[big_df.loc[:,'label'].isin(both_value),:]
table3 = pd.pivot_table(big_both, values='value', columns='label', index=['icustay_id'],aggfunc=[max,min], dropna=False)

time: 11.4 s

In [196]:
print(len(table),len(table2),len(table3))

14668 14668 14618
time: 1.25 ms

In [236]:
test=pd.merge(table.reset_index(), table2.reset_index(), how='left')
test=pd.merge(test, table3.reset_index(), left_on='icustay_id', right_on='icustay_id',how='left')

time: 67.5 ms

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/reshape/merge.py:544: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/generic.py:3111: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [237]:
print(len(list(test)), #40- icustay_id - label = 38. with 

big_df['label'].nunique(),
     
set(big_df['label'].unique())- set(test)

41 38
time: 325 ms

In [ ]:
big_max= big_df.loc[big_df.loc[:,'label'].isin(hi_value),:]

In [245]:
big_categorical.head()

,icustay_id,t_0,value,label,uom,delta,source,subject_id
0,200012.0,2153-12-23,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,nit,28448
1,200012.0,2153-12-23,None,vent_recieved,mech/O2/none category,0 days 00:00:00.000000000,ventcategory,28448
84,200014.0,2105-02-17,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,nit,9514
85,200014.0,2105-02-17,Mech,vent_recieved,mech/O2/none category,0 days 00:00:00.000000000,ventcategory,9514
471,200019.0,2178-07-09,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,nit,21789

time: 10.1 ms

In [270]:
big_categorical[(big_categorical["label"]=='leukocyte') & (big_categorical["icustay_id"].isin(icustay_id))]
#16644

# big_categorical[big_categorical[['icustay_id','label']].duplicated(keep=False)]

,icustay_id,t_0,value,label,uom,delta,source,subject_id
10960,200140.0,2197-01-18,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,27874
12794,200143.0,2191-04-03,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,94414
16234,200220.0,2148-01-07,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,13960
17394,200240.0,2147-10-26,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,76327
19972,200282.0,2164-05-03,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,77484
22525,200301.0,2167-06-25,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,9374
23319,200318.0,2189-06-06,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,24589
23730,200322.0,2168-04-21,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,29825
25609,200339.0,2192-02-23,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,51839
29087,200352.0,2171-09-28,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,97181
30346,200375.0,2138-10-16,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,20190
31807,200398.0,2118-03-10,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,20457
32570,200419.0,2136-06-10,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,28925
37438,200456.0,2117-06-23,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,9867
40596,200487.0,2161-12-31,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,29043
44245,200535.0,2184-11-10,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,6348
62729,200719.0,2192-05-03,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,8995
63861,200726.0,2180-02-28,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,1469
69308,200769.0,2170-01-06,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,3830
70282,200793.0,2139-02-11,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,21569
71966,200859.0,2174-08-12,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,3019
73291,200891.0,2131-01-15,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,11320
74207,200897.0,2116-02-05,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,21706
75557,200907.0,2194-12-24,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,24187
76025,200916.0,2146-11-03,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,99322
76559,200918.0,2187-03-20,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,18341
77629,200930.0,2131-06-07,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,26831
78224,200937.0,2172-03-24,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,57081
90558,201074.0,2112-08-17,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,26828
93203,201089.0,2144-12-14,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,53404
...,...,...,...,...,...,...,...,...
7044961,297781.0,2187-03-13,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,48771
7059634,297982.0,2149-12-29,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,25076
7062333,298020.0,2129-01-05,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,24582
7063010,298032.0,2191-07-04,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,30192
7066807,298072.0,2155-04-30,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,7933
7069876,298136.0,2194-12-09,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,29309
7092693,298308.0,2131-10-14,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,4469
7098007,298375.0,2134-12-27,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,23092
7098901,298383.0,2159-07-02,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,29595
7099619,298387.0,2128-06-09,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,14741
7108453,298530.0,2166-03-11,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,25704
7110089,298577.0,2163-06-07,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,77608
7116356,298739.0,2196-09-01,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,6912
7127625,298880.0,2177-06-22,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,23965
7134452,298992.0,2112-11-10,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,76425
7135618,299008.0,2129-06-29,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,16487
7139411,299054.0,2131-10-29,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,2809
7140708,299071.0,2187-10-26,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,75107
7141352,299077.0,2192-12-21,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,9908
7141904,299102.0,2105-12-19,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,41385
7142683,299112.0,2127-08-01,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,20116
7143947,299124.0,2123-05-12,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,28175
7152571,299274.0,2152-11-09,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,28008
7155347,299319.0,2164-08-28,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,65610
7157304,299382.0,2173-09-23,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,26688
7160365,299439.0,2176-04-12,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,28807
7174550,299629.0,2106-11-14,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,13330
7176450,299654.0,2149-12-23,Neg/Not_tested,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,25952
7180123,299679.0,2190-10-25,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,5819
7198662,299919.0,2162-02-03,pos,leukocyte,pos/neg category,0 days 00:00:00.000000000,leuk,30616

time: 37.2 ms

In [265]:
#big_categorical[big_categorical['icustay_id']==200140.0]
#big_categorical.loc[big_categorical['source']=='nit','label']="nitrite" #fixing a bug i foun in 03.1 clinical var prep. has been fixed since.

time: 314 ms

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [252]:
big_categorical["icustay_id"].isin(icustay_id)

0          True
1          True
84         True
85         True
471        True
472        True
813        True
814        True
1439       True
1440       True
2068       True
2069       True
2458       True
2459       True
2685       True
2686       True
3900       True
3901       True
4219       True
4220       True
5004       True
5005       True
5924       True
5925       True
6151       True
6152       True
6327       True
6328       True
6933       True
6934       True
           ...
7196729    True
7196878    True
7196879    True
7197709    True
7197710    True
7198191    True
7198192    True
7198360    True
7198361    True
7198662    True
7198663    True
7198664    True
7199118    True
7199119    True
7199527    True
7199528    True
7199838    True
7199839    True
7200121    True
7200122    True
7200991    True
7200992    True
7201970    True
7201971    True
7202726    True
7202727    True
7203649    True
7203650    True
7204601    True
7204602    True
Name: icustay_id, Length: 31312, dtype: bool

time: 6.69 ms

In [247]:
big_categorical.pivot(
    index='icustay_id',
    values='value',
    columns='label') #need to convert to long format. should be one row per patient per time.

ValueError: Index contains duplicate entries, cannot reshape

time: 23.2 ms

In [105]:
#big_noCat['value']=big_noCat['value'].astype(float, copy=False)
#big_noCat.groupby(['icustay_id','label'], as_index=False)['value'].agg(dict1) #

KeyboardInterrupt:

time: 57.3 s

In [187]:
test= big_noCat.groupby(['icustay_id'], as_index=False)['value'].agg(dict1)
# table = pd.pivot_table(big_noCat, values='value', columns='label', index=['icustay_id'],aggfunc=max, dropna=False)
# table

# pd.pivot_table(df,index=["Manager","Status"],columns=["Product"],values=["Quantity","Price"],
#                aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

label,bands,bicarbonate,bilirubin,bun,calcium,chloride,creatinine,daily_sofa,diasbp,dobutamine,...,ptt,resprate,rrt,sodium,spo2,sysbp,temperature,vasopressin,wbc,weight
icustay_id,,,,,,,,,,,,,,,,,,,,,
200012.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,82.0,0.0,...,NaN,27.0,0.0,NaN,99.0,109.0,37.500000,0.0,4.9,51.20
200014.0,NaN,28.0,NaN,24.0,1.24,114.0,0.8,2.0,93.0,0.0,...,30.1,33.0,0.0,143.0,100.0,178.0,37.000000,0.0,14.3,62.00
200019.0,NaN,21.0,NaN,24.0,NaN,109.0,1.0,6.0,90.0,0.0,...,30.9,29.0,0.0,140.0,100.0,206.0,37.777778,0.0,13.5,65.00
200030.0,NaN,19.0,14.5,28.0,1.33,111.0,1.0,4.0,104.0,1.0,...,30.8,33.0,0.0,141.0,99.0,182.0,38.100000,0.0,13.9,113.60
200033.0,NaN,27.0,NaN,16.0,1.06,108.0,0.7,1.0,98.0,0.0,...,29.7,36.0,0.0,145.0,100.0,158.0,38.611111,0.0,7.7,74.00
200036.0,NaN,23.0,NaN,31.0,NaN,110.0,1.0,1.0,111.0,0.0,...,44.2,34.0,0.0,141.0,100.0,155.0,37.333332,0.0,6.7,79.00
200055.0,NaN,30.0,0.3,40.0,1.11,100.0,8.9,8.0,75.0,0.0,...,31.2,30.0,1.0,140.0,100.0,118.0,36.277778,0.0,6.3,56.00
200059.0,NaN,30.0,0.7,50.0,1.17,109.0,1.5,6.0,100.0,0.0,...,141.7,35.0,0.0,140.0,100.0,191.0,37.400002,0.0,14.8,54.00
200061.0,NaN,27.0,5.9,15.0,NaN,106.0,0.9,3.0,95.0,0.0,...,NaN,31.0,0.0,142.0,97.0,162.0,38.944444,0.0,15.6,250.00
200063.0,NaN,23.0,0.8,54.0,1.20,108.0,2.3,6.0,85.0,0.0,...,25.5,29.0,0.0,143.0,100.0,156.0,39.800000,0.0,8.1,NaN
200065.0,20.0,33.0,3.2,53.0,1.25,108.0,3.9,10.0,111.0,0.0,...,60.4,42.0,1.0,140.0,100.0,197.0,39.888891,1.0,44.5,120.00
200075.0,NaN,23.0,3.1,9.0,NaN,110.0,0.6,4.0,124.0,0.0,...,109.4,30.0,0.0,139.0,99.0,175.0,37.388889,0.0,17.3,58.10
200078.0,NaN,27.0,NaN,21.0,1.21,102.0,1.2,NaN,77.0,0.0,...,34.3,30.0,0.0,135.0,99.0,119.0,38.000000,0.0,23.3,71.50
200091.0,NaN,25.0,3.5,30.0,1.13,113.0,1.0,5.0,104.0,0.0,...,38.6,22.0,0.0,142.0,100.0,155.0,37.833332,0.0,7.0,90.70
200095.0,NaN,25.0,1.2,70.0,1.03,110.0,1.5,11.0,153.0,1.0,...,56.7,40.0,0.0,143.0,100.0,163.0,37.777778,0.0,16.4,NaN
200102.0,3.0,26.0,44.3,90.0,1.19,106.0,2.8,15.0,76.0,0.0,...,65.0,32.0,1.0,142.0,99.0,159.0,37.099998,0.0,21.5,155.00
200108.0,NaN,40.0,NaN,28.0,NaN,105.0,0.8,2.0,114.0,0.0,...,35.6,24.0,0.0,150.0,100.0,181.0,37.666667,0.0,13.3,74.00
200112.0,NaN,26.0,NaN,48.0,1.15,109.0,2.2,2.0,75.0,0.0,...,39.7,32.0,0.0,140.0,100.0,158.0,37.222222,0.0,12.7,167.20
200116.0,NaN,28.0,0.8,31.0,1.19,107.0,1.4,NaN,95.0,0.0,...,24.5,23.0,0.0,143.0,100.0,122.0,37.388889,0.0,9.2,113.40
200124.0,NaN,32.0,NaN,14.0,NaN,106.0,0.9,4.0,131.0,0.0,...,27.3,29.0,0.0,141.0,100.0,185.0,37.222222,0.0,3.2,46.50
200126.0,NaN,25.0,0.3,25.0,1.14,109.0,1.3,3.0,98.0,0.0,...,26.9,38.0,0.0,142.0,100.0,184.0,37.111111,0.0,8.7,78.00
200135.0,NaN,23.0,NaN,26.0,1.12,107.0,1.3,2.0,86.0,0.0,...,NaN,27.0,0.0,137.0,98.0,179.0,37.666667,0.0,18.0,59.90
200136.0,NaN,29.0,0.9,32.0,1.23,104.0,1.2,3.0,74.0,0.0,...,32.4,28.0,0.0,141.0,99.0,156.0,37.900002,0.0,13.3,100.00
200140.0,4.0,39.0,NaN,85.0,1.11,109.0,2.2,10.0,96.0,1.0,...,132.0,23.0,0.0,152.0,100.0,177.0,37.111113,1.0,15.3,80.00
200141.0,NaN,23.0,NaN,17.0,1.22,110.0,0.7,4.0,101.0,0.0,...,39.1,25.0,0.0,138.0,100.0,210.0,37.000000,0.0,12.6,70.70
200143.0,NaN,25.0,0.1,55.0,1.21,106.0,3.2,7.0,87.0,0.0,...,35.5,42.0,0.0,137.0,100.0,134.0,37.700000,0.0,17.0,NaN
200150.0,14.0,27.0,10.6,36.0,NaN,104.0,1.8,9.0,83.0,0.0,...,66.9,18.0,0.0,141.0,100.0,115.0,38.200000,0.0,17.6,67.20
200173.0,3.0,31.0,0.6,12.0,NaN,96.0,0.5,1.0,99.0,0.0,...,28.6,37.0,0.0,130.0,100.0,190.0,36.777776,0.0,12.9,NaN
200188.0,NaN,27.0,NaN,11.0,NaN,109.0,0.8,3.0,117.0,0.0,...,69.7,34.0,0.0,137.0,100.0,156.0,37.777778,0.0,12.5,NaN
200191.0,NaN,25.0,NaN,20.0,1.20,114.0,0.7,6.0,83.0,0.0,...,23.8,32.0,0.0,146.0,100.0,186.0,39.333333,0.0,12.2,86.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299806.0,4.0,26.0,0.4,17.0,1.15,118.0,1.7,4.0,103.0,0.0,...,36.3,26.0,0.0,153.0,100.0,165.0,39.166667,0.0,24.5,85.00
299811.0,1.0,29.0,11.3,21.0,NaN,99.0,1.1,10.0,68.0,0.0,...,30.2,33.0,0.0,133.0,100.0,147.0,37.111111,0.0,20.3,63.70
299826.0,NaN,22.0,2.3,48.0,NaN,114.0,1.0,4.0,73.0,0.0,...,39.7,28.0,0.0,140.0,100.0,134.0,36.888889,0.0,9.6,68.80
299828.0,NaN,21.0,9.5,28.0,NaN,112.0,2.3,6.0,78.0,0.0,...,34.2,23.0,0.0,142.0,100.0,123.0,37.111113,0.0,11.3,NaN
299832.0,NaN,12.0,30.7,52.0,NaN,115.0,3.6,11.0,81.0,0.0,...,76.6,31.0,0.0,140.0,100.0,130.0,36.888889,0.0,7.4,73.90
299833.0,NaN,30.0,NaN,18.0,NaN,105.0,0.8,3.0,106.0,0.0,...,NaN,36.0,0.0,140.0,100.0,187.0,38.388889,0.0,12.2,NaN
299840.0,NaN,27.0,NaN,77.0,1.18,108.0,1.0,NaN,66.0,0.0,...,25.4,40.0,0.0,147.0,100.0,143.0,37.666668,0.0,18.7,56.30
299852.0,NaN,26.0,2.7,24.0,1.27,123.0,0.6,12.0,98.0,0.0,...,28.7,30.0,0.0,153.0,100.0,176.0,38.900002,0.0,21.5,78.33
299853.0,NaN,24.0,NaN,63.0,1.17,122.0,1.2,4.0,94.0,0.0,...,42.5,31.0,0.0,146.0,100.0,173.0,37.277778,0.0,14.9,81.00
299858.0,NaN,27.0,0.3,14.0,NaN,104.0,1.3,1.0,106.0,0.0,...,44.0,20.0,0.0,143.0,100.0,154.0,38.277778,0.0,12.0,82.30
299863.0,42.0,22.0,2.1,38.0,1.10,115.0,0.9,10.0,94.0,0.0,...,37.6,33.0,0.0,141.0,100.0,146.0,37.000000,1.0,12.7,74.30
299880.0,NaN,33.0,0.5,72.0,NaN,117.0,5.7,6.0,80.0,0.0,...,41.2,18.0,0.0,145.0,100.0,131.0,36.000000,0.0,13.6,75.70
299883.0,NaN,23.0,1.5,20.0,NaN,111.0,1.4,2.0,85.0,0.0,...,35.0,34.0,1.0,142.0,100.0,130.0,36.666667,0.0,6.5,79.70
299886.0,NaN,28.0,NaN,10.0,1.37,107.0,1.1,3.0,83.0,0.0,...,34.5,18.0,0.0,143.0,100.0,154.0,38.444443,0.0,9.6,100.00
299888.0,NaN,24.0,NaN,17.0,1.07,113.0,0.9,7.0,89.0,0.0,...,28.3,45.0,0.0,142.0,100.0,136.0,38.666666,0.0,16.4,72.00
299901.0,11.0,20.0,4.3,36.0,NaN,119.0,1.4,NaN,102.0,0.0,...,44.7,28.0,0.0,149.0,98.0,166.0,36.111111,0.0,21.9,68.50
299903.0,NaN,27.0,1.2,11.0,1.21,112.0,1.6,8.0,80.0,0.0,...,30.4,34.0,1.0,145.0,100.0,184.0,39.388890,0.0,10.2,78.00
299913.0,NaN,27.0,0.6,93.0,NaN,111.0,2.0,4.0,88.0,0.0,...,30.5,33.0,0.0,146.0,100.0,151.0,37.388889,0.0,9.7,NaN
299914.0,NaN,33.0,0.5,61.0,NaN,94.0,9.9,NaN,69.0,0.0,...,34.3,19.0,1.0,140.0,98.0,147.0,37.166667,0.0,14.0,113.00
299917.0,NaN,25.0,0.2,5.0,NaN,110.0,0.7,1.0,75.0,0.0,...,NaN,25.0,0.0,141.0,100.0,107.0,38.888889,0.0,7.4,74.90
299919.0,NaN,26.0,NaN,72.0,NaN,103.0,2.5,5.0,119.0,0.0,...,26.4,38.0,0.0,140.0,100.0,160.0,37.888887,0.0,10.8,73.00
299948.0,NaN,28.0,0.8,14.0,1.45,113.0,0.8,5.0,76.0,0.0,...,64.0,24.0,0.0,142.0,100.0,136.0,37.100000,0.0,9.9,68.95
299950.0,NaN,27.0,NaN,16.0,NaN,107.0,0.7,3.0,77.0,0.0,...,25.8,37.0,0.0,140.0,100.0,143.0,37.055556,0.0,15.5,62.10
299955.0,NaN,22.0,0.3,45.0,NaN,108.0,6.9,6.0,86.0,0.0,...,150.0,26.0,1.0,143.0,100.0,114.0,38.222224,0.0,9.7,65.70
299956.0,12.0,35.0,1.4,34.0,1.09,87.0,1.8,12.0,93.0,0.0,...,61.4,27.0,0.0,123.0,100.0,181.0,37.800000,0.0,253.4,116.60
299961.0,NaN,37.0,0.7,35.0,1.11,109.0,1.4,9.0,103.0,0.0,...,32.4,34.0,0.0,145.0,100.0,160.0,38.333333,0.0,27.6,80.00
299988.0,NaN,25.0,NaN,15.0,1.17,117.0,0.7,3.0,94.0,0.0,...,36.3,22.0,0.0,148.0,100.0,157.0,38.500000,0.0,7.0,90.00
299992.0,NaN,25.0,NaN,10.0,1.23,117.0,0.7,5.0,84.0,0.0,...,29.3,31.0,0.0,149.0,100.0,177.0,38.700000,0.0,21.9,90.00
299994.0,NaN,20.0,NaN,52.0,1.25,114.0,5.1,NaN,78.0,0.0,...,150.0,37.0,1.0,146.0,100.0,179.0,38.599998,0.0,14.5,72.60
299995.0,NaN,27.0,NaN,6.0,NaN,109.0,0.8,0.0,85.0,0.0,...,NaN,29.0,0.0,142.0,100.0,151.0,37.833332,0.0,24.2,70.40

time: 2.45 s

In [177]:
table

label,bands,bicarbonate,bilirubin,bun,calcium,chloride,creatinine,daily_sofa,diasbp,dobutamine,...,ptt,resprate,rrt,sodium,spo2,sysbp,temperature,vasopressin,wbc,weight
icustay_id,,,,,,,,,,,,,,,,,,,,,
200012.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,82.0,0.0,...,NaN,27.0,0.0,NaN,99.0,109.0,37.500000,0.0,4.9,51.20
200014.0,NaN,28.0,NaN,24.0,1.24,114.0,0.8,2.0,93.0,0.0,...,30.1,33.0,0.0,143.0,100.0,178.0,37.000000,0.0,14.3,62.00
200019.0,NaN,21.0,NaN,24.0,NaN,109.0,1.0,6.0,90.0,0.0,...,30.9,29.0,0.0,140.0,100.0,206.0,37.777778,0.0,13.5,65.00
200030.0,NaN,19.0,14.5,28.0,1.33,111.0,1.0,4.0,104.0,1.0,...,30.8,33.0,0.0,141.0,99.0,182.0,38.100000,0.0,13.9,113.60
200033.0,NaN,27.0,NaN,16.0,1.06,108.0,0.7,1.0,98.0,0.0,...,29.7,36.0,0.0,145.0,100.0,158.0,38.611111,0.0,7.7,74.00
200036.0,NaN,23.0,NaN,31.0,NaN,110.0,1.0,1.0,111.0,0.0,...,44.2,34.0,0.0,141.0,100.0,155.0,37.333332,0.0,6.7,79.00
200055.0,NaN,30.0,0.3,40.0,1.11,100.0,8.9,8.0,75.0,0.0,...,31.2,30.0,1.0,140.0,100.0,118.0,36.277778,0.0,6.3,56.00
200059.0,NaN,30.0,0.7,50.0,1.17,109.0,1.5,6.0,100.0,0.0,...,141.7,35.0,0.0,140.0,100.0,191.0,37.400002,0.0,14.8,54.00
200061.0,NaN,27.0,5.9,15.0,NaN,106.0,0.9,3.0,95.0,0.0,...,NaN,31.0,0.0,142.0,97.0,162.0,38.944444,0.0,15.6,250.00
200063.0,NaN,23.0,0.8,54.0,1.20,108.0,2.3,6.0,85.0,0.0,...,25.5,29.0,0.0,143.0,100.0,156.0,39.800000,0.0,8.1,NaN
200065.0,20.0,33.0,3.2,53.0,1.25,108.0,3.9,10.0,111.0,0.0,...,60.4,42.0,1.0,140.0,100.0,197.0,39.888891,1.0,44.5,120.00
200075.0,NaN,23.0,3.1,9.0,NaN,110.0,0.6,4.0,124.0,0.0,...,109.4,30.0,0.0,139.0,99.0,175.0,37.388889,0.0,17.3,58.10
200078.0,NaN,27.0,NaN,21.0,1.21,102.0,1.2,NaN,77.0,0.0,...,34.3,30.0,0.0,135.0,99.0,119.0,38.000000,0.0,23.3,71.50
200091.0,NaN,25.0,3.5,30.0,1.13,113.0,1.0,5.0,104.0,0.0,...,38.6,22.0,0.0,142.0,100.0,155.0,37.833332,0.0,7.0,90.70
200095.0,NaN,25.0,1.2,70.0,1.03,110.0,1.5,11.0,153.0,1.0,...,56.7,40.0,0.0,143.0,100.0,163.0,37.777778,0.0,16.4,NaN
200102.0,3.0,26.0,44.3,90.0,1.19,106.0,2.8,15.0,76.0,0.0,...,65.0,32.0,1.0,142.0,99.0,159.0,37.099998,0.0,21.5,155.00
200108.0,NaN,40.0,NaN,28.0,NaN,105.0,0.8,2.0,114.0,0.0,...,35.6,24.0,0.0,150.0,100.0,181.0,37.666667,0.0,13.3,74.00
200112.0,NaN,26.0,NaN,48.0,1.15,109.0,2.2,2.0,75.0,0.0,...,39.7,32.0,0.0,140.0,100.0,158.0,37.222222,0.0,12.7,167.20
200116.0,NaN,28.0,0.8,31.0,1.19,107.0,1.4,NaN,95.0,0.0,...,24.5,23.0,0.0,143.0,100.0,122.0,37.388889,0.0,9.2,113.40
200124.0,NaN,32.0,NaN,14.0,NaN,106.0,0.9,4.0,131.0,0.0,...,27.3,29.0,0.0,141.0,100.0,185.0,37.222222,0.0,3.2,46.50
200126.0,NaN,25.0,0.3,25.0,1.14,109.0,1.3,3.0,98.0,0.0,...,26.9,38.0,0.0,142.0,100.0,184.0,37.111111,0.0,8.7,78.00
200135.0,NaN,23.0,NaN,26.0,1.12,107.0,1.3,2.0,86.0,0.0,...,NaN,27.0,0.0,137.0,98.0,179.0,37.666667,0.0,18.0,59.90
200136.0,NaN,29.0,0.9,32.0,1.23,104.0,1.2,3.0,74.0,0.0,...,32.4,28.0,0.0,141.0,99.0,156.0,37.900002,0.0,13.3,100.00
200140.0,4.0,39.0,NaN,85.0,1.11,109.0,2.2,10.0,96.0,1.0,...,132.0,23.0,0.0,152.0,100.0,177.0,37.111113,1.0,15.3,80.00
200141.0,NaN,23.0,NaN,17.0,1.22,110.0,0.7,4.0,101.0,0.0,...,39.1,25.0,0.0,138.0,100.0,210.0,37.000000,0.0,12.6,70.70
200143.0,NaN,25.0,0.1,55.0,1.21,106.0,3.2,7.0,87.0,0.0,...,35.5,42.0,0.0,137.0,100.0,134.0,37.700000,0.0,17.0,NaN
200150.0,14.0,27.0,10.6,36.0,NaN,104.0,1.8,9.0,83.0,0.0,...,66.9,18.0,0.0,141.0,100.0,115.0,38.200000,0.0,17.6,67.20
200173.0,3.0,31.0,0.6,12.0,NaN,96.0,0.5,1.0,99.0,0.0,...,28.6,37.0,0.0,130.0,100.0,190.0,36.777776,0.0,12.9,NaN
200188.0,NaN,27.0,NaN,11.0,NaN,109.0,0.8,3.0,117.0,0.0,...,69.7,34.0,0.0,137.0,100.0,156.0,37.777778,0.0,12.5,NaN
200191.0,NaN,25.0,NaN,20.0,1.20,114.0,0.7,6.0,83.0,0.0,...,23.8,32.0,0.0,146.0,100.0,186.0,39.333333,0.0,12.2,86.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299806.0,4.0,26.0,0.4,17.0,1.15,118.0,1.7,4.0,103.0,0.0,...,36.3,26.0,0.0,153.0,100.0,165.0,39.166667,0.0,24.5,85.00
299811.0,1.0,29.0,11.3,21.0,NaN,99.0,1.1,10.0,68.0,0.0,...,30.2,33.0,0.0,133.0,100.0,147.0,37.111111,0.0,20.3,63.70
299826.0,NaN,22.0,2.3,48.0,NaN,114.0,1.0,4.0,73.0,0.0,...,39.7,28.0,0.0,140.0,100.0,134.0,36.888889,0.0,9.6,68.80
299828.0,NaN,21.0,9.5,28.0,NaN,112.0,2.3,6.0,78.0,0.0,...,34.2,23.0,0.0,142.0,100.0,123.0,37.111113,0.0,11.3,NaN
299832.0,NaN,12.0,30.7,52.0,NaN,115.0,3.6,11.0,81.0,0.0,...,76.6,31.0,0.0,140.0,100.0,130.0,36.888889,0.0,7.4,73.90
299833.0,NaN,30.0,NaN,18.0,NaN,105.0,0.8,3.0,106.0,0.0,...,NaN,36.0,0.0,140.0,100.0,187.0,38.388889,0.0,12.2,NaN
299840.0,NaN,27.0,NaN,77.0,1.18,108.0,1.0,NaN,66.0,0.0,...,25.4,40.0,0.0,147.0,100.0,143.0,37.666668,0.0,18.7,56.30
299852.0,NaN,26.0,2.7,24.0,1.27,123.0,0.6,12.0,98.0,0.0,...,28.7,30.0,0.0,153.0,100.0,176.0,38.900002,0.0,21.5,78.33
299853.0,NaN,24.0,NaN,63.0,1.17,122.0,1.2,4.0,94.0,0.0,...,42.5,31.0,0.0,146.0,100.0,173.0,37.277778,0.0,14.9,81.00
299858.0,NaN,27.0,0.3,14.0,NaN,104.0,1.3,1.0,106.0,0.0,...,44.0,20.0,0.0,143.0,100.0,154.0,38.277778,0.0,12.0,82.30
299863.0,42.0,22.0,2.1,38.0,1.10,115.0,0.9,10.0,94.0,0.0,...,37.6,33.0,0.0,141.0,100.0,146.0,37.000000,1.0,12.7,74.30
299880.0,NaN,33.0,0.5,72.0,NaN,117.0,5.7,6.0,80.0,0.0,...,41.2,18.0,0.0,145.0,100.0,131.0,36.000000,0.0,13.6,75.70
299883.0,NaN,23.0,1.5,20.0,NaN,111.0,1.4,2.0,85.0,0.0,...,35.0,34.0,1.0,142.0,100.0,130.0,36.666667,0.0,6.5,79.70
299886.0,NaN,28.0,NaN,10.0,1.37,107.0,1.1,3.0,83.0,0.0,...,34.5,18.0,0.0,143.0,100.0,154.0,38.444443,0.0,9.6,100.00
299888.0,NaN,24.0,NaN,17.0,1.07,113.0,0.9,7.0,89.0,0.0,...,28.3,45.0,0.0,142.0,100.0,136.0,38.666666,0.0,16.4,72.00
299901.0,11.0,20.0,4.3,36.0,NaN,119.0,1.4,NaN,102.0,0.0,...,44.7,28.0,0.0,149.0,98.0,166.0,36.111111,0.0,21.9,68.50
299903.0,NaN,27.0,1.2,11.0,1.21,112.0,1.6,8.0,80.0,0.0,...,30.4,34.0,1.0,145.0,100.0,184.0,39.388890,0.0,10.2,78.00
299913.0,NaN,27.0,0.6,93.0,NaN,111.0,2.0,4.0,88.0,0.0,...,30.5,33.0,0.0,146.0,100.0,151.0,37.388889,0.0,9.7,NaN
299914.0,NaN,33.0,0.5,61.0,NaN,94.0,9.9,NaN,69.0,0.0,...,34.3,19.0,1.0,140.0,98.0,147.0,37.166667,0.0,14.0,113.00
299917.0,NaN,25.0,0.2,5.0,NaN,110.0,0.7,1.0,75.0,0.0,...,NaN,25.0,0.0,141.0,100.0,107.0,38.888889,0.0,7.4,74.90
299919.0,NaN,26.0,NaN,72.0,NaN,103.0,2.5,5.0,119.0,0.0,...,26.4,38.0,0.0,140.0,100.0,160.0,37.888887,0.0,10.8,73.00
299948.0,NaN,28.0,0.8,14.0,1.45,113.0,0.8,5.0,76.0,0.0,...,64.0,24.0,0.0,142.0,100.0,136.0,37.100000,0.0,9.9,68.95
299950.0,NaN,27.0,NaN,16.0,NaN,107.0,0.7,3.0,77.0,0.0,...,25.8,37.0,0.0,140.0,100.0,143.0,37.055556,0.0,15.5,62.10
299955.0,NaN,22.0,0.3,45.0,NaN,108.0,6.9,6.0,86.0,0.0,...,150.0,26.0,1.0,143.0,100.0,114.0,38.222224,0.0,9.7,65.70
299956.0,12.0,35.0,1.4,34.0,1.09,87.0,1.8,12.0,93.0,0.0,...,61.4,27.0,0.0,123.0,100.0,181.0,37.800000,0.0,253.4,116.60
299961.0,NaN,37.0,0.7,35.0,1.11,109.0,1.4,9.0,103.0,0.0,...,32.4,34.0,0.0,145.0,100.0,160.0,38.333333,0.0,27.6,80.00
299988.0,NaN,25.0,NaN,15.0,1.17,117.0,0.7,3.0,94.0,0.0,...,36.3,22.0,0.0,148.0,100.0,157.0,38.500000,0.0,7.0,90.00
299992.0,NaN,25.0,NaN,10.0,1.23,117.0,0.7,5.0,84.0,0.0,...,29.3,31.0,0.0,149.0,100.0,177.0,38.700000,0.0,21.9,90.00
299994.0,NaN,20.0,NaN,52.0,1.25,114.0,5.1,NaN,78.0,0.0,...,150.0,37.0,1.0,146.0,100.0,179.0,38.599998,0.0,14.5,72.60
299995.0,NaN,27.0,NaN,6.0,NaN,109.0,0.8,0.0,85.0,0.0,...,NaN,29.0,0.0,142.0,100.0,151.0,37.833332,0.0,24.2,70.40

time: 78.9 ms

In [174]:
test.head()

  icustay_id  bands bilirubin    bun chloride creatinine daily_sofa glucose  \
                max       max    max      max        max        max     max
0   200012.0  129.0     129.0  129.0    129.0      129.0      129.0   129.0
1   200014.0  178.0     178.0  178.0    178.0      178.0      178.0   178.0
2   200019.0  206.0     206.0  206.0    206.0      206.0      206.0   206.0
3   200030.0  270.0     270.0  270.0    270.0      270.0      270.0   270.0
4   200033.0  326.0     326.0  326.0    326.0      326.0      326.0   326.0

  heartrate    inr ...    ph platelet spo2 sysbp calcium      sodium       \
        max    max ...   min      min  min   min     max  min    max  min
0     129.0  129.0 ...   0.0      0.0  0.0   0.0   129.0  0.0  129.0  0.0
1     178.0  178.0 ...   0.0      0.0  0.0   0.0   178.0  0.0  178.0  0.0
2     206.0  206.0 ...   0.0      0.0  0.0   0.0   206.0  0.0  206.0  0.0
3     270.0  270.0 ...   0.0      0.0  0.0   0.0   270.0  0.0  270.0  0.0
4     326.0  326.0 ...   0.0      0.0  0.0   0.0   326.0  0.0  326.0  0.0

     wbc
     max  min
0  129.0  0.0
1  178.0  0.0
2  206.0  0.0
3  270.0  0.0
4  326.0  0.0

[5 rows x 39 columns]

time: 35.6 ms

In [117]:
big_noCat.head()

,icustay_id,t_0,value,label,uom,delta,source,subject_id
2,200012.0,2153-12-23,1.0,daily_sofa,daily_sofa_score,0 days 00:00:00.000000000,sofa,28448
3,200012.0,2153-12-23,0.0,dobutamine,y/n,0 days 00:00:00.000000000,dobutamine,28448
4,200012.0,2153-12-23,0.0,dopamine,y/n,0 days 00:00:00.000000000,dopamine,28448
5,200012.0,2153-12-23,0.0,epinephrine,y/n,0 days 00:00:00.000000000,epinephrine,28448
6,200012.0,2153-12-23,0.0,norepinephrine,y/n,0 days 00:00:00.000000000,norepinephrine,28448

time: 11.5 ms

In [175]:
# #table = pivot_table(df, values=['D', 'E'], index=['A', 'C'],aggfunc={})
# ##don't know why this doesn't work. 
# table = pd.pivot_table(big_noCat, values='value',columns='label', index='icustay_id',aggfunc=dict1, dropna=False)
# table

KeyError: "Column 'bands' does not exist!"

time: 180 ms

In [141]:
#big_df['label'].unique() #bands is in this
big_noCat['label'].unique()

array(['daily_sofa', 'dobutamine', 'dopamine', 'epinephrine',
       'norepinephrine', 'phenylephrine', 'rrt', 'vasopressin', 'weight',
       'lactate', 'diasbp', 'heartrate', 'meanartpress', 'resprate',
       'spo2', 'sysbp', 'temperature', 'bands', 'hemoglobin', 'platelet',
       'wbc', 'mingcs', 'calcium', 'glucose', 'pco2', 'ph', 'bicarbonate',
       'bun', 'chloride', 'creatinine', 'inr', 'potassium', 'ptt',
       'sodium', 'bilirubin'], dtype=object)

time: 284 ms

In [170]:
test.loc[test.loc[:,'icustay_id']==200946,'ph']

#test # ph needs to be null

     min
147  0.0

time: 7.44 ms

In [180]:
big_noCat[big_noCat['value'].isnull()].head()

,icustay_id,t_0,value,label,uom,delta,source,subject_id
80023,200946.0,2117-05-21,NaN,pco2,mm Hg,0 days 05:16:00.000000000,bg_ART,91399
80024,200946.0,2117-05-21,NaN,ph,units,0 days 05:16:00.000000000,bg_all,91399
190455,202256.0,2120-09-14,NaN,calcium,mmol/L,1 days 08:04:00.000000000,bg_all,32504
190456,202256.0,2120-09-14,NaN,lactate,mmol/L,1 days 08:04:00.000000000,bg_all,32504
190457,202256.0,2120-09-14,NaN,pco2,mm Hg,1 days 08:04:00.000000000,bg_ART,32504

time: 457 ms

In [55]:
# big_agg= big_df.loc[big_df.loc[:,'label'].isin(non_category),:].groupby(['icustay_id','label'], as_index=False)['value'].apply(lambda x: float(x))

    #.agg({str(x):['max'] for x in hi_value})
#big_agg_count= big_agg.reset_index().pivot(index='icustay_id',columns='label', values=0)#, levels='icustay_id')

time: 539 ms

In [66]:
# hi_df= big_df.loc[big_df.loc[:,'label'].isin(hi_value),:]
# hi_df['value']=hi_df['value'].astype(float, copy=False)
# hi_df.groupby(['icustay_id','label'], as_index=False)['value'].agg('max') #this works

time: 623 ms

In [179]:
%whos

# del big_agg
# del hi_df
# del final_pt_df2

Variable          Type                Data/Info
-----------------------------------------------
ConfigManager     MetaHasTraits       <class 'notebook.services<...>g.manager.ConfigManager'>
Memory            type                <class 'sklearn.externals.joblib.memory.Memory'>
Path              type                <class 'pathlib.Path'>
big_agg           DataFrameGroupBy    <pandas.core.groupby.grou<...>y object at 0x1a13017320>
big_categorical   DataFrame                    icustay_id      <...>n[31312 rows x 8 columns]
big_df            DataFrame                    icustay_id      <...>7204842 rows x 8 columns]
big_noCat         DataFrame                    icustay_id      <...>7158862 rows x 8 columns]
both_value        list                n=3
categorical       list                n=2
cm                ConfigManager       <notebook.services.config<...>r object at 0x1a1273e320>
date              str                 22112018
dict1             dict                n=35
dict2             dict                n=9
dict3             dict                n=3
e                 float64             200012.0
final_pt_df2      DataFrame                  subject_id  icusta<...>[14668 rows x 16 columns]
glob              module              <module 'glob' from '/Use<...>v/lib/python3.6/glob.py'>
hadm_id           list                n=14668
hi_df             DataFrame                    icustay_id      <...>3093691 rows x 8 columns]
hi_value          list                n=23
icustay_id        list                n=14668
low_value         list                n=9
low_values        list                n=12
memory            Memory              Memory(cachedir='/tmp/joblib')
merge_two_dicts   function            <function merge_two_dicts at 0x1a144f26a8>
np                module              <module 'numpy' from '/Us<...>kages/numpy/__init__.py'>
os                module              <module 'os' from '/Users<...>env/lib/python3.6/os.py'>
patients          list                n=12403
pd                module              <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
plt               module              <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
result            dict                n=0
sns               module              <module 'seaborn' from '/<...>ges/seaborn/__init__.py'>
table             DataFrame           label       bands  bicarb<...>[14668 rows x 35 columns]
test              DataFrame                 icustay_id  bands b<...>[14668 rows x 39 columns]
wd                str                 /Users/geickelb1/Document<...>ciii-antibiotics-modeling
time: 1.44 s