the purpose of this notebook is to take the big dataframe created in 07.01-baseline_data_merging, and make an aggregate we can use for our baseline "worst case" scenario model. This will then be fed into R, where we will use the MICE package to impute data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
from pathlib import Path
import seaborn as sns
import numpy as np
import glob

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/ipykernel_launcher.py:10: DeprecationWarning: The 'cachedir' parameter has been deprecated in version 0.12 and will be removed in version 0.14.
You provided "cachedir='/tmp'", use "location='/tmp'" instead.
  # Remove the CWD from sys.path while we load stuff.

In [2]:
#cohort import

os.chdir('/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling') #use to change working directory
wd= os.getcwd() #'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling'


final_pt_df2 = pd.read_csv(Path(wd + '/data/raw/csv/04042019_final_pt_df2_v.csv') , index_col=0) #only for patients with minimum vitals, 14478 icustay_id
patients= list(final_pt_df2['subject_id'].unique())
hadm_id= list(final_pt_df2['hadm_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())
icustay_id= [int(x) for x in icustay_id]

time: 93.8 ms

In [3]:
#pd.to_datetime(final_pt_df2['t_0'])- pd.to_datetime(final_pt_df2['t_0'])
#final_pt_df2
(pd.to_datetime(final_pt_df2['t_0'])-pd.to_datetime(final_pt_df2['t_0_sc'])).describe() #ssc time - ab time
#(pd.to_datetime(final_pt_df2['ICU_admit'])-pd.to_datetime(final_pt_df2['t_0'])).describe()

count                     14478
mean     0 days 01:55:28.064649
std      0 days 10:00:09.874180
min           -1 days +00:00:00
25%           -1 days +19:37:00
50%             0 days 02:45:00
75%             0 days 08:39:00
max             1 days 00:00:00
dtype: object

time: 22.2 ms

In [4]:
#final_pt_df2
(pd.to_datetime(final_pt_df2['t_0'])-pd.to_datetime(final_pt_df2['ICU_admit'])).describe() #icu admit time - ab time

count                     14478
mean     0 days 06:52:07.033775
std      0 days 17:39:21.503063
min           -1 days +12:00:21
25%           -1 days +21:47:17
50%      0 days 02:56:52.500000
75%      0 days 08:05:23.250000
max             3 days 23:46:07
dtype: object

time: 17.3 ms

In [5]:
(pd.to_datetime(final_pt_df2['t_0_sc'])-pd.to_datetime(final_pt_df2['ICU_admit'])).describe() #icu admit time - ssc time

count                       14478
mean       0 days 04:56:38.969125
std        0 days 20:01:44.531744
min             -2 days +12:08:23
25%      -1 days +20:15:15.500000
50%             -1 days +23:05:58
75%        0 days 05:21:32.250000
max               4 days 21:07:19
dtype: object

time: 26.3 ms

In [6]:
#importing in all clinical_variable files
date= '04042019'
os.chdir(r'/Users/geickelb1/Documents/GitHub/mimiciii-antibiotics-modeling/data/processed/')
big_df= pd.read_csv(Path(wd+'/data/processed/merged/%s_longdf_preImp.csv' %(date),  index_col=0))
big_df= big_df.reset_index(drop=True).iloc[:,1:]

time: 12 s

In [7]:
#removing firstpos else neg ssc col
big_df=big_df.loc[:,list(big_df.columns!="first_pos_else_neg_ssc")]

time: 481 ms

In [8]:
big_df.groupby('label')['value'].describe().sort_values('unique')
##categorical variables:
#rrt, phenylephrine, norepinephrine, vasopressin, dobutamine, dopamine, epinephrine, leukocyte, vent_recieved

                  count unique                top    freq
label
leukocyte         14478      2     Neg/Not_tested   12278
norepinephrine    34427      2                1.0   22788
o2_flow           14734      2                0.0   13734
gender            14478      2                  M    7940
phenylephrine     26635      2                1.0   14378
epinephrine       16080      2                0.0   14188
dopamine          19236      2                0.0   13623
nitrite           14478      2     Neg/Not_tested   14061
dobutamine        15767      2                0.0   14247
rrt               14478      2                0.0   13313
vasopressin       17722      2                0.0   14075
vent_recieved     14068      3               Mech    7144
ethnicity         14478      5  white/nonhispanic   10556
mingcs             6750     13               15.0    2429
daily_sofa        36463     23                  1    6800
bicarbonate       62219     55               24.0    5132
resprate         947367     74               20.0   75232
sodium            70560     81              139.0    6337
chloride          67638     84              106.0    4379
bands              3468     96                1.0     467
ph                67859    102                7.4    3563
potassium         84214    102                4.0    6157
spo2             863634    102              100.0  193898
height             9518    128              177.8     619
pco2              39490    133               37.0    1923
hemoglobin        63854    166                9.6    1558
calcium           28421    170               1.13    1459
inr               38937    180                1.2    5914
creatinine        62241    185                0.7    5341
bun               61973    195               14.0    1891
diasbp           871155    202               56.0   27597
heartrate        901145    207               80.0   23491
sysbp            875354    235              108.0   16068
lactate           33786    294                1.2    1629
bilirubin         17577    399                0.4    1468
meanartpress     885446    589               72.0   23470
temperature      266850    593   36.6666666666667    7389
glucose          216831    714              120.0    2367
wbc               55399    800                8.8     478
platelet          57124    910              151.0     249
pao2/fio2         14478   1002              476.0    9129
ptt               40960   1237              150.0     937
weight            13158   1407               70.0     249
first_admit_age   14478   5043              300.0     920

time: 1.93 s

In [9]:
big_df[big_df['label']=='vent_recieved']['value'].value_counts() #
#df["B"] = df["A"].astype('category')

#was origionally:
# None      8387
# Oxygen    3986
# Mech      2295

# now is:
# Mech      7144
# Oxygen    6176
# None       748

Mech      7144
Oxygen    6176
None       748
Name: value, dtype: int64

time: 608 ms

In [10]:
big_df[big_df['label']=='vent_recieved']['icustay_id'].nunique()
big_df.head()

,icustay_id,value,uom,label,delta,t_0,source,subject_id
0,200012.0,1,daily_sofa_score,daily_sofa,0 days 00:00:00.000000000,2153-12-23,sofa,28448
1,200012.0,0.0,y/n,dobutamine,0 days 00:00:00.000000000,2153-12-23,dobutamine,28448
2,200012.0,0.0,y/n,dopamine,0 days 00:00:00.000000000,2153-12-23,dopamine,28448
3,200012.0,0.0,y/n,epinephrine,0 days 00:00:00.000000000,2153-12-23,epinephrine,28448
4,200012.0,asian,NaN,ethnicity,0 days 00:00:00.000000000,2153-12-23,pt_info,28448

time: 506 ms

In [11]:
big_df[big_df['label']=='vent_recieved'].head()

,icustay_id,value,uom,label,delta,t_0,source,subject_id
13,200012.0,Oxygen,mech/O2/none category,vent_recieved,0 days 00:00:00.000000000,2153-12-23,ventcategory,28448
109,200014.0,Mech,mech/O2/none category,vent_recieved,0 days 00:00:00.000000000,2105-02-17,ventcategory,9514
500,200019.0,Mech,mech/O2/none category,vent_recieved,0 days 00:00:00.000000000,2178-07-09,ventcategory,21789
850,200030.0,Oxygen,mech/O2/none category,vent_recieved,0 days 00:00:00.000000000,2150-11-14,ventcategory,14987
1482,200033.0,Mech,mech/O2/none category,vent_recieved,0 days 00:00:00.000000000,2198-08-11,ventcategory,56369

time: 540 ms

In [12]:
# #converting venttype to category
# big_df.loc[big_df.loc[:,'label']=='vent_recieved','value']= big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'].astype('category')
# #big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'].apply(astype('category'))
# big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'] = pd.Categorical(big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'])

time: 906 µs

In [57]:
#converting categories to integers
vent_index=pd.factorize(big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'])[1]
big_df.loc[big_df.loc[:,'label']=='vent_recieved','value']=pd.factorize(big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'])[0]#= big_df.loc[big_df.loc[:,'label']=='vent_recieved','value'].astype('category')

gender_index=pd.factorize(big_df.loc[big_df.loc[:,'label']=='gender','value'])[1]
big_df.loc[big_df.loc[:,'label']=='gender','value']=pd.factorize(big_df.loc[big_df.loc[:,'label']=='gender','value'])[0] #male=1

leukocyte_index=pd.factorize(big_df.loc[big_df.loc[:,'label']=='leukocyte','value'])[1]
big_df.loc[big_df.loc[:,'label']=='leukocyte','value']=pd.factorize(big_df.loc[big_df.loc[:,'label']=='leukocyte','value'])[0] 

nitrite_index=pd.factorize(big_df.loc[big_df.loc[:,'label']=='nitrite','value'])[1]
big_df.loc[big_df.loc[:,'label']=='nitrite','value']=pd.factorize(big_df.loc[big_df.loc[:,'label']=='leukocyte','value'])[0]

time: 6.68 s

## calc median/iqr for standardization

In [68]:
continuous=['daily_sofa',
            'first_admit_age',
            'pao2/fio2',
            'weight',
            'lactate',
            'mingcs',
            'diasbp',
            'heartrate',
            'meanartpress',
            'resprate',
            'spo2',
            'sysbp',
            'temperature',
            'bands',
            'hemoglobin',
            'platelet',
            'wbc',
            'height',
            'calcium',
            'glucose',
            'pco2',
            'ph',
            'bicarbonate',
            'bun',
            'chloride',
            'creatinine',
            'inr',
            'potassium',
            'ptt',
            'sodium',
            'bilirubin']

ordinal=[
            'leukocyte',
            'nitrite',
            'vent_recieved',
            'o2_flow',
            'rrt', 
            'phenylephrine',
            'norepinephrine',
            'vasopressin',
            'dobutamine',
            'dopamine',
            'epinephrine'
]
categorical=[
            "ethnicity",
            'gender'
]

time: 14.8 ms

In [69]:
final_bin=final_pt_df2[['icustay_id',"final_bin"]].copy()
#list of healthy pt
healthy_pt=list(final_bin[final_bin['final_bin']=="C_neg/A_partial"]['icustay_id'])
del(final_bin)

time: 5.62 ms

In [70]:
#formatting big_df to be limited to only numeric columns
#norm_df=big_df[big_df['label'].isin(label_list)].copy() #limiting to numerical variables
norm_df=big_df.copy()

categorical_dropped= ['ethnicity'] #dropping ethnicity from model
norm_df=norm_df[norm_df['label'].isin(continuous)]

norm_df['value']= pd.to_numeric(norm_df['value']) #converting to numeric 

#healthy patients filter
healthy_df=norm_df[norm_df['icustay_id'].isin(healthy_pt)].copy() #only numerical values for cneg/ab partial pt

time: 6 s

In [71]:
#finding the last 24 hours of each healthy patient.
healthy_pt_end=pd.DataFrame(healthy_df.groupby("icustay_id")['delta'].max())

healthy_pt_end["start"]=healthy_pt_end['delta']- pd.to_timedelta("1 day 00:00:00")
healthy_pt_end=healthy_pt_end.rename(columns={"delta":"end"}).reset_index()

healthy_df= pd.merge(healthy_df,healthy_pt_end, left_on="icustay_id", right_on="icustay_id", how="left" ) #now have the last 24 hours annotated for each patient as start and end.
healthy_df.head()

,icustay_id,value,uom,label,delta,t_0,source,subject_id,end,start
0,200012.0,1.00,daily_sofa_score,daily_sofa,0 days 00:00:00.000000000,2153-12-23,sofa,28448,0 days 15:00:00.000000000,-1 days +15:00:00
1,200012.0,32.99,years,first_admit_age,0 days 00:00:00.000000000,2153-12-23,pt_info,28448,0 days 15:00:00.000000000,-1 days +15:00:00
2,200012.0,476.00,PaO2/FIO2 ratio,pao2/fio2,0 days 00:00:00.000000000,2153-12-23,pafaRatio,28448,0 days 15:00:00.000000000,-1 days +15:00:00
3,200012.0,51.20,kg,weight,0 days 00:00:00.000000000,2153-12-23,weight,28448,0 days 15:00:00.000000000,-1 days +15:00:00
4,200012.0,1.30,mmol/L,lactate,0 days 02:36:00.000000000,2153-12-23,labs,28448,0 days 15:00:00.000000000,-1 days +15:00:00

time: 1.71 s

In [72]:
#calculating medians and iqr for each label based on healthy patient's last 24 hours in icu
median_label=pd.DataFrame(healthy_df.groupby("label")['value'].median()).reset_index()
median_label=median_label.rename(columns={'value':"median"})
iqr_label=pd.DataFrame(healthy_df.groupby("label")['value'].quantile(0.75)-healthy_df.groupby("label")['value'].quantile(0.25)).reset_index()
iqr_label=iqr_label.rename(columns={'value':"iqr"})
median_label=pd.merge(median_label,iqr_label)  #final median df
del(iqr_label)
        
#saving the median label for standardization, will be used later on in teh notebook
pd.DataFrame(median_label).to_csv(Path(
    wd+'/data/processed/merged/%s_healthy_medians.csv' %(date)),index=False)

time: 1.62 s

In [18]:
# #making a test df of one patient so i can mess around with it
# test_df=norm_df[norm_df['icustay_id']==200095.0].copy() #299995 

# #merging in medians/iqr
# test_df=pd.merge(test_df, median_label)
# test_df.head()
# test_df['standardize']=((test_df['value']-test_df['median'])/test_df['iqr']).fillna(0)
# #normalizing

time: 1.24 ms

# aggregations

### dataformatting: convert all dtypes to a numeric type that pereserves nan.

In [82]:
#splitting categorical, ordinal and continuous
big_categorical= big_df.loc[big_df.loc[:,'label'].isin(categorical),:].copy()

#continuous and ordinal variables
big_noCat= big_df.loc[big_df.loc[:,'label'].isin(continuous+ordinal),:].copy()
big_noCat['value']= big_noCat['value'].apply(pd.to_numeric, args=('coerce',)) #instead of convert to float, may preserve nan's better. 
#changing pao2/fio2 ratio label
big_noCat.loc[big_noCat['label']=="pao2/fio2",'label']="pao2fio2Ratio"

time: 2min 48s

### adding a standardized value (x-median)/iqr  where median is of the last 24 hours in time window for culture neg/ ab partial patients

In [83]:
big_noCat=pd.merge(big_noCat, median_label, how="left")
big_noCat['standardize']=((big_noCat['value']-big_noCat['median'])/big_noCat['iqr']).fillna(0)
big_noCat.loc[big_noCat['label'].isin(ordinal),'standardize']=big_noCat.loc[big_noCat['label'].isin(ordinal),'value'] #making all ordinal values in standardize equal to unstandardized
big_noCat.head()

,icustay_id,value,uom,label,delta,t_0,source,subject_id,median,iqr,standardize
0,200012.0,1.00,daily_sofa_score,daily_sofa,0 days 00:00:00.000000000,2153-12-23,sofa,28448,3.0,3.000,-0.666667
1,200012.0,0.00,y/n,dobutamine,0 days 00:00:00.000000000,2153-12-23,dobutamine,28448,NaN,NaN,0.000000
2,200012.0,0.00,y/n,dopamine,0 days 00:00:00.000000000,2153-12-23,dopamine,28448,NaN,NaN,0.000000
3,200012.0,0.00,y/n,epinephrine,0 days 00:00:00.000000000,2153-12-23,epinephrine,28448,NaN,NaN,0.000000
4,200012.0,32.99,years,first_admit_age,0 days 00:00:00.000000000,2153-12-23,pt_info,28448,65.2,26.065,-1.235757

time: 1.41 s

### min/max

In [116]:
hi_value= ['bands',
'bilirubin',
'bun',
'chloride',
'creatinine',
'daily_sofa',
'glucose',
'heartrate',
'inr',
'lactate',
'pco2',
'potassium',
'ptt',
'resprate',
'temperature',
'weight', 'rrt', 'phenylephrine', 'norepinephrine', 'vasopressin', 'dobutamine', 'dopamine', 'epinephrine',
           'first_admit_age','leukocyte','nitrite','vent_recieved','o2_flow' ]

low_value=['bicarbonate',
'diasbp',
'hemoglobin',
'meanartpress',
'mingcs',
'ph',
'platelet',
'spo2',
'sysbp',
'pao2fio2Ratio']

both_value=['calcium',
'sodium',
'wbc']

time: 7.72 ms

In [117]:
#lambda x: x if not np.isnan(x) else -1

dict1={str(x):max for x in hi_value}
dict2={str(x):min for x in low_value } #dict2={str(x):min for x in low_value }
dict3={str(x):[max,min] for x in both_value }

time: 2.27 ms

In [118]:
def merge_two_dicts(x, y):
    z = x.copy()   # start with x's keys and values
    z.update(y)    # modifies z with y's keys and values & returns None
    return z

dict1 = merge_two_dicts(dict1, dict2)
dict1 = merge_two_dicts(dict1, dict3)

time: 3.08 ms

In [119]:
dict1

{'bands': <function max>,
 'bicarbonate': <function min>,
 'bilirubin': <function max>,
 'bun': <function max>,
 'calcium': [<function max>, <function min>],
 'chloride': <function max>,
 'creatinine': <function max>,
 'daily_sofa': <function max>,
 'diasbp': <function min>,
 'dobutamine': <function max>,
 'dopamine': <function max>,
 'epinephrine': <function max>,
 'first_admit_age': <function max>,
 'glucose': <function max>,
 'heartrate': <function max>,
 'hemoglobin': <function min>,
 'inr': <function max>,
 'lactate': <function max>,
 'leukocyte': <function max>,
 'meanartpress': <function min>,
 'mingcs': <function min>,
 'nitrite': <function max>,
 'norepinephrine': <function max>,
 'o2_flow': <function max>,
 'pao2fio2Ratio': <function min>,
 'pco2': <function max>,
 'ph': <function min>,
 'phenylephrine': <function max>,
 'platelet': <function min>,
 'potassium': <function max>,
 'ptt': <function max>,
 'resprate': <function max>,
 'rrt': <function max>,
 'sodium': [<function max>, <function min>],
 'spo2': <function min>,
 'sysbp': <function min>,
 'temperature': <function max>,
 'vasopressin': <function max>,
 'vent_recieved': <function max>,
 'wbc': [<function max>, <function min>],
 'weight': <function max>}

time: 2.61 ms

# running all of the min/max aggregations.

In [120]:
##choose here if wanna use standardization or raw values.
values="standardize"

time: 783 µs

In [121]:
big_noCat.loc[big_noCat['label']=="leukocyte",:]

,icustay_id,value,uom,label,delta,t_0,source,subject_id,median,iqr,standardize
85,200012.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2153-12-23,leuk,28448,NaN,NaN,0.0
355,200014.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2105-02-17,leuk,9514,NaN,NaN,0.0
659,200019.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2178-07-09,leuk,21789,NaN,NaN,0.0
1060,200030.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2150-11-14,leuk,14987,NaN,NaN,0.0
1669,200033.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2198-08-11,leuk,56369,NaN,NaN,0.0
2240,200036.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2181-08-27,leuk,9960,NaN,NaN,0.0
2601,200055.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2179-03-17,leuk,25225,NaN,NaN,0.0
3069,200059.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2198-02-10,leuk,28494,NaN,NaN,0.0
4109,200061.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2134-01-24,leuk,74282,NaN,NaN,0.0
4479,200063.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2141-03-12,leuk,99052,NaN,NaN,0.0
5380,200065.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2120-03-23,leuk,19891,NaN,NaN,0.0
6143,200075.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2159-09-24,leuk,67800,NaN,NaN,0.0
6360,200078.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2131-08-02,leuk,27961,NaN,NaN,0.0
6576,200091.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2185-08-15,leuk,31854,NaN,NaN,0.0
7203,200095.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2113-10-28,leuk,30284,NaN,NaN,0.0
7676,200099.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2163-06-24,leuk,52619,NaN,NaN,0.0
8036,200102.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2193-06-19,leuk,11228,NaN,NaN,0.0
8796,200108.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2110-12-10,leuk,50772,NaN,NaN,0.0
8924,200112.0,1.0,pos/neg category,leukocyte,0 days 05:04:00.000000000,2140-07-23,leuk,20528,NaN,NaN,1.0
9371,200116.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2198-03-20,leuk,61654,NaN,NaN,0.0
9503,200124.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2148-12-02,leuk,11018,NaN,NaN,0.0
10096,200126.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2126-12-14,leuk,76993,NaN,NaN,0.0
10417,200135.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2145-10-13,leuk,68128,NaN,NaN,0.0
10796,200136.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2174-03-26,leuk,6338,NaN,NaN,0.0
11199,200140.0,1.0,pos/neg category,leukocyte,0 days 09:52:00.000000000,2197-01-18,leuk,27874,NaN,NaN,1.0
12725,200141.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2143-10-15,leuk,93071,NaN,NaN,0.0
13106,200143.0,1.0,pos/neg category,leukocyte,0 days 16:48:00.000000000,2191-04-03,leuk,94414,NaN,NaN,1.0
13790,200150.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2148-06-27,leuk,76327,NaN,NaN,0.0
14127,200173.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2132-08-03,leuk,27499,NaN,NaN,0.0
14675,200188.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2160-03-14,leuk,13835,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6965814,299791.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2112-08-18,leuk,74857,NaN,NaN,0.0
6966331,299800.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2161-08-19,leuk,89156,NaN,NaN,0.0
6966463,299806.0,1.0,pos/neg category,leukocyte,0 days 05:30:00.000000000,2103-05-09,leuk,18978,NaN,NaN,1.0
6967147,299811.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2123-02-20,leuk,69604,NaN,NaN,0.0
6967525,299826.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2172-02-27,leuk,45460,NaN,NaN,0.0
6967899,299828.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2179-03-31,leuk,28161,NaN,NaN,0.0
6968308,299832.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2119-11-07,leuk,92281,NaN,NaN,0.0
6968887,299853.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2101-01-16,leuk,95830,NaN,NaN,0.0
6969416,299858.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2129-03-19,leuk,68941,NaN,NaN,0.0
6969960,299863.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2154-12-15,leuk,31011,NaN,NaN,0.0
6970715,299880.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2159-06-03,leuk,66165,NaN,NaN,0.0
6970904,299881.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2153-04-27,leuk,26118,NaN,NaN,0.0
6971098,299883.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2165-05-25,leuk,42148,NaN,NaN,0.0
6971406,299886.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2117-12-07,leuk,14558,NaN,NaN,0.0
6972011,299888.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2128-04-10,leuk,12026,NaN,NaN,0.0
6972464,299901.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2186-11-27,leuk,50391,NaN,NaN,0.0
6972779,299903.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2111-06-18,leuk,31252,NaN,NaN,0.0
6973540,299913.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2121-07-21,leuk,54247,NaN,NaN,0.0
6973975,299914.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2141-08-17,leuk,42919,NaN,NaN,0.0
6974172,299917.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2151-06-29,leuk,28317,NaN,NaN,0.0
6974364,299919.0,1.0,pos/neg category,leukocyte,0 days 14:52:00.000000000,2162-02-03,leuk,30616,NaN,NaN,1.0
6975063,299948.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2119-05-26,leuk,66696,NaN,NaN,0.0
6975356,299950.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2122-06-21,leuk,98649,NaN,NaN,0.0
6975674,299955.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2113-05-02,leuk,14330,NaN,NaN,0.0
6976096,299956.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2177-05-29,leuk,58128,NaN,NaN,0.0
6977093,299961.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2108-10-07,leuk,24244,NaN,NaN,0.0
6977973,299988.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2190-02-03,leuk,11776,NaN,NaN,0.0
6978836,299992.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2105-11-22,leuk,13083,NaN,NaN,0.0
6979866,299994.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2114-12-13,leuk,10718,NaN,NaN,0.0
6980453,299995.0,0.0,pos/neg category,leukocyte,1 days 00:00:00.000000000,2116-03-05,leuk,28775,NaN,NaN,0.0

time: 469 ms

In [122]:
big_max= big_noCat.loc[big_noCat.loc[:,'label'].isin(hi_value),:]
table = pd.pivot_table(big_max, values=values, columns='label', index=['icustay_id'],aggfunc=max, dropna=False)

time: 1.11 s

In [123]:
big_max[big_max['label']=='leukocyte']['value'].describe() #good the categorical stuff worked

count    14478.000000
mean         0.151955
std          0.358989
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: value, dtype: float64

time: 251 ms

In [124]:
big_min= big_noCat.loc[big_noCat.loc[:,'label'].isin(low_value),:]
table2 = pd.pivot_table(big_min, values=values, columns='label', index=['icustay_id'],aggfunc=min, dropna=False)

time: 1.1 s

In [125]:
big_both= big_noCat.loc[big_noCat.loc[:,'label'].isin(both_value),:]
table3 = pd.pivot_table(big_both, values=values, columns='label', index=['icustay_id'],aggfunc=[max,min], dropna=False)

time: 410 ms

In [126]:
print(len(table),len(table2),len(table3)) #14668 14668 14618

14478 14478 14417
time: 1.09 ms

In [127]:
#first left join all different aggregations together. 
worst_df=pd.merge(table.reset_index(), table2.reset_index(), how='left')
worst_df=pd.merge(worst_df, table3.reset_index(), left_on='icustay_id', right_on='icustay_id',how='left')
worst_df.head()

/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/reshape/merge.py:544: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/Users/geickelb1/anaconda/envs/rpy-env/lib/python3.6/site-packages/pandas/core/generic.py:3111: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,icustay_id,bands,bilirubin,bun,chloride,creatinine,daily_sofa,dobutamine,dopamine,epinephrine,...,ph,platelet,spo2,sysbp,"(max, calcium)","(max, sodium)","(max, wbc)","(min, calcium)","(min, sodium)","(min, wbc)"
0,200012.0,0.875,NaN,NaN,NaN,NaN,-0.666667,0.0,0.0,0.0,...,NaN,-0.450382,-0.50,-0.766667,NaN,NaN,-0.790323,NaN,NaN,-0.790323
1,200014.0,NaN,NaN,0.190476,1.125,-0.222222,-0.333333,0.0,0.0,0.0,...,-0.222222,-0.572519,-0.50,-1.600000,0.909091,0.8,0.725806,-0.090909,-0.2,0.145161
2,200019.0,NaN,NaN,0.190476,0.500,0.000000,1.000000,0.0,0.0,0.0,...,-0.111111,-0.396947,-8.75,-1.633333,NaN,0.2,0.596774,NaN,0.2,0.483871
3,200030.0,NaN,8.5625,0.380952,0.750,0.000000,0.666667,1.0,0.0,0.0,...,-0.111111,-0.229008,-1.25,-0.366667,1.727273,0.4,0.661290,0.090909,-0.2,0.435484
4,200033.0,NaN,NaN,-0.190476,0.375,-0.333333,-0.666667,0.0,0.0,0.0,...,0.888889,-0.595420,-0.25,-0.633333,-0.727273,1.2,-0.338710,-1.000000,-1.2,-0.580645

time: 81.3 ms

In [110]:
### formatting categorical to wide format to match the tables/worst_df
big_categorical= big_df.loc[big_df.loc[:,'label'].isin(categorical),:].copy()
big_categorical= big_categorical.pivot(
    index='icustay_id',
    values='value',
    columns='label').reset_index() #need to convert to wide format. should be one row per patient per time.

time: 189 ms

In [128]:
def merge_cat_agg(num_df, cat_df, twoclass=False):
    """
    merges the categorical and aggregated dataframes together. if twoclass=True (default=False), returns just the truepos trueneg twoclass patients.
    """
    
    worst_df=pd.merge(num_df, cat_df, left_on='icustay_id', right_on='icustay_id',how='left')
#     worst_df['leukocyte']=worst_df['leukocyte'].astype("category")
#     worst_df['nitrite']=worst_df['nitrite'].astype("category")
#     worst_df['vent_recieved']=worst_df['vent_recieved'].astype("category")
    worst_df['ethnicity']=worst_df['ethnicity'].astype("category")
    worst_df['gender']=worst_df['gender'].astype("category")
    
    baselinePts= final_pt_df2.loc[final_pt_df2.loc[:,'final_bin'].isin(["C_pos/A_full","C_neg/A_partial"]),"icustay_id"]
    
    if twoclass==True:
        worst_df= worst_df.loc[worst_df.loc[:,'icustay_id'].isin(baselinePts),:]
    return(worst_df)

time: 10.1 ms

In [129]:
worst_df=merge_cat_agg(worst_df, big_categorical, twoclass=False) #using max/min aggregates

time: 15.5 ms

In [132]:
pd.DataFrame(worst_df).to_csv(Path(
    wd+'/data/processed/merged/%s_worstdf_std.csv' %(date)),index=False)

time: 829 ms

## 4-11-19: range, mean and stdev aggregations (newagg)

In [133]:
## adding more aggregations 4-11-19:

all_variables= [
#'bands', #removed due to sparesness
'bilirubin',
'bun',
'chloride',
'creatinine',
'daily_sofa',
'glucose',
'heartrate',
'inr',
'lactate',
#'pco2', #removed due to sparesness
'potassium',
'ptt',
'resprate',
'temperature',
#'weight', 
#'rrt', 
#'phenylephrine',
#'norepinephrine',
#'vasopressin',
#'dobutamine',
#'dopamine',
#'epinephrine',
#'first_admit_age',
'bicarbonate',
'diasbp',
'hemoglobin',
'meanartpress',
'mingcs',
'ph',
'platelet',
'spo2',
'sysbp',
'pao2fio2Ratio', #need to rename- done
'calcium',
'sodium',
'wbc']

remaining_variables=[
    "bands",
    "pco2",
    'weight', 
    'rrt', 
    'phenylephrine',
    'norepinephrine',
    'vasopressin',
    'dobutamine',
    'dopamine',
    'epinephrine',
    'first_admit_age'
]

time: 10.6 ms

np.ptp = difference btween min and max

In [134]:
##choose here if wanna use standardization or raw values.
values="standardize"

time: 617 µs

In [135]:
big_range= big_noCat.loc[big_noCat.loc[:,'label'].isin(all_variables),:]
table4 = pd.pivot_table(big_range, values=values, columns='label', index=['icustay_id'],aggfunc=[np.ptp, np.mean, np.std], dropna=[False,False,False]) 
table4.columns=['_'.join(col).strip() for col in table4.columns.values]
table4=table4.reset_index()

time: 43.5 s

In [136]:
#grabing the rest of the variables not suitable for range or mean/std
remaining= big_noCat.loc[big_noCat.loc[:,'label'].isin(remaining_variables),:]
table5 = pd.pivot_table(remaining, values='value', columns='label', index=['icustay_id'],aggfunc=[max], dropna=False)

time: 624 ms

In [137]:
#table5.columns
table5.columns = table5.columns.get_level_values(1)
table5=table5.reset_index()

time: 12.8 ms

In [138]:
table4.head()#.rename(columns={})

,icustay_id,ptp_bicarbonate,ptp_bilirubin,ptp_bun,ptp_calcium,ptp_chloride,ptp_creatinine,ptp_daily_sofa,ptp_diasbp,ptp_glucose,...,std_ph,std_platelet,std_potassium,std_ptt,std_resprate,std_sodium,std_spo2,std_sysbp,std_temperature,std_wbc
0,200012.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.277778,NaN,...,NaN,NaN,NaN,NaN,0.503421,NaN,0.355157,0.129624,0.337811,NaN
1,200014.0,1.0,NaN,0.476190,1.000000,0.875,0.222222,0.000000,2.777778,0.250000,...,0.299544,0.085800,0.164957,0.076444,1.000079,0.529150,0.349257,0.862796,0.706647,0.335236
2,200019.0,0.0,NaN,0.000000,NaN,0.000,0.111111,0.333333,3.833333,0.803571,...,NaN,0.043182,0.202031,NaN,0.871901,0.000000,1.886965,1.038963,0.435482,0.079835
3,200030.0,0.4,0.0,0.333333,1.636364,0.125,0.222222,1.666667,2.611111,3.571429,...,0.189758,0.076463,0.884485,0.131076,0.542263,0.251661,0.326499,0.442354,0.599855,0.116308
4,200033.0,1.2,NaN,0.285714,0.272727,1.000,0.333333,0.333333,2.388889,5.250000,...,0.129630,0.110884,0.321753,0.089977,0.754394,0.783156,0.279803,0.444738,0.730230,0.123188

time: 36.4 ms

In [139]:
list(table4)

['icustay_id',
 'ptp_bicarbonate',
 'ptp_bilirubin',
 'ptp_bun',
 'ptp_calcium',
 'ptp_chloride',
 'ptp_creatinine',
 'ptp_daily_sofa',
 'ptp_diasbp',
 'ptp_glucose',
 'ptp_heartrate',
 'ptp_hemoglobin',
 'ptp_inr',
 'ptp_lactate',
 'ptp_meanartpress',
 'ptp_mingcs',
 'ptp_pao2fio2Ratio',
 'ptp_ph',
 'ptp_platelet',
 'ptp_potassium',
 'ptp_ptt',
 'ptp_resprate',
 'ptp_sodium',
 'ptp_spo2',
 'ptp_sysbp',
 'ptp_temperature',
 'ptp_wbc',
 'mean_bicarbonate',
 'mean_bilirubin',
 'mean_bun',
 'mean_calcium',
 'mean_chloride',
 'mean_creatinine',
 'mean_daily_sofa',
 'mean_diasbp',
 'mean_glucose',
 'mean_heartrate',
 'mean_hemoglobin',
 'mean_inr',
 'mean_lactate',
 'mean_meanartpress',
 'mean_mingcs',
 'mean_pao2fio2Ratio',
 'mean_ph',
 'mean_platelet',
 'mean_potassium',
 'mean_ptt',
 'mean_resprate',
 'mean_sodium',
 'mean_spo2',
 'mean_sysbp',
 'mean_temperature',
 'mean_wbc',
 'std_bicarbonate',
 'std_bilirubin',
 'std_bun',
 'std_calcium',
 'std_chloride',
 'std_creatinine',
 'std_daily_sofa',
 'std_diasbp',
 'std_glucose',
 'std_heartrate',
 'std_hemoglobin',
 'std_inr',
 'std_lactate',
 'std_meanartpress',
 'std_ph',
 'std_platelet',
 'std_potassium',
 'std_ptt',
 'std_resprate',
 'std_sodium',
 'std_spo2',
 'std_sysbp',
 'std_temperature',
 'std_wbc']

time: 4.08 ms

In [140]:
## merging aggregations together
#first left join all different newagg together. 
table4=pd.merge(table4, table5, how='left')

time: 32.9 ms

In [141]:
### formatting categorical to wide format to match the aggregated numerical
big_categorical= big_df.loc[big_df.loc[:,'label'].isin(categorical),:].copy()
big_categorical= big_categorical.pivot(
    index='icustay_id',
    values='value',
    columns='label').reset_index() #need to convert to wide format. should be one row per patient per time.

time: 201 ms

### merging categorical with aggregated

In [142]:
#using fxn written for worst_df to make newagg_df
newagg_df=merge_cat_agg(table4, big_categorical, twoclass=False) #using range/mean/stdev aggregates

time: 35.8 ms

In [144]:
newagg_df

,icustay_id,ptp_bicarbonate,ptp_bilirubin,ptp_bun,ptp_calcium,ptp_chloride,ptp_creatinine,ptp_daily_sofa,ptp_diasbp,ptp_glucose,...,epinephrine,first_admit_age,norepinephrine,pco2,phenylephrine,rrt,vasopressin,weight,ethnicity,gender
0,200012.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.277778,NaN,...,0.0,32.99,0.0,NaN,0.0,0.0,0.0,51.20,asian,0
1,200014.0,1.0,NaN,0.476190,1.000000,0.875,0.222222,0.000000,2.777778,0.250000,...,0.0,84.73,0.0,45.0,0.0,0.0,0.0,62.00,unknown/other,1
2,200019.0,0.0,NaN,0.000000,NaN,0.000,0.111111,0.333333,3.833333,0.803571,...,0.0,82.88,0.0,36.0,0.0,0.0,0.0,65.00,white/nonhispanic,0
3,200030.0,0.4,0.0000,0.333333,1.636364,0.125,0.222222,1.666667,2.611111,3.571429,...,0.0,54.19,0.0,34.0,0.0,0.0,0.0,113.60,black,1
4,200033.0,1.2,NaN,0.285714,0.272727,1.000,0.333333,0.333333,2.388889,5.250000,...,0.0,67.14,0.0,NaN,1.0,0.0,0.0,74.00,white/nonhispanic,1
5,200036.0,0.0,NaN,0.333333,NaN,0.375,0.111111,0.333333,3.111111,5.803571,...,0.0,74.93,0.0,NaN,0.0,0.0,0.0,79.00,white/nonhispanic,1
6,200055.0,0.2,0.0000,0.523810,0.000000,0.375,1.666667,2.333333,1.555556,2.071429,...,0.0,23.73,0.0,NaN,0.0,1.0,0.0,56.00,black,0
7,200059.0,2.0,0.0000,1.238095,1.454545,1.500,0.777778,1.000000,3.888889,1.553571,...,0.0,78.90,1.0,41.0,1.0,0.0,0.0,54.00,white/nonhispanic,0
8,200061.0,0.4,2.1250,0.142857,NaN,0.500,0.444444,0.333333,1.666667,3.803571,...,0.0,45.75,0.0,NaN,0.0,0.0,0.0,250.00,unknown/other,1
9,200063.0,0.4,0.0000,1.904762,1.818182,1.250,1.000000,0.000000,2.833333,1.250000,...,0.0,37.07,0.0,NaN,0.0,0.0,0.0,NaN,unknown/other,1
10,200065.0,4.2,1.3750,1.428571,6.454545,2.250,1.555556,1.000000,3.000000,3.303571,...,0.0,45.09,1.0,52.0,0.0,1.0,1.0,120.00,white/nonhispanic,0
11,200075.0,1.2,1.1250,0.142857,NaN,0.750,0.111111,1.333333,4.222222,0.642857,...,0.0,83.64,0.0,NaN,0.0,0.0,0.0,58.10,white/nonhispanic,0
12,200078.0,1.0,NaN,0.476190,0.000000,0.625,0.333333,NaN,1.333333,0.250000,...,0.0,65.21,0.0,38.0,1.0,0.0,0.0,71.50,white/nonhispanic,1
13,200091.0,0.4,0.3750,0.476190,0.000000,0.250,0.111111,0.666667,3.944444,1.285714,...,0.0,69.72,0.0,37.0,0.0,0.0,0.0,90.70,unknown/other,1
14,200095.0,1.8,0.2500,0.333333,0.272727,0.250,0.222222,2.333333,6.888889,2.267857,...,0.0,300.00,1.0,36.0,0.0,0.0,0.0,NaN,white/nonhispanic,0
15,200099.0,1.0,NaN,0.190476,NaN,0.125,0.222222,NaN,NaN,0.178571,...,0.0,79.72,0.0,NaN,0.0,0.0,0.0,66.00,white/nonhispanic,1
16,200102.0,1.0,4.8125,1.000000,1.545455,0.750,0.888889,1.333333,2.611111,2.982143,...,0.0,46.43,0.0,50.0,1.0,1.0,0.0,155.00,unknown/other,1
17,200108.0,1.2,NaN,0.428571,NaN,0.750,0.333333,0.666667,4.055556,5.964286,...,0.0,73.82,0.0,NaN,0.0,0.0,0.0,74.00,white/nonhispanic,0
18,200112.0,1.8,NaN,1.333333,0.000000,0.625,1.000000,0.333333,1.833333,0.553571,...,0.0,60.92,0.0,38.0,0.0,0.0,0.0,167.20,white/nonhispanic,0
19,200116.0,0.4,0.0000,0.571429,0.000000,0.500,0.333333,NaN,2.555556,1.017857,...,0.0,56.51,0.0,NaN,0.0,0.0,0.0,113.40,white/nonhispanic,1
20,200124.0,1.2,NaN,0.000000,NaN,0.625,0.000000,1.333333,5.944444,2.267857,...,0.0,63.92,0.0,55.0,0.0,0.0,0.0,46.50,black,1
21,200126.0,0.2,0.0000,0.142857,0.454545,1.125,0.333333,0.000000,2.500000,0.696429,...,0.0,87.77,0.0,NaN,0.0,0.0,0.0,78.00,white/nonhispanic,0
22,200135.0,0.6,NaN,0.571429,0.000000,0.500,0.222222,0.000000,3.000000,0.464286,...,0.0,86.28,0.0,NaN,0.0,0.0,0.0,59.90,white/nonhispanic,0
23,200136.0,0.4,0.0000,0.714286,2.090909,0.375,0.222222,0.666667,1.722222,3.125000,...,0.0,68.11,0.0,50.0,1.0,0.0,0.0,100.00,unknown/other,1
24,200140.0,2.0,NaN,1.761905,0.636364,1.250,0.888889,1.666667,3.333333,3.267857,...,0.0,68.03,1.0,70.0,1.0,0.0,1.0,80.00,white/nonhispanic,1
25,200141.0,0.4,NaN,0.095238,1.545455,0.750,0.111111,0.333333,3.277778,1.375000,...,0.0,74.59,0.0,NaN,1.0,0.0,0.0,70.70,white/nonhispanic,0
26,200143.0,1.8,0.0000,1.619048,0.000000,1.000,2.666667,0.333333,2.277778,5.178571,...,0.0,62.25,0.0,71.0,1.0,0.0,0.0,NaN,white/nonhispanic,0
27,200150.0,0.8,0.7500,0.476190,NaN,0.750,0.222222,0.000000,2.888889,0.821429,...,0.0,41.74,0.0,NaN,0.0,0.0,0.0,67.20,white/nonhispanic,1
28,200173.0,1.4,0.0000,0.190476,NaN,2.000,0.111111,0.000000,3.833333,1.839286,...,0.0,79.49,0.0,NaN,0.0,0.0,0.0,NaN,white/nonhispanic,0
29,200188.0,1.8,NaN,0.380952,NaN,1.500,0.333333,1.000000,4.000000,1.053571,...,0.0,62.99,0.0,NaN,0.0,0.0,0.0,NaN,white/nonhispanic,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14448,299791.0,1.0,0.0625,0.238095,NaN,0.500,0.000000,1.000000,2.222222,2.392857,...,0.0,26.56,1.0,NaN,0.0,0.0,0.0,99.00,hispanic,1
14449,299800.0,0.8,NaN,0.095238,NaN,0.625,0.333333,1.000000,2.222222,0.500000,...,0.0,300.00,0.0,NaN,0.0,0.0,0.0,91.60,white/nonhispanic,1
14450,299806.0,1.8,0.1250,0.142857,0.000000,0.875,1.222222,1.000000,1.944444,0.732143,...,0.0,42.81,0.0,41.0,0.0,0.0,0.0,85.00,white/nonhispanic,1
14451,299811.0,1.0,0.3750,0.380952,NaN,0.125,0.222222,3.333333,1.111111,1.839286,...,0.0,66.05,1.0,NaN,0.0,0.0,0.0,63.70,white/nonhispanic,1
14452,299826.0,0.2,0.5625,1.619048,NaN,1.125,0.111111,0.000000,1.944444,1.696429,...,0.0,56.93,0.0,NaN,0.0,0.0,0.0,68.80,unknown/other,0
14453,299828.0,0.8,0.6875,0.285714,NaN,1.375,1.555556,0.000000,2.277778,0.642857,...,0.0,42.76,0.0,NaN,0.0,0.0,0.0,NaN,white/nonhispanic,1
14454,299832.0,0.6,8.1250,0.380952,NaN,0.625,1.666667,2.333333,2.888889,0.357143,...,0.0,41.39,0.0,NaN,0.0,0.0,0.0,73.90,hispanic,1
14455,299853.0,1.6,NaN,1.809524,3.363636,1.250,0.444444,0.666667,2.777778,1.250000,...,0.0,85.67,0.0,43.0,0.0,0.0,0.0,81.00,white/nonhispanic,1
14456,299858.0,0.2,0.0000,0.095238,NaN,0.000,0.222222,0.000000,2.444444,0.642857,...,0.0,57.38,0.0,NaN,0.0,0.0,0.0,82.30,black,1
14457,299863.0,0.8,0.5000,0.523810,0.000000,0.875,0.222222,1.666667,2.722222,2.785714,...,0.0,80.06,1.0,54.0,1.0,0.0,1.0,74.30,white/nonhispanic,1
14458,299880.0,4.6,0.1250,0.666667,NaN,2.625,1.444444,0.000000,2.222222,13.089286,...,0.0,67.83,0.0,NaN,0.0,0.0,0.0,75.70,white/nonhispanic,1
14459,299881.0,2.8,NaN,0.333333,NaN,0.250,0.111111,NaN,NaN,0.767857,...,0.0,57.53,0.0,NaN,0.0,0.0,0.0,166.00,white/nonhispanic,0
14460,299883.0,0.4,0.3125,0.333333,NaN,0.500,0.444444,0.000000,2.777778,1.535714,...,0.0,84.58,0.0,NaN,0.0,1.0,0.0,79.70,white/nonhispanic,1
14461,299886.0,0.8,NaN,0.142857,2.909091,0.875,0.222222,0.666667,1.555556,0.892857,...,0.0,50.62,0.0,48.0,0.0,0.0,0.0,100.00,black,1
14462,299888.0,1.8,NaN,0.190476,0.272727,0.625,0.111111,2.000000,3.277778,2.750000,...,0.0,59.39,1.0,35.0,1.0,0.0,0.0,72.00,white/nonhispanic,0
14463,299901.0,0.6,0.3125,0.904762,NaN,1.000,0.444444,NaN,3.166667,1.928571,...,0.0,81.90,0.0,NaN,0.0,0.0,0.0,68.50,white/nonhispanic,0
14464,299903.0,1.4,0.1875,0.238095,0.363636,0.375,0.555556,2.000000,2.666667,1.553571,...,0.0,54.19,0.0,46.0,0.0,1.0,0.0,78.00,white/nonhispanic,1
14465,299913.0,0.4,0.0000,0.809524,NaN,0.250,0.333333,0.666667,2.666667,0.875000,...,0.0,73.37,0.0,NaN,0.0,0.0,0.0,NaN,white/nonhispanic,1
14466,299914.0,0.8,0.1250,1.047619,NaN,0.000,2.888889,NaN,1.111111,1.625000,...,0.0,39.68,0.0,NaN,0.0,1.0,0.0,113.00,black,1
14467,299917.0,1.4,0.0000,0.047619,NaN,0.500,0.111111,0.000000,1.277778,1.000000,...,0.0,41.28,0.0,NaN,0.0,0.0,0.0,74.90,white/nonhispanic,0
14468,299919.0,0.8,NaN,1.000000,NaN,0.875,0.777778,1.000000,4.888889,0.339286,...,0.0,300.00,0.0,32.0,0.0,0.0,0.0,73.00,white/nonhispanic,1
14469,299948.0,1.0,0.0000,0.142857,2.272727,1.500,0.333333,0.000000,1.944444,0.892857,...,0.0,57.65,0.0,NaN,1.0,0.0,0.0,68.95,white/nonhispanic,0
14470,299950.0,0.4,NaN,0.142857,NaN,0.375,0.111111,0.666667,2.944444,2.946429,...,0.0,75.93,0.0,NaN,0.0,0.0,0.0,62.10,asian,0
14471,299955.0,0.2,0.0000,0.809524,NaN,0.250,2.222222,1.666667,3.277778,0.750000,...,0.0,82.11,0.0,NaN,0.0,1.0,0.0,65.70,white/nonhispanic,1
14472,299956.0,3.0,0.4375,0.285714,3.272727,1.375,0.444444,2.333333,3.055556,4.571429,...,0.0,55.54,1.0,NaN,1.0,0.0,0.0,116.60,white/nonhispanic,1
14473,299961.0,2.6,0.0625,1.238095,0.454545,1.375,0.444444,2.333333,3.555556,8.035714,...,0.0,50.15,1.0,104.0,0.0,0.0,0.0,80.00,white/nonhispanic,1
14474,299988.0,0.8,NaN,0.190476,1.818182,0.875,0.222222,0.666667,2.444444,0.839286,...,0.0,32.79,0.0,51.0,1.0,0.0,0.0,90.00,white/nonhispanic,1
14475,299992.0,2.0,NaN,0.095238,2.000000,0.625,0.111111,1.666667,2.500000,1.857143,...,0.0,41.59,1.0,42.0,1.0,0.0,0.0,90.00,white/nonhispanic,1
14476,299994.0,0.4,NaN,0.809524,1.000000,1.000,1.333333,3.666667,2.888889,1.250000,...,0.0,74.22,1.0,42.0,1.0,1.0,0.0,72.60,white/nonhispanic,0
14477,299995.0,0.4,NaN,0.000000,NaN,0.750,0.111111,0.000000,1.777778,0.482143,...,0.0,23.38,0.0,43.0,0.0,0.0,0.0,70.40,white/nonhispanic,1

time: 63 ms

In [143]:
list(newagg_df)

['icustay_id',
 'ptp_bicarbonate',
 'ptp_bilirubin',
 'ptp_bun',
 'ptp_calcium',
 'ptp_chloride',
 'ptp_creatinine',
 'ptp_daily_sofa',
 'ptp_diasbp',
 'ptp_glucose',
 'ptp_heartrate',
 'ptp_hemoglobin',
 'ptp_inr',
 'ptp_lactate',
 'ptp_meanartpress',
 'ptp_mingcs',
 'ptp_pao2fio2Ratio',
 'ptp_ph',
 'ptp_platelet',
 'ptp_potassium',
 'ptp_ptt',
 'ptp_resprate',
 'ptp_sodium',
 'ptp_spo2',
 'ptp_sysbp',
 'ptp_temperature',
 'ptp_wbc',
 'mean_bicarbonate',
 'mean_bilirubin',
 'mean_bun',
 'mean_calcium',
 'mean_chloride',
 'mean_creatinine',
 'mean_daily_sofa',
 'mean_diasbp',
 'mean_glucose',
 'mean_heartrate',
 'mean_hemoglobin',
 'mean_inr',
 'mean_lactate',
 'mean_meanartpress',
 'mean_mingcs',
 'mean_pao2fio2Ratio',
 'mean_ph',
 'mean_platelet',
 'mean_potassium',
 'mean_ptt',
 'mean_resprate',
 'mean_sodium',
 'mean_spo2',
 'mean_sysbp',
 'mean_temperature',
 'mean_wbc',
 'std_bicarbonate',
 'std_bilirubin',
 'std_bun',
 'std_calcium',
 'std_chloride',
 'std_creatinine',
 'std_daily_sofa',
 'std_diasbp',
 'std_glucose',
 'std_heartrate',
 'std_hemoglobin',
 'std_inr',
 'std_lactate',
 'std_meanartpress',
 'std_ph',
 'std_platelet',
 'std_potassium',
 'std_ptt',
 'std_resprate',
 'std_sodium',
 'std_spo2',
 'std_sysbp',
 'std_temperature',
 'std_wbc',
 'bands',
 'dobutamine',
 'dopamine',
 'epinephrine',
 'first_admit_age',
 'norepinephrine',
 'pco2',
 'phenylephrine',
 'rrt',
 'vasopressin',
 'weight',
 'ethnicity',
 'gender']

time: 11.4 ms

In [145]:
pd.DataFrame(newagg_df).to_csv(Path(
    wd+'/data/processed/merged/%s_newaggdf_std.csv' %(date)),index=False)

time: 2.05 s

In [29]:
len(worst_df2)

7778

time: 2.63 ms

In [30]:
# big_categorical["icustay_id"].isin(icustay_id)

time: 680 µs

In [31]:
#big_noCat['value']=big_noCat['value'].astype(float, copy=False)
#big_noCat.groupby(['icustay_id','label'], as_index=False)['value'].agg(dict1) #

time: 635 µs

In [32]:
# test= big_noCat.groupby(['icustay_id'], as_index=False)['value'].agg(dict1)
# table = pd.pivot_table(big_noCat, values='value', columns='label', index=['icustay_id'],aggfunc=max, dropna=False)
# table

# pd.pivot_table(df,index=["Manager","Status"],columns=["Product"],values=["Quantity","Price"],
#                aggfunc={"Quantity":len,"Price":np.sum},fill_value=0)

time: 879 µs

In [33]:
# #table = pivot_table(df, values=['D', 'E'], index=['A', 'C'],aggfunc={})
# ##don't know why this doesn't work. 
# table = pd.pivot_table(big_noCat, values='value',columns='label', index='icustay_id',aggfunc=dict1, dropna=False)
# table

time: 1.15 ms

In [34]:
# big_agg= big_df.loc[big_df.loc[:,'label'].isin(non_category),:].groupby(['icustay_id','label'], as_index=False)['value'].apply(lambda x: float(x))

    #.agg({str(x):['max'] for x in hi_value})
#big_agg_count= big_agg.reset_index().pivot(index='icustay_id',columns='label', values=0)#, levels='icustay_id')

time: 713 µs

In [35]:
# hi_df= big_df.loc[big_df.loc[:,'label'].isin(hi_value),:]
# hi_df['value']=hi_df['value'].astype(float, copy=False)
# hi_df.groupby(['icustay_id','label'], as_index=False)['value'].agg('max') #this works

time: 801 µs

In [36]:
# %whos

# del big_agg
# del hi_df
# del final_pt_df2

time: 673 µs