## clinical variable retrieval codebase.
each querey is referencing a sql querey on my computer for ALL patients in the database, then generating a dataframe, then paring that dataframe down to only the patients/icustay_id in our cohort. it's inefficient but works.

In [9]:
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
import collections
import asyncio
import getpass
import re
from datetime import datetime as dt
import os,sys,re
import urllib3
import prettytable
from collections import Counter
import seaborn as sns
import random

from sklearn.externals.joblib import Memory
memory = Memory(cachedir='/tmp', verbose=0)
#@memory.cache above any def fxn.

%matplotlib inline
plt.style.use('ggplot')

from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
        'width': 1024,
        'height': 768,
        'scroll': True,
})

%load_ext autotime

In [2]:
import pandas as pd

In [79]:
#patients of interest from rotation_cohort_generation


final_pt_df2 = pd.read_csv('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/final_pt_df2_5-04-18.csv', index_col=0)
patients= list(final_pt_df2['subject_id'].unique())
icustay_id= list(final_pt_df2['icustay_id'].unique())

time: 56.8 ms

### todo 5/8/2018:
    would be nice to ping server in each querey for only patients or icustay_id in the final cohort,
    would greatly reduce querey time.

## Fetch all responses within one Client session first

In [13]:
#I need help understanding what this is doing, can you elaborate?
#what are the fetch and run functions? This is used in pinging a api, right?

time: 626 µs

In [5]:
import asyncio
from aiohttp import ClientSession
import time
import json

async def fetch(url, session):
    async with session.get(url) as response:
        return await response.read()

async def run(url_lst):
    tasks = []

    # Fetch all responses within one Client session,
    # keep connection alive for all requests.
    start = time.perf_counter()
    
    async with ClientSession() as session:
        for url in url_lst:
            task = asyncio.ensure_future(fetch(url, session))
            tasks.append(task)

        responses = await asyncio.gather(*tasks)
        # you now have all response bodies in this variable
#         print(responses)

    duration = time.perf_counter() - start
    print('total time: {}'.format(duration))
    return responses

## Access MIMIC database and convert it to dataframe in Pandas

In [157]:
import psycopg2
# conn = psycopg2.connect(dbname="mimic", user="student", password="lipup", host="luolabwkstn01.fsm.northwestern.edu", port="5432")
# cur=conn.cursor()

conn = psycopg2.connect(dbname="mimic", user="student", host="luolabwkstn01.fsm.northwestern.edu", port="5432",
                        password=getpass.getpass(prompt='Password:'.format()))
cur=conn.cursor()

query_schema = 'SET search_path to ' + "mimiciii" + ';'

Password:········
time: 2.08 s

In [14]:
def sql_exe_show(sql_sentence):
    cur.execute(sql_sentence)
    rows = cur.fetchall()
    col = []
    for i in range(len(cur.description)):
        col.append(cur.description[i][0])
    table = pd.DataFrame(rows,columns=col)
    return table

time: 158 ms

In [80]:
#input the sql_exe_show object and get dataframe for only patients in patient list out. 
def sql_to_df_icu(sql_exe_show_obj):
    sql_exe_show_df= pd.DataFrame(data=sql_exe_show_obj)
    sql_exe_show_df=sql_exe_show_df[sql_exe_show_df['icustay_id'].isin(icustay_id)]
    return sql_exe_show_df

def sql_to_df_patients(sql_exe_show_obj):
    sql_exe_show_df= pd.DataFrame(data=sql_exe_show_obj)
    sql_exe_show_df=sql_exe_show_df[sql_exe_show_df['subject_id'].isin(patients)]
    return sql_exe_show_df

time: 7.96 ms

## Results in .csv

In [ ]:
#where are these tables? i don't see any code generating this?

In [95]:
index = [] 
index.append(echoTable.columns)
index.append(heightFirstDayTable.columns)
index.append(weightFirstDayTable.columns)
index.append(vitalsFirstDayTable.columns)
index.append(labsFirstDayTable.columns)
index.append(bgFirstDayTable.columns)
index.append(gcsFirstDayTable.columns)
index.append(rrtFirstDayTable.columns)
index.append(urineFirstDayTable.columns)
pd.DataFrame(index).to_csv('index.csv')

NameError: name 'vitalsFirstDay' is not defined

time: 46.7 ms

In [99]:
# index = [] 
# index.append(echoDf.columns)
# index.append(heightFirstDayDf.columns)
# index.append(weightFirstDayDf.columns)
# index.append(vitalsFirstDayDf.columns)
# index.append(labsFirstDayDf.columns)
# index.append(bgFirstDayDf.columns)
# index.append(gcsFirstDayDf.columns)
# index.append(rrtFirstDayDf.columns)
# index.append(urineFirstDayDf.columns)
pd.DataFrame(echoDf).to_csv('clinical_csv/echoDf.csv')
pd.DataFrame(heightFirstDayDf).to_csv('clinical_csv/heightFirstDayDf.csv')
pd.DataFrame(weightFirstDayDf).to_csv('clinical_csv/weightFirstDayDf.csv')
pd.DataFrame(vitalsFirstDayDf).to_csv('clinical_csv/vitalsFirstDayDf.csv')
pd.DataFrame(labsFirstDayDf).to_csv('clinical_csv/labsFirstDayDf.csv')
pd.DataFrame(bgFirstDayDf).to_csv('clinical_csv/bgFirstDayDf.csv')
pd.DataFrame(gcsFirstDayDf).to_csv('clinical_csv/gcsFirstDayDf.csv')
pd.DataFrame(rrtFirstDayDf).to_csv('clinical_csv/rrtFirstDayDf.csv')
pd.DataFrame(urineFirstDayDf).to_csv('clinical_csv/urineFirstDayDf.csv')

time: 2.75 s

## Echodata in Noteevents

In [98]:
f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/echodata.sql', 'r') 
echodata = f.read()
cur.execute('rollback')
cur.execute(echodata)
echoTable = sql_exe_show('select * from echodata;')
echoDf= sql_to_df_patients(echoTable)
echoDf[0:500]

,row_id,subject_id,hadm_id,chartdate,charttime,indication,height,weight,bsa,bp,bpsys,bpdias,hr,status,test,doppler,contrast,technicalquality
0,59653,31038,174978.0,2102-06-14,2102-06-14 13:30:00,Endocarditis.,74,165,2.00,102/72,102,72,86,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
2,59655,54190,188571.0,2158-02-16,2158-02-16 13:48:00,Cerebrovascular event/TIA. Streptococcal bacte...,72,187,2.07,147/87,147,87,90,Inpatient,Portable TEE (Complete),Full Doppler and color Doppler,None,Adequate
3,59656,5771,185291.0,2173-09-02,2173-09-02 09:47:00,78 year-old man with atrial fibrillation off a...,66,130,1.67,163/63,163,63,80,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
6,59659,82208,188268.0,2200-10-22,2200-10-22 15:14:00,"Acute MR worsening,ESRD, on HD, NSLS lung Ca, ...",59,136,1.57,126/61,126,61,95,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
7,59660,82208,NaN,2200-01-02,2200-01-02 11:23:00,Congestive heart failure. Hypertension. Shortn...,59,143,1.60,170/82,170,82,92,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
8,59669,15472,NaN,2176-05-28,2176-05-28 08:58:00,Left ventricular function. Shortness of breath...,72,200,2.13,122/90,122,90,None,Inpatient,TTE(Focused views),Focused pulse and color flow,None,Suboptimal
9,59670,15472,118185.0,2175-09-19,2175-09-19 09:58:00,Left ventricular function.,None,None,None,123/76,123,76,None,Inpatient,Portable TEE(Complete),Complete pulse and color flow,None,Adequate
11,59672,7429,110364.0,2126-09-09,2126-09-09 16:06:00,Endocarditis.,64,150,1.73,122/50,122,50,90,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
15,59770,96774,NaN,2174-03-31,2174-03-31 16:30:00,Dyspnea. Rule out pulmonary hypertension.,65,216,2.05,122/84,122,84,93,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
16,59771,96774,129414.0,2174-02-14,2174-02-14 09:45:00,Shortness of breath. Left ventricular functio...,64,206,1.98,100/66,100,66,102,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
19,59805,1136,NaN,2193-09-19,2193-09-19 17:30:00,Pericardial effusion. Antibiotic resistance pr...,61,143,1.64,160/58,160,58,None,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
20,59806,1136,139574.0,2192-05-10,2192-05-10 16:55:00,Congestive heart failure. Left ventricular fun...,66,158,1.81,108/52,108,52,None,Inpatient,TTE (Complete),Full doppler and color doppler,None,Adequate
27,59813,53151,150192.0,2182-10-21,2182-10-21 12:18:00,Pulmonary embolus.,66,120,1.61,170/90,170,90,101,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
28,59814,22180,NaN,2139-11-20,2139-11-20 09:00:00,"PA hypertension, RV failure. Chronic lung disease",60,172,1.75,142/70,142,70,68,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
29,59815,22180,NaN,2136-05-22,2136-05-22 14:53:00,Left ventricular function. Right ventricular f...,66,190,1.96,150/62,150,62,96,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
30,59816,22180,NaN,2136-03-26,2136-03-26 08:31:00,Left ventricular function. Right ventricular f...,66,185,1.94,122/50,122,50,77,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
31,59817,22180,NaN,2135-09-23,2135-09-23 11:00:00,Pulmonary hypertension. Left ventricular fun...,None,183,None,125/60,125,60,56,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
32,59818,22180,186367.0,2134-08-13,2134-08-13 15:06:00,Hypertension. Shortness of breath. Resp failure.,None,174,None,115/41,115,41,65,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
33,59901,710,NaN,2182-02-12,2182-02-12 11:00:00,Excess pulmonary hypertension,64,176,1.85,152/78,152,78,None,Outpatient,TTE (Complete),Complete pulse and color flow,None,Adequate
41,59819,22180,NaN,2132-08-23,2132-08-23 13:30:00,PHT,None,None,None,None,None,None,None,Outpatient,TTE (Complete),Full doppler and color doppler,None,Suboptimal
42,59820,93671,NaN,2181-04-20,2181-04-20 10:00:00,on Herceptin and Tykerb,62,165,1.76,115/73,115,73,84,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
43,59713,24687,149107.0,2143-03-11,2143-03-11 12:28:00,Endocarditis.,65,120,1.59,92/57,92,57,100,Inpatient,Portable TTE (Complete),Full doppler and color doppler,None,Adequate
44,59714,24687,124418.0,2144-02-06,2144-02-06 11:46:00,Pericardial effusion.,69,104,1.57,166/70,166,70,79,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
48,59899,10377,NaN,2132-03-13,2132-03-13 13:59:00,Right ventricular function. Syncope.,61,106,1.44,915/56,915,56,111,Inpatient,TTE (Complete),Full doppler and color doppler,None,Adequate
49,59900,710,114242.0,2182-02-18,2182-02-18 23:31:00,Left ventricular function.,None,None,None,121/60,121,60,90,Inpatient,Portable TTE (Complete),Complete pulse and color flow,None,Adequate
50,60114,23637,117843.0,2196-05-16,2196-05-16 12:01:00,Congestive heart failure.,None,None,None,138/51,138,51,None,Inpatient,Portable TTE(Complete),Complete pulse and color flow,None,Adequate
51,60691,24573,184883.0,2128-01-31,2128-01-31 10:16:00,Left ventricular function.,None,134,None,84/23,84,23,52,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
52,60692,64371,180577.0,2160-03-25,2160-03-25 16:15:00,Shortness of breath. Right Ventricular Functon,64,220,2.04,109/52,109,52,71,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
54,60694,27494,NaN,2201-06-19,2201-06-19 16:00:00,Atrial fibrillation. Cerebrovascular event/TIA.,59,103,1.39,101/67,101,67,100,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
55,60695,27494,135089.0,2200-08-29,2200-08-29 16:06:00,Intraoperative TEE for AVR,57,107,1.38,None,None,None,None,Inpatient,TEE (Complete),Full Doppler and color Doppler,None,Suboptimal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,61089,13330,NaN,2104-06-24,2104-06-24 13:36:00,R/o Pulmonary hypertension. Shortness of breath.,64,170,1.83,90/50,90,50,60,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
993,60780,8904,147403.0,2108-02-27,2108-02-27 13:06:00,Endocarditis./Murmur.,69,190,2.02,96/55,96,55,77,Inpatient,Portable TTE (Complete),Full doppler and color doppler,None,Adequate
995,61044,13330,NaN,2106-10-19,2106-10-19 11:00:00,"SOB, LE edema, pleuritic left sided chest pain...",64,180,1.87,115/60,115,60,54,Outpatient,"TTE (Congenital, complete)",Full Doppler and color Doppler,None,Adequate
1001,60879,8203,120726.0,2150-11-17,2150-11-17 11:20:00,Shortness of breath.,63,95,1.41,91/58,91,58,None,Inpatient,Portable TTE(Complete),Complete pulse and color flow,None,Adequate
1002,61031,25811,NaN,2166-12-12,2166-12-12 16:37:00,Murmur.,63,125,1.59,None,None,None,96,Inpatient,Portable TTE (Complete),Complete pulse and color flow,None,Adequate
1003,61032,25811,166052.0,2166-01-16,2166-01-16 11:02:00,Murmur. R/O Aortic stenosis,None,None,None,138/78,138,78,None,Inpatient,Portable TTE(Complete),Complete pulse and color flow,None,Suboptimal
1010,61039,70954,130133.0,2144-11-28,2144-11-28 10:00:00,Endocarditis.,68,170,1.91,130/82,130,82,70,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
1014,61043,13330,NaN,2110-05-26,2110-05-26 13:35:00,Chest pain.,64,133,1.65,104/54,104,54,57,Inpatient,Stress Echo (Treadmill),Full Doppler and color Doppler,None,Adequate
1015,60595,8258,106120.0,2112-09-08,2112-09-08 15:01:00,Congestive heart failure.,65,150,1.75,107/51,107,51,82,Inpatient,Portable TTE (Complete),Full doppler and color doppler,None,Adequate
1016,61045,13330,NaN,2106-03-03,2106-03-03 10:57:00,Chest pain. Coronary artery disease.,65,184,1.91,122/64,122,64,80,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1017,61046,13330,177542.0,2105-08-06,2105-08-06 09:45:00,Left ventricular function. Pulmonary hypertens...,64,185,1.89,149/79,149,79,73,Inpatient,"Portable TTE (Congenital, complete)",Full Doppler and color Doppler,Saline,Adequate
1018,61573,44232,NaN,2102-01-12,2102-01-12 13:00:00,On chemotherapy. Reassess EF.,61,150,1.67,130/60,130,60,84,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1019,61574,44232,NaN,2101-12-09,2101-12-09 09:58:00,Chemotherapy. Left ventricular function. Shor...,61,173,1.78,128/58,128,58,81,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1021,61575,8067,191160.0,2163-05-02,2163-05-02 10:16:00,Atrial fibrillation/flutter. Congenital heart ...,None,None,None,98/50,98,50,106,Inpatient,Portable TTE (Complete),Full doppler and color doppler,None,Adequate
1022,61576,268,NaN,2198-02-02,2198-02-02 15:24:00,Shortness of breath. Left ventricular function.,66,97,1.47,98/64,98,64,None,Inpatient,TTE (Complete),Complete pulse and color flow,None,Adequate
1025,61579,77614,140792.0,2153-10-12,2153-10-12 14:49:00,Left ventricular function.,70,185,2.02,101/47,101,47,85,Inpatient,Portable TTE (Focused views),Limited Doppler and color Doppler,None,Adequate
1026,61580,77614,140792.0,2153-09-24,2153-09-24 11:53:00,Endocarditis.,69,194,2.04,145/59,145,59,81,Inpatient,Portable TTE (Focused views),Limited Doppler and color Doppler,None,Adequate
1027,61581,77614,140792.0,2153-09-17,2153-09-17 10:15:00,"Left ventricular function. New L BBB, assess w...",69,194,2.04,130/50,130,50,86,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
1030,60761,12076,173200.0,2103-07-23,2103-07-23 11:49:00,Pericardial effusion.,61,108,1.46,118/58,118,58,130,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
1036,61014,16776,117442.0,2142-07-13,2142-07-13 11:26:00,Evaluate Left ventricular function/fluid stat...,72,163,1.95,115/54,115,54,60,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
1037,61015,16776,NaN,2142-06-05,2142-06-05 16:44:00,H/O cardiac surgery with bileaflet AVR and CAB...,72,150,1.89,130/70,130,70,60,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1038,61016,16776,NaN,2141-06-14,2141-06-14 13:00:00,Aortic valve disease.,71,143,1.83,114/80,114,80,None,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1039,61017,16776,NaN,2140-10-12,2140-10-12 14:00:00,Aortic valve disease. Prosthetic valve functio...,66,150,1.77,130/70,130,70,75,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1040,61018,16776,NaN,2140-05-04,2140-05-04 14:00:00,s/p AAA repair,72,147,1.87,140/82,140,82,78,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1041,61019,16776,156931.0,2139-11-02,2139-11-02 15:00:00,Left ventricular function. ?Pericardial effusion,70,149,1.84,115/65,115,65,75,Inpatient,Portable TTE (Focused views),Limited Doppler and color Doppler,None,Adequate
1042,61295,13794,NaN,2130-09-14,2130-09-14 17:00:00,Atrial fibrillation/flutter.,63,200,1.94,None,None,None,68,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1043,61296,21514,NaN,2109-06-24,2109-06-24 12:02:00,Congestive heart failure. Coronary artery dise...,71,260,2.36,103/64,103,64,60,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
1045,61297,21514,192874.0,2108-12-21,2108-12-21 09:44:00,Chest pain. Eval for PE. Hypoxia.Hypotension.,71,200,2.11,130/80,130,80,77,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
1046,61298,21514,108728.0,2108-12-03,2108-12-03 10:17:00,Right ventricular function.,71,195,2.09,130/81,130,81,73,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
1047,61299,21514,NaN,2108-11-21,2108-11-21 14:11:00,"H/o CAD , NSTEMI , chest pain , hypotension",71,203,2.12,112/77,112,77,50,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate

time: 1min 3s

In [52]:
echoTable[0:500]

,row_id,subject_id,hadm_id,chartdate,charttime,indication,height,weight,bsa,bp,bpsys,bpdias,hr,status,test,doppler,contrast,technicalquality
0,59653,31038,174978.0,2102-06-14,2102-06-14 13:30:00,Endocarditis.,74,165,2.00,102/72,102,72,86,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
1,59654,70150,156140.0,2191-05-10,2191-05-10 15:08:00,"CHF, A-FIB",66,263,2.25,107/81,107,81,95,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
2,59655,54190,188571.0,2158-02-16,2158-02-16 13:48:00,Cerebrovascular event/TIA. Streptococcal bacte...,72,187,2.07,147/87,147,87,90,Inpatient,Portable TEE (Complete),Full Doppler and color Doppler,None,Adequate
3,59656,5771,185291.0,2173-09-02,2173-09-02 09:47:00,78 year-old man with atrial fibrillation off a...,66,130,1.67,163/63,163,63,80,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
4,59657,80030,100442.0,2119-06-07,2119-06-07 14:59:00,Left ventricular function.,63,126,1.59,88/53,88,53,115,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
5,59658,65696,167705.0,2196-09-16,2196-09-16 01:19:00,Left ventricular function. Myocardial infarction.,73,200,2.15,100/42,100,42,89,Inpatient,Portable TTE (Focused views),Limited Doppler and color Doppler,None,Adequate
6,59659,82208,188268.0,2200-10-22,2200-10-22 15:14:00,"Acute MR worsening,ESRD, on HD, NSLS lung Ca, ...",59,136,1.57,126/61,126,61,95,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
7,59660,82208,NaN,2200-01-02,2200-01-02 11:23:00,Congestive heart failure. Hypertension. Shortn...,59,143,1.60,170/82,170,82,92,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
8,59669,15472,NaN,2176-05-28,2176-05-28 08:58:00,Left ventricular function. Shortness of breath...,72,200,2.13,122/90,122,90,None,Inpatient,TTE(Focused views),Focused pulse and color flow,None,Suboptimal
9,59670,15472,118185.0,2175-09-19,2175-09-19 09:58:00,Left ventricular function.,None,None,None,123/76,123,76,None,Inpatient,Portable TEE(Complete),Complete pulse and color flow,None,Adequate
10,59671,2961,130443.0,2109-03-20,2109-03-20 13:16:00,Left ventricular function. Preoperative assess...,61,106,1.44,142/61,142,61,86,Inpatient,Portable TTE (Complete),Complete pulse and color flow,None,Adequate
11,59672,7429,110364.0,2126-09-09,2126-09-09 16:06:00,Endocarditis.,64,150,1.73,122/50,122,50,90,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
12,59767,17513,124736.0,2140-11-16,2140-11-16 16:00:00,Pericardial effusion seen by outside echo. ?ta...,71,198,2.10,None,None,None,None,Inpatient,Portable TTE(Focused views),Focused pulse and color flow,None,Adequate
13,59768,17513,124736.0,2140-11-17,2140-11-17 10:20:00,Pericardial effusion.18 hrs s/p pericardiocent...,71,198,2.10,None,None,None,None,Inpatient,Portable TTE(Focused views),Complete pulse and color flow,None,Adequate
14,59769,17513,124736.0,2140-11-16,2140-11-16 18:00:00,Cath lab study immed after pericardiocentesis....,71,198,2.10,142/86,142,86,None,Inpatient,Portable TTE(Focused views),No Doppler,None,Adequate
15,59770,96774,NaN,2174-03-31,2174-03-31 16:30:00,Dyspnea. Rule out pulmonary hypertension.,65,216,2.05,122/84,122,84,93,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
16,59771,96774,129414.0,2174-02-14,2174-02-14 09:45:00,Shortness of breath. Left ventricular functio...,64,206,1.98,100/66,100,66,102,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
17,59804,17483,189331.0,2147-06-27,2147-06-27 12:52:00,Endocarditis. Left ventricular function.,65,165,1.82,86/70,86,70,None,Inpatient,Portable TTE(Complete),Complete pulse and color flow,None,Adequate
18,59772,23473,136025.0,2151-03-25,2151-03-25 11:23:00,endocarditis,54,166,1.60,107/45,107,45,80,Inpatient,Portable TEE (Complete),Full Doppler and color Doppler,None,Adequate
19,59805,1136,NaN,2193-09-19,2193-09-19 17:30:00,Pericardial effusion. Antibiotic resistance pr...,61,143,1.64,160/58,160,58,None,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
20,59806,1136,139574.0,2192-05-10,2192-05-10 16:55:00,Congestive heart failure. Left ventricular fun...,66,158,1.81,108/52,108,52,None,Inpatient,TTE (Complete),Full doppler and color doppler,None,Adequate
21,59807,98046,NaN,2198-09-13,2198-09-13 10:26:00,"s/p AVR, CABG. Here with CHF exacerbation.",73,217,2.23,117/86,117,86,113,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
22,59808,98046,139402.0,2198-07-25,2198-07-25 10:46:00,Aortic valve disease. Congestive heart failure...,None,None,None,None,None,None,None,Inpatient,TEE (Complete),Full Doppler and color Doppler,None,Adequate
23,59809,98046,NaN,2198-06-19,2198-06-19 14:00:00,Cardiomyopathy. Shortness of breath.,73,245,2.35,141/102,141,102,67,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
24,59810,26175,156154.0,2112-04-22,2112-04-22 14:51:00,Left ventricular function. Shortness of breath.,62,120,1.54,None,None,None,56,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
25,59811,26175,156154.0,2112-04-21,2112-04-21 09:52:00,Atrial fibrillation,62,120,1.54,130/79,130,79,120,Inpatient,TEE (Complete),Full Doppler and color Doppler,None,Adequate
26,59812,82559,197325.0,2157-02-08,2157-02-08 09:41:00,Endocarditis.,60,108,1.44,153/68,153,68,59,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
27,59813,53151,150192.0,2182-10-21,2182-10-21 12:18:00,Pulmonary embolus.,66,120,1.61,170/90,170,90,101,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
28,59814,22180,NaN,2139-11-20,2139-11-20 09:00:00,"PA hypertension, RV failure. Chronic lung disease",60,172,1.75,142/70,142,70,68,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
29,59815,22180,NaN,2136-05-22,2136-05-22 14:53:00,Left ventricular function. Right ventricular f...,66,190,1.96,150/62,150,62,96,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,59949,27973,105962.0,2157-09-26,2157-09-26 11:41:00,Left ventricular function. Preoperative assess...,None,None,None,None,None,None,None,Inpatient,TEE (Complete),Full Doppler and color Doppler,None,Adequate
471,59661,2489,NaN,2143-11-21,2143-11-21 14:45:00,Coronary artery disease. H/O cardiac surgery....,65,147,1.74,None,None,None,70,Outpatient,Stress Echo (Treadmill),Full doppler and color doppler,None,Adequate
472,59662,2489,100195.0,2143-08-26,2143-08-26 10:46:00,Left ventricular function. Myocardial infarction.,65,146,1.73,95/53,95,53,66,Inpatient,Portable TTE (Complete),Full doppler and color doppler,None,Adequate
473,59882,51894,152463.0,2118-07-30,2118-07-30 11:03:00,Pericardial effusion.,67,156,1.82,104/61,104,61,None,Inpatient,Portable TTE (Focused views),Limited Doppler and no color Doppler,None,Adequate
474,59883,21139,NaN,2168-08-04,2168-08-04 11:05:00,Atrial fibrillation. Congestive heart failure,60,150,1.65,135/111,135,111,89,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
475,59884,21139,NaN,2166-03-18,2166-03-18 14:38:00,Left ventricular function. Shortness of breath.,67,197,2.01,106/68,106,68,96,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
476,59885,22986,NaN,2130-05-24,2130-05-24 13:59:00,Aortic valve disease. Left ventricular function.,68,166,1.89,116/74,116,74,84,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
477,59886,2730,149875.0,2179-07-23,2179-07-23 10:38:00,Left ventricular function.,71,180,2.02,132/82,132,82,None,Inpatient,Portable TTE(Complete),Complete pulse and color flow,None,Adequate
478,59887,28281,NaN,2125-10-26,2125-10-26 14:00:00,Abnormal ECG.,65,187,1.92,130/60,130,60,85,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
479,59888,28281,175842.0,2125-09-01,2125-09-01 13:28:00,?rv fx,66,198,1.99,128/53,128,53,143,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
480,60075,15008,NaN,2110-01-22,2110-01-22 09:40:00,S/P recent pericardial AVR and MV Repair with...,62,125,1.57,128/74,128,74,75,Inpatient,TTE(Complete),Complete pulse and color flow,None,Adequate
481,59889,67404,NaN,2116-02-11,2116-02-11 14:10:00,Endocarditis.,62,135,1.62,110/76,110,76,86,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Suboptimal
482,59890,40734,128964.0,2157-03-29,2157-03-29 14:19:00,Syncope.,61,144,1.64,104/56,104,56,103,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
483,59891,14787,114814.0,2114-08-02,2114-08-02 11:20:00,Congestive heart failure. Coronary artery dise...,60,125,1.53,130/50,130,50,60,Inpatient,Portable TTE (Complete),Complete pulse and color flow,Definity,Adequate
484,59892,80041,102677.0,2199-03-21,2199-03-21 14:12:00,Coronary artery disease. Left ventricular func...,69,200,2.07,99/69,99,69,79,Inpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
485,59707,9045,NaN,2186-05-14,2186-05-14 10:16:00,MVR with known endocarditis on antibiotics. A ...,None,180,2.02,100/48,100,48,89,Inpatient,Portable TTE(Focused views),Focused pulse and color flow,None,Suboptimal
486,59708,9045,NaN,2186-05-02,2186-05-02 14:05:00,H/O cardiac surgery (s/p bovine pericardial MV...,None,200,2.13,120/80,120,80,100,Inpatient,TEE(Complete),Complete pulse and color flow,None,Adequate
487,59709,9045,NaN,2186-03-29,2186-03-29 11:35:00,S/p CVA. Source of embolism.,None,None,None,112/70,112,70,52,Outpatient,TEE(Complete),Complete pulse and color flow,Saline,Adequate
488,59710,9045,NaN,2185-12-20,2185-12-20 12:12:00,S/P Mitral valve surgery. S/P CABG.,None,181,2.00,120/80,120,80,None,Inpatient,TTE(Complete),Complete pulse and color flow,None,Suboptimal
489,59711,12550,NaN,2124-04-19,2124-04-19 14:00:00,Pre-operative. Rule out aortic stenosis,69,160,1.88,145/65,145,65,None,Outpatient,TTE(Complete),Complete pulse and color flow,None,Adequate
490,59990,72914,NaN,2134-04-05,2134-04-05 11:00:00,pre bmt,63,217,2.00,109/79,109,79,70,Outpatient,TTE (Complete),Full Doppler and color Doppler,None,Adequate
491,59792,42753,121343.0,2168-04-05,2168-04-05 12:30:00,Endocarditis. History of IVDA,70,228,2.21,123/67,123,67,100,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
492,59991,75323,173124.0,2144-08-25,2144-08-25 11:50:00,Left ventricular function. Shortness of breath.,68,175,1.93,109/45,109,45,68,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,Saline,Adequate
493,60071,6475,154622.0,2113-05-11,2113-05-11 09:40:00,Pericardial effusion. S/p pericardiocentesis,69,145,1.80,None,None,None,None,Inpatient,Portable TTE (Focused views),No Doppler,None,Adequate
494,60072,6475,154622.0,2113-05-10,2113-05-10 16:50:00,Pericardial effusion. Pericarditis. Shortness ...,69,145,1.80,127/77,127,77,96,Inpatient,Portable TTE (Complete),Focused pulse and color flow,None,Adequate
495,60073,6475,NaN,2113-05-03,2113-05-03 12:14:00,Pericardial effusion.,66,155,1.80,130/70,130,70,84,Inpatient,TTE (Complete),Complete pulse and color flow,None,Adequate
496,60074,11178,169254.0,2158-01-06,2158-01-06 15:27:00,Chest pain. Hypertension. Left ventricular fun...,68,178,1.95,158/69,158,69,65,Inpatient,TTE (Complete),Full doppler and color doppler,None,Adequate
497,64380,53673,152922.0,2185-02-15,2185-02-15 11:00:00,Serial evaluation of pericardial effusion s/p ...,65,128,1.64,122/55,122,55,88,Inpatient,Portable TTE (Focused views),Limited Doppler and color Doppler,None,Adequate
498,59785,60834,130198.0,2113-04-29,2113-04-29 09:28:00,Syncope.,65,155,1.78,119/54,119,54,64,Inpatient,Portable TTE (Complete),Full Doppler and color Doppler,None,Adequate
499,59786,18068,185918.0,2115-10-31,2115-10-31 10:54:00,Aortic valve disease. Preoperative assessment.,66,180,1.91,148/84,148,84,72,Inpatient,TTE (Complete),Full doppler and color doppler,None,Adequate

time: 68.6 ms

## Weight

In [85]:
# -- This query extracts weights for adult ICU patients on their first ICU day.
# -- It does *not* use any information after the first ICU day, as weight is
# -- sometimes used to monitor fluid balance.

f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/weight.sql', 'r') 
weightSQL = f.read()
cur.execute('rollback')
cur.execute(weightSQL)
weightFirstDayTable = sql_exe_show('select * from weightfirstday;')
weightFirstDayDf= sql_to_df_icu(weightFirstDayTable)
weightFirstDayDf[0:500]

,icustay_id,weight,weight_admit,weight_daily,weight_echoinhosp,weight_echoprehosp
7,200012,51.20,51.200001,51.200001,NaN,NaN
10,200019,65.00,65.000000,NaN,NaN,NaN
21,200036,79.00,NaN,79.000000,NaN,NaN
33,200055,56.00,56.000000,NaN,NaN,NaN
34,200059,54.00,54.000000,60.000000,NaN,NaN
37,200063,None,NaN,NaN,NaN,NaN
38,200065,120.00,120.000000,NaN,108.862080,NaN
51,200087,95.10,95.100000,NaN,NaN,NaN
54,200095,None,NaN,NaN,NaN,NaN
56,200099,66.00,66.000000,76.700000,NaN,NaN
57,200102,155.00,155.000000,NaN,149.685360,NaN
62,200108,74.00,74.000000,74.000000,NaN,NaN
63,200109,110.00,110.000000,NaN,109.769264,NaN
64,200112,167.20,NaN,167.199997,167.829040,NaN
66,200116,113.40,113.400000,NaN,113.398000,NaN
70,200124,46.50,46.500000,72.750000,NaN,NaN
72,200126,78.00,78.000000,NaN,NaN,NaN
74,200131,101.00,101.000000,NaN,NaN,NaN
77,200135,59.90,59.900000,59.900000,NaN,NaN
81,200140,80.00,80.000000,NaN,79.832192,NaN
83,200143,None,NaN,NaN,NaN,NaN
86,200150,67.20,67.200000,68.100000,NaN,70.30676
87,200153,58.30,58.300000,NaN,NaN,NaN
98,200173,None,NaN,NaN,NaN,NaN
107,200188,None,NaN,NaN,NaN,NaN
110,200197,70.20,NaN,70.199997,NaN,NaN
111,200199,55.20,55.200001,55.200001,NaN,NaN
119,200215,71.80,71.800000,72.500000,NaN,70.30676
121,200220,57.00,NaN,57.000000,NaN,NaN
126,200229,110.00,110.000000,NaN,NaN,NaN
...,...,...,...,...,...,...
1827,203390,88.00,88.000000,NaN,NaN,NaN
1828,203392,109.60,109.599998,109.149998,NaN,NaN
1833,203400,89.50,89.500000,89.500000,NaN,NaN
1839,203407,93.40,93.400002,93.400002,NaN,NaN
1840,203408,75.00,75.000000,NaN,75.296272,NaN
1844,203415,81.00,81.000000,NaN,NaN,NaN
1853,203433,71.70,71.700000,71.700000,NaN,NaN
1854,203435,90.00,90.000000,90.000000,NaN,NaN
1856,203440,47.90,47.900000,NaN,NaN,NaN
1858,203446,59.00,59.000000,64.599998,58.966960,NaN
1862,203454,112.40,112.400000,NaN,124.737800,NaN
1863,203455,78.70,78.699997,78.699997,NaN,NaN
1865,203460,82.00,82.000000,NaN,NaN,NaN
1868,203464,None,NaN,NaN,NaN,NaN
1869,203466,77.90,77.900002,77.900002,NaN,NaN
1874,203471,None,NaN,NaN,NaN,NaN
1877,203476,90.60,NaN,90.599998,90.718400,NaN
1882,203487,100.40,100.400002,100.400002,90.718400,NaN
1883,203490,147.20,147.200000,NaN,NaN,NaN
1885,203496,87.00,87.000000,NaN,NaN,NaN
1887,203499,55.00,55.000000,NaN,NaN,NaN
1889,203501,77.90,77.900002,NaN,NaN,NaN
1890,203503,49.90,NaN,NaN,49.895120,NaN
1891,203504,51.20,51.200001,51.200001,NaN,NaN
1896,203514,72.00,72.000000,72.000000,NaN,NaN
1900,203528,46.20,NaN,46.200001,NaN,NaN
1901,203529,75.00,75.000000,NaN,NaN,NaN
1903,203534,76.00,76.000000,76.000000,NaN,NaN
1906,203538,150.00,150.000000,NaN,NaN,NaN
1909,203541,63.80,63.800000,NaN,58.966960,NaN

time: 2.61 s

## Height

In [86]:
# -- This query extracts heights for adult ICU patients.
# -- It uses all information from the patient's first ICU day.
# -- This is done for consistency with other queries - it's not necessarily needed.
# -- Height is unlikely to change throughout a patient's stay.

f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/height.sql', 'r')
heightSQL = f.read()
cur.execute('rollback') not sure what this does
cur.execute(heightSQL)
heightFirstDayTable = sql_exe_show('select * from heightfirstday;')
heightFirstDayDf= sql_to_df_icu(heightFirstDayTable)
heightFirstDayDf[0:500]

      icustay_id  height  height_chart  height_echo
4         216859  172.72           NaN       172.72
5         203487  185.42        185.42       182.88
7         254478  182.88        182.88       165.10
8         296681  182.88           NaN       182.88
19        252348  173.99        173.99       170.18
21        216609  172.72        172.72       172.72
22        272667  172.72        172.72       172.72
30        252051  175.26        175.26       182.88
54        231823  152.40           NaN       152.40
73        249202  170.18           NaN       170.18
74        251972  170.18           NaN       170.18
77        211700  162.56           NaN       162.56
85        296584  180.34           NaN       180.34
101       259092  185.42        185.42       185.42
106       247247  165.10           NaN       165.10
116       213646  177.80           NaN       177.80
140       235332  162.56           NaN       162.56
144       210178  170.18           NaN       170.18
145       233735  167.64           NaN       167.64
156       215044  157.48           NaN       157.48
160       205951  167.64           NaN       167.64
167       296823  182.88           NaN       182.88
171       280836  167.64           NaN       167.64
173       204407  182.88        182.88       182.88
187       265862  162.56           NaN       162.56
196       206073  172.72           NaN       172.72
199       294224  167.64        167.64       182.88
203       221278  157.48        157.48       160.02
206       258237  165.10           NaN       165.10
211       208489  177.80           NaN       177.80
...          ...     ...           ...          ...
2692      263825  182.88           NaN       182.88
2693      296822  154.94           NaN       154.94
2694      202616  185.42           NaN       185.42
2697      215872  147.32           NaN       147.32
2704      216494  172.72           NaN       172.72
2709      243167  162.56           NaN       162.56
2718      239708  152.40           NaN       152.40
2719      236585  168.00        168.00       177.80
2722      243678  167.64        167.64       171.45
2725      221489  157.48           NaN       157.48
2728      213729  175.00        175.00       175.26
2738      263528  175.00        175.00       170.18
2741      223320  170.18           NaN       170.18
2746      202005  165.10           NaN       165.10
2748      259942  162.56        162.56       162.56
2751      223006  180.34        180.34       180.34
2761      254920  182.88           NaN       182.88
2772      220330  172.72           NaN       172.72
2781      250008  157.48        157.48       147.32
2786      217319  149.86           NaN       149.86
2787      262238  168.91           NaN       168.91
2790      285106  165.10        165.10       162.56
2794      208236  183.00        183.00       175.26
2798      220439  152.40           NaN       152.40
2811      200329  162.56           NaN       162.56
2818      257780  180.34           NaN       180.34
2819      226430  175.26        175.26       175.26
2832      202782  170.18           NaN       170.18
2847      247602  182.88        182.88       177.80
2852      255256  165.10           NaN       165.10

[500 rows x 4 columns]

time: 1.25 s

# Labs

In [87]:
# -- This query pivots lab values taken in the first 24 hours of a patient's stay
# -- Have already confirmed that the unit of measurement is always the same: null or the correct unit


f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/labs.sql', 'r')
labsSQL = f.read()
cur.execute('rollback')
cur.execute(labsSQL)
labsFirstDayTable = sql_exe_show('select * from labsfirstday;')
labsFirstDayDf= sql_to_df_icu(labsFirstDayTable)
labsFirstDayDf[0:500]

,subject_id,hadm_id,icustay_id,aniongap_min,aniongap_max,albumin_min,albumin_max,bands_min,bands_max,bicarbonate_min,...,inr_min,inr_max,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max
2,4,185777,294638,15.0,15.0,2.8,2.8,NaN,NaN,21.0,...,1.1,1.1,12.8,12.8,141.0,141.0,10.0,10.0,9.7,9.7
17,19,109235,273430,15.0,15.0,NaN,NaN,NaN,NaN,22.0,...,1.2,1.3,13.6,14.0,138.0,138.0,25.0,25.0,10.1,10.1
20,21,111970,216859,15.0,19.0,2.1,2.1,1.0,1.0,23.0,...,1.7,1.8,18.1,19.1,137.0,140.0,49.0,50.0,30.5,41.2
25,25,129635,203487,7.0,19.0,3.2,3.2,NaN,NaN,21.0,...,1.0,1.1,12.8,13.0,134.0,139.0,34.0,54.0,11.6,13.0
26,26,197661,244882,12.0,14.0,NaN,NaN,NaN,NaN,24.0,...,1.5,2.4,15.2,18.9,139.0,143.0,31.0,33.0,8.2,8.2
30,31,128652,254478,9.0,10.0,2.7,2.7,NaN,NaN,24.0,...,1.1,1.2,13.0,13.2,128.0,133.0,11.0,13.0,6.9,6.9
32,33,176176,296681,9.0,16.0,3.9,3.9,6.0,12.0,25.0,...,1.2,1.2,13.3,13.3,137.0,140.0,17.0,21.0,26.4,33.5
61,61,176332,252348,11.0,11.0,NaN,NaN,1.0,1.0,23.0,...,0.9,0.9,11.6,11.6,140.0,140.0,17.0,17.0,1.6,1.6
63,62,116009,216609,9.0,13.0,2.7,2.7,7.0,21.0,22.0,...,1.1,1.2,13.0,13.7,136.0,139.0,19.0,22.0,2.0,14.4
65,64,172056,232593,8.0,15.0,2.3,2.3,19.0,19.0,16.0,...,1.1,1.6,12.9,15.6,135.0,140.0,12.0,26.0,12.2,18.1
70,68,108329,272667,27.0,34.0,2.3,2.3,8.0,8.0,6.0,...,2.0,2.7,17.1,19.5,131.0,141.0,43.0,47.0,5.7,9.3
77,73,194730,284305,15.0,15.0,NaN,NaN,NaN,NaN,24.0,...,1.6,1.6,15.6,15.6,134.0,134.0,24.0,24.0,12.2,18.7
98,94,140037,213450,6.0,7.0,NaN,NaN,1.0,1.0,35.0,...,NaN,NaN,NaN,NaN,135.0,142.0,9.0,10.0,10.5,10.5
101,96,170324,211943,11.0,13.0,NaN,NaN,NaN,NaN,22.0,...,1.0,1.1,12.2,12.7,140.0,143.0,13.0,17.0,8.1,14.7
113,106,145167,252051,18.0,18.0,4.0,4.0,NaN,NaN,18.0,...,1.3,1.3,14.3,14.3,136.0,139.0,13.0,16.0,18.1,26.0
147,109,175347,231823,15.0,15.0,NaN,NaN,NaN,NaN,20.0,...,NaN,NaN,NaN,NaN,139.0,140.0,40.0,40.0,5.6,5.6
157,111,155897,249202,8.0,22.0,1.9,1.9,4.0,19.0,12.0,...,2.7,2.7,27.2,27.2,139.0,153.0,20.0,46.0,6.3,21.2
159,112,173177,251972,12.0,23.0,1.5,1.5,NaN,NaN,8.0,...,1.5,1.7,16.0,17.9,133.0,135.0,32.0,36.0,13.4,15.7
161,113,109976,224661,14.0,14.0,NaN,NaN,NaN,NaN,28.0,...,1.0,1.0,12.6,12.6,141.0,141.0,14.0,14.0,11.7,11.7
165,117,140784,211700,13.0,13.0,NaN,NaN,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,132.0,132.0,40.0,40.0,6.7,6.7
180,129,164174,238431,12.0,13.0,3.1,3.1,NaN,NaN,24.0,...,1.2,1.3,13.8,14.3,144.0,145.0,6.0,10.0,9.6,12.1
181,130,113323,296584,12.0,17.0,NaN,NaN,NaN,NaN,24.0,...,1.1,1.2,13.5,14.0,134.0,139.0,14.0,21.0,13.6,18.6
196,141,168006,234668,17.0,30.0,3.3,3.3,7.0,7.0,14.0,...,1.3,1.9,14.1,16.8,139.0,142.0,26.0,33.0,0.7,15.6
204,147,103631,252947,11.0,13.0,NaN,NaN,NaN,NaN,25.0,...,1.0,1.1,12.5,13.0,139.0,143.0,14.0,17.0,13.4,21.6
216,156,199280,259092,25.0,29.0,NaN,NaN,NaN,NaN,16.0,...,0.6,2.0,9.9,17.9,135.0,152.0,25.0,31.0,4.5,14.7
217,157,107880,264885,15.0,22.0,NaN,NaN,1.0,14.0,17.0,...,1.2,1.3,13.3,14.4,135.0,141.0,9.0,15.0,49.2,69.5
226,165,170252,247247,16.0,17.0,NaN,NaN,NaN,NaN,28.0,...,NaN,NaN,NaN,NaN,140.0,146.0,39.0,41.0,9.7,9.7
227,166,128219,271863,19.0,19.0,NaN,NaN,8.0,8.0,24.0,...,1.2,1.2,13.5,13.5,142.0,142.0,20.0,20.0,16.5,16.5
235,174,110104,232160,9.0,15.0,3.2,3.7,NaN,NaN,25.0,...,2.2,4.7,17.7,100.0,141.0,146.0,1.0,2.0,5.8,7.7
252,186,164405,290079,11.0,18.0,NaN,NaN,NaN,NaN,19.0,...,1.4,1.4,14.3,14.3,140.0,143.0,25.0,43.0,10.3,19.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3176,2515,196595,227323,11.0,11.0,NaN,NaN,NaN,NaN,22.0,...,1.3,1.6,13.9,15.5,134.0,138.0,17.0,17.0,9.3,9.3
3179,2518,192107,256825,12.0,12.0,NaN,NaN,NaN,NaN,22.0,...,1.1,1.3,12.6,14.9,138.0,142.0,11.0,14.0,9.8,14.4
3201,2539,147775,284087,14.0,18.0,NaN,NaN,NaN,NaN,16.0,...,1.6,1.6,15.8,15.8,133.0,140.0,26.0,33.0,10.0,18.8
3203,2540,117416,247179,11.0,11.0,NaN,NaN,NaN,NaN,24.0,...,1.1,1.1,13.1,13.1,138.0,138.0,13.0,13.0,11.2,11.2
3206,2543,106163,287606,13.0,14.0,NaN,NaN,NaN,NaN,28.0,...,0.6,1.2,10.0,13.6,138.0,139.0,12.0,14.0,13.1,13.1
3214,2550,176519,217451,11.0,16.0,3.0,3.0,26.0,39.0,24.0,...,1.4,1.5,14.7,15.2,141.0,142.0,30.0,33.0,9.1,9.6
3220,2553,126138,227792,18.0,20.0,3.3,3.6,NaN,NaN,18.0,...,2.2,4.4,18.6,26.5,140.0,143.0,68.0,70.0,10.0,11.0
3232,2561,193994,223887,12.0,13.0,NaN,NaN,NaN,NaN,36.0,...,1.9,1.9,17.4,17.4,139.0,142.0,36.0,37.0,12.5,15.6
3241,2570,103250,221378,39.0,53.0,NaN,NaN,18.0,18.0,8.0,...,2.0,2.7,20.7,26.2,139.0,148.0,38.0,48.0,9.7,13.1
3242,2571,169682,293807,12.0,13.0,NaN,NaN,NaN,NaN,23.0,...,7.0,7.0,57.6,57.6,141.0,142.0,16.0,20.0,36.0,37.0
3244,2573,155752,282258,12.0,18.0,4.2,4.2,NaN,NaN,18.0,...,1.1,1.1,12.8,12.8,144.0,146.0,9.0,9.0,8.6,16.6
3253,2581,132370,259872,14.0,20.0,3.1,3.1,NaN,NaN,21.0,...,1.5,1.6,15.3,15.7,146.0,150.0,71.0,76.0,8.3,10.1
3259,2586,154342,267539,17.0,20.0,3.3,3.3,NaN,NaN,11.0,...,1.0,1.3,12.2,14.5,141.0,146.0,27.0,45.0,13.0,29.3
3270,2590,135141,209454,16.0,20.0,NaN,NaN,1.0,1.0,22.0,...,1.0,1.0,12.3,12.3,141.0,142.0,19.0,27.0,18.2,19.9
3274,2592,190064,251380,12.0,13.0,NaN,NaN,NaN,NaN,21.0,...,1.3,1.3,14.3,14.3,140.0,140.0,41.0,43.0,5.4,5.5
3280,2596,102869,299397,16.0,18.0,NaN,NaN,NaN,NaN,19.0,...,1.2,1.2,13.6,13.6,143.0,144.0,30.0,35.0,10.7,13.0
3285,2598,182517,209784,14.0,16.0,3.3,3.3,NaN,NaN,17.0,...,NaN,NaN,NaN,NaN,136.0,139.0,25.0,28.0,17.7,20.6
3286,2599,100173,291381,9.0,25.0,NaN,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,136.0,142.0,4.0,13.0,18.7,18.7
3290,2603,133303,252121,12.0,20.0,NaN,NaN,28.0,28.0,13.0,...,1.3,1.3,14.2,14.7,131.0,140.0,47.0,83.0,0.2,0.6
3302,2614,142942,268088,9.0,14.0,2.8,2.9,NaN,NaN,25.0,...,1.2,1.4,14.0,15.8,127.0,134.0,28.0,32.0,14.5,21.7
3304,2617,179233,269329,12.0,12.0,1.9,1.9,6.0,6.0,22.0,...,1.1,1.1,13.0,13.0,131.0,131.0,21.0,21.0,14.7,14.7
3306,2619,126549,222980,14.0,14.0,NaN,NaN,NaN,NaN,18.0,...,1.0,1.2,13.9,17.6,135.0,138.0,13.0,17.0,19.6,19.6
3319,2630,193154,298356,10.0,15.0,2.1,2.1,NaN,NaN,20.0,...,NaN,NaN,NaN,NaN,134.0,137.0,11.0,13.0,10.1,10.1
3327,2636,199574,296798,20.0,20.0,4.0,4.0,NaN,NaN,25.0,...,1.2,1.2,13.8,13.8,140.0,140.0,25.0,25.0,14.4,14.4
3333,2639,176944,217957,13.0,14.0,3.4,3.4,4.0,4.0,19.0,...,1.0,1.0,11.4,11.8,143.0,145.0,16.0,20.0,15.7,19.6
3338,2640,145753,220626,15.0,20.0,NaN,NaN,NaN,NaN,17.0,...,1.3,1.4,14.0,14.6,137.0,140.0,34.0,38.0,15.5,16.5
3340,2641,197552,295058,15.0,17.0,NaN,NaN,NaN,NaN,23.0,...,2.4,4.0,19.0,24.5,141.0,145.0,42.0,43.0,28.4,32.2
3346,2648,106821,235931,12.0,14.0,3.5,3.5,NaN,NaN,29.0,...,1.1,1.1,12.8,13.1,127.0,128.0,41.0,42.0,5.4,5.5
3349,2649,197327,268374,11.0,15.0,NaN,NaN,NaN,NaN,26.0,...,1.1,1.1,12.9,12.9,134.0,135.0,13.0,18.0,24.4,28.0
3352,2651,184913,216506,18.0,28.0,2.2,2.7,NaN,NaN,7.0,...,1.5,3.0,15.1,21.2,141.0,145.0,42.0,43.0,1.8,2.5

time: 3min 15s

## Vital Sign

In [88]:
##-- This query pivots the vital signs for the first 24 hours of a patient's stay
##-- Vital signs include heart rate, blood pressure, respiration rate, and temperature

f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/vitalsign.sql', 'r')
vitalsSQL = f.read()
cur.execute('rollback')
cur.execute(vitalsSQL)
vitalsFirstDayTable = sql_exe_show('select * from vitalsfirstday;')
vitalsFirstDayDf= sql_to_df_icu(vitalsFirstDayTable)
vitalsFirstDayDf[0:500]

,subject_id,hadm_id,icustay_id,heartrate_min,heartrate_max,heartrate_mean,sysbp_min,sysbp_max,sysbp_mean,diasbp_min,...,resprate_mean,tempc_min,tempc_max,tempc_mean,spo2_min,spo2_max,spo2_mean,glucose_min,glucose_max,glucose_mean
2,4,185777,294638,74.0,111.0,89.217391,97.0,139.0,118.000000,55.0,...,25.352941,36.333334,37.444445,36.844445,91.0,100.0,97.500000,153.0,266.0,199.666667
15,19,109235,273430,76.0,114.0,98.500000,118.0,163.0,146.350000,44.0,...,20.500000,36.611112,37.277777,36.851852,96.0,100.0,98.150000,139.0,139.0,139.000000
18,21,111970,216859,66.0,83.0,74.971429,78.0,125.0,97.787879,21.0,...,16.885714,36.944444,37.944446,37.411111,79.0,100.0,96.323529,138.0,213.0,171.000000
23,25,129635,203487,49.0,104.0,72.906250,62.0,125.0,100.000000,28.0,...,16.031250,35.722224,36.777776,36.333333,91.0,100.0,97.096774,61.0,364.0,164.766667
24,26,197661,244882,60.0,65.0,62.476190,89.0,111.0,98.047619,24.0,...,19.714286,37.222222,37.722223,37.541666,96.0,98.0,97.090909,118.0,184.0,136.600000
28,31,128652,254478,48.0,54.0,51.230769,85.0,146.0,114.153846,48.0,...,12.066667,36.833335,37.055554,36.958333,97.0,100.0,98.714286,101.0,119.0,108.142857
30,33,176176,296681,58.0,100.0,66.800000,96.0,129.0,113.920000,41.0,...,17.400000,36.611112,37.444445,37.013889,92.0,99.0,95.440000,92.0,115.0,103.500000
57,61,176332,252348,73.0,116.0,94.000000,81.0,116.0,93.565217,40.0,...,20.814815,36.666667,38.888889,38.111112,97.0,100.0,98.555556,95.0,95.0,95.000000
59,62,116009,216609,45.0,86.0,55.840909,87.0,127.0,100.545455,58.0,...,21.909091,35.388887,36.444444,36.034722,93.0,100.0,98.210526,135.0,221.0,178.055556
61,64,172056,232593,88.0,113.0,100.259259,104.0,118.0,110.826087,41.0,...,17.037037,36.444444,39.111112,38.148148,94.0,100.0,97.666667,111.0,188.0,146.000000
65,68,108329,272667,125.0,138.0,131.280000,75.0,118.0,99.480000,37.0,...,30.480000,35.333332,38.777779,36.694444,91.0,97.0,95.071429,41.0,304.0,157.222222
71,73,194730,284305,76.0,94.0,85.400000,101.0,132.0,116.761905,58.0,...,16.680000,36.444444,38.055556,37.250000,94.0,100.0,97.666667,169.0,169.0,169.000000
92,94,140037,213450,75.0,170.0,103.400000,54.0,155.0,102.627451,29.0,...,19.226415,35.333332,36.888890,36.266667,93.0,100.0,98.590909,108.0,155.0,131.500000
95,96,170324,211943,87.0,117.0,100.100000,85.0,157.0,118.771429,43.0,...,17.095238,36.944444,38.666666,37.833333,97.0,100.0,99.777778,115.0,170.0,140.750000
107,106,145167,252051,51.0,108.0,69.475000,80.0,184.0,122.418605,46.0,...,15.391304,32.444445,36.900002,33.711877,99.0,100.0,99.975000,91.0,207.0,137.250000
141,109,175347,231823,65.0,101.0,86.375000,118.0,208.0,159.208333,66.0,...,15.375000,36.499998,36.999999,36.755556,96.0,100.0,98.043478,89.0,89.0,89.000000
151,111,155897,249202,42.0,127.0,90.875000,NaN,NaN,NaN,NaN,...,22.041667,35.400000,35.400000,35.400000,NaN,NaN,NaN,60.0,365.0,165.750000
153,112,173177,251972,59.0,129.0,101.209302,23.0,116.0,96.227273,19.0,...,18.420000,35.555556,35.944443,35.744444,95.0,100.0,99.538462,100.0,156.0,132.888889
155,113,109976,224661,66.0,102.0,81.571429,98.0,139.0,121.655172,43.0,...,13.466667,37.055554,37.388891,37.222222,94.0,99.0,96.892857,136.0,136.0,136.000000
159,117,140784,211700,84.0,93.0,88.214286,85.0,110.0,95.035714,27.0,...,24.250000,36.555557,36.999999,36.861112,93.0,98.0,95.142857,135.0,221.0,173.400000
174,129,164174,238431,65.0,101.0,78.642857,99.0,146.0,115.750000,42.0,...,14.761905,36.555557,38.444443,37.531746,84.0,100.0,98.896552,99.0,129.0,109.000000
175,130,113323,296584,67.0,114.0,89.769231,82.0,129.0,102.960784,34.0,...,25.960784,36.722221,40.055555,38.290124,92.0,100.0,98.384615,99.0,217.0,123.724138
190,141,168006,234668,54.0,108.0,84.607143,74.0,190.0,136.656250,33.0,...,23.125000,35.444446,37.666668,36.631945,40.0,100.0,90.375000,92.0,232.0,140.730769
198,147,103631,252947,59.0,112.0,92.161290,103.0,194.0,147.757576,56.0,...,18.475000,37.388891,38.611111,38.103175,99.0,100.0,99.967742,84.0,128.0,114.750000
209,156,199280,259092,42.0,88.0,69.466667,87.0,172.0,107.935484,43.0,...,17.861111,35.200001,37.200001,36.268000,93.0,100.0,97.032258,137.0,369.0,256.760870
210,157,107880,264885,74.0,115.0,90.972222,76.0,156.0,107.432432,36.0,...,23.333333,36.222221,37.277777,36.873015,88.0,100.0,97.500000,88.0,153.0,112.555556
219,165,170252,247247,54.0,73.0,66.478261,113.0,154.0,131.217391,61.0,...,17.583333,36.222222,36.666667,36.425926,96.0,100.0,98.434783,163.0,174.0,168.500000
220,166,128219,271863,40.0,132.0,95.333333,74.0,155.0,119.666667,39.0,...,43.777778,37.111113,38.999998,38.055556,90.0,100.0,97.428571,NaN,NaN,NaN
227,174,110104,232160,61.0,129.0,85.000000,107.0,145.0,124.470588,25.0,...,19.325000,35.333332,37.055554,36.283625,93.0,100.0,99.242424,82.0,140.0,109.318182
243,186,164405,290079,90.0,123.0,104.076923,94.0,135.0,109.478261,32.0,...,19.677419,35.666665,37.722223,36.920635,80.0,100.0,99.000000,69.0,384.0,169.350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3074,2561,193994,223887,80.0,101.0,86.464286,82.0,136.0,105.888889,17.0,...,21.090909,35.555556,37.611109,36.814814,89.0,100.0,96.862069,101.0,152.0,133.000000
3082,2570,103250,221378,96.0,146.0,110.228571,78.0,116.0,98.771429,46.0,...,28.195122,35.222223,36.611112,35.729798,56.0,97.0,83.810811,69.0,706.0,384.709677
3084,2573,155752,282258,44.0,79.0,65.107143,94.0,132.0,118.111111,59.0,...,16.176471,36.166666,36.722221,36.453704,92.0,100.0,99.343750,126.0,150.0,134.000000
3093,2581,132370,259872,57.0,125.0,78.976744,90.0,126.0,111.232558,40.0,...,18.000000,36.888890,37.777778,37.261905,95.0,100.0,98.166667,115.0,214.0,158.333333
3099,2586,154342,267539,59.0,112.0,80.448276,88.0,124.0,107.344828,36.0,...,20.517241,36.111111,38.722221,36.888889,96.0,100.0,99.655172,100.0,335.0,166.000000
3109,2590,135141,209454,56.0,75.0,66.400000,100.0,145.0,115.956522,37.0,...,20.000000,36.111111,37.222222,36.879630,88.0,98.0,92.960000,127.0,127.0,127.000000
3112,2592,190064,251380,72.0,108.0,90.000000,89.0,129.0,103.440000,38.0,...,18.428571,35.777779,36.666667,36.293650,95.0,100.0,98.964286,85.0,93.0,89.000000
3118,2596,102869,299397,63.0,93.0,80.354839,89.0,132.0,109.000000,39.0,...,19.548387,36.277779,38.000001,36.870371,91.0,100.0,96.730769,102.0,149.0,122.142857
3123,2598,182517,209784,68.0,105.0,84.692308,81.0,129.0,93.571429,32.0,...,16.588235,33.722221,38.555556,36.215277,94.0,100.0,96.766667,134.0,442.0,230.250000
3124,2599,100173,291381,87.0,100.0,92.347826,78.0,114.0,99.130435,39.0,...,15.043478,35.833333,37.388891,36.712964,96.0,100.0,98.869565,39.0,294.0,111.551724
3127,2603,133303,252121,97.0,168.0,138.947368,77.0,120.0,99.205128,45.0,...,21.840909,35.500001,38.055556,36.987180,83.0,100.0,98.666667,69.0,132.0,94.642857
3138,2614,142942,268088,59.0,125.0,84.256410,62.0,167.0,114.386364,25.0,...,16.744186,35.722224,36.944444,36.357143,95.0,100.0,98.190476,107.0,115.0,112.000000
3140,2617,179233,269329,78.0,109.0,94.724138,92.0,150.0,112.511111,42.0,...,18.621622,37.555555,38.833334,38.160494,91.0,98.0,94.068966,78.0,78.0,78.000000
3142,2619,126549,222980,78.0,116.0,96.230769,84.0,129.0,111.615385,44.0,...,15.762712,35.299999,38.799999,37.670588,94.0,100.0,98.981481,38.0,185.0,113.645161
3155,2630,193154,298356,71.0,97.0,85.960000,101.0,125.0,114.500000,57.0,...,23.840000,36.277779,37.722223,37.048611,88.0,97.0,95.120000,94.0,134.0,107.000000
3163,2636,199574,296798,94.0,163.0,106.347826,94.0,143.0,114.550000,21.0,...,17.800000,35.722222,35.944444,35.833333,78.0,100.0,94.695652,126.0,126.0,126.000000
3168,2639,176944,217957,87.0,123.0,100.709677,71.0,115.0,95.969697,46.0,...,22.525000,36.499998,38.333333,37.481482,94.0,100.0,96.531250,120.0,194.0,159.571429
3173,2640,145753,220626,83.0,103.0,95.642857,98.0,157.0,128.300000,34.0,...,21.382353,37.666668,38.777779,38.039683,94.0,99.0,97.322581,133.0,199.0,159.800000
3175,2641,197552,295058,55.0,78.0,60.409091,92.0,183.0,137.363636,42.0,...,19.942308,36.200001,38.799999,37.633333,58.0,100.0,98.543478,107.0,191.0,136.062500
3180,2648,106821,235931,61.0,89.0,71.400000,80.0,156.0,102.052632,27.0,...,14.800000,35.888888,36.833335,36.388889,78.0,96.0,91.473684,122.0,127.0,124.500000
3183,2649,197327,268374,92.0,120.0,104.800000,102.0,147.0,124.800000,58.0,...,21.043478,37.666668,38.777779,38.129631,94.0,100.0,97.647059,105.0,184.0,136.333333
3186,2651,184913,216506,83.0,115.0,100.157895,75.0,125.0,93.897436,34.0,...,29.275000,36.666667,37.500000,37.154629,54.0,99.0,87.771429,63.0,140.0,98.538462
3198,2662,109631,282941,59.0,101.0,86.631579,112.0,128.0,122.250000,65.0,...,23.157895,37.500000,38.888889,38.000000,94.0,100.0,97.421053,97.0,99.0,98.000000
3201,2664,166826,266813,68.0,86.0,76.875000,72.0,117.0,94.375000,15.0,...,25.050000,36.944444,37.666668,37.285714,86.0,98.0,93.925000,69.0,92.0,83.714286
3202,2665,176367,234416,72.0,93.0,82.800000,120.0,148.0,136.684211,67.0,...,16.000000,34.722222,37.555555,36.527778,95.0,100.0,99.000000,86.0,108.0,95.666667
3203,2666,154442,232205,77.0,115.0,85.975610,64.0,209.0,117.516667,34.0,...,17.234043,36.888890,37.666668,37.243056,99.0,100.0,99.875000,107.0,235.0,143.000000
3217,2679,192299,293310,76.0,93.0,84.612245,88.0,133.0,110.142857,44.0,...,15.946429,34.599998,37.700001,36.763829,93.0,100.0,98.100000,83.0,165.0,115.138889
3222,2682,195979,271920,63.0,89.0,73.781250,86.0,176.0,128.485714,44.0,...,15.000000,36.999999,38.166665,37.435185,95.0,100.0,98.216216,115.0,164.0,137.571429
3223,2683,183108,247980,44.0,87.0,69.583333,51.0,147.0,109.398438,31.0,...,34.970149,34.277776,37.055554,35.730158,81.0,100.0,94.937500,89.0,199.0,145.437500
3240,2700,100335,236689,75.0,114.0,103.821429,78.0,115.0,96.928571,46.0,...,17.000000,36.555557,38.722221,37.194445,76.0,100.0,97.818182,139.0,174.0,155.000000

time: 8min 58s

## Glasgow Coma Scale

In [ ]:
# -- ITEMIDs used:

# -- CAREVUE
# --    723 as GCSVerbal
# --    454 as GCSMotor
# --    184 as GCSEyes

# -- METAVISION
# --    223900 GCS - Verbal Response
# --    223901 GCS - Motor Response
# --    220739 GCS - Eye Opening

# -- The code combines the ITEMIDs into the carevue itemids, then pivots those
# -- So 223900 is changed to 723, then the ITEMID 723 is pivoted to form GCSVerbal

# -- Note:
# --  The GCS for sedated patients is defaulted to 15 in this code.
# --  This is in line with how the data is meant to be collected.
# --  e.g., from the SAPS II publication:
# --    For sedated patients, the Glasgow Coma Score before sedation was used.
# --    This was ascertained either from interviewing the physician who ordered the sedation,
# --    or by reviewing the patient's medical record.

In [89]:
f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/gcs1.sql', 'r')
gcsSQL = f.read()
cur.execute('rollback')
cur.execute(gcsSQL)
gcsFirstDayTable = sql_exe_show('select * from gcsfirstday;')
gcsFirstDayDf= sql_to_df_icu(gcsFirstDayTable)
gcsFirstDayDf[0:500]

,subject_id,hadm_id,icustay_id,mingcs,gcsmotor,gcsverbal,gcseyes,endotrachflag
7,28448,177527,200012,15.0,6.0,5.0,4.0,0.0
12,21789,112486,200019,7.0,5.0,1.0,1.0,0.0
25,9960,159243,200036,3.0,1.0,1.0,1.0,0.0
39,25225,147080,200055,14.0,6.0,5.0,3.0,0.0
41,28494,199133,200059,15.0,6.0,0.0,3.0,1.0
45,99052,129142,200063,15.0,1.0,0.0,1.0,1.0
46,19891,112840,200065,15.0,1.0,0.0,1.0,1.0
60,61871,124231,200087,15.0,6.0,5.0,4.0,0.0
64,30284,136554,200095,15.0,4.0,0.0,4.0,1.0
67,52619,175374,200099,14.0,6.0,5.0,3.0,0.0
68,11228,167826,200102,15.0,6.0,0.0,3.0,1.0
73,50772,192069,200108,13.0,6.0,4.0,3.0,0.0
74,9993,150740,200109,15.0,6.0,0.0,3.0,1.0
75,20528,132580,200112,15.0,6.0,5.0,4.0,0.0
78,61654,164386,200116,15.0,6.0,5.0,4.0,0.0
84,11018,104650,200124,15.0,6.0,5.0,4.0,0.0
86,76993,180630,200126,14.0,6.0,5.0,3.0,0.0
88,47250,187834,200131,10.0,6.0,1.0,3.0,0.0
91,68128,189927,200135,15.0,6.0,5.0,4.0,0.0
96,27874,193876,200140,15.0,4.0,0.0,4.0,1.0
99,94414,170244,200143,15.0,6.0,5.0,4.0,0.0
102,76327,176858,200150,14.0,6.0,4.0,4.0,0.0
104,69995,164810,200153,15.0,6.0,5.0,4.0,0.0
118,27499,191644,200173,15.0,6.0,5.0,4.0,0.0
128,13835,127890,200188,12.0,6.0,3.0,3.0,0.0
132,27480,168389,200197,15.0,6.0,5.0,4.0,0.0
133,1977,133719,200199,15.0,1.0,0.0,1.0,1.0
144,91802,139580,200215,14.0,6.0,4.0,4.0,0.0
146,13960,117705,200220,14.0,6.0,5.0,3.0,0.0
151,20689,129027,200229,15.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...
2124,68184,155784,203390,15.0,6.0,5.0,4.0,0.0
2125,771,173072,203392,14.0,6.0,5.0,3.0,0.0
2130,18353,134705,203400,15.0,1.0,0.0,1.0,1.0
2136,18103,108435,203407,15.0,6.0,5.0,4.0,0.0
2137,97689,126800,203408,15.0,6.0,5.0,4.0,0.0
2141,58288,127242,203415,3.0,1.0,1.0,1.0,0.0
2152,44751,122823,203433,15.0,6.0,5.0,4.0,0.0
2154,13309,199382,203435,15.0,5.0,0.0,1.0,1.0
2156,25256,112635,203440,15.0,6.0,0.0,4.0,1.0
2160,9718,143321,203446,15.0,1.0,0.0,1.0,1.0
2166,29767,163441,203454,15.0,1.0,0.0,1.0,1.0
2167,14380,199340,203455,15.0,1.0,0.0,1.0,1.0
2170,72997,159344,203460,15.0,6.0,5.0,4.0,0.0
2173,367,119940,203464,14.0,6.0,5.0,3.0,0.0
2174,10277,153042,203466,3.0,1.0,1.0,1.0,0.0
2179,82221,180512,203471,15.0,1.0,0.0,2.0,1.0
2182,4927,122522,203476,14.0,6.0,5.0,3.0,0.0
2187,25,129635,203487,15.0,6.0,5.0,4.0,0.0
2188,29972,191095,203490,13.0,6.0,4.0,3.0,0.0
2190,1660,136296,203496,15.0,6.0,5.0,4.0,0.0
2193,26139,142512,203499,15.0,6.0,0.0,4.0,1.0
2195,27201,146240,203501,15.0,4.0,0.0,1.0,1.0
2196,31300,136581,203503,13.0,6.0,4.0,3.0,0.0
2197,11313,167037,203504,14.0,6.0,4.0,4.0,0.0
2202,25954,122074,203514,15.0,6.0,5.0,4.0,0.0
2209,18954,172499,203528,15.0,6.0,5.0,4.0,0.0
2210,24475,199137,203529,15.0,6.0,5.0,4.0,0.0
2212,21688,177415,203534,14.0,6.0,4.0,4.0,0.0
2215,20263,151335,203538,15.0,6.0,5.0,4.0,0.0
2218,78303,142303,203541,15.0,6.0,5.0,4.0,0.0

time: 1min 27s

## Renal replacement therapy

In [90]:
f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/rrt.sql', 'r')
rrtSQL = f.read()
cur.execute('rollback')
cur.execute(rrtSQL)
rrtFirstDayTable = sql_exe_show('select * from rrtfirstday;')
rrtFirstDayDf= sql_to_df_icu(rrtFirstDayTable)
rrtFirstDayDf[0:500]

      subject_id  hadm_id  icustay_id  rrt
7          28448   177527      200012    0
12         21789   112486      200019    0
25          9960   159243      200036    0
39         25225   147080      200055    1
41         28494   199133      200059    0
45         99052   129142      200063    0
46         19891   112840      200065    1
60         61871   124231      200087    0
64         30284   136554      200095    0
67         52619   175374      200099    0
68         11228   167826      200102    1
73         50772   192069      200108    0
74          9993   150740      200109    0
75         20528   132580      200112    0
78         61654   164386      200116    0
84         11018   104650      200124    0
86         76993   180630      200126    0
88         47250   187834      200131    0
91         68128   189927      200135    0
96         27874   193876      200140    0
99         94414   170244      200143    0
102        76327   176858      200150    0
104        69995   164810      200153    0
118        27499   191644      200173    0
128        13835   127890      200188    0
132        27480   168389      200197    0
133         1977   133719      200199    0
144        91802   139580      200215    0
146        13960   117705      200220    0
151        20689   129027      200229    0
...          ...      ...         ...  ...
2124       68184   155784      203390    0
2125         771   173072      203392    0
2130       18353   134705      203400    1
2136       18103   108435      203407    0
2137       97689   126800      203408    0
2141       58288   127242      203415    0
2152       44751   122823      203433    0
2154       13309   199382      203435    0
2156       25256   112635      203440    0
2160        9718   143321      203446    0
2166       29767   163441      203454    0
2167       14380   199340      203455    0
2170       72997   159344      203460    0
2173         367   119940      203464    0
2174       10277   153042      203466    0
2179       82221   180512      203471    0
2182        4927   122522      203476    0
2187          25   129635      203487    0
2188       29972   191095      203490    0
2190        1660   136296      203496    0
2193       26139   142512      203499    1
2195       27201   146240      203501    0
2196       31300   136581      203503    0
2197       11313   167037      203504    0
2202       25954   122074      203514    0
2209       18954   172499      203528    0
2210       24475   199137      203529    0
2212       21688   177415      203534    1
2215       20263   151335      203538    0
2218       78303   142303      203541    0

[500 rows x 4 columns]

time: 20.4 s

In [ ]:
#attempting to write a fxn to perform all this, but the sql_exe_show line requires more customization
# Def file_to_df(filename_no_extension):
#     f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/%s.sql', 'r') %(filename_no_extension)
#     filenameSQL = f.read()
#     cur.execute('rollback')
#     cur.execute(filenameSQL)
#     filenameFirstDayTable = sql_exe_show('select * from vitalsfirstday;')
#     vitalsFirstDayDf= sql_to_df_icu(vitalsFirstDayTable)
#     vitalsFirstDayDf[0:500]

## Urine Output

In [ ]:
#Purpose: Create a view of the urine output for each ICUSTAY_ID over the first 24 hours.

In [91]:
f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/urine.sql', 'r')
urineSQL = f.read()
cur.execute('rollback')
cur.execute(urineSQL)
urineFirstDayTable = sql_exe_show('select * from uofirstday;')
urineFirstDayDf = sql_to_df_icu(urineFirstDayTable)
urineFirstDayDf[0:500]

      subject_id  hadm_id  icustay_id  urineoutput
1              4   185777      294638       2150.0
12            19   109235      273430        940.0
15            21   111970      216859        290.0
20            25   129635      203487       3025.0
21            26   197661      244882        875.0
24            31   128652      254478       3345.0
26            33   176176      296681       2356.0
49            61   176332      252348       1150.0
51            62   116009      216609        718.0
53            64   172056      232593       5695.0
57            68   108329      272667        199.0
63            73   194730      284305       1940.0
82            94   140037      213450       2261.0
85            96   170324      211943       2245.0
96           106   145167      252051       1570.0
133          111   155897      249202         20.0
135          112   173177      251972        439.0
137          113   109976      224661       1065.0
140          117   140784      211700       1070.0
152          129   164174      238431       4175.0
153          130   113323      296584       1075.0
166          141   168006      234668        765.0
174          147   103631      252947       1056.0
185          156   199280      259092       1670.0
194          165   170252      247247       1675.0
195          166   128219      271863        100.0
202          174   110104      232160       3608.0
216          186   164405      290079       2060.0
218          188   123860      213646       1140.0
226          191   136614      280149       1205.0
...          ...      ...         ...          ...
2780        2665   176367      234416       2600.0
2781        2666   154442      232205       2450.0
2793        2679   192299      293310       1746.0
2798        2682   195979      271920       3156.0
2799        2683   183108      247980        176.0
2812        2700   100335      236689       1263.0
2813        2701   110164      219652       3100.0
2816        2704   171806      202028       1435.0
2820        2708   112257      220475        572.0
2829        2718   148278      276514       3215.0
2844        2734   149291      269611       1485.0
2848        2739   165880      213432       1343.0
2849        2740   146965      242815        725.0
2851        2742   127987      250610        808.0
2870        2757   106076      212319       2310.0
2871        2758   196785      238621       5500.0
2873        2759   107939      227032       1720.0
2877        2762   139187      269991       1725.0
2881        2766   108626      241239       1469.0
2883        2769   109367      205115        594.0
2884        2771   110821      201547       1800.0
2886        2773   172324      263226       1495.0
2888        2775   170198      233301        554.0
2891        2777   174813      227386       1496.0
2894        2784   112512      210764       1930.0
2909        2797   180101      269011       3410.0
2912        2800   190555      210891       1990.0
2914        2805   105466      237697       2840.0
2917        2808   132587      279633       5970.0
2918        2809   100426      247020       1520.0

[500 rows x 4 columns]

time: 13.2 s

## Blood Gas Test

In [ ]:
# -- The aim of this query is to pivot entries related to blood gases and
# -- chemistry values which were found in LABEVENTS

# -- things to check:
# --  when a mixed venous/arterial blood sample are taken at the same time, is the store time different?

In [92]:
f = open('/Users/geickelb1/Desktop/PhD_Misc/HSIP_442_Yuan_Lao/project/sql/bloodgas.sql', 'r')
bgSQL = f.read()
cur.execute('rollback')
cur.execute(bgSQL)
bgFirstDayTable = sql_exe_show('select * from bloodgasfirstday;')
bgFirstDayDf = sql_to_df_icu(bgFirstDayTable)
bgFirstDayDf[0:500]

NameError: name 'bgFirstDay' is not defined

time: 1min 56s

,subject_id,hadm_id,icustay_id,charttime,specimen,aado2,baseexcess,bicarbonate,totalco2,carboxyhemoglobin,...,peep,ph,po2,potassium,requiredo2,sodium,temperature,tidalvolume,ventilationrate,ventilator
20,4,185777,294638,2191-03-15 21:23:00,ART,NaN,NaN,NaN,21.0,NaN,...,NaN,7.47,74.0,NaN,NaN,NaN,38.9,NaN,None,None
62,19,109235,273430,NaT,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
82,21,111970,216859,2135-01-30 19:18:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
101,25,129635,203487,2160-11-02 06:05:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.39,102.0,NaN,NaN,NaN,NaN,NaN,None,None
102,25,129635,203487,2160-11-02 07:59:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.33,46.0,NaN,NaN,NaN,NaN,NaN,None,None
103,25,129635,203487,2160-11-02 08:51:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.34,96.0,NaN,NaN,NaN,37.0,NaN,None,None
104,25,129635,203487,2160-11-02 09:23:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
105,25,129635,203487,2160-11-02 09:25:00,VEN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
106,25,129635,203487,2160-11-02 10:36:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.28,167.0,NaN,NaN,NaN,NaN,NaN,None,None
107,25,129635,203487,2160-11-02 11:06:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.29,71.0,NaN,NaN,NaN,NaN,NaN,None,None
108,25,129635,203487,2160-11-02 12:57:00,ART,NaN,NaN,NaN,27.0,NaN,...,NaN,7.29,32.0,NaN,NaN,NaN,36.1,NaN,None,None
109,25,129635,203487,2160-11-02 13:26:00,ART,NaN,NaN,NaN,23.0,NaN,...,NaN,7.36,77.0,NaN,NaN,NaN,36.1,NaN,None,None
110,25,129635,203487,2160-11-02 16:55:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,36.1,NaN,None,None
111,25,129635,203487,2160-11-02 17:16:00,ART,NaN,NaN,NaN,24.0,NaN,...,NaN,7.35,105.0,NaN,NaN,NaN,36.1,NaN,None,None
112,26,197661,244882,NaT,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
131,31,128652,254478,2108-08-23 00:21:00,ART,NaN,3.0,NaN,27.0,NaN,...,5.0,7.47,148.0,NaN,NaN,NaN,38.7,750.0,None,None
132,31,128652,254478,2108-08-23 09:08:00,ART,NaN,2.0,NaN,25.0,NaN,...,5.0,7.47,128.0,NaN,NaN,NaN,38.4,700.0,None,None
133,31,128652,254478,2108-08-23 16:12:00,ART,NaN,NaN,NaN,24.0,NaN,...,NaN,7.46,111.0,NaN,NaN,NaN,NaN,NaN,None,None
138,33,176176,296681,2116-12-23 19:28:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
139,33,176176,296681,2116-12-23 21:33:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
140,33,176176,296681,2116-12-23 23:12:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
141,33,176176,296681,2116-12-23 23:53:00,MIX,NaN,NaN,NaN,25.0,NaN,...,NaN,7.37,35.0,NaN,NaN,NaN,37.0,NaN,None,None
142,33,176176,296681,2116-12-24 03:43:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
143,33,176176,296681,2116-12-24 06:37:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
144,33,176176,296681,2116-12-24 10:49:00,MIX,NaN,NaN,NaN,27.0,NaN,...,NaN,7.36,38.0,NaN,NaN,NaN,NaN,NaN,None,None
145,33,176176,296681,2116-12-24 11:27:00,MIX,NaN,1.0,NaN,28.0,NaN,...,NaN,7.40,38.0,NaN,NaN,NaN,NaN,NaN,None,None
146,33,176176,296681,2116-12-24 13:49:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
244,61,176332,252348,NaT,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
246,62,116009,216609,2113-02-14 20:35:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
247,62,116009,216609,2113-02-14 22:10:00,VEN,NaN,NaN,NaN,24.0,NaN,...,NaN,7.40,35.0,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2742,480,182365,250913,2166-08-08 10:53:00,ART,NaN,NaN,NaN,24.0,NaN,...,NaN,7.40,215.0,NaN,NaN,NaN,NaN,NaN,None,None
2743,480,182365,250913,2166-08-08 12:22:00,ART,NaN,NaN,NaN,25.0,NaN,...,NaN,7.41,209.0,NaN,NaN,NaN,NaN,NaN,None,None
2744,480,182365,250913,2166-08-08 12:27:00,MIX,NaN,NaN,NaN,28.0,NaN,...,NaN,7.37,46.0,NaN,NaN,NaN,NaN,NaN,None,None
2745,480,182365,250913,2166-08-08 15:11:00,ART,NaN,NaN,NaN,25.0,NaN,...,NaN,7.41,146.0,NaN,NaN,NaN,NaN,NaN,None,None
2784,488,178969,213307,NaT,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2805,491,157083,235261,2170-04-03 11:42:00,ART,NaN,NaN,NaN,21.0,NaN,...,NaN,7.40,217.0,NaN,NaN,NaN,NaN,NaN,None,None
2806,491,157083,235261,2170-04-03 14:46:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2807,491,157083,235261,2170-04-03 14:51:00,ART,NaN,NaN,NaN,22.0,NaN,...,NaN,7.31,73.0,NaN,NaN,NaN,NaN,NaN,None,None
2808,491,157083,235261,2170-04-03 16:14:00,ART,NaN,NaN,NaN,22.0,NaN,...,NaN,7.34,107.0,NaN,NaN,NaN,NaN,700.0,None,None
2809,491,157083,235261,2170-04-03 17:19:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2810,491,157083,235261,2170-04-03 22:13:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2811,491,157083,235261,2170-04-04 04:24:00,ART,NaN,NaN,NaN,23.0,NaN,...,NaN,7.44,122.0,NaN,NaN,NaN,NaN,NaN,None,None
2812,491,157083,235261,2170-04-04 04:28:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2813,491,157083,235261,2170-04-04 09:01:00,ART,NaN,NaN,NaN,23.0,NaN,...,NaN,7.43,140.0,NaN,NaN,NaN,NaN,NaN,None,None
2814,491,157083,235261,2170-04-04 09:14:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2815,492,114598,239673,2174-04-13 04:36:00,ART,NaN,NaN,NaN,28.0,NaN,...,5.0,7.36,170.0,NaN,NaN,NaN,37.0,500.0,None,None
2816,492,114598,239673,2174-04-13 06:42:00,ART,NaN,NaN,NaN,30.0,NaN,...,NaN,7.15,257.0,NaN,NaN,NaN,NaN,NaN,None,None
2817,492,114598,239673,2174-04-13 10:28:00,ART,NaN,NaN,NaN,28.0,NaN,...,NaN,7.36,160.0,NaN,NaN,NaN,NaN,NaN,None,None
2818,492,114598,239673,2174-04-13 11:43:00,ART,NaN,NaN,NaN,27.0,NaN,...,NaN,7.35,99.0,NaN,NaN,NaN,36.5,NaN,None,None
2824,495,186199,253432,2183-05-20 17:13:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2825,495,186199,253432,2183-05-20 18:45:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2826,495,186199,253432,2183-05-20 21:09:00,MIX,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.7,NaN,None,None
2827,495,186199,253432,2183-05-21 03:20:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2857,500,141591,238221,2200-03-18 03:43:00,ART,NaN,NaN,NaN,25.0,NaN,...,NaN,7.36,64.0,NaN,NaN,NaN,NaN,NaN,None,None
2858,500,141591,238221,2200-03-18 03:55:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
2859,500,141591,238221,2200-03-18 10:25:00,ART,NaN,NaN,NaN,24.0,NaN,...,NaN,7.34,60.0,NaN,NaN,NaN,NaN,NaN,None,None
2860,500,141591,238221,2200-03-18 16:05:00,ART,NaN,NaN,NaN,24.0,NaN,...,NaN,7.36,60.0,NaN,NaN,NaN,NaN,NaN,None,None
2861,500,141591,238221,2200-03-18 17:10:00,ART,NaN,NaN,NaN,24.0,NaN,...,NaN,7.35,97.0,NaN,NaN,NaN,NaN,NaN,None,None
2862,500,141591,238221,2200-03-18 18:49:00,ART,NaN,NaN,NaN,24.0,NaN,...,NaN,7.35,105.0,NaN,NaN,NaN,NaN,NaN,None,None
2863,500,141591,238221,2200-03-18 22:23:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.32,83.0,NaN,NaN,NaN,37.2,NaN,None,None

time: 58.6 ms

bgFirstDayDf
urineFirstDayDf
rrtFirstDayDf
gcsFirstDayDf
vitalsFirstDayDf
labsFirstDayDf
heightFirstDayDf

# clinical variable QC

In [103]:
lab_bg_overlap_list=list(labsFirstDayDf[labsFirstDayDf['subject_id'].isin(list(
    bgFirstDayDf['subject_id'].unique()))]['subject_id'].unique())

time: 22.1 ms

In [131]:
#bgFirstDayDf
#(labsFirstDayDf[labsFirstDayDf['subject_id'].isin(lab_bg_overlap_list)])
(labsFirstDayDf[labsFirstDayDf['subject_id']==99912])[['potassium_min','potassium_max','icustay_id','subject_id','hadm_id']]

       potassium_min  potassium_max  icustay_id  subject_id  hadm_id
61504            3.9            4.6      236183       99912   189380

time: 10.1 ms

In [130]:
#5-9-18
#(bgFirstDayDf[bgFirstDayDf['subject_id']==(lab_bg_overlap_list)])
#(bgFirstDayDf[bgFirstDayDf['subject_id']==4])[['bicarbonate','specimen','charttime']]
(bgFirstDayDf[bgFirstDayDf['subject_id']==99912])[['potassium','specimen','charttime','icustay_id','subject_id','hadm_id']]
#bgFirstDayDf
#99966 and 99912 subject id has potassium


#qc, checking overlapping categories between bgFirstDayDf and labsFirstDatDf
#subject_id has potassium 4.7 on 2191-08-23 21:38:00 in bgFirstDayDf 
#subject_id has potassium 4.4-4.9 in labsFirstDayDf. 


(ie.intime - interval '6' hour) AND (ie.intime + interval '1' day)


#labs: # -- This query pivots lab values taken in the first 24 hours of a patient's stay
# -- Have already confirmed that the unit of measurement is always the same: null or the correct unit.
#these are from labevents
#labs taken between 6 hours prior to admin and 1 day after admission. 

#bloodgas: # -- The aim of this query is to pivot entries related to blood gases and
# -- chemistry values which were found in LABEVENTS
#labs taken between 6 hours prior to admin and 1 day after admission. 

#ok so labs uses itemid of either 50822 & 50971 where as bloodgas only uses 50822. 
#50822 is postassium, whole blood (category bloodgas) while 50971 is potassium in blood (category chemistry)

,potassium,specimen,charttime,icustay_id,subject_id,hadm_id
243343,4.4,None,2153-04-13 13:37:00,236183,99912,189380
243344,NaN,None,2153-04-13 16:26:00,236183,99912,189380
243345,NaN,None,2153-04-13 16:50:00,236183,99912,189380
243346,NaN,None,2153-04-13 18:36:00,236183,99912,189380
243347,NaN,None,2153-04-13 20:53:00,236183,99912,189380
243348,NaN,None,2153-04-13 21:54:00,236183,99912,189380
243349,NaN,None,2153-04-14 00:20:00,236183,99912,189380
243350,NaN,None,2153-04-14 01:50:00,236183,99912,189380
243351,NaN,None,2153-04-14 04:32:00,236183,99912,189380
243352,NaN,None,2153-04-14 06:38:00,236183,99912,189380

time: 19.2 ms

# test model building

In [133]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib notebook

time: 304 ms

In [ ]:
final_pt_df2

In [135]:
bgFirstDayDf.head()

,subject_id,hadm_id,icustay_id,charttime,specimen,aado2,baseexcess,bicarbonate,totalco2,carboxyhemoglobin,...,peep,ph,po2,potassium,requiredo2,sodium,temperature,tidalvolume,ventilationrate,ventilator
20,4,185777,294638,2191-03-15 21:23:00,ART,NaN,NaN,NaN,21.0,NaN,...,NaN,7.47,74.0,NaN,NaN,NaN,38.9,NaN,None,None
62,19,109235,273430,NaT,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
82,21,111970,216859,2135-01-30 19:18:00,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
101,25,129635,203487,2160-11-02 06:05:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.39,102.0,NaN,NaN,NaN,NaN,NaN,None,None
102,25,129635,203487,2160-11-02 07:59:00,ART,NaN,NaN,NaN,26.0,NaN,...,NaN,7.33,46.0,NaN,NaN,NaN,NaN,NaN,None,None

time: 27.5 ms

In [132]:
test_merge= (
    pd.merge(
        final_pt_df2,
        bgFirstDayDf,
        left_on= 'icustay_id', right_on='icustay_id', how = 'left')
)

time: 527 ms

In [134]:
from sklearn.ensemble import RandomForestClassifier

time: 333 ms

In [ ]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
iris = load_iris()
#rf_clf = RandomForestClassifier().fit(iris.data, iris.target)

iris_df = sns.load_dataset("iris")

iris_df = sns.load_dataset("iris")
g = sns.PairGrid(iris_df, hue='species', 
                 vars=['sepal_length','sepal_width',
                       'petal_length','petal_width'], 
                 palette=sns.xkcd_palette(xkcd_colors), 
                 diag_sharey=False)
g = g.map_upper(plt.scatter, alpha=0.7)
g = g.map_lower(kde_color_plot)
g = g.map_diag(sns.kdeplot, shade=True)

In [138]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score

time: 21.9 ms

In [140]:

#imputing test code,   
import numpy as np

from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score

rng = np.random.RandomState(0)

dataset = load_boston()
X_full, y_full = dataset.data, dataset.target
n_samples = X_full.shape[0]
n_features = X_full.shape[1]
# Estimate the score on the entire dataset, with no missing values
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_full, y_full).mean()
print("Score with the entire dataset = %.2f" % score)

# Add missing values in 75% of the lines
missing_rate = 0.75
n_missing_samples = int(np.floor(n_samples * missing_rate))
missing_samples = np.hstack((np.zeros(n_samples - n_missing_samples,
                                      dtype=np.bool),
                             np.ones(n_missing_samples,
                                     dtype=np.bool)))
rng.shuffle(missing_samples)
missing_features = rng.randint(0, n_features, n_missing_samples)

# Estimate the score without the lines containing missing values
X_filtered = X_full[~missing_samples, :]
y_filtered = y_full[~missing_samples]
estimator = RandomForestRegressor(random_state=0, n_estimators=100)
score = cross_val_score(estimator, X_filtered, y_filtered).mean()
print("Score without the samples containing missing values = %.2f" % score)

# Estimate the score after imputation of the missing values
X_missing = X_full.copy()
X_missing[np.where(missing_samples)[0], missing_features] = 0
y_missing = y_full.copy()
estimator = Pipeline([("imputer", Imputer(missing_values=0,
                                          strategy="mean",
                                          axis=0)),
                      ("forest", RandomForestRegressor(random_state=0,
                                                       n_estimators=100))])
score = cross_val_score(estimator, X_missing, y_missing).mean()
print("Score after imputation of the missing values = %.2f" % score)

Score with the entire dataset = 0.56
Score without the samples containing missing values = 0.48
Score after imputation of the missing values = 0.57
time: 1.79 s

In [156]:
#test_merge.data
#dataset
#X_full
# , y_full = dataset.data, dataset.target
# n_samples = X_full.shape[0]
# n_features = X_full.shape[1]
#dataset
pd.DataFrame(data=dataset)

ValueError: arrays must all be same length

time: 13.2 ms

# altering the sql files to search for all instances within 48 hours

In [194]:
#labs
labs_all48_sql = query_schema + """

SELECT *

FROM
( -- begin query that extracts the data
  SELECT ie.subject_id, ie.hadm_id, ie.icustay_id, le.charttime
  -- here we assign labels to ITEMIDs
  -- this also fuses together multiple ITEMIDs containing the same data
  , CASE
        WHEN itemid = 50868 THEN 'ANION GAP'
        WHEN itemid = 50862 THEN 'ALBUMIN'
        WHEN itemid = 51144 THEN 'BANDS'
        WHEN itemid = 50882 THEN 'BICARBONATE'
        WHEN itemid = 50885 THEN 'BILIRUBIN'
        WHEN itemid = 50912 THEN 'CREATININE'
        WHEN itemid = 50806 THEN 'CHLORIDE'
        WHEN itemid = 50902 THEN 'CHLORIDE'
        WHEN itemid = 50809 THEN 'GLUCOSE'
        WHEN itemid = 50931 THEN 'GLUCOSE'
        WHEN itemid = 50810 THEN 'HEMATOCRIT'
        WHEN itemid = 51221 THEN 'HEMATOCRIT'
        WHEN itemid = 50811 THEN 'HEMOGLOBIN'
        WHEN itemid = 51222 THEN 'HEMOGLOBIN'
        WHEN itemid = 50813 THEN 'LACTATE'
        WHEN itemid = 51265 THEN 'PLATELET'
        WHEN itemid = 50822 THEN 'POTASSIUM'
        WHEN itemid = 50971 THEN 'POTASSIUM'
        WHEN itemid = 51275 THEN 'PTT'
        WHEN itemid = 51237 THEN 'INR'
        WHEN itemid = 51274 THEN 'PT'
        WHEN itemid = 50824 THEN 'SODIUM'
        WHEN itemid = 50983 THEN 'SODIUM'
        WHEN itemid = 51006 THEN 'BUN'
        WHEN itemid = 51300 THEN 'WBC'
        WHEN itemid = 51301 THEN 'WBC'
      ELSE null
    END AS label
  , -- add in some sanity checks on the values
  -- the where clause below requires all valuenum to be > 0, so these are only upper limit checks
    CASE
      WHEN itemid = 50862 and valuenum >    10 THEN null -- g/dL 'ALBUMIN'
      WHEN itemid = 50868 and valuenum > 10000 THEN null -- mEq/L 'ANION GAP'
      WHEN itemid = 51144 and valuenum <     0 THEN null -- immature band forms, %
      WHEN itemid = 51144 and valuenum >   100 THEN null -- immature band forms, %
      WHEN itemid = 50882 and valuenum > 10000 THEN null -- mEq/L 'BICARBONATE'
      WHEN itemid = 50885 and valuenum >   150 THEN null -- mg/dL 'BILIRUBIN'
      WHEN itemid = 50806 and valuenum > 10000 THEN null -- mEq/L 'CHLORIDE'
      WHEN itemid = 50902 and valuenum > 10000 THEN null -- mEq/L 'CHLORIDE'
      WHEN itemid = 50912 and valuenum >   150 THEN null -- mg/dL 'CREATININE'
      WHEN itemid = 50809 and valuenum > 10000 THEN null -- mg/dL 'GLUCOSE'
      WHEN itemid = 50931 and valuenum > 10000 THEN null -- mg/dL 'GLUCOSE'
      WHEN itemid = 50810 and valuenum >   100 THEN null -- % 'HEMATOCRIT'
      WHEN itemid = 51221 and valuenum >   100 THEN null -- % 'HEMATOCRIT'
      WHEN itemid = 50811 and valuenum >    50 THEN null -- g/dL 'HEMOGLOBIN'
      WHEN itemid = 51222 and valuenum >    50 THEN null -- g/dL 'HEMOGLOBIN'
      WHEN itemid = 50813 and valuenum >    50 THEN null -- mmol/L 'LACTATE'
      WHEN itemid = 51265 and valuenum > 10000 THEN null -- K/uL 'PLATELET'
      WHEN itemid = 50822 and valuenum >    30 THEN null -- mEq/L 'POTASSIUM'
      WHEN itemid = 50971 and valuenum >    30 THEN null -- mEq/L 'POTASSIUM'
      WHEN itemid = 51275 and valuenum >   150 THEN null -- sec 'PTT'
      WHEN itemid = 51237 and valuenum >    50 THEN null -- 'INR'
      WHEN itemid = 51274 and valuenum >   150 THEN null -- sec 'PT'
      WHEN itemid = 50824 and valuenum >   200 THEN null -- mEq/L == mmol/L 'SODIUM'
      WHEN itemid = 50983 and valuenum >   200 THEN null -- mEq/L == mmol/L 'SODIUM'
      WHEN itemid = 51006 and valuenum >   300 THEN null -- 'BUN'
      WHEN itemid = 51300 and valuenum >  1000 THEN null -- 'WBC'
      WHEN itemid = 51301 and valuenum >  1000 THEN null -- 'WBC'
	  --WHEN ie.subject_id not in (24915,24942,24968,24776,24714,24824) THEN null
    ELSE le.valuenum
    END AS valuenum

  FROM mimiciii.icustays ie
	--where ie.subject_id in (24915,24942,24968,24776,24714,24824)
  LEFT JOIN mimiciii.labevents le
    ON le.subject_id = ie.subject_id AND le.hadm_id = ie.hadm_id
    AND le.charttime BETWEEN (ie.intime - interval '6' hour) AND (ie.intime + interval '2' day)
	AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt. 
    AND le.ITEMID in
    (
      -- comment is: LABEL | CATEGORY | FLUID | NUMBER OF ROWS IN LABEVENTS
      50868, -- ANION GAP | CHEMISTRY | BLOOD | 769895
      50862, -- ALBUMIN | CHEMISTRY | BLOOD | 146697
      51144, -- BANDS - hematology
      50882, -- BICARBONATE | CHEMISTRY | BLOOD | 780733
      50885, -- BILIRUBIN, TOTAL | CHEMISTRY | BLOOD | 238277
      50912, -- CREATININE | CHEMISTRY | BLOOD | 797476
      50902, -- CHLORIDE | CHEMISTRY | BLOOD | 795568
      50806, -- CHLORIDE, WHOLE BLOOD | BLOOD GAS | BLOOD | 48187
      50931, -- GLUCOSE | CHEMISTRY | BLOOD | 748981
      50809, -- GLUCOSE | BLOOD GAS | BLOOD | 196734
      51221, -- HEMATOCRIT | HEMATOLOGY | BLOOD | 881846
      50810, -- HEMATOCRIT, CALCULATED | BLOOD GAS | BLOOD | 89715
      51222, -- HEMOGLOBIN | HEMATOLOGY | BLOOD | 752523
      50811, -- HEMOGLOBIN | BLOOD GAS | BLOOD | 89712
      50813, -- LACTATE | BLOOD GAS | BLOOD | 187124
      51265, -- PLATELET COUNT | HEMATOLOGY | BLOOD | 778444
      50971, -- POTASSIUM | CHEMISTRY | BLOOD | 845825
      50822, -- POTASSIUM, WHOLE BLOOD | BLOOD GAS | BLOOD | 192946
      51275, -- PTT | HEMATOLOGY | BLOOD | 474937
      51237, -- INR(PT) | HEMATOLOGY | BLOOD | 471183
      51274, -- PT | HEMATOLOGY | BLOOD | 469090
      50983, -- SODIUM | CHEMISTRY | BLOOD | 808489
      50824, -- SODIUM, WHOLE BLOOD | BLOOD GAS | BLOOD | 71503
      51006, -- UREA NITROGEN | CHEMISTRY | BLOOD | 791925
      51301, -- WHITE BLOOD CELLS | HEMATOLOGY | BLOOD | 753301
      51300  -- WBC COUNT | HEMATOLOGY | BLOOD | 2371
    )
    AND valuenum IS NOT null AND valuenum > 0 -- lab values cannot be 0 and cannot be negative
) pvt;

    """.format(tuple(patients))
    
labs_all48_df=pd.read_sql_query(labs_all48_sql,conn)    


#changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# into the join at the end. removed the create table at beginning and comitt at the end. 
#also select * from the initial generated table
#also also changed the date range to 48 hours after, rather than 24. (2 day)
#will need to do this for all of my sql queres.


###guessing this isn't correct yet. need to adjust by removing the group_by's. addin charttime, and remove the max/min categories.

time: 41.4 s

In [195]:
labs_all48_df

,subject_id,hadm_id,icustay_id,charttime,label,valuenum
0,4,185777,294638,2191-03-15 21:23:00,HEMATOCRIT,32.0
1,4,185777,294638,2191-03-15 21:23:00,HEMOGLOBIN,10.5
2,4,185777,294638,2191-03-15 21:23:00,LACTATE,2.1
3,4,185777,294638,2191-03-16 05:42:00,ALBUMIN,2.8
4,4,185777,294638,2191-03-16 05:42:00,ANION GAP,15.0
5,4,185777,294638,2191-03-16 05:42:00,BICARBONATE,21.0
6,4,185777,294638,2191-03-16 05:42:00,BILIRUBIN,1.9
7,4,185777,294638,2191-03-16 05:42:00,CHLORIDE,108.0
8,4,185777,294638,2191-03-16 05:42:00,CREATININE,0.5
9,4,185777,294638,2191-03-16 05:42:00,GLUCOSE,183.0
10,4,185777,294638,2191-03-16 05:42:00,POTASSIUM,3.3
11,4,185777,294638,2191-03-16 05:42:00,SODIUM,141.0
12,4,185777,294638,2191-03-16 05:42:00,BUN,10.0
13,4,185777,294638,2191-03-16 05:42:00,HEMATOCRIT,31.8
14,4,185777,294638,2191-03-16 05:42:00,HEMOGLOBIN,10.6
15,4,185777,294638,2191-03-16 05:42:00,INR,1.1
16,4,185777,294638,2191-03-16 05:42:00,PLATELET,201.0
17,4,185777,294638,2191-03-16 05:42:00,PT,12.8
18,4,185777,294638,2191-03-16 05:42:00,PTT,33.2
19,4,185777,294638,2191-03-16 05:42:00,WBC,9.7
20,4,185777,294638,2191-03-17 06:00:00,ANION GAP,15.0
21,4,185777,294638,2191-03-17 06:00:00,BICARBONATE,21.0
22,4,185777,294638,2191-03-17 06:00:00,CHLORIDE,106.0
23,4,185777,294638,2191-03-17 06:00:00,CREATININE,0.4
24,4,185777,294638,2191-03-17 06:00:00,GLUCOSE,225.0
25,4,185777,294638,2191-03-17 06:00:00,POTASSIUM,3.8
26,4,185777,294638,2191-03-17 06:00:00,SODIUM,138.0
27,4,185777,294638,2191-03-17 06:00:00,BUN,16.0
28,4,185777,294638,2191-03-17 06:00:00,HEMATOCRIT,31.7
29,4,185777,294638,2191-03-17 06:00:00,HEMOGLOBIN,10.5
...,...,...,...,...,...,...
1396169,16479,194560,272569,NaT,None,NaN
1396170,30985,134856,255611,NaT,None,NaN
1396171,25340,131208,290178,NaT,None,NaN
1396172,26738,197958,228135,NaT,None,NaN
1396173,5431,197175,275433,NaT,None,NaN
1396174,5060,143525,210613,NaT,None,NaN
1396175,971,176106,200312,NaT,None,NaN
1396176,73156,139827,250138,NaT,None,NaN
1396177,6577,136620,254266,NaT,None,NaN
1396178,19195,109365,284230,NaT,None,NaN
1396179,97942,185500,294719,NaT,None,NaN
1396180,3836,134786,271053,NaT,None,NaN
1396181,2007,178432,236062,NaT,None,NaN
1396182,3614,153092,242586,NaT,None,NaN
1396183,88452,109040,285922,NaT,None,NaN
1396184,24029,163826,263354,NaT,None,NaN
1396185,10036,189483,227834,NaT,None,NaN
1396186,11025,195222,279105,NaT,None,NaN
1396187,13417,109489,249687,NaT,None,NaN
1396188,42479,173522,280811,NaT,None,NaN
1396189,19730,196082,232792,NaT,None,NaN
1396190,13809,188102,203381,NaT,None,NaN
1396191,90238,103065,275666,NaT,None,NaN
1396192,19772,108374,221779,NaT,None,NaN
1396193,71320,164517,244910,NaT,None,NaN
1396194,1516,110875,242081,NaT,None,NaN
1396195,1516,110875,253422,NaT,None,NaN
1396196,23140,126781,261313,NaT,None,NaN
1396197,21559,184998,272843,NaT,None,NaN
1396198,8975,141188,240559,NaT,None,NaN

time: 32.3 ms

In [179]:
#blood gas, updated

bg_all48_sql = query_schema + """
select pvt.SUBJECT_ID, pvt.HADM_ID, pvt.ICUSTAY_ID, pvt.CHARTTIME, label, valuenum

from
( -- begin query that extracts the data
  select ie.subject_id, ie.hadm_id, ie.icustay_id
  -- here we assign labels to ITEMIDs
  -- this also fuses together multiple ITEMIDs containing the same data
      , case
        when itemid = 50800 then 'SPECIMEN'
        when itemid = 50801 then 'AADO2'
        when itemid = 50802 then 'BASEEXCESS'
        when itemid = 50803 then 'BICARBONATE'
        when itemid = 50804 then 'TOTALCO2'
        when itemid = 50805 then 'CARBOXYHEMOGLOBIN'
        when itemid = 50806 then 'CHLORIDE'
        when itemid = 50808 then 'CALCIUM'
        when itemid = 50809 then 'GLUCOSE'
        when itemid = 50810 then 'HEMATOCRIT'
        when itemid = 50811 then 'HEMOGLOBIN'
        when itemid = 50812 then 'INTUBATED'
        when itemid = 50813 then 'LACTATE'
        when itemid = 50814 then 'METHEMOGLOBIN'
        when itemid = 50815 then 'O2FLOW'
        when itemid = 50816 then 'FIO2'
        when itemid = 50817 then 'SO2' -- OXYGENSATURATION
        when itemid = 50818 then 'PCO2'
        when itemid = 50819 then 'PEEP'
        when itemid = 50820 then 'PH'
        when itemid = 50821 then 'PO2'
        when itemid = 50822 then 'POTASSIUM'
        when itemid = 50823 then 'REQUIREDO2'
        when itemid = 50824 then 'SODIUM'
        when itemid = 50825 then 'TEMPERATURE'
        when itemid = 50826 then 'TIDALVOLUME'
        when itemid = 50827 then 'VENTILATIONRATE'
        when itemid = 50828 then 'VENTILATOR'
        else null
        end as label
        , charttime
        , value
        -- add in some sanity checks on the values
        , case
          when valuenum <= 0 then null
          when itemid = 50810 and valuenum > 100 then null -- hematocrit
          when itemid = 50816 and valuenum > 100 then null -- FiO2
          when itemid = 50817 and valuenum > 100 then null -- O2 sat
          when itemid = 50815 and valuenum >  70 then null -- O2 flow
          when itemid = 50821 and valuenum > 800 then null -- PO2
           -- conservative upper limit
        else valuenum
        end as valuenum

    from mimiciii.icustays ie
    left join mimiciii.labevents le
      on le.subject_id = ie.subject_id and le.hadm_id = ie.hadm_id
      and le.charttime between (ie.intime - interval '6' hour) and (ie.intime + interval '2' day)
  	  and ie.subject_id in {} --!!THIS IS THE code to get for only specific pt. 
      and le.ITEMID in
      -- blood gases
      (
        50800, 50801, 50802, 50803, 50804, 50805, 50806, 50807, 50808, 50809
        , 50810, 50811, 50812, 50813, 50814, 50815, 50816, 50817, 50818, 50819
        , 50820, 50821, 50822, 50823, 50824, 50825, 50826, 50827, 50828
        , 51545
      )
) pvt
group by pvt.subject_id, pvt.hadm_id, pvt.icustay_id, pvt.CHARTTIME, label, valuenum
order by pvt.subject_id, pvt.hadm_id, pvt.icustay_id, pvt.CHARTTIME, label, valuenum
; """.format(tuple(patients))
    
bg_all48_df=pd.read_sql_query(bg_all48_sql,conn)    
bg_all48_df= bg_all48_df[bg_all48_df['label'].notnull()]# 44451 null rows removed. 
#changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# into the join at the end. removed the create table at beginning and comitt at the end. 
#also select * from the initial generated table
#also also changed the date range to 48 hours after, rather than 24. (2 day)

time: 3min 34s

In [163]:
# #blood gas,  mid-modification, saved for reference

# bg_all48_sql = query_schema + """
# -- The aim of this query is to pivot entries related to blood gases and
# -- chemistry values which were found in LABEVENTS

# -- things to check:
# --  when a mixed venous/arterial blood sample are taken at the same time, is the store time different?

# --DROP MATERIALIZED VIEW IF EXISTS bloodgasfirstday CASCADE;
# --create materialized view bloodgasfirstday as
# select pvt.SUBJECT_ID, pvt.HADM_ID, pvt.ICUSTAY_ID, pvt.CHARTTIME

# , max(case when label = 'SPECIMEN' then value else null end) as SPECIMEN
# , max(case when label = 'AADO2' then valuenum else null end) as AADO2
# , max(case when label = 'BASEEXCESS' then valuenum else null end) as BASEEXCESS
# , max(case when label = 'BICARBONATE' then valuenum else null end) as BICARBONATE
# , max(case when label = 'TOTALCO2' then valuenum else null end) as TOTALCO2
# , max(case when label = 'CARBOXYHEMOGLOBIN' then valuenum else null end) as CARBOXYHEMOGLOBIN
# , max(case when label = 'CHLORIDE' then valuenum else null end) as CHLORIDE
# , max(case when label = 'CALCIUM' then valuenum else null end) as CALCIUM
# , max(case when label = 'GLUCOSE' then valuenum else null end) as GLUCOSE
# , max(case when label = 'HEMATOCRIT' then valuenum else null end) as HEMATOCRIT
# , max(case when label = 'HEMOGLOBIN' then valuenum else null end) as HEMOGLOBIN
# , max(case when label = 'INTUBATED' then valuenum else null end) as INTUBATED
# , max(case when label = 'LACTATE' then valuenum else null end) as LACTATE
# , max(case when label = 'METHEMOGLOBIN' then valuenum else null end) as METHEMOGLOBIN
# , max(case when label = 'O2FLOW' then valuenum else null end) as O2FLOW
# , max(case when label = 'FIO2' then valuenum else null end) as FIO2
# , max(case when label = 'SO2' then valuenum else null end) as SO2 -- OXYGENSATURATION
# , max(case when label = 'PCO2' then valuenum else null end) as PCO2
# , max(case when label = 'PEEP' then valuenum else null end) as PEEP
# , max(case when label = 'PH' then valuenum else null end) as PH
# , max(case when label = 'PO2' then valuenum else null end) as PO2
# , max(case when label = 'POTASSIUM' then valuenum else null end) as POTASSIUM
# , max(case when label = 'REQUIREDO2' then valuenum else null end) as REQUIREDO2
# , max(case when label = 'SODIUM' then valuenum else null end) as SODIUM
# , max(case when label = 'TEMPERATURE' then valuenum else null end) as TEMPERATURE
# , max(case when label = 'TIDALVOLUME' then valuenum else null end) as TIDALVOLUME
# , max(case when label = 'VENTILATIONRATE' then valuenum else null end) as VENTILATIONRATE
# , max(case when label = 'VENTILATOR' then valuenum else null end) as VENTILATOR
# from
# ( -- begin query that extracts the data
#   select ie.subject_id, ie.hadm_id, ie.icustay_id
#   -- here we assign labels to ITEMIDs
#   -- this also fuses together multiple ITEMIDs containing the same data
#       , case
#         when itemid = 50800 then 'SPECIMEN'
#         when itemid = 50801 then 'AADO2'
#         when itemid = 50802 then 'BASEEXCESS'
#         when itemid = 50803 then 'BICARBONATE'
#         when itemid = 50804 then 'TOTALCO2'
#         when itemid = 50805 then 'CARBOXYHEMOGLOBIN'
#         when itemid = 50806 then 'CHLORIDE'
#         when itemid = 50808 then 'CALCIUM'
#         when itemid = 50809 then 'GLUCOSE'
#         when itemid = 50810 then 'HEMATOCRIT'
#         when itemid = 50811 then 'HEMOGLOBIN'
#         when itemid = 50812 then 'INTUBATED'
#         when itemid = 50813 then 'LACTATE'
#         when itemid = 50814 then 'METHEMOGLOBIN'
#         when itemid = 50815 then 'O2FLOW'
#         when itemid = 50816 then 'FIO2'
#         when itemid = 50817 then 'SO2' -- OXYGENSATURATION
#         when itemid = 50818 then 'PCO2'
#         when itemid = 50819 then 'PEEP'
#         when itemid = 50820 then 'PH'
#         when itemid = 50821 then 'PO2'
#         when itemid = 50822 then 'POTASSIUM'
#         when itemid = 50823 then 'REQUIREDO2'
#         when itemid = 50824 then 'SODIUM'
#         when itemid = 50825 then 'TEMPERATURE'
#         when itemid = 50826 then 'TIDALVOLUME'
#         when itemid = 50827 then 'VENTILATIONRATE'
#         when itemid = 50828 then 'VENTILATOR'
#         else null
#         end as label
#         , charttime
#         , value
#         -- add in some sanity checks on the values
#         , case
#           when valuenum <= 0 then null
#           when itemid = 50810 and valuenum > 100 then null -- hematocrit
#           when itemid = 50816 and valuenum > 100 then null -- FiO2
#           when itemid = 50817 and valuenum > 100 then null -- O2 sat
#           when itemid = 50815 and valuenum >  70 then null -- O2 flow
#           when itemid = 50821 and valuenum > 800 then null -- PO2
#            -- conservative upper limit
#         else valuenum
#         end as valuenum

#     from mimiciii.icustays ie
#     left join mimiciii.labevents le
#       on le.subject_id = ie.subject_id and le.hadm_id = ie.hadm_id
#       and le.charttime between (ie.intime - interval '6' hour) and (ie.intime + interval '2' day)
#       and le.subject_id in  {} --!!THIS IS THE code to get for only specific pt. 
#       and le.ITEMID in
#       -- blood gases
#       (
#         50800, 50801, 50802, 50803, 50804, 50805, 50806, 50807, 50808, 50809
#         , 50810, 50811, 50812, 50813, 50814, 50815, 50816, 50817, 50818, 50819
#         , 50820, 50821, 50822, 50823, 50824, 50825, 50826, 50827, 50828
#         , 51545
#       )
# ) pvt
# group by pvt.subject_id, pvt.hadm_id, pvt.icustay_id, pvt.CHARTTIME
# order by pvt.subject_id, pvt.hadm_id, pvt.icustay_id, pvt.CHARTTIME; """.format(tuple(patients))
    
# bg_all48_df=pd.read_sql_query(bg_all48_sql,conn)    

# #changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# # into the join at the end. removed the create table at beginning and comitt at the end. 
# #also select * from the initial generated table
# #also also changed the date range to 48 hours after, rather than 24. (2 day)


# ###guessing this isn't correct yet. need to adjust by removing the group_by's. addin charttime, and remove the max/min categories.

time: 50.9 s

In [175]:
#vital

vital_all48_sql = query_schema + """

SELECT *

FROM  (
  select ie.subject_id, ie.hadm_id, ie.icustay_id, ce.charttime --added ce.charttime
  , case
    when itemid in (211,220045) and valuenum > 0 and valuenum < 300 then 'HeartRate' -- HeartRate
    when itemid in (51,442,455,6701,220179,220050) and valuenum > 0 and valuenum < 400 then 'SysBP' -- SysBP
    when itemid in (8368,8440,8441,8555,220180,220051) and valuenum > 0 and valuenum < 300 then 'DiasBP' -- DiasBP
    when itemid in (456,52,6702,443,220052,220181,225312) and valuenum > 0 and valuenum < 300 then 'MeanBP' -- MeanBP
    when itemid in (615,618,220210,224690) and valuenum > 0 and valuenum < 70 then 'RespRate' -- RespRate
    when itemid in (223761,678) and valuenum > 70 and valuenum < 120  then 'TempF' -- TempF, converted to degC in valuenum call
    when itemid in (223762,676) and valuenum > 10 and valuenum < 50  then 'TempC' -- TempC
    when itemid in (646,220277) and valuenum > 0 and valuenum <= 100 then 'SpO2' -- SpO2
    when itemid in (807,811,1529,3745,3744,225664,220621,226537) and valuenum > 0 then 'Glucose' -- Glucose

    else null end as VitalID
      -- convert F to C
  , case when itemid in (223761,678) then (valuenum-32)/1.8 else valuenum end as valuenum

  from mimiciii.icustays ie
  left join mimiciii.chartevents ce
  on ie.subject_id = ce.subject_id and ie.hadm_id = ce.hadm_id and ie.icustay_id = ce.icustay_id
  and ce.charttime between ie.intime and ie.intime + interval '2' day
  and ie.subject_id in  {} --!!THIS IS THE code to get for only specific pt. 
  -- exclude rows marked as error
  and ce.error IS DISTINCT FROM 1
  where ce.itemid in
  (
  -- HEART RATE
  211, --"Heart Rate"
  220045, --"Heart Rate"

  -- Systolic/diastolic

  51, --    Arterial BP [Systolic]
  442, --   Manual BP [Systolic]
  455, --   NBP [Systolic]
  6701, --  Arterial BP #2 [Systolic]
  220179, --    Non Invasive Blood Pressure systolic
  220050, --    Arterial Blood Pressure systolic

  8368, --  Arterial BP [Diastolic]
  8440, --  Manual BP [Diastolic]
  8441, --  NBP [Diastolic]
  8555, --  Arterial BP #2 [Diastolic]
  220180, --    Non Invasive Blood Pressure diastolic
  220051, --    Arterial Blood Pressure diastolic


  -- MEAN ARTERIAL PRESSURE
  456, --"NBP Mean"
  52, --"Arterial BP Mean"
  6702, --  Arterial BP Mean #2
  443, --   Manual BP Mean(calc)
  220052, --"Arterial Blood Pressure mean"
  220181, --"Non Invasive Blood Pressure mean"
  225312, --"ART BP mean"

  -- RESPIRATORY RATE
  618,--    Respiratory Rate
  615,--    Resp Rate (Total)
  220210,-- Respiratory Rate
  224690, --    Respiratory Rate (Total)


  -- SPO2, peripheral
  646, 220277,

  -- GLUCOSE, both lab and fingerstick
  807,--    Fingerstick Glucose
  811,--    Glucose (70-105)
  1529,--   Glucose
  3745,--   BloodGlucose
  3744,--   Blood Glucose
  225664,-- Glucose finger stick
  220621,-- Glucose (serum)
  226537,-- Glucose (whole blood)

  -- TEMPERATURE
  223762, -- "Temperature Celsius"
  676,  -- "Temperature C"
  223761, -- "Temperature Fahrenheit"
  678 --    "Temperature F"

  )
) pvt;
--group by pvt.subject_id, pvt.hadm_id, pvt.icustay_id
--order by pvt.subject_id, pvt.hadm_id, pvt.icustay_id;""".format(tuple(patients))
    
vital_all48_df=pd.read_sql_query(vital_all48_sql,conn)    

#changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# into the join at the end. removed the create table at beginning and comitt at the end. 
#also select * from the initial generated table
#also also changed the date range to 48 hours after, rather than 24. (2 day)

time: 4min 39s

In [176]:
len(vital_all48_df)

6741975

time: 32.7 ms

In [197]:
vital_all48_df.head()

   subject_id  hadm_id  icustay_id           charttime vitalid  valuenum
0          21   111970      216859 2135-02-01 15:30:00  MeanBP      61.0
1          25   129635      203487 2160-11-02 15:00:00  MeanBP      82.0
2          25   129635      203487 2160-11-02 16:00:00  MeanBP      92.0
3          25   129635      203487 2160-11-02 17:00:00  MeanBP      71.0
4          25   129635      203487 2160-11-03 08:00:00  MeanBP      74.0

time: 168 ms

In [ ]:
#height
##not needed according to nelson


height_all48_sql = query_schema + """
""".format(tuple(patients))
    
height_all48_df=pd.read_sql_query(height_all48_sql,conn)    

#changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# into the join at the end. removed the create table at beginning and comitt at the end. 
#also select * from the initial generated table
#also also changed the date range to 48 hours after, rather than 24. (2 day)

In [ ]:
#weight
#this doesn't need to be changed since we only need weight_admit according to nelson

weight_all48_sql = query_schema + """

""".format(tuple(patients))
    
weight_all48_df=pd.read_sql_query(weight_all48_sql,conn)    

#changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# into the join at the end. removed the create table at beginning and comitt at the end. 
#also select * from the initial generated table
#also also changed the date range to 48 hours after, rather than 24. (2 day)

In [ ]:
#urine
##not needed according to nelson

urine_all48_sql = query_schema + """

""".format(tuple(patients))
    
urine_all48_df=pd.read_sql_query(urine_all48_sql,conn)    

#changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# into the join at the end. removed the create table at beginning and comitt at the end. 
#also select * from the initial generated table
#also also changed the date range to 48 hours after, rather than 24. (2 day)

In [ ]:
#rrt
##not needed according to nelson

In [173]:
# #vital, mid-adjustment. saved for reference. 

# vital_all48_sql = query_schema + """
# SELECT *

# FROM  (
#   select ie.subject_id, ie.hadm_id, ie.icustay_id
#   , case
#     when itemid in (211,220045) and valuenum > 0 and valuenum < 300 then 1 -- HeartRate
#     when itemid in (51,442,455,6701,220179,220050) and valuenum > 0 and valuenum < 400 then 2 -- SysBP
#     when itemid in (8368,8440,8441,8555,220180,220051) and valuenum > 0 and valuenum < 300 then 3 -- DiasBP
#     when itemid in (456,52,6702,443,220052,220181,225312) and valuenum > 0 and valuenum < 300 then 4 -- MeanBP
#     when itemid in (615,618,220210,224690) and valuenum > 0 and valuenum < 70 then 5 -- RespRate
#     when itemid in (223761,678) and valuenum > 70 and valuenum < 120  then 6 -- TempF, converted to degC in valuenum call
#     when itemid in (223762,676) and valuenum > 10 and valuenum < 50  then 6 -- TempC
#     when itemid in (646,220277) and valuenum > 0 and valuenum <= 100 then 7 -- SpO2
#     when itemid in (807,811,1529,3745,3744,225664,220621,226537) and valuenum > 0 then 8 -- Glucose

#     else null end as VitalID
#       -- convert F to C
#   , case when itemid in (223761,678) then (valuenum-32)/1.8 else valuenum end as valuenum

#   from mimiciii.icustays ie
#   left join mimiciii.chartevents ce
#   on ie.subject_id = ce.subject_id and ie.hadm_id = ce.hadm_id and ie.icustay_id = ce.icustay_id
#   and ce.charttime between ie.intime and ie.intime + interval '2' day
#   and ie.subject_id in  {} --!!THIS IS THE code to get for only specific pt. 
#   -- exclude rows marked as error
#   and ce.error IS DISTINCT FROM 1
#   where ce.itemid in
#   (
#   -- HEART RATE
#   211, --"Heart Rate"
#   220045, --"Heart Rate"

#   -- Systolic/diastolic

#   51, --    Arterial BP [Systolic]
#   442, --   Manual BP [Systolic]
#   455, --   NBP [Systolic]
#   6701, --  Arterial BP #2 [Systolic]
#   220179, --    Non Invasive Blood Pressure systolic
#   220050, --    Arterial Blood Pressure systolic

#   8368, --  Arterial BP [Diastolic]
#   8440, --  Manual BP [Diastolic]
#   8441, --  NBP [Diastolic]
#   8555, --  Arterial BP #2 [Diastolic]
#   220180, --    Non Invasive Blood Pressure diastolic
#   220051, --    Arterial Blood Pressure diastolic


#   -- MEAN ARTERIAL PRESSURE
#   456, --"NBP Mean"
#   52, --"Arterial BP Mean"
#   6702, --  Arterial BP Mean #2
#   443, --   Manual BP Mean(calc)
#   220052, --"Arterial Blood Pressure mean"
#   220181, --"Non Invasive Blood Pressure mean"
#   225312, --"ART BP mean"

#   -- RESPIRATORY RATE
#   618,--    Respiratory Rate
#   615,--    Resp Rate (Total)
#   220210,-- Respiratory Rate
#   224690, --    Respiratory Rate (Total)


#   -- SPO2, peripheral
#   646, 220277,

#   -- GLUCOSE, both lab and fingerstick
#   807,--    Fingerstick Glucose
#   811,--    Glucose (70-105)
#   1529,--   Glucose
#   3745,--   BloodGlucose
#   3744,--   Blood Glucose
#   225664,-- Glucose finger stick
#   220621,-- Glucose (serum)
#   226537,-- Glucose (whole blood)

#   -- TEMPERATURE
#   223762, -- "Temperature Celsius"
#   676,  -- "Temperature C"
#   223761, -- "Temperature Fahrenheit"
#   678 --    "Temperature F"

#   )
# ) pvt,
# --group by pvt.subject_id, pvt.hadm_id, pvt.icustay_id
# --order by pvt.subject_id, pvt.hadm_id, pvt.icustay_id;
# """.format(tuple(patients))
    
# vital_all48_df=pd.read_sql_query(vital_all48_sql,conn)    

# #changes to origional, added in the AND le.subject_id in  {} --!!THIS IS THE code to get for only specific pt
# # into the join at the end. removed the create table at beginning and comitt at the end. 
# #also select * from the initial generated table
# #also also changed the date range to 48 hours after, rather than 24. (2 day)





# ######this isn't quite there, need to adjust to grab all values and get time identifier for them.

time: 5min 31s

In [196]:
pd.DataFrame(vital_all48_df).to_csv('clinical_csv/vital_all48_df.csv')
pd.DataFrame(labs_all48_df).to_csv('clinical_csv/labs_all48_df.csv')
pd.DataFrame(bg_all48_df).to_csv('clinical_csv/bg_all48_df.csv')

time: 1min 3s

# 5/11/18 todo:
1) figure out how to extract the additional features nelson want's

2) determine how to process each datapoint for single value for each feature in model

3) assemble df for scaling, imputing, model building, etc...